[2019-05-02 01:04] Jocs commented on #998
Now I divide the Mark Text Preference into four categories, universal, editor, markdown, theme, and the file you said should be markdown?

[2019-05-02 01:24] Jocs commented on #988
Do you mean this maybe cause performance issue?

[2019-05-02 12:57] Fredrik5 opened #1002 "Nested lists not show properly"
### Nested lists not show properly

Hey, i have trouble with nested lists and its view in readme.md on bitbucket.

In marktext i have

* Bullet list
  * Nested bullet
    * Sub-nested bullet etc
* Bullet list item 2

But readme.md online versions show it as
* Bullet list
* Nested bullet
  * Sub-nested bullet etc
* Bullet list item 2

Any idea how to format text properly in marktext?

[2019-05-02 12:59] Jocs commented on #1002
@Fredrik5 Can you attach a test markdown file here?

[2019-05-02 13:06] Fredrik5 commented on #1002
@Jocs  sure

[README.zip](https://github.com/marktext/marktext/files/3138113/README.zip)

[2019-05-02 13:17] Jocs commented on #1002
I test your markdown file on my computer, it seems look correctly? you can paste to the comment it should be a two level nested list.

[2019-05-02 13:23] Fredrik5 commented on #1002
It looks corectly on my computer as well, but on  bitbucket it shows like this:

![readme](https://user-images.githubusercontent.com/50204564/57078217-21682380-6cee-11e9-8f44-9eb144b13859.JPG)

[2019-05-02 13:24] Fredrik5 commented on #1002
And in marktext on my computer shows it as:
![marktext](https://user-images.githubusercontent.com/50204564/57078311-507e9500-6cee-11e9-8710-762c4909ecae.jpg)

[2019-05-02 13:24] Gurran commented on #959
A lot of README.md files contains badges. It would be awesome if you could preview them in the editor.

[2019-05-02 13:29] fxha commented on #1002
Please see #887, you have to set `"listIndentation": "dfm"` in settings.

[2019-05-02 13:36] fxha commented on #988
Yes, I think so.

[2019-05-02 13:42] fxha commented on #959
@Gurran Could you please open another issue for this and link to the relevant readme. E.g. in our readme all badges are rendered.

[2019-05-02 13:43] Jocs commented on #988
I think you can adjust the main folder structure first, then submit a PR, I can also take a look, then add some code of Mark Text Preference.

[2019-05-02 22:00] #856 closed

[2019-05-03 10:31] ToughGuyKunio opened #1004 "Opening files from file manager opens a new instance even with openFilesInNewWindow set to false"
### Description

Opening a file from a file manager like Nautilus, with `openFilesInNewWindow`set to `false`, should open the file in a tab. In current version it opens a new instance.

- [ ] Can you reproduce the issue?

### Steps to reproduce

1. Set `openFilesInNewWindow` to `false`
2. Open file manager
3. Click on .md file

**Expected behavior:**

File opens in tab. (New tab if it's not alread

[2019-05-04 12:04] fxha commented on #1004
Blocked due #988 because Mark Text is not single-instance on Linux and Windows.

[2019-05-04 15:33] lhbachman opened #1007 "Spellcheck"
### Describe your feature request

I would appreciate the option to have spellcheck.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-05-04 15:39] Jocs commented on #1007
duplicated with #168 ?

[2019-05-04 15:41] #851 closed

[2019-05-05 15:23] #438 closed

[2019-05-05 15:24] fxha commented on #1007
Duplicate of #168

[2019-05-05 15:24] #1007 closed

[2019-05-05 15:25] #1002 closed

[2019-05-07 08:58] Jocs commented on #959
@chrisseaton

This bug is already fixed in develop branch and will release in the next version.

I don't think so, we distinguish soft and hard line break in Mark Text, the hard line break has a `curving arrow` at the line end.

As [CommonMark Spec](https://spec.commonmark.org/0.29/#softbreak) saied:

[2019-05-07 15:58] Jocs opened #1010 "Table of Content [toc] disappear"
### Description

Open a file, show side bar, click `H`, and the table of content is empty.

### Versions

- Mark Text: develop
- Operating system: all

[2019-05-07 19:38] chrisseaton commented on #959
Sorry about the noise for the link bug if it's already fixed! Does that also apply to `*empahsis*` that spans lines? I've just noticed that one.

For example, the second paragraph of this section in this document.

https://github.com/oracle/truffleruby/blob/50c7c018b45430f8beb20375df86bfadbccd3b06/README.md#truffleruby-configurations

On GitHub it looks like this

<img width="1023" alt="image" src

[2019-05-08 12:08] Gurran opened #1013 "Word-select wierd behaviour near html tag"
### Description

When working with text I usally use Ctrl-Shift + arrow-left/arrow-right to select by whole word.
Found instance where I get unexpected behaviour using this technique.

- [x] Can you reproduce the issue?

### Steps to reproduce

When I worked with the following string I got unexpected behaviour.

`by showing how show how works <ng-template>`

1. Place cursor after the 's' in 'works

[2019-05-08 14:55] fxha commented on #1013
@Jocs @Gurran I think this issue is already fixed on develop branch because I cannot reproduce it any more.

[2019-05-08 15:40] Jocs commented on #618
fixed on develop branch

[2019-05-08 15:40] #618 closed

[2019-05-08 15:51] Jocs commented on #389
I think this has been fixed on `develop` branch, feel free to reopen it.

[2019-05-08 15:51] #389 closed

[2019-05-08 15:54] #614 closed

[2019-05-08 15:57] Jocs commented on #945
What do you mean `turn it off`?

[2019-05-08 16:02] Jocs commented on #751
I'll close this issue, because I think it's not an issue of Mark Text, it maybe due to old macOs version or Electron bugs.

[2019-05-08 16:03] #751 closed

[2019-05-08 17:00] #1001 closed

[2019-05-08 23:14] WXGopher opened #1015 "LaTeX inline preview messed up text below"
### Description

I know this issue was kind of referenced in a closed issue (8 months ago) #450, but it's still not fixed (feel free to close this issue if this has been fixed in an unreleased version).

If you click any inline math, the popped out preview will mess up text below.

- [x] Can you reproduce the issue?

### Steps to reproduce

1.Copy and paste the following snippet into Mark Text:

2

[2019-05-08 23:44] WXGopher opened #1016 "Auto completion for LaTeX syntax"
### Describe your feature request

It would be nice to have auto completion for LaTeX syntax (like mordern TeX editors, TeX studio for example). The LaTeX auto completion mechanism is only triggered in math mode.

### Additional context [optional]

A really nice auto completion from a heavy TeX user:

Note: I can help a bit to sort out a bunch of frequently used TeX syntax.

[2019-05-09 05:43] Gurran opened #1017 "Github badges not shown after export to html"
### Description

When exporting a markdown file containing badges, the badges don't show after export to a .html file.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Take a README.md containing badges (I used [this one](https://raw.githubusercontent.com/microsoft/vscode/master/README.md))
2. Paste into Mark Text
3. Export as .html, then as .pdf

**Expected behavior:**

The output

[2019-05-09 16:48] fxha commented on #1017
I cannot reproduce this issue. The only issue is that one image cannot be loaded because of a bad request (405 Method Not Allowed):

![mt_badges](https://user-images.githubusercontent.com/22716132/57471047-9907f680-728a-11e9-9748-fc53920f9446.png)

The image shows the exported HTML document and Mark Text.

[2019-05-09 16:49] fxha commented on #1016
Duplicate of #658 and #724

[2019-05-09 16:49] #1016 closed

[2019-05-09 16:50] fxha commented on #264
Resolved in PR #1003

[2019-05-09 16:50] #264 closed

[2019-05-09 16:54] fxha opened #1018 "Regression: Exception occur when C&P vscode readme into Mark Text"
### Description

copy and pasting vscode's readme into Mark Text leads to an exception:

[code]

### Steps to reproduce

Copy and paste [this text](https://raw.githubusercontent.com/microsoft/vscode/master/README.md) into Mark Text.

### Versions

- Mark Text: `develop` before 4bd22b6
- Operating system: all

[2019-05-09 17:11] WXGopher opened #1019 "Do not auto-pair underscore"
### Description
Auto-pair should not auto-pair underscore ("_")

- [x] Can you reproduce the issue?

### Steps to reproduce
Type in "_" (without quotes)

**Expected behavior:**

A single underscore.

**Actual behavior:**

Underscore is auto-paired to "\_I_" where "I" is the cursor.

### Versions

- Mark Text: 0.14.0
- Operating system: Win10 10.0.17763.292

[2019-05-09 22:46] fxha commented on #1019
@WXGopher Markdown treats asterisks (`*`) and underscores (`_`) as indicators of emphasis. You could disable auto pairing for markdown in settings if you like.

[2019-05-09 22:46] #1019 closed

[2019-05-09 22:57] WXGopher commented on #1019
Aha that's a good gotcha.
However, in math mode where you type "_" a loooooot, it would be pretty annoying to manually delete the extra "_" every time.

[2019-05-09 22:57] WXGopher commented on #1019
Aha that's a good gotcha.
However, in math mode where you type "" a loooooot, it would be pretty annoying to manually delete the extra "" every time.

[2019-05-09 23:18] fxha commented on #1019
What do you mean by math mode? When writing inside a math block (`$$<newline>...<newline>$$`) or inline math (`$...$`) autocompletion for markdown (`*`, `_`, ...) is disabled.

[2019-05-11 02:37] JamieCorkhill commented on #242
@Jocs Has this been fixed yet? I'm using version 0.14.0, and I have text wrapping issues with Math Blocs and PDF Export:

Editor:

![MarkText Issue](https://user-images.githubusercontent.com/28678855/57564057-9c26e380-736b-11e9-9afc-f171e7f725e9.PNG)

PDF Export:

![MTPDF](https://user-images.githubusercontent.com/28678855/57564068-c24c8380-736b-11e9-8c07-858d914dd4bf.PNG)

HTML Export does not ca

[2019-05-11 18:20] JamieCorkhill opened #1022 "Math Blocks LaTeX Does not Wrap"
### Description
LaTeX does not wrap lines in the editor or in the PDF export when using Math Blocks. The text does wrap in HTML Export and when using Inline Math.

Editor:

![MarkText Issue](https://user-images.githubusercontent.com/28678855/57564057-9c26e380-736b-11e9-9afc-f171e7f725e9.PNG)

PDF Export:

![MTPDF](https://user-images.githubusercontent.com/28678855/57564068-c24c8380-736b-11e9-8c07-

[2019-05-12 14:56] LETARTARE opened #1023 "Last version for VISTA"
### Question description

 What is the latest usable version for VISTA business ?

[2019-05-12 15:45] Jocs commented on #1023
Can you explain more detail of the meaning of `VISTA business`?

[2019-05-12 15:45] fxha commented on #1023
Electron is only supported on Windows 7 and later, so no Vista support is provided.

[2019-05-12 15:45] #1023 closed

[2019-05-12 15:46] Jocs commented on #1023
oh, it's mean a Windows version...

[2019-05-13 10:45] shlinym opened #1026 "Highlight search result and provide a straight jump"
### Describe your feature request
Highlight search result and provide a straight jump.

My idea is that, show (searching)keyword's specific position in file, not just a file, and also highlight the keyword, this feature will provide one step to get search result, and is more convenient.

### What problem does this feature solve? [optional]

After searching keyword, I found the search result only s

[2019-05-13 16:02] fxha commented on #1026
@shlinym You mean find in files (sidebar second view), right? And show a result overview like in atom or vscode when searching in files, so you can select one result and open the file at this position?

[2019-05-14 01:48] shlinym commented on #1026
@fxha yeah, that is what I mean

[2019-05-14 08:02] xfzka opened #1027 "Table of Content Wrong level"
### Description

Table of Content Wrong level

- [x] Can you reproduce the issue?

### Steps to reproduce

save this to md file and open you will see.

[code]

**Expected behavior:**

- 测试
  - TTT
    - 123afds
  - TT
  - 阿道夫骄傲是的
  - TTT

**Actual behavior:**

![image](https://user-images.githubusercontent.com/24959175/57681059-82ceb180-7661-11e9-9920-05af38126a40.png)

![image](https://user-image

[2019-05-15 06:13] Gurran commented on #1017
The badges where shown on the PDF file?

[2019-05-15 17:17] JamieCorkhill commented on #1022
@fxha I'm just wondering if there is a timeline for this fix. Thanks.

[2019-05-15 18:12] fxha commented on #1017
Yes, that's right but you will need an active internet connection during exporting because the image are loaded again.

[2019-05-15 18:14] fxha commented on #1027
Duplicate of #966

[2019-05-15 18:14] #1027 closed

[2019-05-15 18:22] fxha commented on #1022
I'm currently busy but it seems like we cannot wrap text easy ([Break/wrap formula if too wide](https://github.com/KaTeX/KaTeX/issues/327) & [Autobreak package for responsive equations](https://github.com/KaTeX/KaTeX/issues/1023)). We could add a scrollbar to block math but we need to fix inline math too. E.g. `b $aa...a$ b` is also effected where (`...` > editor area width). I think v0.15.0 will

[2019-05-17 14:27] fxha commented on #945
@Jocs Like in your favourite office application, click on bold and you write text in bold until you disable bold text.

[2019-05-17 15:37] Jocs commented on #945
@fxha like rich text editor?

[2019-05-18 13:40] fxha commented on #945
Yes exactly.

[2019-05-18 18:12] JamieCorkhill commented on #1022
@fxha Thank you. I haven't analyzed the Mark Text source code well enough to know what is possible and what is not, but would it not be better to expand the previews on the y-axis (like you do with markdown code blocks) rather than providing an x-axis overflow scroll?

[2019-05-19 13:19] fxha commented on #1022
We using [KaTeX](https://github.com/KaTeX/KaTeX) to render LaTeX/math blocks. KaTeX seems to not support text wrapping and when I tried to force break the text then the formulas are displayed strange or just a few lines are wrapped.

[2019-05-19 13:25] fxha opened #1029 "Zoom in/out feature"
### Describe your feature request

We should add a menu entry to the window to zoom in/out via `webContents.setZoomFactor` and use predefined zoom-steps to adjust the window DPI - not just the editor font size. The value should not be saved and applies only to the current window. Each window can have a different zoom.

### What problem does this feature solve? [optional]

We can adjust the window

[2019-05-20 02:33] linvis opened #1030 "Inline math equation not support \tag"
### Question description

I try to use "\tag{1}" in inline math equation($\tag{1}$), it shows "Invalid mathematical formula",
but when I try it in block math equation(Advanced Block:Math Formula), it works.

(source code mode)
![image](https://user-images.githubusercontent.com/10113087/57993099-200a6980-7aea-11e9-8ea4-9b3b90813450.png)

![image](https://user-images.githubusercontent.com/10113087/5

[2019-05-20 09:28] #1010 closed

[2019-05-20 22:15] skyblue002 commented on #945
@Jocs I apologize for my delayed response, I didn't see that you had replied to me. I agree with what @fxha had said. My suggestion is comparable to the way formatting works in office applications (or, as you had said, in a rich text editor).

[2019-05-21 01:27] Jocs commented on #945
@skyblue002 The markdown syntax is quite different from rich text. There is a clear sign in the markdown that identifies the end of the markdown syntax, so it's hard to type input like rich text.

[2019-05-21 04:59] skyblue002 commented on #945
@Jocs the [Ulysses](https://ulysses.app/) editor is a markdown editor and has this feature, so I know that it is possible. When toggling the format (e.g. bold, italic, etc.) off, the cursor shifts past the end of the markdown tag, so that you can keep typing uninterrupted.

[2019-05-21 12:43] LevinGermann commented on #1015
I can see this issue as well and would suggest doing it the same way like it's done for block KaTeX.
![image](https://user-images.githubusercontent.com/9347206/58097068-ccc21500-7bd6-11e9-89b3-b75cbefdd1e6.png)

[2019-05-22 06:06] Gurran commented on #1017
Will give update later today. (12h)

[2019-05-22 12:59] fxha commented on #1030
@shlinym I guess `tag` is not supported in inline math, which also make sense because it can be used with other elements.

[2019-05-22 13:15] shlinym commented on #1030
got it

[2019-05-22 13:15] #1030 closed

[2019-05-22 21:50] fxha opened #1033 "Delay load diagram dependencies"
### Description

We should deplay load/asynchronously load all diagram libraries to improve startup performance if no diagrams are needed:

| Library                                               | Installed size | Startup time impact in ms |
| ----------------------------------------------------- | -------------- | ------------ |
| `mermaid`                                             | `~31MB`

[2019-05-22 21:56] fxha opened #1034 "Refactor: Find in files"
### Description

Currently Mark Text don't really searches the keyword in all files on the disk. Rather Mark Text creates a list of markdown files with content (that is not updated on disk changes) and search in memory using the tree view. The above behavior has several issues and should already be replaced in v0.14.0. This issue should track the status of the refactoring and to suggest possible s

[2019-05-22 22:00] fxha opened #1035 "Refactor: tree view and watcher"
### Description

Same as in #1034. The tree view provides a list of all files and directories in the root directory that is automatically updated on file changes.

**Issues:**

- feature: Filter tree list (#554)
- feature: Lazy load files/directories (#530)
- bug?: Mark Text open and read all markdown/text files into memory (see #1034)
  - high memory when opening a root or user home directory
  -

[2019-05-22 22:02] fxha opened #1036 "Regression: crash when updating menu entries using settings window"
### Description

The new settings window leads to another issue. When changing certain options like aidou or theme all registered menus are updated in background. The problem is that we added another menu type for the settings window but not changed `AppMenu` menthods, so that an exception is thrown because the menu don't contain certain entries.

**Expected behavior:**

Only editor menus should b

[2019-05-22 22:07] fxha opened #1037 "Format picker is not hidden when switching tabs"
### Description

The format picker is not hidden when switching tabs.

### Steps to reproduce

1. Open two tabs with text.
2. Select text in first tab and switch to tab 2.

**Expected behavior:**

The format picker should be hidden. Even after switching back to the first tab the text is not selected any more.

**Actual behavior:**

The format picker is still show after tab switch.

### Versions

-

[2019-05-23 03:58] Jocs commented on #1035
The idea about lazy load is that when you open a folder, you only read one level file or folder. you only watch one level. When you click on a subfolder, you go to the contents of the load subfolder and watch this subfolder?

[2019-05-23 04:02] Jocs commented on #1034
I also preferred the second solution, can you explain how it is compiled with SIMD?

[2019-05-23 19:00] fxha commented on #1034
Please see the documentation but you need the nightly rust compiler and I don't know whether they provide a runtime check and fallback to ref. implementation. We should include the official binary without SIMD and allow the user to change the path to ripgrep (or try to use the system one). If they don't include runtime checks + fallback the binary will crash on CPUs without these instructions.

[2019-05-23 19:08] fxha commented on #1035
I don't know how node's filesystem watcher used by `chokidar` and `chokidar` works but I think it's better to watch the root directory and ignore events from not yet opened directories and files. The used functions are `ReadDirectoryChanges(W|A)` on Windows and `inotify` on Unix, however only Windows supports to watch just the directory (depth=0) and Unix only recursively.

[2019-05-23 19:16] #972 closed

[2019-05-24 09:43] VegaDeftwing commented on #511
Using Marktext 0.14.0-3 -- marktext-bin in the AUR on a very high end system

Wanted to drop by and note that this is actually affecting real world use cases. I'm working on a massive markdown document over at https://github.com/VegaDeftwing/opinionatedeng/blob/master/opinionatedeng.md and hoboy does marktext get laggy, but then again so does everything else. Even just a raw text editor, like VSCo

[2019-05-25 12:06] rhzone opened #1043 "Cannot modify the same file on vscode and marktext simultaneously."
### Description
Cannot edit the same file on vscode and marktext at the same time. When I modified my markdown file on vscode, it would become empty on marktext, so I have to reopen marktext to see the changes.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. edit the same markdown file on vscode and marktext simultaneously.
2. modified the file on vscode.

**Expected behavior:**

*

[2019-05-25 12:38] Blokyk opened #1044 "Incorrect rendering of format modifiers containing inline code block"
### Description

Incorrect parsing and/or rendering of format modifier (I successfully tested with italic, bold, strikethrough, hyperlink, and image) when the modified text contains an inline code block with corresponding delimiter. This is not compliant with CommonMarkdown specification (I checked with [the reference commonmark.js implementation](https://spec.commonmark.org/dingus/) cf screenshot

[2019-05-25 14:10] fxha commented on #1044
Thanks @Blokyk  for reporting this issue. This is actually an upstream issue of `marked.js` and we'll take a look at it.

/cc @Jocs

[2019-05-25 14:12] fxha commented on #1043
Thanks @rhzone, could you please give more information how to reproduce this issue because I cannot reproduce this issue - except once.

[2019-05-25 14:20] #1018 closed

[2019-05-25 14:30] rhzone commented on #1043
My file is located on the hard disk. Both vscode and marktext need to open the save file. Just try to add some new lines to the file  on vscode, my file will become empty on marktext later.

[2019-05-25 14:31] fxha commented on #437
Closing this issue in favour of #988. The problems above are already fixed in v0.14.0.

[2019-05-25 14:31] #437 closed

[2019-05-25 14:31] fxha commented on #386
Closing this issue in favour of #988.

[2019-05-25 14:31] #386 closed

[2019-05-25 14:57] fxha commented on #1043
That's what I tried. I'm on Fedora 30, tested with Mark Text `develop` and v0.14.0. What file system type do you use?

[2019-05-25 16:02] rhzone commented on #1043
My file system is ext4, and vscode version is 1.34.0
![image](https://user-images.githubusercontent.com/30968676/58371996-9a534780-7f49-11e9-89f5-5665ed328f14.png)

[2019-05-26 01:44] Jocs opened #1045 "Can not select all in source code mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Change into source mode
2. Write some text
3. Press `CmdOrCtrl + A`

**Expected behavior:**

Select all the text.

**Actual behavior:**

Nothing happened.

**Link to an example: [optional]**

### Versions

- Mark Text: develop
- Operating system: All

[2019-05-26 13:14] fxha commented on #1043
Very strange issue but at least I can reproduce this issue on a raw Ubuntu VM.

[2019-05-26 16:03] #627 closed

[2019-05-26 16:03] #949 closed

[2019-05-26 16:04] #922 closed

[2019-05-26 16:04] #97 closed

[2019-05-27 05:51] mathgo opened #1046 "Muya crash: unable to normalize heading"
### Description

"Save" not work when exchange two sections.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. New a md file and input the following:

[code]

2. Save the file and reopen it.
3. Cut the first section then paste it after the second section. The file will be :

[code]
4. Save it.
5. Reopen it.

**Expected behavior:**

Step 4 not work.File should be:

[code]

**Actual be

[2019-05-27 06:32] hsdong2012 opened #1047 "Is Chinese UI availabel?"
### Describe your feature request

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-05-27 06:41] Jocs commented on #1047
This internationalization probably will be add in v0.17.0, and this issue is duplicated with #138

[2019-05-27 06:41] #1047 closed

[2019-05-27 12:34] fxha commented on #1046
This is actually an issue with our backend muya. The content cannot be saved correctly because the backend is crashed and has the last valid state.

**Stack Trace from develop branch:**

[code]

[2019-05-28 09:29] gaetanww opened #1049 "Cutting doesn't update diagrams, Math formula etc."
### Description
When using the cut command (Ctrl+X), the rendering of the diagram or math formula is not updated.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Write formula or diagram:
[code]
Formula displays correctly.
2. Cut a part of the formula, for example:
[code]
Formula doesn't update.

**Expected behavior:**

Rendering of diagram of formula should update whenever the cor

[2019-05-28 11:20] dumplingsMing opened #1050 "Font dialog cannot be closed with Esc button"
### Why font dialog cannot be closed with Esc button?

I found that most pop-up dialogs can be closed by Esc button, which is quite friendly for keyboard users. However, when it comes to font dialog (triggered by ctrl+.), it can only be closed by click in the editor.

This is due to the setting in src/renderer/components/font.vue, the dialog is not set as a modal dialog (modal="false"). Is this a

[2019-05-28 11:27] Guidozijef opened #1051 "一个小小的建议，写代码块能不能不让他换行呀？"
### Question description

[2019-05-28 11:27] Guidozijef commented on #1051
换行了，看起来太难看了，十分不清晰

[2019-05-28 22:04] #1046 closed

[2019-05-28 22:06] fxha commented on #1050
I think `modal` should be `true` but we removed the font dialog in the latest development version and added GUI settings.

[2019-05-28 22:06] #1050 closed

[2019-05-28 22:27] fxha commented on #1043
The main issue here is that Unix allow simultaneous writes and reads on the same file and also our watcher reports the added/changed event when a file first appears on disk, before the entire file has been written, or sometimes while the file is being written on Unix (maybe Windows too?). This can lead to the issue that we read an empty file like described above on Unix - on Windows this might als

[2019-05-29 01:20] dumplingsMing opened #1052 "Drag file in the side bar to move files"
### Description

When already opened a folder, user can drag files in the side bar to other sub folders in order to move file to that folder.

### What problem does this feature solve? [optional]

When opened a folder, I can only create file/folder in the side bar (version 0.14.0). When I want to move a file into a specific folder, I have to use cut/paste or 'open in folder' under ubuntu to do so,

[2019-05-29 05:53] yougotwill opened #1053 "Allow users to set the word wrap width of the editor."
### Describe your feature request
Allow users to set the word wrap width of the editor.

### What problem does this feature solve? [optional]
When trying to read markdown files sometimes:
1. The text feels very close together.
2. I want the document to take up more space on a bigger screen when reading.

By increasing the word wrap width to say 120 the document becomes more readable.

e.g. in the

[2019-05-29 19:42] fxha commented on #1053
Please also see #750 comments.

[2019-05-30 02:44] dumplingsMing commented on #375
OpenFolder添加远程支持，如存储到dropbox、自建nas等

[2019-05-31 09:41] jiang3ye opened #1055 "Unexpected error: Cannot read property 'isLooseListItem' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0
Operating system: win32

[2019-05-31 10:17] BeautyYuYanli opened #1056 "Hope that Marktext can show yaml when editing"
### Describe your feature request

When I type `---` at the begining of the text, it would be shown as

---

but not a `yaml` code block

[2019-05-31 16:33] fxha commented on #1055
Can you give us more information how to reproduce this issue?

[2019-05-31 23:23] johnblommers opened #1057 "Build fails on ARM-based Linux systems"
### Description

- [ x] Can you reproduce the issue?

### Steps to reproduce

1. Follow the directions at [Mark Text Contributing Guide](https://github.com/marktext/marktext/blob/master/.github/CONTRIBUTING.md#build-instructions)
2. [cd marketext]
3. [yarn install.]

**Expected behavior:**

The command succeeds

**Actual behavior:**

[code]

**Link to an example: [optional]**

### Versions

- Mark

[2019-06-01 10:42] fxha commented on #1057
Thanks @johnblommers for reporting this issue. This seems to be an issue with `yarn` or your configuration, you could try to remove `node_modules` and `yarn.lock` and try again. If the issue is still present, please report the issue to the yarn team. Depending on you location this may be an issue with the CDN, like @Jocs has a slow/bad connection too.

Please note that we don't support ARM archite

[2019-06-01 10:42] #1057 closed

[2019-06-01 12:36] 625781186 commented on #772
@fxha
I am trying to remove the dependence of electron module.
[https://github.com/625781186/marktext2web](https://github.com/625781186/marktext2web)

Here's how I think about it :
- Customize an electron module .

![image](https://user-images.githubusercontent.com/30521429/58748500-58c41e80-84ac-11e9-9f07-a91361a8508b.png)

- Customize a vue instance to replace IPC communication like  "renderer/b

[2019-06-01 23:04] Yournished opened #1058 "Issue with high DPI scaling"
I have a high DPI screen so I use DPI scaling. Header font is way too large for my screen - the top level header takes up 1/10th of my vertical space! Adjusting font size only changes the body text.

I'd like to add a compact theme that has smaller headers. Where are the theme CSS files? I'm using the flatpak on Linux.

[2019-06-01 23:10] Yournished opened #1059 "Bold inside italics breaks outer italics."
Bolding a word inside italics doesn't work correctly in the flatpak of v0.14.0.

* Input: `*How come it **doesn't** work?`
* Expected: _How come it **doesn't** work?_ (note correct rendering from Github)
* Actual: \*How come it **doesn't** work?\*

[2019-06-02 20:23] fxha commented on #1058
Currently there is no option to edit the theme without rebuilding Mark Text. I think #1029 may help with this issue. Could you please upload an image from Mark Text with some text?

[2019-06-02 20:24] fxha commented on #1059
This issue is already fixed on development branch.

[2019-06-02 20:24] #1059 closed

[2019-06-02 20:27] fxha commented on #951
@Jocs I think we can close this issue because I removed the above view in #1034 because I think it's redundant and also not necessary. Find in files or the tree view should be used instead or do you want to keep this view?

[2019-06-02 20:33] #1013 closed

[2019-06-02 20:35] fxha commented on #994
Duplicate of #1053

[2019-06-02 20:35] #994 closed

[2019-06-02 20:38] #928 closed

[2019-06-02 20:47] fxha commented on #631
Issue is fixed on develop branch.

[2019-06-02 20:47] #631 closed

[2019-06-02 20:55] fxha commented on #433
Closing in favour of #549.

[2019-06-02 20:55] #433 closed

[2019-06-02 20:57] #339 closed

[2019-06-02 20:58] fxha commented on #282
@Jocs Could you please translate this issue or close it?

[2019-06-03 10:06] Jocs commented on #691
Close the issue because we don't support the feature very much. Thanks for your advice.

[2019-06-03 10:06] #691 closed

[2019-06-03 10:06] #502 closed

[2019-06-03 10:08] #282 closed

[2019-06-03 10:10] Jocs commented on #1056
@BeautyYuYanli Do you want to edit the front matter like this bellow:

[code]

We already support front matter, you can find it in the paragraph menu.

[2019-06-03 10:11] Jocs commented on #1051
@Guidozijef 你是说在代码块中出现横向滚动条吗？

[2019-06-03 13:30] Guidozijef commented on #1051
是的，现在换行了，代码看起来好乱呀，有点烦------------------ 原始邮件 ------------------
发件人: "Ran Luo"<notifications@github.com>
发送时间: 2019年6月3日(星期一) 晚上6:12
收件人: "marktext/marktext"<marktext@noreply.github.com>;
抄送: "Guidozijef"<913497146@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [marktext/marktext] 一个小小的建议，写代码块能不能不让他换行呀？ (#1051)

@Guidozijef 你是说在代码块中出现横向滚动条吗？

&mdash;
You are receiving this because you were

[2019-06-03 14:20] fxha commented on #1056
Sorry, I misunderstood the issue. I open another issue for TOML/JSON front matter support.

[2019-06-03 14:24] fxha opened #1060 "TOML/JSON front matter support"
### Describe your feature request

As Mark Text already supports front matters for YAML, we should also add TOML and JSON support like in [Hugo](https://gohugo.io/content-management/front-matter/).

[2019-06-03 14:40] gaetanww opened #1061 "Underscores are auto-paired (doubled) in inline code."
### Description
When writing in inline code using  \` \`, writing an underscore (i.e. _) will double the underscore, as if I wanted to emphasize something: _emphasis_ (i.e. \_emphasis\_).
In code blocks \`\`\`, it works as expected.

- [x] Can you reproduce the issue?
### Steps to reproduce

1. Create inline code with two \`.
2. write some code including an underscore.

**Expected behavior:**
When

[2019-06-04 05:24] Jocs commented on #951
I still want to keep the list view for two reasons:
1. Sometimes a markdown file will be found in a deeply nested folder, which is not easy to find. The list view allows all markdown files in a folder to be displayed at a flat level.
2. list view shows more information than tree view, such as updated time, creation time, etc.

[2019-06-04 14:19] 625781186 opened #1064 "Web support"
@Jocs @fxha
### Web Suppoer
[https://github.com/625781186/marktext2web](https://github.com/625781186/marktext2web)
I think web is possible, I'm trying.

And if you're free, I'd prefer to give it to you to do this project.

https://github.com/marktext/marktext/issues/772#issuecomment-497941813

![image](https://user-images.githubusercontent.com/30521429/58886125-f79f8380-8715-11e9-91a5-c4b15dc09f5d

[2019-06-04 14:58] fxha commented on #951
OK, if you have time you can review #1054 first and the we can discuss this in the associated PR because #1054 is blocking other PRs.

[2019-06-04 15:10] Jocs commented on #1064
@625781186 But where to save the edited markdown file?

[2019-06-04 15:12] Jocs commented on #951
@fxha I will review as soon as possible, it should be in the last one or two days.

[2019-06-04 17:07] 625781186 commented on #1064
I want to use it as a blog editor, so save it in the database.

I think I just need to provide a save interface.

[2019-06-04 19:10] fxha commented on #1064
@625781186 I think you should take a look at [muya](https://github.com/marktext/muya).

[2019-06-05 05:10] #1064 closed

[2019-06-05 05:10] 625781186 commented on #1064
thanks~

[2019-06-06 06:55] liziqiang opened #1068 "Unexpected error: selectionChange: expected cursor but cursor is null."
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0 (4dada5b)
Operating system: Darwin x64 18.6.0 (darwin)

[2019-06-06 15:44] tiagomdrizzo opened #1071 "Bold inline code on the same line only formats the last instance"
### Description

Writing a sequence of bold code blocks i.e **`text`** only affects the last one.

- [ ] Can you reproduce the issue? no: `[ ]` or yes: `[x]`

### Steps to reproduce

1. Write a bold code block, like so:

**`word 1`**, **`word 2`**, **`word 3`**, **`word 4`**, **`word 5`**.

2. Note that only "word 5" is affected, word 1 through 4 show as:

\*\*`word 1`\*\*, \*\*`word 2`\*\*, \*\*`

[2019-06-06 19:19] todo[bot] opened #1073 "LIST.md) pour ouvrir des issues."
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/french.md#L152-L155

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1074 "LIST.md) を参考にしてください。"
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/ja.md#L172-L175

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1075 "LIST.md) 및 open issues를 참조하여라."
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/ko.md#L154-L157

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1076 "LIST.md)"
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/pl.md#L147-L150

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1077 "LIST.md) e abra um issues."
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/pt.md#L155-L158

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1078 "LIST.md) y abre issues."
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/spanish.md#L153-L156

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1079 "LIST.md)'e başvur ve bir issue aç."
https://github.com/marktext/marktext/blob/29d473b9814d7fa8d2b5854a2370f9af8c23a35b/docs/i18n/tr.md#L160-L163

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 29d473b9814d7fa8d2b5854a2370f9af8c23a35b when #1066 was merged. cc @fxha.

[2019-06-06 19:19] todo[bot] opened #1080 "LIST.md) 및 open issues를 참조하여라."
https://github.com/marktext/marktext/blob/c364004325be8b64b01d05022f377f07cdc05ced/docs/i18n/ko.md#L154-L157

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c364004325be8b64b01d05022f377f07cdc05ced. It&#x27;s been assigned to @fxha because they committed the code.

[2019-06-06 19:20] todo[bot] opened #1081 "LIST.md)"
https://github.com/marktext/marktext/blob/c364004325be8b64b01d05022f377f07cdc05ced/docs/i18n/pl.md#L147-L150

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c364004325be8b64b01d05022f377f07cdc05ced. It&#x27;s been assigned to @fxha because they committed the code.

[2019-06-06 19:20] todo[bot] opened #1082 "LIST.md) e abra um issues."
https://github.com/marktext/marktext/blob/c364004325be8b64b01d05022f377f07cdc05ced/docs/i18n/pt.md#L155-L158

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c364004325be8b64b01d05022f377f07cdc05ced. It&#x27;s been assigned to @fxha because they committed the code.

[2019-06-06 19:20] todo[bot] opened #1083 "LIST.md) y abre issues."
https://github.com/marktext/marktext/blob/c364004325be8b64b01d05022f377f07cdc05ced/docs/i18n/spanish.md#L153-L156

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c364004325be8b64b01d05022f377f07cdc05ced. It&#x27;s been assigned to @fxha because they committed the code.

[2019-06-06 19:20] todo[bot] opened #1084 "LIST.md)'e başvur ve bir issue aç."
https://github.com/marktext/marktext/blob/c364004325be8b64b01d05022f377f07cdc05ced/docs/i18n/tr.md#L160-L163

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c364004325be8b64b01d05022f377f07cdc05ced. It&#x27;s been assigned to @fxha because they committed the code.

[2019-06-06 19:21] fxha commented on #1068
Thank you for taking the time to report this issue. We cannot reproduce this issue without steps to reproduce, please provide some steps or how the error occurred.

There is a know issue when clicking behind an image (`![]()`) in preview mode. If you have issues with you build application, please use the latest stable release.

[2019-06-06 19:22] #1073 closed

[2019-06-06 19:22] #1074 closed

[2019-06-06 19:22] #1075 closed

[2019-06-06 19:22] #1076 closed

[2019-06-06 19:22] #1077 closed

[2019-06-06 19:22] #1078 closed

[2019-06-06 19:22] #1079 closed

[2019-06-06 19:23] #1080 closed

[2019-06-06 19:23] #1081 closed

[2019-06-06 19:23] #1082 closed

[2019-06-06 19:23] #1083 closed

[2019-06-06 19:23] #1084 closed

[2019-06-06 19:50] #1071 closed

[2019-06-07 10:08] keito940 commented on #1060
...In the Markdown-based novel typesetting system that I am currently creating,
I implemented TOML front matter, but because I wear Markdown's YAML, TOML is not implemented.

[2019-06-07 13:20] fxha commented on #1058
Closing this issue as no further information has been provided.

[2019-06-07 13:21] fxha commented on #1051
@Jocs Please summarize this issue and change the title accordingly, thanks!

[2019-06-07 16:17] Jocs commented on #1051
@Guidozijef 每次我们修改代码块后，代码块都会重新渲染，来高亮你输入的代码，如果有横向滚动条，每次重新渲染后，滚动条都会滚动到最左边，这个问题我们还没有解决，等解决这个问题后，我们会提供不换行的，谢谢了。

[2019-06-09 12:58] Jocs commented on #956
@fxha  I think this issue no longer existed on develop branch? can you help confirm this.

[2019-06-09 13:41] #711 closed

[2019-06-09 13:41] #830 closed

[2019-06-09 13:41] #1036 closed

[2019-06-09 13:41] #1043 closed

[2019-06-09 13:44] #1045 closed

[2019-06-09 14:30] #956 closed

[2019-06-09 14:31] #1004 closed

[2019-06-09 15:20] #966 closed

[2019-06-10 02:50] Jocs commented on #1053
@yougotwill What do you think is the appropriate width of the editing area? Or what range is appropriate？

[2019-06-10 03:13] yougotwill commented on #1053
@Jocs
Taking from what Sublime Text does. My suggestion using the `wordWrapWidth` property mentioned above (maybe just call it `wrapWidth`?) would be:

**Default** should be the current value of 700px.
Basically if `wrapWidth` isn't explicitly set in the user preferences keep the default value we already have. This way we don't break the current experience for the users.

**wrapWidth = 0**
wraps t

[2019-06-10 03:27] Jocs commented on #1053
I think the `wrapWidth` should be the min value of app window width(not include side bar) and the preference setting value.

[2019-06-10 11:38] fxha commented on #1053
I think the easisest would be to allow to set `max-width` of `ch`, `px` or `%` of the editor area and only validate these types but not the values. I tested it and it works great, invalid values would fill the complete screen but don't produce any issues.

[2019-06-10 16:23] #752 closed

[2019-06-10 18:34] fxha opened #1094 "Inline image are not supported"
### Description

Inline images are always displayed as block image in preview mode.

### Steps to reproduce

`foo ![](https://raw.githubusercontent.com/marktext/marktext/develop/resources/icons/24x24/marktext.png) bar`

**Expected behavior:**

foo ![](https://raw.githubusercontent.com/marktext/marktext/develop/resources/icons/24x24/marktext.png) bar

**Actual behavior:**

foo

![](https://raw.gith

[2019-06-10 20:40] Iffabled opened #1096 "Opening non-Markdown files from folder explorer"
### Describe your feature request

Clicking a file (for example an exported PDF) that uses a format not supported by Mark Text in the folder explorer opens it in an external program (using system defaults).

### What problem does this feature solve? [optional]

Not being able to quickly open files using unsupported formats.

### Additional context [optional]

Caret Editor has a similar feature.

[2019-06-11 00:13] yougotwill commented on #1053
@fxha I looked at your PR. Nice solution!

[2019-06-11 07:59] EnfrigFalco opened #1097 "Feature Requst - Dedicated Project Folder"
Whilst waiting for "sessions" feature. Perhaps a feature that allows you to set "project folder" or "folders via preferences. So when application starts it opens a set folder.

[2019-06-11 08:06] Jocs commented on #1097
@EnfrigFalco This is already add in PR #1054, You can refer this PR for more info.

[2019-06-11 08:06] #1097 closed

[2019-06-11 10:20] hsdong2012 opened #1099 "the editor area is too narrow"
The writing area is too narrow. I cannot find any settings to change the width of the width of writing area. I think a indicator should be added to improve this.

[2019-06-11 10:26] Jocs opened #1100 "No need to show language selector in code block"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a code block
2. write ```javascript
3. the language selector pop up

**Expected behavior:**

No language selector in code block pop up.

**Actual behavior:**

Language selector pop up

![屏幕快照 2019-06-11 下午6 25 43](https://user-images.githubusercontent.com/9712830/59264742-5e70ef80-8c76-11e9-9f8c-0a9ce917ed26.png

[2019-06-11 10:34] Jocs opened #1101 "Hide all float box when change to source code mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Write some text, then select the text, the inline format box will shown.
2. Change to source code mode.
3. The inline format box still shown.

**Expected behavior:**

The float box should be hidden.

**Actual behavior:**

The float box still shown.

**Link to an example: [optional]**

### Versions

- Mark Text: develop

[2019-06-11 11:18] fxha commented on #1099
Thank you for taking the time to report this issue! We noticed that this is a duplicate of #1053.

[2019-06-11 11:18] #1099 closed

[2019-06-11 20:51] fxha commented on #1096
Setting this issue to `blocked` because as of v0.15.0 the side bar tree *may* shows markdown files only when #1086 is merged and then this issue can be closed.

[2019-06-11 21:08] #1100 closed

[2019-06-11 21:08] #1101 closed

[2019-06-12 18:17] fxha opened #1106 "Table separators begin to move around when scrolling"
### Description

A few table separators begin to move around when scrolling the editor.

### Steps to reproduce

1. Insert document from below and insert as much lines as the editor begin to scroll.
2. Scroll a bit and you will notice one or multiple table separators/lines floating around.

[code]

**Expected behavior:**

No table separators should move around.

**Actual behavior:**

A few table s

[2019-06-12 18:21] fxha opened #1107 "Regression: no custom fonts are allowed"
### Describe your feature request

The (new GUI) font family settings should allow custom fonts and not only the 4 hard coded ones. Even the settings file on disk cannot be changed due settings validation (JSON schema) without patching Mark Text source code. This also applies for code block fonts.

### What problem does this feature solve? [optional]

This feature/regression should add custom font

[2019-06-12 18:22] fxha opened #1108 "Improve electron-store performance"
### Description

We should fork `electron-store` (`conf`) and only read the configuration from disk if the file has changed but not on every `get` call. At the same time we could remove unnecessary stuff like encryption.

[2019-06-12 18:24] fxha opened #1109 "Update AppVeyor and Travis Node version"
### Description

We should update Node.js on CI to the latest LTS `10.16.x` and also drop support for older version (LTS v8.12.x). The current Node.js version used by Electron is version 12.

[2019-06-13 04:06] Yournished commented on #1058
@fxha Please reopen issue.

That issue is about adding zoom. The zoom is not the problem. Body text size is fine. Header is too big. If I zoomed out, now the body text would be too small. The problem is that the ratio of header text/body text size is too large.

![headers](https://user-images.githubusercontent.com/12552668/59403033-d5c98080-8d55-11e9-9592-b8c5c2580bb2.png)

For real? You only wait

[2019-06-13 04:34] Jocs commented on #1108
Fork a the codes and then maintain it ourselves. There are also modifications and maintenance costs. You may need to consider the trade-off between benefits and costs, or submit an issue directly to electron-store?

[2019-06-13 15:49] fxha commented on #1108
Yes, there is an opened issue from early 2018 without process nor comments. That's true, we could pull upstream changes and use `chokidar` to watch and read changes into memory. I don't know the exact use case of `electron-store` but I think this would be the best way for us.

[2019-06-13 16:14] fxha commented on #1058
I don't know how to reproduce this issue but seems to be an upstream issue (electron/electron#10862), potential workaround: https://github.com/electron/electron/issues/6571#issuecomment-326865765.

[2019-06-14 03:02] Yournished commented on #1058
The renaming is wrong. The issue is that more control is needed over theming. The problem with DPI scaling is only a particularly egregious special case of this problem. If you merely add some DPI scaling option, this would still leave other symptoms of hardcoded theming - such as inability to alter contrast, colors or font. Really, the ability to have custom themes has been a standard feature of

[2019-06-14 09:37] fxha commented on #1058
Please see my first comment. I guess v0.16.0 should become user themes but I don't know @Jocs planing there. Mark Text is still in active development and I would considered it as alpha software. Our priority is to fix bug and improve the overall experience. Meaning custom themes or other feature may or are less important than other things, especially when we have no stable APIs nor stable GUI elem

[2019-06-15 14:10] fxha opened #1114 "Regression: image deletion url missing"
### Description

The SM.MS delete URL is no longer shown on develop branch after uploading an image.

### Versions

- Mark Text: v0.14.0 develop branch
- Operating system: all

[2019-06-15 14:13] #1037 closed

[2019-06-15 14:56] iosmanthus opened #1115 "Unexpected error: Cannot read property 'nodeType' of null"
### Description
When I try to select all pressing `Ctrl + a`, it reports:
An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0 (af2098e)
Operating system: linux

[2019-06-16 13:31] fxha commented on #1115
@iosmanthus  Thank you for taking the time to report this issue. Based on the stack trace it's hard to reproduce this issue, could you please provide a minimal example or give more information how the exception occurred. There are also known issues with deleting and selecting the new image chooser that are not always reproducible.

[2019-06-16 13:38] #813 closed

[2019-06-16 13:39] #1029 closed

[2019-06-16 13:39] #686 closed

[2019-06-16 13:39] #1053 closed

[2019-06-16 13:46] #971 closed

[2019-06-16 13:47] #797 closed

[2019-06-16 17:45] StoltHD commented on #603
D3.js and visjs (https://visjs.org/)  will be a good alternative...
Markvis is a markdown-it plugin, but last updated 2 years ago...

[2019-06-17 22:49] sheldonhull commented on #216
I am trying to rebind `Ctrl+/` to show source code view, but it won't work. In reviewing source code, it looks like `showAiDou` method and functionality is being used, which I really don't need at this time. Is there anyway to unmap this? I tried

[code]

and this didn't work.

[2019-06-20 14:46] #554 closed

[2019-06-20 14:46] #1026 closed

[2019-06-20 14:46] #1034 closed

[2019-06-21 02:59] Jocs commented on #951
Closed due to we deprecated the list view in the next released version.

[2019-06-21 02:59] #951 closed

[2019-06-21 07:40] maxsu opened #1118 "Integrating Marktext Into Zotero Reference Manager"
[Zotero](https://github.com/zotero/zotero) is a research paper and notes organizer licensed under AGPL3. It currently uses [TinyMCE](https://github.com/tinymce/tinymce) for note editing and lacks support for markdown, formulas & diagrams. Zotero is moving to Electron and I have this wild idea: could we embed Marktext as a lightweight notes engine for Zotero?

### Strategy

1. Import Marktext into

[2019-06-21 08:59] Jocs commented on #1118
I read your description, I feel that you don't need Mark Text, you need Mark Text's markdown editor muya, muya's main development and maintenance is still in the Mark Text project, but it is very independent, in Mark In the Text project, it is a separate folder with no dependencies on other files in the project. If you only need a markdown editor, I think muya can meet your needs, just as you use

[2019-06-21 11:31] maxsu commented on #1118
Thanks for the informative response @Jocs! It feels like Muya could be a great fit for my use case, and I'm happy to hear it's healthy. Thanks for the example - I'll evaluate that and put together some next steps, which I may share here, or on the Muya issue tracker. I'll reach out if I have major success or major issues slotting Muya back in an electron environment. Pleased to make your acquainta

[2019-06-22 07:51] fakhir opened #1119 "Scrolling past end of document using down arrow"
### Description

I'm not sure whether this is intentional or a bug but this behaviour feels very unnatural. If you're editing a document and reach the last line, pressing the down arrow will add a new line to the document and keeping the down arrow pressed will keep adding new lines. Usually the expected behaviour is that if the down arrow is pressed the scrolling will stop on the last line of the

[2019-06-22 07:52] fakhir commented on #1119
![scroll_bug](https://user-images.githubusercontent.com/1925612/59961129-8a993580-94ec-11e9-82de-f6809cfd475b.gif)

[2019-06-22 10:36] fxha commented on #216
@sheldonhull Could you please open an issue and give more information about your OS and keyboard information like:

- Mark Text version (`marktext --version` or about dialog)
- OS and keyboard language
- `marktext --dump-keyboard-layout` and
- `setxkbmap -query` output on Linux (pasted in code block or similar)

I tested your example on Fedora with a Germany keyboard and everything works as expect

[2019-06-22 10:38] #1058 closed

[2019-06-22 10:45] fxha opened #1120 "Muya search failures"
### Description

There are still some issues when setting the cursor range to a line + offset that may completely crash the front-end. For example:

- when searching for an invalid position. Lets say the file has one line but we want to set the cursor to line 2.
- same as above but with an invalid offset.
- when the cursor is set to some block elements like code block language identifier or an ima

[2019-06-24 03:25] biji commented on #354
Pleae make pdf output similiar to current editor theme :D

[2019-06-24 03:41] Jocs commented on #354
@biji This will be improved in the future.

[2019-06-24 07:50] filclem opened #1121 "Loose data or save not efficient when whiting with image at the end"
### Description

Loose data or save not efficient when writing with image at the end

- [ ] Can you reproduce the issue?  yes: `[x]`

### Steps to reproduce

1. [Create a new file with a text in one line and save it]
2. [Menu/Edit/Insert image, and insert an .png image]
3. [When you save ,with Menu/File/save or ctrl + s, it doesn't work
4. [In the same way, When you export in pdf format , the imag

[2019-06-26 08:50] LuckyHookin commented on #1119
🙋‍♂️
![image](https://user-images.githubusercontent.com/45350455/60165616-2ea71780-9832-11e9-9d34-164c79a1e786.png)

[2019-06-26 08:51] LuckyHookin commented on #1119
🙋‍♂️

![image](https://user-images.githubusercontent.com/45350455/60165826-99585300-9832-11e9-8fbd-21c122cde428.png)

[2019-06-26 08:58] LuckyHookin commented on #1119
🙋‍♂️
![image](https://user-images.githubusercontent.com/45350455/60166323-872ae480-9833-11e9-9290-559292234692.gif)

[2019-06-26 09:06] Jocs commented on #1119
This is the expected behavior, but I think this can be optimized.

You can not create a new paragraph by Enter when the cursor is in a code block.

Do you mean when you type `Enter` at the last line, the cursor did not scroll into view?

[2019-06-27 16:23] alxlg opened #1123 "Redundant document title"
### Description

When using native title bar the title in the window is redundant.

- [x ] Can you reproduce the issue?

### Steps to reproduce

1. Enable native window decoration (title bar) from Mark Text settings

**Expected behavior:**

When using native title bar the title in the window should be hidden.

**Link to an example:**

![immagine](https://user-images.githubusercontent.com/26327475/

[2019-06-27 16:30] alxlg commented on #1123
Forgot to mention that it happens only for unsaved documents, here it's more clear without the menu bar:

![immagine](https://user-images.githubusercontent.com/26327475/60283490-8b293600-9909-11e9-8971-392600eeba76.png)

[2019-06-28 19:51] fxha commented on #1123
I'm unsure how to best solve this problem and that's why we use a custom taskbar design and removed the native one a while ago but re-added on demand. We could use Mark Text or an empty native title and only show the path in the editor, this would be the easiest solution without adding lots of branches. We could also remove the not native title and show the path as native window title but then the

[2019-06-28 19:52] fxha commented on #1121
@Jocs I mark this issue as bug, even if this issues should be fixed with the latest development version because of the image refactoring. I guess this was/(is?) an issue about not committing changes or setting the state that the file was edited after the image is inserted. This issue cannot be reproduces on the development branch but with `<v0.14.0`.

[2019-06-28 20:13] gooddadmike opened #1124 "Tab switching shortcut please"
### Shortcut needed for changing tabs

### Steps to reproduce

1. Open multiple tabs
2. Look longingly at the tab you want and despair there is no way to reach them without touching your mouse all the way over there ---->
3. Think to yourself, this app is so beautiful and so perfect. Besides this oversight. I should put in a polite feature request.

**Expected behavior: [Ctrl]+[tab] or something w

[2019-06-28 20:41] fxha commented on #749
The initial issue was fixed by the Electron team but this issue is still blocked due a subsequent issue that freeze the whole renderer.

[2019-06-29 04:21] Jocs commented on #1121
I'll take a look these two days.

[2019-06-29 04:24] Jocs commented on #749
I didn't track this issue before, which `subsequent issue` will cause the renderer process freezing?

[2019-06-29 04:29] Jocs commented on #1124
@gooddadmike This really is a good feature, we'll add it asap.

[2019-06-29 05:57] filclem commented on #1121
Well.
Thanks you.
MarkTEXT is very fun.
Have good work.

Philippe

Le ven. 28 juin 2019 à 21:52, Felix Häusler <notifications@github.com> a
écrit :

[2019-06-29 13:47] alxlg commented on #1123
@fxha three possible solutions:

1. In the title bar just display "MarkText" instead of the unsaved new document name
2. In general use this scheme for the window title: `documentName.md — MarkText` (at least this makes the redundancy less evident)
3. Don't display that text label with the name of the unsaved document when native titlebar is used (but still display the current text label with the

[2019-06-29 14:10] alxlg commented on #1123
i made a mockup:

![immagine](https://user-images.githubusercontent.com/26327475/60385325-42e45200-9a88-11e9-8bbe-d0cd270477aa.png)

[2019-06-30 04:42] IceEnd opened #1127 "Buttons on the small picture are hidden."
### Description

Buttons on the small picture are hidden, like `edit` and `delete`.

![image](https://user-images.githubusercontent.com/11556339/60392355-58fb1c80-9b33-11e9-9072-7b298b35d2ee.png)

How about put buttons on the right side of the line?

### Steps to reproduce

1. Insert a smaller image

### Versions

- Mark Text: 0.14.0
- Operating system: MacOS

[2019-06-30 04:49] Jocs commented on #1127
Do you have any solutions or suggest on how to solve this?

[2019-07-01 00:58] yynps opened #1128 "Cannot extract heading when code block contains "# <text>""
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0
Operating system: win32

[2019-07-01 06:49] fakhir commented on #1119
No, I mean that if i keep the down arrow pressed, the cursor keeps going down and it goes out of view. The scrollbar starts to get smaller indicating that new lines are being added to the end of the document but I cannot see the cursor anymore. If i press Enter then the cursor comes back in view. I have also shown this behaviour in the screen animation which I had posted above. When I press down k

[2019-07-01 13:28] JosephaGK opened #1129 "Unexpected error: Cannot read property '1' of null"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0
Operating system: win32

[2019-07-01 16:16] StefanoCecere opened #1130 "MarkText + Zettlr"
i discover MarkText right now.. very nice
and i dicovered Zettlr https://github.com/Zettlr/Zettlr yesterday.. huge!

two electron base opensource very good MD text editors, run by two very active developers!

i hope you can become friends and exchange experiences!

[2019-07-01 16:30] Jocs commented on #1130
Very good advice, I will also investigate the Zettlr project and learn about it. I also hope that we can discuss a specific issue or feature about marktext or Zettlr.

[2019-07-01 18:39] fxha commented on #1129
Thanks for reporting this issue. We noticed that this is a duplicate of #1128. You may want to subscribe there for further updates.

[2019-07-01 18:39] #1129 closed

[2019-07-01 18:41] fxha commented on #749
The new issue is tracked in [Electron#19008](https://github.com/electron/electron/issues/19008) but please see [my comment](https://github.com/electron/electron/issues/16085#issuecomment-506869309) for details.

[2019-07-01 18:42] fxha commented on #1128
Thanks for taking the time to report this issue. Based on the stack trace it's hard to reproduce this issue, could you please provide a minimal example (e.g. markdown). It seems that there is an issue with parsing the markdown content to get the headings.

[2019-07-01 19:31] fxha commented on #1123
@Jocs I don't really know where we set the window title. Is this handled by vue?

[2019-07-02 01:56] dumplingsMing opened #1131 "Unexpected error: Cannot read property 'type' of null"
### Description

An unexpected error occurred in the renderer process when pressed 'tab' button at the header line (like pressing "##\<space\>lalala\<tab\>", then this error occured).

### Stack Trace

[code]

### Version

Mark Text: v0.14.0 (e54731f)
Operating system: linux

[2019-07-02 10:29] Beurt commented on #603
In the [Qownnotes](https://github.com/qownnotes) projects, there is [a plugin](https://github.com/qownnotes/scripts/tree/master/render-plantuml) doing that with mostly the same syntax:

[code]
[code]

[2019-07-02 19:24] fxha commented on #1131
Thanks for reporting this issue. This can be reproduced with v0.14.0 but not with the latest development branch.

@Jocs But there is another issue on the latest development branch when setting the cursor in the next line. This also applies to heading that ends with spaces. I think that this could be related to this issue.

[code]

Example:

[code]

--->

[code]

[2019-07-02 21:39] DomHudson opened #1132 "Selecting all (control + A) does not function the same as a mouse selection"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Insert text
2. Select text (using Control + a)
3. Press a letter/backspace/delete
or
3. Press control + c
or
3. Press control + x

**Expected behaviour:**

If a character is pressed: I expect the selected text to be replaced with the character.
If backspace or delete is pressed: I expect the selected text to be deleted

[2019-07-03 03:03] Jocs commented on #1132
@DomHudson Very clear issue, thanks. I test it on the `develop` branch, I found that it works well. Can you help test it on the `develop` branch?

[2019-07-03 03:28] Jocs commented on #1131
@fxha I can not reproduce this issue what you described. I write `markdown` bellow.

[code]

And press <kbd>tab</kbd>

it works well, and insert 4 spaces after `foo`, and no error happened?

is there any wrong when I reproduce this issue?

[2019-07-03 03:37] Jocs commented on #1123
@fxha Do you mean `<title>` tag in html?

I also found this in Electron documents.

I also found this codes maybe be helpful in `titleBar.vue`

[code]

[2019-07-03 09:34] cpp commented on #1130
Knowledge management techniques (Zettelkasten) would be great to see.
sublimeless_zk (https://github.com/renerocksai/sublimeless_zk/) has also some good feautures in this direction.

[2019-07-03 10:07] NoelAbrahams opened #1134 "Control+Home does not go all the way to the top"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Enter enough text to create a reasonable vertical scrollbar.
2. Ensure the cursor is right at the end of the text body.
3. Hit Control+Home

**Expected behavior:**

The window should scroll all the way (100%) to the top.

**Actual behavior:**

The window scrolls about 95% to the top.

**Link to an example: [optional]**

[2019-07-03 13:33] NoelAbrahams opened #1135 "Checkbox text not aligned with box"
- [x] Can you reproduce the issue?

The text is slightly above centre as shown in the image, also a bit more space between the box and the text is probably needed.

![image](https://user-images.githubusercontent.com/1106823/60595439-ee4e1900-9d9e-11e9-9f4a-a8ddfeaaa853.png)

This is the case for all other themes.

### Versions

- Mark Text: v0.14.0
- Operating system: Windows 10 (Version 10.0.1713

[2019-07-03 18:41] fxha commented on #1131
@Jocs The exception doesn't always occur, just try a few times with different cursor position or write some text and try again.

[2019-07-03 18:46] fxha commented on #1132
@Jocs Yes, seems to be fixed on latest development branch, except for this:

But this is an optimization for later or even a won't fix. I guess that this is currently not possible to detect easily - or we would need to parse multiple times and compare against our data structure.

[2019-07-03 19:20] fxha opened #1136 ""|" must be escaped in a table"
### Description

The `|` character must be escaped in the table in preview mode, otherwise data loss occurs like in the example below.

### Steps to reproduce

1. Create a markdown table and write e.g. `| a | b | c |` as column
2. Now edit cell `b` to `b|x` or simular in preview mode
3. Save document and reopen the document or switch to source-code mode and back
4. The cell next to the edited one

[2019-07-03 19:30] fxha commented on #1123
@alxlg I decided to only add ` - Mark Text` suffix to the native window but not remove the untitled tab title as in 3\. due unsaved changes notification dot.

[2019-07-04 02:40] Jocs commented on #1132
The clipboard text replace the selected text when I press `Cmd + V` on macOS. So it only occur on Linux systems?

[2019-07-04 02:52] #1123 closed

[2019-07-04 03:08] #1121 closed

[2019-07-05 04:12] danielyzli opened #1140 "Auto-bullets in code mode"
### Describe your feature request

I really like how new bullets are placed whenever you hit `Enter` at the end of bullet point text, and how the bullets are automatically hierarch-ized when you press `tab` afterwards. Could we have this in the code mode?

### What problem does this feature solve?

The WYSIWYG mode is laggy at times for me, especially since I write a lot of `mermaid` diagrams. I t

[2019-07-05 04:14] danielyzli opened #1141 "Line width / line wrap threshold adjustable?"
### Question description

I was wondering whether line width / line wrap threshold is adjustable to fit the width of the application. Thanks in advance!

[2019-07-05 13:55] J1MC83N opened #1142 "Text "gibberish" effect when export to PDF"
### Description

- [x] Can you reproduce the issue?
Text "gibberish" effect when export to PDF
The text itself is actually correct without all the extra notations
First page of PDF doc is fine; all other pages are affected

### Steps to reproduce

1. Open file
2. Export to PDF
**Expected behavior:**

Normal text

**Actual behavior:**

"ṡìȟT»ṡǧñìṝõḽõć õẇț èȟț ñèèẇțèḇ qaḽṝ

[2019-07-05 14:18] J1MC83N commented on #1142
After further inspection, the gibberish-effect only happens with html text styled multiple times, for example `<center> <i> <b>Fig.1.1:</b> An example flow network with labelled capacities </i> </center>`

[2019-07-05 19:48] fxha commented on #1132
I don't know, misread or so but all works fine with latest dev build.

[2019-07-05 23:30] yougotwill commented on #1141
@danielyzli If I understand this correctly it's been fixed in version 0.15.x which hasn't been released yet. See my issue https://github.com/marktext/marktext/issues/1053

[2019-07-07 00:52] danielyzli commented on #1141
Thanks for the response!

[2019-07-08 13:47] beefon opened #1143 "Command Line to generate HTML from MD"
I love the formatting styles and I'd like to generate HTML from MD files via command line interface. Also, some sort of CSS compression would be nice to have.

[2019-07-09 12:55] gooddadmike opened #1144 "clickable links"
### Describe your feature request

I would like an easy way to open formatted links (or any links)

### What problem does this feature solve? [optional]

As an editor "link preview" is the right default. As a notes tool, I would like a context menu or a tool-tip hint that would tell me how to launch the link in default browser. Instead of having to select and copy then switch and paste in URL bar.

[2019-07-09 13:06] Jocs commented on #1144
Thank you! love you too.

We have one way to open the link by default browser by `CmdOrCtrl + Click`. We maybe add a `link` icon button on the right of link text in the future, so we can click the icon button to open the link or other markdown file.

[2019-07-09 16:27] danielyzli opened #1145 "Numbered list styles change when exporting PDF"
### Description

Numbered list styles in WYSIWYG mode are different from numbered list styles in exported PDF.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type this markdown:
![screenshot](https://user-images.githubusercontent.com/47434276/60905981-07394d00-a22b-11e9-910b-5bd0bd0d3aaa.png)

2. Export as PDF

**Expected behavior:**

This is what is shown in WYSIWYG mode:
![scree

[2019-07-10 11:40] Madoka03 opened #1146 "Two questions about the Table of Contents"
### Questions

First of all I found the editor only a short time ago and find it excellent. Thanks for the great work of the developers. I have two questions about the Table of Contents in the sidebar.

**First question:** Is it possible to keep the structure open permanently? As soon as I switch to the editor, everything changes to its original state, so that I have to expand the tree structure a

[2019-07-10 14:48] fxha commented on #1141
Thanks for you question @danielyzli. As @yougotwill already mentioned, you can control the editor width in the next release or development version via settings. @Jocs and me are a litle bit bussy right know but the next version should be release any time soon.

![mt_pref_width](https://user-images.githubusercontent.com/22716132/60979035-5027f900-a332-11e9-9f7e-f780b1155bc7.png)

[2019-07-10 14:48] #1141 closed

[2019-07-10 14:51] fxha commented on #1142
Thank you for taking the time to report this issue. We cannot reproduce this issue (at least on Linux/Windows), could you please provide a full example? @Jocs Can you reproduce this issue on macOS?

[2019-07-10 14:52] fxha commented on #1140
I don't know whether this is possible because the source-code mode is based on CodeMirror. I think @Jocs can give more information about this topic.

[2019-07-10 14:53] fxha commented on #1146
We changed the default behavior that the TOC entries are opened by default and the state is only changes when editing headers. The second is a duplicate of #966.

[2019-07-11 09:12] Jocs opened #1147 "Duplicated heading when press enter key"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a heading like `### foo<cursor> bar`
2. press `enter`

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Link to an example: [optional]**

### Versions

- Mark Text: develop
- Operating system: all

[2019-07-11 16:49] danielyzli commented on #1140
Would it be possible to use the editor used in https://github.com/egoist/eme? The project is a little dead, but the source code editor used is very nice i.e. zero lag, auto bullets, and syntax highlighting even in code mode.

[2019-07-12 13:15] alxlg commented on #1143
You can use `pandoc` for this

[2019-07-14 13:26] AsierRF opened #1149 "Can't realign an ex-bullet point to left side"
### Can't realign an ex-bullet point to left side

I noticed an strange behavior that does not allow me to move left (shift + tab keys) a bullet point from which I removed the '-' character.

* OS: Linux x64
* Marktext version: v0.14

Let me show an example:
I have created my bullet list until 'test4' item. Then I press enter key, (let's say that by mistake, I forget to remove the '-' from the lis

[2019-07-15 06:52] bound2020 opened #1150 "Unexpected error: Cannot read property '1' of null"
### Description

An unexpected error occurred in the main process.

I insert a code block and write some lines of python code. This error window first pops up when I type a "#" and it appears from time to time since then.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0
Operating system: darwin

[2019-07-15 07:07] Jocs opened #1151 "prevent arrow up and down when the quick insert panel is shown"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create some paragraphs
2. create a new paragraph and input `@` at the beginning of the paragraph
3. the query insert box is shown, press arrow up and down

**Expected behavior:**

The cursor should still at the end of `@`

**Actual behavior:**

The cursor goes up and down to other paragraph

**Link to an example: [opti

[2019-07-15 22:12] fxha commented on #1140
According dependencies, they are using CodeMirror too. I'll mark this as improvement, so someone with more knowledge about CodeMirror can pick this up.

[2019-07-15 22:14] fxha commented on #1150
Thanks for reporting this issue. We noticed that this is a duplicate of #1128. You may want to subscribe there for further updates. There is definitely a problem because the title is extracted from the code block and not from a heading.

[2019-07-15 22:14] #1150 closed

[2019-07-15 22:25] #1151 closed

[2019-07-15 22:27] snowdream opened #1154 "a new editing mode: left source code, right realtime preview"
### Describe your feature request
 a new editing mode: left source code, right realtime preview

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-07-15 22:29] fxha commented on #1144
Closing this because this feature is already implemented in the latest development version, as described above. But end-user documentation is still needed.

[2019-07-15 22:29] #1144 closed

[2019-07-15 22:40] fxha commented on #1149
Thanks @AsierRF this is indeed a problem but the expected behavior because the line belongs to the parent list item according markdown specification. I would suggest that an `<enter>` after an empty line creates a new paragraph instead a new list item line.

E.g. `bar` should become a paragraph after pressing `<enter>`:

[code]

[2019-07-15 22:43] fxha opened #1155 "Rebase markedjs to latest version"
Issue to track the rebase of markedjs v0.7.0 - current marked version is 0.6.2. The new version contains inline style fixes but also two security fixes.

[2019-07-15 22:49] fxha commented on #1154
Thanks @snowdream, we had an issue about this that was closed by @Jocs (#502). I think this is out-of scope because Mark Text is a realtime preview (WYSIWYG) editor with integrated source-code editor but primary focus is the WYSIWYG one.

[2019-07-15 22:54] snowdream commented on #1154
As a programmer, I think it a very convenient mode.

![06_52_10__07_16_2019](https://user-images.githubusercontent.com/737958/61254215-4e2cc280-a796-11e9-9232-eb2245f058e7.jpg)

[2019-07-15 22:55] #1147 closed

[2019-07-16 01:55] Jocs commented on #1143
@beefon Can you explain more detail about your feature?

[2019-07-16 02:04] Jocs commented on #1154
@snowdream We already have source code mode, but this is not the core function of this editor. Mark Text's focus is still in preview mode. When the preview mode is stable and friendly, we have time and energy to optimize the source editing mode, but it should It also does not support previews on the right and source code on the left(split screens).

[2019-07-16 02:04] #1154 closed

[2019-07-16 02:11] Jocs commented on #1140
Because this project is currently maintained by @fxha and me, we have limited time and effort, so we will not optimize the source code mode at this stage. We will put the focus on preview mode and other aspects. The later plans can refer to our RoadMap and [Projects ](https://github.com/marktext/marktext/projects)

[2019-07-16 02:14] Jocs commented on #1149
The new version of Mark Text is basically completed, in the final test phase, stay tuned

[2019-07-16 02:18] Jocs commented on #1142
This seems to be related to `encode`?. It may be related to upgrading Electron. We need to observe this issue for a while. I hope that you can do some testing after the release of our new version (0.15.0) to see if this problem still exists.

[2019-07-16 03:09] Jocs opened #1156 "Ctrl + A to select all, and delete all content error"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a code block with language identifier, and create other paragraphs bellow the code block.
2. Press `ctrl + A` to select all content.
3. Press backspace

**Expected behavior:**

All content deleted

**Actual behavior:**

the first code block is not deleted. and it's broken.

**Link to an example: [optional]**

##

[2019-07-16 03:46] Jocs opened #1158 "input `##` in code block language input area will cause bug"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. input ```##
2. press enter

**Expected behavior:**

Create an invalid code block with language identifier `##`.

**Actual behavior:**

Runtime error happened

![屏幕快照 2019-07-16 上午11 46 33](https://user-images.githubusercontent.com/9712830/61264514-74b32380-a7bf-11e9-95b0-835f1088eacb.png)

**Link to an example: [option

[2019-07-17 07:37] Jocs opened #1160 "Select all and remove all content bug"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create an order list at the beginning of editor
2. Create other paragraphs bellow the first list paragraph
3. Press `Ctrl + A` to select all content and press `backspace` to delete all content.

**Expected behavior:**

All content be removed.

**Actual behavior:**

The first list order number is still at the beginning.

[2019-07-17 11:26] amundv commented on #619
This seems to still be a problem on macOS v.10.13.3 with Mark Text v.0.14.0

[2019-07-17 22:05] beefon commented on #1143
I'd like to have the ability to generate HTML that MarkText generates when you use GUI (menu Export - as HTML), but from the command line interface.

[2019-07-19 21:59] bjmarr opened #1164 "Failed to Start: /tmp noexec"
### Description
The AppImage fails to load if `noexec` is set on `/tmp`.

- [x] Can you reproduce the issue?

### Steps to reproduce
1. Download latest version of marktext
2. `sudo mount -o remount,noexec /tmp`
3. `./marktext-0.14.0-x86_64.AppImage`

**Expected behavior:**
marktext runs normally.

**Actual behavior:**
marktext does not run normally and produces an error.

**Link to an example:**
[

[2019-07-20 18:49] kumarve opened #1165 "support export with themes"
### Describe your feature request
When the user exports the content, it should also export the theme of the editor. Currently the export defaults to white. Need WYSIWYG export.

[2019-07-20 18:57] kumarve opened #1166 "Opens files in a seperate window"
### Description

After launching the MarkText app, when a file is opened, it should open in the same windows rather than opening in a new window. This always leaves an empty window and it has to be manually closed.
### Steps to reproduce
1.  Launch MarkTest
2. Cmd+O and open any file

**Expected behavior:**
The file should open in the already opened app If the app has a file previously opened, the

[2019-07-20 19:12] kumarve opened #1167 "Multi-line selection with Shift+up or down arrow not working properly"
### Description

The multi-line selection is not working unless one of the chars is selected fire before pressing Shift+up arrow or Shift + down

- [ ] Can you reproduce the issue?

### Steps to reproduce

1. Type a multiline text say
[code]
2. Keep the cursor before the "This is a sample content 1"
3. Press Shift+Up arrow or Shift+Low arrow

**Expected behavior:**
Content is selected from the pos

[2019-07-21 06:57] Jocs commented on #1166
@kumarve You can set `openFilesInNewWindow` to false in the preference menu.

[2019-07-22 10:48] fxha commented on #1164
Thanks @bjmarr for reporting this issue. AppImage's (loaded by `appimaged`) can only run from a directory that is mounted with executable permissions. You would need to configure your system that the AppImage is mounted to a directory with executable permissions. Otherwise you could try the binary or Flatpak version.

[2019-07-22 10:49] #1166 closed

[2019-07-22 10:49] fxha commented on #1165
Duplicate of #354

[2019-07-22 10:49] #1165 closed

[2019-07-22 10:50] fxha commented on #1167
This isuue is already fixed on our latest development version. Thank you for taking the time to report this issue.

[2019-07-22 10:50] #1167 closed

[2019-07-22 15:14] #929 closed

[2019-07-22 15:16] #1156 closed

[2019-07-22 15:21] #1158 closed

[2019-07-22 15:22] Jocs commented on #1155
@fxha I think this issue should be placed at 0.16.0, because rebase marked is a tedious job and it takes a long time to test?

[2019-07-22 15:24] Jocs commented on #1114
Where can we show the `delete URL`? put it in the `Notification` and click to copy to clipboard?

[2019-07-22 15:26] fxha commented on #1155
I think we should pick the two security fixes and add further changes in v0.16.0.

[2019-07-22 15:26] fxha commented on #1114
Yes right, show a notification and copy on click.

[2019-07-22 15:29] Jocs commented on #1155
Which two fixes?

[2019-07-22 15:33] fxha commented on #1155
These two:

[code]

[2019-07-23 03:21] #1120 closed

[2019-07-23 05:16] Jocs opened #1169 "Add unnecessary text after insert image"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. `Shift + Cmd + i` to insert an image.
2. Select an image named `xx(1)xx.png`, the `()` is important to reproduce this issue.
3. There is some extra text `xx.png)` after you insert this image.

**Expected behavior:**

No extra text after the inserted image.

**Actual behavior:**

Add some extra text after the image.

**

[2019-07-23 10:27] ColdIce1 opened #1171 "Unable to open files - Windows"
### Description
Version: v0.14.0 - both portable & setup
Unable to open existing *.md files. Results in a new blank Mark Text window

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open Mark Text
2. Go to Menu -> FIle -> Open File
3. Select existing *.md file

**Expected behavior:**
Existing *.md file to load with text

**Actual behavior:**
New empty Mark Text window without any te

[2019-07-23 14:09] Jocs commented on #1155
@fxha https://github.com/markedjs/marked/pull/1504#issue-292192337 is tolerated at current time, because we already sanitized the html in export html and preview html.

and I'll rebase \#1515.

[2019-07-23 15:33] CptPotato opened #1174 "PDF export: incorrect formatting of emphasis"
### Description

PDF export fails to format `*"something"*` correctly.

### Steps to reproduce

1. open new document
2. enter `*"abc"*`
3. export as pdf

**Expected behavior:**
![grafik](https://user-images.githubusercontent.com/3957610/61725174-9425ef80-ad6f-11e9-947b-8fab5b6a1bc3.png)

**Actual behavior:**
![grafik](https://user-images.githubusercontent.com/3957610/61725146-896b5a80-ad6f-11e9-97

[2019-07-23 18:18] fxha commented on #1171
Thanks for reporting this issue. Could you please try a simple markdown file or provide a minimal example to reproduce this issue?

[2019-07-23 18:52] #1160 closed

[2019-07-23 18:53] #1114 closed

[2019-07-25 06:14] Jocs opened #1181 "The TOC is still existed after I close all the tabs"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a folder with some markdown files.
2. Click some file name on the sidebar to show some tabs, make sure that one of the files has TOC.
3. Close all the tabs.

**Expected behavior:**

Reset the TOC to empty.

**Actual behavior:**

![屏幕快照 2019-07-25 下午2 13 41](https://user-images.githubusercontent.com/9712830/6185026

[2019-07-25 09:50] keito940 opened #1182 "Markdown Extra"
### Describe your feature request

Document:https://michelf.ca/projects/php-markdown/extra/

#### Missing extensions
+ Markdown Inside HTML Block
+ Attributes: `{#id .class}`
+ Fenced Code Blocks
+ Definition Lists

...You may need a custom CSS.

[2019-07-26 03:28] #1169 closed

[2019-07-26 03:28] #997 closed

[2019-07-26 08:40] N0rbert opened #1186 "Move row / column inside table"
### Describe your feature request

Other editors such as Typora has very useful feature - moving row / column inside the table.
It is performed by mouse and <Ctrl+Shift>+<arrow> shortcut.

### What problem does this feature solve?

Move row / column inside the table. See animation below from [typora's help page](http://support.typora.io/Table-Editing/#move-rowcolumn):

[2019-07-26 08:48] Jocs commented on #1186
@N0rbert duplicated with #32 ?

[2019-07-26 08:52] N0rbert opened #1188 "Add more supported LaTeX equation formats"
### Describe your feature request

Many scientific texts contain equations. Currently texts are sometimes written in RMarkdown.

Some texts are books and articles written in [bookdown](https://bookdown.org/yihui/bookdown/markdown-extensions-by-bookdown.html#equations), some of texts are presentations written with [xaringan](https://bookdown.org/yihui/rmarkdown/xaringan.html).

### What problem doe

[2019-07-26 08:54] N0rbert commented on #1186
Oh, yes, seems to be. I think we can add animated gif there :)

[2019-07-26 08:54] #1186 closed

[2019-07-26 08:55] N0rbert commented on #32
In Typora this was implemented by mouse and <Ctrl+Shift>+<arrow> shortcut and looks great -
see animation below from [typora's help page](http://support.typora.io/Table-Editing/#move-rowcolumn):

It would be great if MarkText will have such a nice feature.

[2019-07-26 17:33] SuperAllenYao opened #1189 "Can't save files"
### Description

- [✅] Can you reproduce the issue?

### Steps to reproduce

1. [First step] Open folder,  Auto Save selected
2. [Second step] selected a file
3. [and so on...] cmd+s

**Expected behavior:** save the files

**Actual behavior:** apps go crash

**Link to an example: [optional]**
If you selected "Auto Save" feature , then this bug can be  reproduce
But the contents that I type, still

[2019-07-26 17:39] SuperAllenYao opened #1190 "Can't set default folder"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step] open preferences
2. [Second step] select General
3. [and so on...] click "Open a default directory"

**Expected behavior:**select this features

**Actual behavior:**not thing happend, can't select

**Link to an example: [optional]**

### Versions

- Mark Text:    v0.15.0-rc.1
- Operating system:    MacOS 1

[2019-07-26 17:41] Jocs commented on #1189
@SuperAllenYao Thanks for report this issue, it seems a serious bug, we'll fix it asap.

[2019-07-26 17:46] SuperAllenYao commented on #1189
Holy shit man, you still online!!!!!!

[2019-07-26 17:48] Jocs commented on #1189
@SuperAllenYao You too.

[2019-07-26 17:56] SuperAllenYao commented on #1189
@Jocs
Because I'm really love this app,  Ahahah.

[2019-07-26 17:57] Jocs commented on #1189
@SuperAllenYao Good night!!!

[2019-07-26 21:27] fxha commented on #1189
I cannot reproduce this issue on Linux.

What does this mean exactly? Application crash or just an exception?

[2019-07-26 21:30] fxha commented on #1190
Thanks for reporting this issue. We don't commit the radio-box changes to the application.

@Jocs Could you please fix this. There is a strange runtime error `SyntaxError: Unexpected token (`. and I don't get it.

[code]

[2019-07-26 21:33] fxha opened #1191 "No hover/active sidebar icon"
### Description

The sidebar icon hover and selected/active icon color missing on latest develop branch.

### Versions

- Mark Text: v0.15.0-rc1
- Operating system: all

[2019-07-26 23:39] Jocs commented on #1189
The app crashed，it maybe due to the file/folder watcher, I think it only happen on macOS system, I will take a look tomorrow

发自我的 iPhone

[2019-07-27 03:24] SuperAllenYao commented on #1189
Application crash, Application suddenly disappear and pop an error information.

[2019-07-27 03:56] SuperAllenYao opened #1192 "Didn't remember last windows state."
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]                  open a file or directory
2. [Second step]            close the window
3. [and so on...]              reopen Mark Text

**Expected behavior:**
open the last file that I opened or directory

**Actual behavior:**
open a new file

**Link to an example: [optional]**

### Versions

- Mark Text:

[2019-07-27 04:52] SuperAllenYao opened #1193 "Apps go crash when rename the file, and can't save the files."
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step] open a file
2. [Second step] rename the file
3. [and so on...] press the Enter button

**Expected behavior:** file save and renamed

**Actual behavior:**Apps disappear and pop an error information

**Link to an example: [optional]**
And then I reopen that file, type in something, press cmd+s to save file,

[2019-07-28 14:53] Jocs commented on #1192
@SuperAllenYao I remember that this feature is not implemented yet.

[2019-07-28 14:58] SuperAllenYao commented on #1192
I see

[2019-07-28 15:01] Jocs commented on #1192
@fxha it maybe duplicate with #988 ?

[2019-07-28 15:50] #1190 closed

[2019-07-28 16:01] #1191 closed

[2019-07-28 16:07] #1189 closed

[2019-07-28 16:07] #1193 closed

[2019-07-28 19:41] fantazer commented on #942
have same problem, pls fix it

[2019-07-29 11:17] AsierRF opened #1199 "Typo in setttings menu"
Hello,

Version: Mark Text 0.15.0-rc.2
OS: Linux (AppImage)

I noticed a typo in the Image Preferences: They text says *sepcial* where I assume should say *special*. Image below shows this:

![image](https://user-images.githubusercontent.com/17161846/62044428-34ae6080-b203-11e9-8055-9eefa01c7036.png)

[2019-07-29 11:59] Jocs commented on #1199
Thanks for your reporting this bug, PR is also welcomed!

发自我的 iPhone

[2019-07-29 13:15] Jocs opened #1201 "Release plan of version 0.15.0"
### Release plan

 - [x] Fixed all issues in project `0.15.x`
 - [x] Testing
 - [x] Publish GitHub beta release (v0.15.0-rc.1) or more
 - [x] Fixing all critical bugs (`pre-release` and `serious` label only)
 - [x] Update release notes and close all remaining issues
 - [x] Publish GitHub release (v0.15.0)
 - [x] Update app download link on website.

 ### Post release plan

- [x] Add or build libse

[2019-07-29 14:30] sammaddens opened #1202 "Autolink with angle brackets"
### Description

The [GFM Spec](https://github.github.com/gfm/#autolinks) (0.29) allows an autolink with angle brackets, for instance `<https://github.com>`. Mark Text displays such code in verbatim.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open Source Code Mode
2. Type `<https://github.com>` (or other autolink).
3. Close Source Code Mode.

**Expected behavior:**

Mark Text

[2019-07-29 15:47] SuperAllenYao opened #1203 "Two settings still enable"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Preferences
2. General
3. sort files and Language setting

**Expected behavior:** Disable

**Actual behavior:** Enable

**Link to an example: [optional]**
<img width="966" alt="Screen Shot 2019-07-29 at 10 51 01 PM" src="https://user-images.githubusercontent.com/49594823/62062668-a44c3c00-b253-11e9-8998-0ce22b614104.pn

[2019-07-30 04:46] SuperAllenYao opened #1204 "Source Code Mode font size are different with normal mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. set 16px font size in normal mode
2. Selected source code mode

**Expected behavior:** source code mode font size is the what I set in normal mode

**Actual behavior:** source code mode font size smaller than normal mode

**Link to an example: [optional]**

### Versions

- Mark Text: 0.15 -rc2
- Operating system: macOS

[2019-07-30 05:00] SuperAllenYao opened #1205 "Github images upload service setting's UI incorrectly display"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. click the  "save" button

**Expected behavior:** full blue line surround the button

**Actual behavior:** missing the right blue line in the button
<img width="971" alt="Screen Shot 2019-07-30 at 10 41 00 AM" src="https://user-images.githubusercontent.com/49594823/62101990-7ac9f980-b2c1-11e9-8188-8249a24c2754.png">

**

[2019-07-30 12:57] escape0707 opened #1206 "Cursor should focus between parentheses after selecting text and clicking hyperlink icon"
### Description

During editing, selecting text and clicking hyperlink icon will select description text between brackets. But I think when people do formatting works to add the link address after wrote the description, they usually want to:
1. Select text
2. Click hyperlink icon
3. `Ctrl-V` to paste the hyperlink copied previously.
Just like GitHub's WYSIWYG hyperlink tool behaves.

- [x] Can you

[2019-07-30 18:19] fxha commented on #1192
Yes that's right. This is the default settings value but is currently not implemented. It was planned for v0.16.0 but as it seems like I have not enough time to implement it right now.

[2019-07-30 18:19] #1192 closed

[2019-07-30 18:23] fxha commented on #1203
@Jocs Do you want to enable this in v0.15.0? I think this should be added in v0.16.0 as it's currently not implemented (and tested). E.g. we don't have any localization yet?!

[2019-07-30 21:14] CptPotato commented on #1199
I think this is another typo:

![grafik](https://user-images.githubusercontent.com/3957610/62165856-a7acf980-b31f-11e9-8803-6ecb0951d1f4.png)

[2019-07-31 01:26] Jocs commented on #1203
Yes, it's be opened by accident, I'll disable them before release 0.15.0

[2019-07-31 01:28] Jocs commented on #1206
Thanks for your reporting this issue, this maybe fixed on the 0.15.0-rc.2, you can download it and test.

[2019-07-31 01:28] #1206 closed

[2019-07-31 01:47] SuperAllenYao opened #1207 "Has to drag images to the edit area"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step] open a file
2. [Second step] drag an image to Mark Text window
3. [and so on...]

**Expected behavior:** image inserted

**Actual behavior:** image not inserted

**Link to an example: [optional]**
It has to drag the images to the editor area, and then images successfully insert into the file.

### Versions

[2019-07-31 02:15] liziqiang opened #1208 "Command-M keyboard shortcut not working"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open MarkText
2. Press Command-M

**Expected behavior:**

The MarkText minimized to the Dock

**Actual behavior:**

Nothing happens

**Link to an example: [optional]**

### Versions

- Mark Text: v0.15.0-rc.2
- Operating system: macOS Mojave 10.14.6

[2019-07-31 02:16] liziqiang commented on #1205
same here!

[2019-07-31 02:17] liziqiang commented on #1207
expect this feature too~

[2019-07-31 02:54] Jocs commented on #1207
@liziqiang The new version will support drag and insert image before/after paragraph.

[2019-07-31 03:24] Jocs commented on #1204
It's not implemented yet, I think this maybe use another preference option to set source code font size?

[2019-07-31 03:27] SuperAllenYao opened #1209 "Editor area settings were not effect immediately after set."
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. preference-->Editor
2. editor area width setting
3. set any *px

**Expected behavior:** editor area width change immediately and display

**Actual behavior:** not thing changing

### Versions

- Mark Text: 0.15.0 -rc2
- Operating system:  macOS 10.14.6

[2019-07-31 04:51] escape0707 commented on #1199
PR created.

[2019-07-31 10:34] liziqiang opened #1211 "Option to hide "opened files" in sidebar"
### Describe your feature request

Every time I click a different file in sidebar, "Opened files" gets longer because another file is opened. And I have to move longer distance to click another file. I think this behavior is annoying.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-07-31 10:52] Jocs opened #1212 "The format box is not at the center of selection"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Write some text,
2. Select some text to make the format tool box shown

**Expected behavior:**

The format float box shown at the center of selection.

**Actual behavior:**

![屏幕快照 2019-07-31 下午6 51 44](https://user-images.githubusercontent.com/9712830/62206389-468b3180-b3c4-11e9-9857-c844c68566e4.png)

**Link to an ex

[2019-07-31 10:55] Jocs commented on #1211
![屏幕快照 2019-07-31 下午6 54 40](https://user-images.githubusercontent.com/9712830/62206567-b3063080-b3c4-11e9-911a-96ba4f422344.png)
How about just fold it?

[2019-07-31 13:28] SuperAllenYao commented on #1204
I think the font size setting affect to the all mode it will be better😂. because when I set the font size I want the all mode display the same size what I set.

[2019-07-31 13:35] Jocs commented on #1204
@SuperAllenYao the source code mode is different from preview mode, Because preview mode different block has different font size, for example, the header 1 is bigger than normal paragraph, so we need another option to set the source code mode's font size.

[2019-07-31 13:37] #1199 closed

[2019-07-31 15:39] fxha commented on #1208
@Jocs @liziqiang `Cmd+M` for minimizing is deprecated due math shortcut. Please see [here](https://github.com/marktext/marktext/blob/669918bda2c0d0784c06e7dffec56f9848344ba4/src/main/keyboard/shortcutHandler.js#L94). We would need to remap the math shortcut.

[2019-07-31 15:45] fxha commented on #1207
The problem with "just" insert an image is the position we should insert the image. The current solution as of v0.15.x is to allow the user to select a paragraph to insert to while dropping. Another option would be the last cursor position but inline images are currently not supported (#1094). I think the current solution is currently sufficient?

[2019-07-31 15:48] fxha commented on #1204
@Jocs I would say we should move the code font setting below the preview ones. Was there any reason to insert the settings in different positions?

[2019-07-31 15:49] SuperAllenYao opened #1218 "Cursor incorrectly located when delete the content after <br> in the Table."
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Typing some content into the Table
2. Press shift+enter typing some contents follow the <br>
3. Deleted the contents that you typed after the <br>.

**Expected behavior:** cursor stay behind the <br>

**Actual behavior:** cursor incorrectly located in the current  line

**Link to an example: [optional]**

[See this Vid

[2019-07-31 15:54] #1181 closed

[2019-07-31 16:00] #1212 closed

[2019-07-31 16:02] Jocs commented on #1204
Good idea, no other reason.

[2019-07-31 16:06] Jocs commented on #1207
At present, it is enough, because we now have the image on `block` display instead of `inline`. After adding the inline image, add the drag and drop to insert it into the specified cursor.

[2019-07-31 16:14] #1203 closed

[2019-07-31 16:44] #1205 closed

[2019-07-31 16:47] #1209 closed

[2019-07-31 18:28] #1208 closed

[2019-07-31 18:32] fxha commented on #1128
@Jocs I guess that this is an issue with our RegEx because we extract the heading text for the preferred filename from an code block like in #1150:

[2019-08-01 01:19] Jocs commented on #1128
@fxha Can you reproduce this bug now?

[2019-08-01 04:29] Jocs commented on #1049
@fxha This seems fixed?

[2019-08-01 04:30] #1049 closed

[2019-08-01 06:09] liziqiang commented on #1211
fold it can avoid this, but i prefer an option to hide it.

[2019-08-01 06:12] #1068 closed

[2019-08-01 06:37] Jocs commented on #961
@jojuniori How do you reproduce this issue?

[2019-08-01 06:48] Jocs commented on #1136
@fxha I think we need to add a `\\` before `|` if user didn't write a `\\`.

[2019-08-01 07:12] lukasszz opened #1221 "RST support"
It would be nice to have the [reStructedText](http://docutils.sourceforge.net/rst.html) support.
Writing the documentation in [Sphinx](http://www.sphinx-doc.org) would be a pleasure.

[2019-08-01 10:29] keito940 opened #1223 "TOML Syntax Highlighting"
### Describe your feature request

It doesn't seem to support TOML syntax highlighting, so please do it.

[2019-08-01 11:33] Jocs commented on #1223
Could you please give more info about TOML syntax, or show me some link which I can follow.

[2019-08-01 14:44] jojuniori commented on #961
It's been too long. I don't remember.
And it's an issue submitted automatically by program.

[2019-08-02 12:47] fxha commented on #1128
No, I can't reproduce this issue.

[2019-08-02 12:49] adrienbeau commented on #1119
I came here to file this issue, only to discover it was already opened.

Creating an endless stream of empty lines at the end of the document is midly infuriating. It can be triggered all too easily (an aging keyboard battery in my case), and there is no easy way to notice these additional lines, since they are not particularly highlighted.

As an author, I do not feel in control of the editor, it

[2019-08-02 12:50] fxha commented on #1223
TOML support for code blocks was already added to the v0.15.x release.

[2019-08-02 12:50] #1223 closed

[2019-08-02 12:55] fxha commented on #1188
@N0rbert Do you mean that we should allow LaTeX outside math blocks and also in inline code? Are there any markdown standardizations? Or that we should improve the overall LaTeX function support?

[2019-08-02 13:03] adrienbeau opened #1224 "Font size settings for titles"
### Feature request description

Currently (version 0.15.0-rc.3), Mark Text has font size settings for the editor text and code block text. However these settings do not affect the title font sizes in any way. In particular, using a smaller size results in titles that look awfully big.

It should be possible to set the title sizes. Having separate settings for each title level might be too much, b

[2019-08-02 13:06] fxha commented on #1221
Thanks for opening this feature request. I think this feature is very low priority (if ever implemented) because Mark Text is (mainly) a markdown editor. We'll add a subset of reStructuredText call Markdown Extra, that is traced in #1182, so that you can use CSS/HTML attributes. Features like tables and markdown inside HTML blocks is already supported. Adding reStructuredText support would require

[2019-08-02 13:16] fxha commented on #1224
Thanks for reporting this issue. Indeed this need an improvement and the font size should affect all text content or the user should be able to control the different text sizes. You can find a zoom in/out under the `View` menu - but currently broken due an upstream issue.

[2019-08-02 13:27] fxha opened #1225 "Some menu entries doesn't work as expected"
### Description

On our latest development branch and release candidates some features like zoom in/out seem not to work as expected due an upstream Electron [issue](https://github.com/electron/electron/issues/18745). This issue tracks the upstream issue.

**Confirmed menu entires:**

- `zoomIn`
- `zoomOut`

### Versions

- Mark Text: development branch and v0.15.x releases
- Operating system: Lin

[2019-08-02 13:59] N0rbert commented on #1188
@fxha thanks for reply. The inline math is already supported, but math blocks (as shown above) are not supported. You can install [ReText](https://github.com/retext-project/retext) to get the taste of what I mean. This project [uses MathJax](https://github.com/retext-project/retext/wiki/Math) extension to show equations.
I have tested many markdown editors and I see that yours is the best alternat

[2019-08-02 14:28] adrienbeau opened #1226 "Changes in Source Code Mode get lost sometimes"
### Description

Sometimes (several times today), the application is in such a state that changes in Source Code Mode are lost when switching back to normal mode.

- [ ] Can you reproduce the issue?

### Steps to reproduce

The issue is hard to reproduce reliably. However, I have been able to trigger it several times today.

1. Trigger the issue (maybe by opening the Preferences, I'm not sure)
2.

[2019-08-03 12:12] fxha commented on #1226
I guess I missed something when fixing this/similar issues like this (PR #881).

[2019-08-03 12:22] fxha commented on #1188
reStructuredText and Markdown are to different markup languages (#1221). We currenlty using `$ ... $` for inline math and double `$` for display math:

[code]

A table of all supported functions can be found [here](https://katex.org/docs/supported.html).

@Jocs I guess we need a end-user documentation with all supported features, notation etc.

[2019-08-03 12:48] Jocs commented on #1188
Yes, we can add user document in the official website, this will be done maybe in the v0.17.0. I think it maybe include bellow parts.

1. Quick start
2. How to use some markdown syntax in Mark Text
3. Advanced features, custom themes, upload image settings, etc.

[2019-08-03 12:56] Jocs commented on #1225
On the macOS system, this feature seems to have no effect from implementation to the present.

[2019-08-03 15:38] N0rbert opened #1228 "Support of *.Rmd file extenstion is needed for compatibility with RMarkdown files"
### Describe your feature request

There is a well known Markdown dialect named RMarkdown. Its file extension is `*.Rmd`.

### What problem does this feature solve?

Allow to open and edit `*.Rmd` files with MarkText.

### Additional context [optional]

Info about RMarkdown is available on RStudio site - https://rmarkdown.rstudio.com/ .
I'm asking only for enabling this file extension in [openFile

[2019-08-04 13:17] #961 closed

[2019-08-04 13:20] #1226 closed

[2019-08-04 13:22] #1136 closed

[2019-08-04 20:12] fxha commented on #1228
I think we can easily support the R Markdown extension but only wrap the R code parts in code blocks.

- [R Markdown "spec."](https://rmarkdown.rstudio.com/authoring_basics.html)
  - [R code chunks](https://bookdown.org/yihui/rmarkdown/r-code.html)
  - [Pandoc’s Markdown spec.](https://pandoc.org/MANUAL.html#pandocs-markdown)

There are some elements that are different from CommonMark or GFM. One

[2019-08-04 20:18] fxha commented on #1225
Window zooming has been disabled in v0.15.0 due the upstream issue.

[2019-08-04 20:18] N0rbert commented on #1228
It seems that you got me wrong.
I mean to add `*.Rmd` pattern to *text* filter in *Open dialog* (along with `*.md`, `*.mkd` and so on):

![open](https://user-images.githubusercontent.com/309456/62428765-2a61fa00-b70e-11e9-8976-8c40b066e2b2.png)

Interpreting of RMarkdown is not needed.I need to simply open the `*.Rmd` with MarkText and change its contents as some other simple Mardown document.

[2019-08-04 20:43] fxha commented on #1228
I know but our markdown parser (marked.js) and muya (Mark Text's engine) don't support R Markdown - *and may throw away unsupported text blocks*. So we need to read the specification and have to check whether we need to change the parser etc. Currently (e.g. when you write R Markdown or rename the file extension) Mark Text may throw away some text elements because they might be unsupported  or eve

[2019-08-04 20:54] fxha opened #1231 "Exception when deleting code block identifier"
### Description

An exception occurs when deleting the code block identifier and pressing multiple backspace after.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a code block like below (without `\`)
2. Remove `cpp` and press multiple backspaces when your removed `cpp`

[code]

**Stack Trace:**

[code]

### Versions

- Mark Text: v0.15.0 (release draft) - commit e2bac53
-

[2019-08-05 10:08] AsierRF opened #1232 "Resources folder in the same directory as the md file that includes the image"
### Describe your feature request
In v15.0.0, you added new features for images, such as a default directory for all images.

I often organize my notes by topics in directories, therefore, each directory contains several md files related to the same topic: i.e. a book, a project, etc.

I normally create a 'resources' folder in that *topic* folder that contains the images and other resources of the

[2019-08-05 10:13] AsierRF opened #1233 "Left side bar overflows file path and name"
I noticed that if the path of the open file or the side bar are too long, they just overflow each other. See image below, the "Downloads" text is actually over the left side bar.

![image](https://user-images.githubusercontent.com/17161846/62457071-3c798200-b77a-11e9-8dc1-4f10182b852d.png)

Is this the expected behavior, or should the path text realign with the given editor area?

### Versions

-

[2019-08-05 10:31] Jocs commented on #1233
Which do you prefer?

[2019-08-05 10:46] AsierRF commented on #1233
I think the path info should be over the editor area only since it is information regarding the editor active view and nothing to do with the left side bar.

[2019-08-05 11:14] fxha commented on #1232
I think this is a duplicate of #549? We could add an option to save as custom unique directory or as `%filename%.assets/`.

[2019-08-05 11:41] AsierRF commented on #1232
My apologies, I did not find the #549, I agree it is a similar functionality. However, the #549 would create an assets folder per md file.

A way to support both ideas may be to add the possibility to add paths to store images with some keywords like %filename%, %filepath%, etc.

[2019-08-05 12:04] fxha commented on #1164
Reopening this issue because this affects all versions on Linux except the Flatpak package. The reason for this is because Electron unpack all native node modules at runtime and try to load (execute) them from the temporary directory. If this directory is mounted as `noexec` the application will crash.

I guess we can workaround by unpack the native modules during build time but `AppImage` might b

[2019-08-05 15:06] fxha opened #1236 "SUID sandbox issue on Linux"
### Description

Mark Text may not launch on Linux distros due the fact that Chromium's sandbox cannot be started on versions `>=0.15.0`. This can bypassed via `--no-sandbox` command-line flag that disable the sandbox. Currently we don't use the sandbox on the rendering process so we may safely disable the sandbox but the GPU process is also sandboxed. Disabling the sandbox in general is not a goo

[2019-08-05 16:50] fxha commented on #1164
This issue is fixed and should work in v0.15.0.

[2019-08-05 16:50] #1164 closed

[2019-08-06 08:42] adrienbeau opened #1238 "Have the native title bar style but no native menus"
### Describe your feature request

I had real usability troubles with the frameless / custom title bar style, so the "native" option is great to me. :+1: However, in that mode, I find that the hamburger menu is also replaced with old-school grey un-themed always-visible menus at the top, which is distracting.

It would be great to have an additional option (or third choice in the title bar style d

[2019-08-06 09:42] Jocs commented on #1238
Can you show us more information? What's your system? Mark Text version? and some screenshots?

[2019-08-06 09:51] AamerShareef opened #1239 "New subfolder at root folder"
### Description
When I set a default folder or open a folder in MarkText - I cannot create a new folder at the root.
Example:
-  I have a screenshot where my root folder is `Notes` which has two subfolders - `Personal ` and `Work`.
- I can create subfolders within `Personal` and within `Work`.
- I cannot create subfolders within `Notes`

Not sure if this a bug or an expected behavior, but wanted t

[2019-08-06 10:23] Jocs commented on #1239
@AamerShareef It seems a bug, I also can not create a subfolder of the root folder.

[2019-08-06 10:28] fxha commented on #1239
You have to click to an existing folder or file and then you can create a new directory at root level.

[2019-08-06 10:34] fxha commented on #1238
@Jocs The feature request is about to add an option to allow a native window without native menubar but the hamburger menu.

[2019-08-06 10:36] AamerShareef commented on #1239
Thanks for the quick replies @fxha  I can still only create folders within the "clicked" subfolder with this.
@Jocs thanks for the confirmation!

[2019-08-06 11:21] buelbr opened #1240 "Callouts (success, info, warning, danger)"
### Hi,

I've used Markdown Plus (now dead) for a while and love the coloured alerts. Please, consider to add these alerts on upcoming updates of Mark Text.

[2019-08-06 13:34] Jocs commented on #1240
What's syntax of alerts? like vuepress container https://v1.vuepress.vuejs.org/guide/markdown.html#custom-containers ?

[2019-08-06 18:53] buelbr commented on #1240
Yes, precisely like that.

[2019-08-06 19:00] buelbr commented on #176
Asciimath is much simpler than latex/katex and covers the math typing done by the majority of users.

[2019-08-06 19:43] flokno opened #1243 "Table creator refuses to create table with 1 column"
### Description

When I use the table creator to create a table with **1** column, I get 2 columns.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create table block
2. Choose 1 column

**Expected behavior:**

Get 1 column

**Actual behavior:**
I get 2 columns

### Versions

- Mark Text:
Ref: app/com.github.marktext.marktext/x86_64/stable
ID: com.github.marktext.marktext
Arch: x86

[2019-08-07 02:37] menghuu opened #1244 "opening marktext with file_name from command line does not working"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. run command in iterm2

`/Applications/Mark\ Text.app/Contents/MacOS/Mark\ Text README.md`

**Expected behavior:**

open window with README.md

**Actual behavior:**

empty file

### Versions

- Mark Text: 0.14.0
- Operating system: macOS

[2019-08-07 02:40] menghuu commented on #1244
the warning raised when run the command line

it may be helpful

[2019-08-07 10:18] fxha commented on #1243
I don't really know whether this is a bug or not because the minimum row/column count is `2`. Meaning a 2x2 table is the minimum size that we support. Are there any reasons to allow 1x2/2x1 tables?

[2019-08-07 10:30] fxha opened #1245 "Setup DEB/RPM repository"
### Describe your feature request

This issue tracks the status of DEB/RPM repository hosting via `packagecloud.io` or `bintray.com` to improve the package distribution on Debian- and RHEL-distros and update process. AUR (Arch Linux) provides multiple repositories, managed by the community. DEB/RPM repository will extend the existing Flatpak version and could be added easy to distro package manage

[2019-08-07 14:49] Jocs commented on #1201
@fxha Can you help publish Flathub package? I have published the github release v0.15.0.

[2019-08-07 14:59] fxha commented on #1201
Corrected and added missing checksums of v0.15.0 release.

[2019-08-07 15:06] Jocs commented on #1201
Is the checksum of the 0.15.0 version wrong now?

[2019-08-07 15:19] fxha commented on #1201
Yes, it *was* wrong and few checksums missing but I updated all checksums. The binaries are build against c071896 ([AppVeyor](https://ci.appveyor.com/project/marktext/marktext/builds/26507575) & [Travis](https://travis-ci.org/marktext/marktext/builds/568430374)).

[2019-08-07 15:22] fxha commented on #1201
The Flatpak package should be available in the next days. I need to patch some files so Electron 5 work in the Flatpak sandbox and do some testing afterwards.

[2019-08-07 15:33] fxha opened #1246 "Mark Text Nightly/Next"
### Describe your feature request

*Mark Text Nightly/Next* should become a test version of the latest development version that are created every day or maybe every week. This version of Mark Text contains the latest bug fixes and new features but could be unstable. Whereas Mark Text Next should be build from time to time to be more stable. At the moment we don't know whether we should only provid

[2019-08-07 17:01] fxha opened #1247 "GitHub image uploader cannot be set as default uploader"
### Description

The GitHub image uploader cannot be set as default uploader.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open settings and navigate to *Image Uploader*
2. Select GitHub and type some text in all three textboxes
3. Agree to terms and set as default uploader

**Expected behavior:**

GitHub should be selected as default uploader.

**Actual behavior:**

A notificat

[2019-08-07 17:06] stefnotch opened #1248 "Sort files within a folder by number"
### Describe your feature request
It would be great if MarkText had a "smart" sorting that parses numbers and uses them for sorting. The Windows File Manager and Typora are already capable of this.

### What problem does this feature solve? [optional]

The file `10_.md` wouldn't come between `1` and `2`.

![image](https://user-images.githubusercontent.com/10220080/62642549-4059ff80-b946-11e9-94e1-

[2019-08-07 17:34] adrienbeau commented on #1238
Exactly as fxha said. The native menu does not look good (under Windows 7, and under Linux + KDE 5). Any additional option to not have it all the time in front of me is welcome.

Alternatively, if the menu could inherit the current OS look-n-feel, or inherit the current theme, it would be fine. But I believe this is more work and more error-prone than having the hamburger menu.

[2019-08-07 17:42] adrienbeau commented on #1244
I could not reproduce this issue under Linux and the recently released Mark Text 0.15.0. I tried a filename without spaces and a filename with spaces. Both opened just fine.

More accurately my command lines were :

* `./marktext-0.15.0-x86_64.AppImage ~/Documents/test.md`
* `./marktext-0.15.0-x86_64.AppImage ~/Documents/Test\ with\ spaces.md`

[2019-08-07 17:56] adrienbeau commented on #1245
A good idea. :slightly_smiling_face: You will want to be careful about dependencies because they can differ slightly on Debian and Ubuntu if I'm not mistaken. For Ubuntu, a [PPA](https://help.launchpad.net/Packaging/PPA) may also be good idea, but this could be more manual work, and may need a volunteer.

[2019-08-07 18:01] adrienbeau commented on #1246
I suppose Mark Text Nightly and Mark Text Next would use a different configuration directory, so that they do not disturb other Mark Text installations?

[2019-08-07 18:24] adrienbeau opened #1249 "Sometimes the table of contents is not cleared after the document is closed"
### Description

When the user closes a modified file, after getting a prompt about saving the file, the table of contents in the side bar is not erased. When closing a file that was not modified (not popup dialog box), the table of contents in the side bar is properly reinitialized.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Have a folder opened in the side bar
2. Open a Mark

[2019-08-07 18:37] fxha commented on #1238
This is called client-side decorations (CSD) and is used under macOS as shown in the readme but Electron (our framework) don't support this on Linux or Windows. If you are using KDE you can use the build in CSD from KDE to move the native menu into the titlebar.

[2019-08-07 18:42] fxha commented on #1246
That's right, like `marktext` for the application and `marktext-dev` during development. All versions should be able to install  side-by-side without issues. Maybe the file association depends on the installation order.

[2019-08-07 21:13] fxha commented on #1201
Flatpak package is now available for download.

[2019-08-07 21:13] #1201 closed

[2019-08-07 23:36] Jocs commented on #1247
@fxha You also need to change to `image` tab in setting window, and select `upload image to cloud by image uploader`?

[2019-08-07 23:42] Jocs commented on #1249
@fxha Can you reproduce this issue? I remember this issue already fixed, and I can not reproduce it.

[2019-08-08 07:09] kouichi-c-nakamura opened #1250 "When I type Japanese text, use of a tab key for letter selection inserts 4 spaces"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Install Google Japanese Input to your Mac (this how I did, but I also confirmed the same behaviour with OS's default Japanese IME as well)
1. Type Japanese text on a Mac.
2. Choose a candidate of letters by pressing a tab key.
3. Then, 4 spaces are inserted to the text.

<img width="291" alt="Screen Shot 2019-08-08 at

[2019-08-08 09:37] AamerShareef commented on #1119
I was about to raise this as a bug - just saw that this has already in place. Plus one from me on this issue!
Thank you.

[2019-08-08 10:18] AamerShareef commented on #1119
Just for everyone's visibility on a work around regarding this - you can use page down and page up buttons which can enable scrolling via keyboard - but using arrow keys would be ideal! :)

[2019-08-08 10:20] theUncanny commented on #1107
I upvote this! :+1:

I just updated to version 0.15.0 and when I try the new preferences GUI to reconfigure the necessary to my taste, it's not possible to set the fonts that I like, but that it was limited to choose from a reduced and closed preset list of typographical fonts and if I try to "encircle" it by editing and adding my prefered fonts in the file (Linux based system):

- `~/.config/mark

[2019-08-08 12:32] AamerShareef opened #1251 "Cursor bug: Ctrl + right arrow key behaves odd"
### Description
Hi Team,
Found a bug related to cursor moving right using `ctrl+right key`.
The `ctrl+left key` works fine.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Have multiple lines of data with each line having multiple words.
2. Use ctrl+ right arrow key to move the cursor to different words.
3. Repeat until you reach the end of line and watch the cursor disappear to th

[2019-08-08 15:34] adrienbeau commented on #1251
Actually, the problem occurs when the document contains a **list with checkboxes**.

Without checkboxes, Ctrl-Right works fine throughout titles, paragraphs, lists, tables, etc.

However, when the cursor is at the start of the last word *before* a checkbox list, Ctrl-Right skips over the list and goes straight to the end of the document.

Similarly, as described by AamerShareef, when the cursor is

[2019-08-08 15:55] flokno commented on #1243
I wanted to create a list of things and used `table` for that. I don't see a real problem why 2x1/1x2 tables shouldn't be supported, since it's valid Markdown. Also, eventually Marktext is perfectly able to render e.g.

| test |
| ---- |
| a    |
| b    |

In any case: Being able to choose 2x1 in the table creator and then getting 2x2 is probably not a desired behavior.

[2019-08-09 07:22] ifree92 opened #1252 "Configurable maximum width for content"
Before my request, I want to say that it is **the best** markdown editor I have ever seen! Really great job, thank you, guys!

I would like to request a small feature - configurable maximum width for the content. I have an ultra-wide display and it is not so convenient to read/write content through so small width content size.
Could you please add it either configurable width in pixels in settings

[2019-08-09 07:48] spetex commented on #596
@fxha Hello, I am interested in helping with this feature, how can I get started? Are there any new contributors guideline?

[2019-08-09 08:38] ifree92 commented on #1252
Ah yes! Just had a quick look through settings and ignored that.
Thank you! Sorry for my fault

[2019-08-09 08:38] #1252 closed

[2019-08-09 13:04] Jocs commented on #596
@spetex FYI https://github.com/marktext/marktext/blob/develop/.github/CONTRIBUTING.md

if you have any question you can ask me or @fxha

[2019-08-09 16:29] N0rbert opened #1254 "Top menu bar (File, Edit, Paragraph, ...) does not react on keyboard shortcuts <Alt+...>"
### Description

It is intended that menu bar of any applications allows keyboard-only navigation.
So if user want to open ***F*ile** then `<Alt+F>` will open this menu (and so on for other similar topmenu items).

### Steps to reproduce

1. Download latest MarkText AppImage 0.15
2. Open MarkText
3. Press and hold <Alt> to get hints
4. Press <F> while holding <Alt> (for **File**)

**Expected behav

[2019-08-09 18:10] fxha commented on #1249
Yes, I can reproduce this issue. I guess the fixed one was a similar issue.

[2019-08-09 18:11] fxha commented on #1247
Yes, but that's not the problem. I cannot select GitHub uploader because the selection is never saved on disk and also not changed in GUI.

[2019-08-09 18:23] fxha commented on #596
@spetex Reading the contribution guideline is a good starting point. Unfortunately, we currently don't have good documentation but I think you should implement a VIM class that use a state machine to track input and add it to the `Muya` class. This VIM instance should controls all input like `muya/lib/eventHandler/keyboard.js` methods and allow input depending on the state. Features like `:s` may

[2019-08-09 18:29] fxha commented on #1251
I'll mark this issue as bug but it need further investigation because I can only reproduce this issue with task list text ending with a dot.

[2019-08-09 18:42] fxha commented on #1254
I never used this navigation but this seems to be an upstream issue because I cannot reproduce this in other Electon v5 or v6 applications too. I'll open an upstream issue for this later but this would also only affect the native title bar one.

What exactly do you mean by this?

[2019-08-09 18:55] fxha opened #1255 "Electron 6 upgrade plan"
- **Blocking:** Drop shadow flickering on Linux with Wayland ([upstream](https://github.com/electron/electron/issues/19699)).
- Verify features (there are many opened upstream issues about not working things).

**Breaking:**

- We need manually set `app.setAppLogsPath` to get Electron logs if needed.
- Use should use the new promise-based asynchronous dialog functions; Electron 5 dialog function h

[2019-08-09 19:02] N0rbert commented on #1254
See screencast below:

For me this is standard GUI and terminal (see Midnight Commander or Nano as examples) experience.
It exists for very long time. Electron was not yet "invented", but this functionality existed.
Typora is also Electron-based, but this feature is implemented here. You can try to find the difference between configurations...

[2019-08-10 04:08] Jocs commented on #1250
@kouichi-c-nakamura Can you show me the Google Japanese Input download link, I'll download it and test this issue.

[2019-08-10 07:58] kouichi-c-nakamura commented on #1250
Thanks for responding!

Web page is here: https://www.google.co.jp/ime/

This should be the download link:

https://tools.google.com/dlpage/japaneseinput/eula.html?platform=mac

1. After installation, select Google Japanese Input as IME.
2. Then type whatever, eg `ai`
3. Google Japanese Input will show you a list of candidates. eg. <img width="193" alt="Screen Shot 2019-08-10 at 8 55 38" src="http

[2019-08-10 12:41] liziqiang opened #1256 "shortcut for "Source Code Mode" not working"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text: 0.15.0
- Operating system: MacOS Mojave 10.14.6

[2019-08-10 12:55] liziqiang opened #1257 "Copy selected text in marktext and paste in outlook"
### Describe your feature request

Copy table in marktext and paste in outlook, the style in outlook not match the style in marktext. The behavior of Typora is exact what i need, see the attach video, don't know how to add a gif, lol...
[screenshot.mov.zip](https://github.com/marktext/marktext/files/3488835/screenshot.mov.zip)

### What problem does this feature solve? [optional]

### Additional c

[2019-08-10 15:22] RebelCoderRU opened #1258 "Updater Script, Tray Icon."
Hello.

This is amazing notes app. Any plans to add auto-updater so we don;t have to go to Github/website all the time to download latest AppImage ?

And adding a tray Icon and running it in the background would be awesome.

[2019-08-10 15:25] fxha commented on #1257
I guess Outlook doesn't support markdown. You should try to paste HTML via right click `Copy as HTML`.

[2019-08-10 15:38] fxha commented on #1096
Closing this issue because we only add markdown files to the sidebar. Other files are filtered out as of v0.15.0.

[2019-08-10 15:38] #1096 closed

[2019-08-10 15:40] fxha commented on #1146
The first question is an improvement for later. Currently the tree structure is only reloaded if you edit a heading. The second question was fixed. You may open another issue (feature request) to not change the tree view structure when editing headings.

[2019-08-10 15:40] #1146 closed

[2019-08-10 15:42] fxha commented on #1056
Closing this issue as no further information has been provided and this issue it not reproducible. Please feel free to reopen with more information.

[2019-08-10 15:42] #1056 closed

[2019-08-10 15:43] fxha commented on #1017
Closing this issue as no further information has been provided. Please feel free to reopen with more information.

[2019-08-10 15:43] #1017 closed

[2019-08-10 15:44] fxha commented on #1132
Closing this issue because this is already fixed.

[2019-08-10 15:44] #1132 closed

[2019-08-10 15:45] #1109 closed

[2019-08-10 15:47] fxha commented on #1236
Please follow the steps above if this issue occur or feel free to comment on this issue.

[2019-08-10 15:47] #1236 closed

[2019-08-10 15:49] fxha commented on #998
@Jocs Please convert the list above in a task list to track missing features.

[2019-08-10 15:52] fxha commented on #1207
What's the status of this issue. Dragging the image to an undefined position is undefined and so this is the expected behavior?! @SuperAllenYao Could you please explain what you expect when dragging the image outside the editor area?

[2019-08-10 15:54] fxha commented on #1244
@Jocs Can you please verify this issue. Maybe related to #1171?

@menghuu Is it possible to share the readme file to try to reproduce this issue?

[2019-08-10 15:56] fxha commented on #1232
Thanks for reporting this issue. We noticed that this is a duplicate of #549. You may want to subscribe there for further updates.

[2019-08-10 15:56] #1232 closed

[2019-08-10 15:58] fxha commented on #549
Please see #1232 when implementing this feature to allow both, a resource directory per markdown file and per directory, controlled by a settings option.

[2019-08-10 16:01] fxha commented on #1258
There is already a manual updater when you are using AppImage, DMG or NSIS setup. You can find this under `Mark Text -> Check for updates` on macOS or `Help -> Check for updates` otherwise. I guess the auto updater feature is a duplicate of #211 and #1245. Please subscribe there for further updates.

What are the benefits of using a system tray icon? We don't use any background task or other servi

[2019-08-10 17:38] SuperAllenYao commented on #1207
When I dragging an image to Mark-text’s window, I’ll expect the image insert into the cursor’s location.But the actual behavior is I have to drag the image to the editor area.

Sent from my iPhone

[2019-08-11 03:26] liziqiang commented on #1257
But Typora's behavior is exact what I need. Please see the attachment.

[2019-08-12 01:23] liziqiang opened #1259 "Crash when quit app(Command + Q)"
### Description

- [ ] Can you reproduce the issue?

Please see the crash log.

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text: 0.15.0
- Operating system: 10.14.6
[crash.txt](https://github.com/marktext/marktext/files/3490646/crash.txt)

[2019-08-12 01:25] liziqiang opened #1260 "Progress indicator for checking updates"
### Describe your feature request

As described in title, it's better to have an indicator for checking updates.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-08-12 11:15] gaetanww opened #1261 "File Changed on Disk at every save when file is in OneDrive"
### Description

- [x] Can you reproduce the issue? yes

### Steps to reproduce

1. Create a md file in OneDrive or Sharepoint folder
2. Write some text
3. Save (Ctrl + S)
4. Martext sends following message:
File Changed on Disk
1-N Attestation Protocol.md has been changed on disk, do you want to reload it?
5. If you click on it right away, nothing happens, if you click on it after doing some chan

[2019-08-12 19:09] fxha commented on #1207
Blocked due #1094.

[2019-08-12 19:11] fxha commented on #1257
I think we could add a `Copy as styled HTML` and apply the theme via inline style. @Jocs, what do you think?

[2019-08-12 19:22] fxha commented on #1261
Could you please set `watcherUsePolling` to `true` in `preference.json` located in the Mark Text's [data directory](https://github.com/marktext/marktext/blob/develop/docs/APPLICATION_DATA_DIRECTORY.md) and try again. I think the default watcher doesn't support network drives.

Yes that's true and need an improvement like an time stamp to not load the outdated document from disk if the user makes a

[2019-08-13 01:16] liziqiang commented on #1257
what about add an option to extend the default hehavior of Command C

[2019-08-13 01:20] liziqiang commented on #1256
sorry about that, I just realized  that the shortcut is conflict with another app. my bad, sorry again.

[2019-08-13 03:26] deathrush opened #1264 "Copying code in code blocks will lose indentation"
### Description

- [ ] Can you reproduce the issue?

### Steps to reproduce

markdown file content:

[code]

Copy the codes above in Mark Text code block to VS Code.

**Expected behavior:**

Indentation retention

**Actual behavior:**

Indentation lost

### Versions

- Mark Text: 0.15.0
- Operating system: Windows 7

[2019-08-13 03:28] deathrush opened #1265 "The last empty in code block disappear"
### Versions

Step 1: write test file bellow:

[code]

Step 2: change to source code mode and change back.

Expect

Last blank line is reserved

Actually

The last line disappear

- Mark Text: 0.15.0
- Operating system: Windows 7

[2019-08-13 09:22] gaetanww commented on #1261
setting `watcherUsePolling` to true in `preference.md` fixed the issue. Thank you very much!

[2019-08-13 09:22] #1261 closed

[2019-08-13 10:04] adrienbeau opened #1266 "Middle-click on a tab should close the tab"
### Describe your feature request

It would be nice to support the standard "middle-clic" shortcut on tabs, which closes the tab. All browsers (and many other programs) support that.

[2019-08-13 16:44] #1256 closed

[2019-08-14 02:49] #1254 closed

[2019-08-14 03:01] Jocs commented on #1265
@deathrush 为什么需要保留一个空行呢？

[2019-08-14 03:03] Jocs commented on #1264
能描述具体一点吗？从marktext 复制到其他地方？还是其他地方复制到 marktext？

[2019-08-14 03:20] Jocs commented on #1266
@adrienbeau Click what? the middle button on a mouse device?

[2019-08-14 09:04] adrienbeau commented on #1266
Yes, a mouse middle-click. On most modern mice, you can press the scroll wheel, it also acts as a button.

[2019-08-14 09:09] Jocs commented on #1266
I never use mouse, So someone can help with this feature?

[2019-08-14 14:49] adrienbeau opened #1267 "New check list items are already checked"
Mark Text supports the `- [ ]` syntax for check lists. When pressing Enter to create a new item in the list, it creates an item of the same type. If the item was checked, the new item is also checked. This is an unexpected behavior for a check list. Users expect new item to be unchecked, so they can check them at a later time.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create

[2019-08-14 16:16] Jocs commented on #1267
In fact, I am not sure which way users prefer, so we can wait for more users to participate in the discussion of this issue.

[2019-08-14 20:49] stefnotch commented on #1267
I personally usually add new items to existing lists whenever something *new* comes up.
So, I suppose I'd prefer it if they always were unchecked.

[2019-08-15 01:35] deathrush commented on #1265
因为代码快里就有这个空行

[2019-08-15 01:36] deathrush commented on #1264
从marktext 复制到其他地方

[2019-08-15 14:08] DerekSun96 opened #1268 "导出PDF文档中无法显示图片"
版本：v0.15.0
### Description

图片都是自动粘帖到md文档中的，marktext会自动保存在它默认的目录下
当导出PDF或者HTML后，打开PDF或HTML发现文档里面所有的图片都显示成了路径，而不是可见的图片

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text:
- Operating system:

[2019-08-16 04:12] Dorian-DS opened #1269 "Support for [TOC] generation"
Being able to use the [TOC] text to automatically generate a table of contents based on headers should be a feature available with Marktext.

Many other markdown editors support this, and so many documents are written with this tag.  While Marktext may have it's own sidebar TOC menu, this is outside of the document and seems messy and like an add-on.

Without this feature, the author isn't present

[2019-08-16 05:03] DutchPete opened #1270 "[SOLVED] Exporting a document"
### Description

 Export to HTML or PDF does not work.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Click on File
2. Click on Export
3. Click on either HTML or PDF

**Expected behavior:**
To get a dialogue box asking where one wants the HTML or PDF version saved, and, after selecting either of the 2, to then have that version available.

**Actual behavior:**

 Nothing happened a

[2019-08-16 05:26] DutchPete opened #1271 "Regression: paste LibreOffice Calc/Excel table as HTML table to Mark Text"
### Describe your feature request

 A table copied in Calc that is then pasted into Mark Text is embedded as an image. The request is to have the possibility to paste it as a real table that can be edited/amended in MT, rather than an embedded image as it is now.

### What problem does this feature solve? [optional]

 This means the table can be amended to suit the document it is pasted into, incl

[2019-08-16 05:31] DutchPete opened #1272 "[FEATURE REQUEST]: Foot notes"
### Describe your feature request

 Support for foot notes, which is a standard Markdown feature.

### What problem does this feature solve? [optional]

 The add ancillary info to a separate section at the bottom of a page, rather than have it in among the main text.

### Additional context [optional]

[2019-08-16 05:39] DutchPete opened #1273 "Mark Text freezes"
### Description

 From time to time MT freezes, which means the cursor does not work anymore, one cannot move the scroll bar, MT itself can only closed by terminating it in the Task Manager.

- [x] Can you reproduce the issue?

### Steps to reproduce
It cannot be reproduced, it happens at random, but regularly. It can happen when 1 document is open, or 2 or 3 or ....
Edit: I found that it happens

[2019-08-16 06:01] DutchPete opened #1274 "[FEATURE REQUEST] Preserve View setting after closing"
### Describe your feature request

 When I use MT I always set the tab bar and side bar in view because I use them actively. After closing MT and reopening it those settings are back to default, i.e. the bars are not visible and need to be reset via the menu.

### What problem does this feature solve? [optional]

 I would like the settings to remain when MT is closed, so when I open it again, the

[2019-08-16 08:19] DutchPete opened #1275 "[FEATURE REQUEST] Auto numbering for headings"
### Describe your feature request

 Each header/header type to be numbered automatically. Thus the 1st H1 header should be numbered 1.0, the 2nd H1 header should be numbered 2.0, and so on.
The 1st H2 header under 1.0 should be numbered 1.1, the 1st H2 header under 2.0 should be numbered 2.1, and so on

### What problem does this feature solve? [optional]

 Readability of a document, esp. a long d

[2019-08-16 08:22] DutchPete opened #1276 "[FEATURE REQUEST] Auto numbering for the ToC/Outliner"
### Describe your feature request

 To have the ToC/Outliner adopt the auto numbering from the text. No ToC/Outliner is complete without numbering.

### What problem does this feature solve? [optional]

 Readability & understanding of a long document with many different headers and subheaders.

### Additional context [optional]

[2019-08-16 09:58] stefnotch commented on #1275
The Markdown spec sadly doesn't seem to support numbered headings.

A similar Markdown Editor chose to let users apply their own CSS to their Markdown documents to get numbered headings http://support.typora.io/Auto-Numbering/

[2019-08-16 09:59] stefnotch commented on #1272
Duplicate of https://github.com/marktext/marktext/issues/193

[2019-08-16 10:28] DutchPete commented on #1275
I am aware of the Typora system: I use Typora. I discovered MT yesterday and was impressed by its features. It misses a few essentials for my use case, but it has a number of things it does better.

In Typora one has to create a *base.user.css* file that one has to put in the *themes* subfolder of the *.config* folder. MT does not have a *themes* folder, so I copied Typora's *base.user.css* file t

[2019-08-16 12:32] DutchPete opened #1277 "Scrolling does not work with PgUp, PgDn, Arrow Up, Arrow Down keys"
### Description

 Pressing those keys does not activate the scrolling.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a document
2. Try to use one of those keys

**Expected behavior:**

 The page to scroll up or down

**Actual behavior:**

 When using the up or down arrow the cursor just disappears off the screen without the page scrolling.
When using the PageUp or PageDown k

[2019-08-16 15:20] DutchPete commented on #1267
I agree with Adrien that & Stefnotch the new item should be unchecked.

Another issue here is that when an item is checked all the text following it is struck through, which, in my opinion, should also be for the user to decide rather than be a default setting that cannot even be changed.

My OS: Linux Mint 19.2 XFCE

[2019-08-16 15:38] fxha commented on #1269
Thanks @Dorian-DS, this was discussed in #80 and we'll support TOC only when exporting as HTML/PDF but not in the editor - at least in the near future. Please subscribe there for further updates.

[2019-08-16 15:38] #1269 closed

[2019-08-16 15:40] fxha commented on #1270
Thank you for taking the time to report this issue! Can you reproduce this issue with a simple markdown document because we cannot reproduce this issue (at least on GNOME)?

[2019-08-16 15:42] fxha commented on #1271
This is a regression in v0.15.0 and needs further investigation.

[2019-08-16 15:44] fxha commented on #1273
Duplicate of #655.

[2019-08-16 15:44] #1273 closed

[2019-08-16 15:46] fxha commented on #655
@Jocs We should disable page down/up key until this is resolved or we implemented custom scrolling for these two keys. I guess that page down/up action is manage by Chromium.

[2019-08-16 15:51] fxha commented on #1274
Persistent UI state should be available with #988. If I remember correctly, @Jocs don't wanted to add default settings for side- and title bar because the state should be saved in the session but if many user request this feature we could add it.

[2019-08-16 15:52] #1272 closed

[2019-08-16 15:55] fxha commented on #1276
Sorry, I don't really understand you feature request. Could you please give a more detailed description of the issue here? If implemented the TOC will be auto numbered like in Word or LibreOffice.

[2019-08-16 15:57] fxha commented on #1277
Duplicate of #1119 and #655.

[2019-08-16 15:57] #1277 closed

[2019-08-16 15:59] DutchPete commented on #1270
OK, I tried a small document of 116 words & just text, and indeed it works. But with a document that contains 356 words of text, an embedded image, and a table, it does not work. Are there set rules for export size & content of documents?

[2019-08-16 16:03] DutchPete commented on #1273
In issue 655 you said:

Disabling the keys is fine as a workaround, but what is not fine is to have the whole app freezing when those keys are used.

Why are this issue and #655 closed?

[2019-08-16 16:04] fxha commented on #1275
Thank you for taking the time to open this issue. Numbered headings is not a markdown standard but can be easy implemented with user styles later or added as theme settings option. Depending on demand, we'll add this feature. Please :+1: this issue if you like the idea.

Custom themes or user styles (CSS) are currently not supported and tracked in #174.

[2019-08-16 16:10] fxha commented on #1270
It should always work but perhaps there is an error while parsing and the action is aborted due this exception. You could take a look at the log files (located in the [application data folder](https://github.com/marktext/marktext/blob/develop/docs/APPLICATION_DATA_DIRECTORY.md) `logs/<year><month>/{main.log,editor-<number>.log}`) or try to reduce the issue on a text area (or email us the markdown

[2019-08-16 16:16] fxha commented on #1273
#655 is not closed but we don't really know where the error is located. I think, as a workaround we'll disable page down/up until we find the error.

The core problem is that I don't know how to debug the frozen application. In languages like C++/Rust you can use hardware debugging to step through the code but in JS/Node, a code block is executed by V8 (JS interpreter) and the application freeze w

[2019-08-16 16:17] DutchPete commented on #1276
I am talking about the Outliner as activated by the H-icon. At the moment the Outliner shows the headers and subheaders, but there are no numbers, indeed the headers in the text are not numbered either, as described in issue 1275 that I opened.

In reply to #1275 Stefnotch mentioned a .css file that can be used in Typora. I use Typora and have that file, which adds numbers to the Outliner as well

[2019-08-16 16:26] DutchPete commented on #1275
Where can I +1 this issue?

Issue #174 is quite old already; I am not interested in custom themes, what is on offer is more than adequate as far as I am concerned. Nevertheless, can you give an indication as to when **user styles** will be supported?

[2019-08-16 16:33] DutchPete commented on #1273
OK, I understand now. Unfortunately I am not a coder, I am just an enthusiastic user who is happy to have discovered Mark Text yesterday. I believe MT has great potential: one of its big competitors is Typora, one of the best in class, if not *the* best at the moment, but I believe that with a few tweaks and additional features MT can overtake Typora. Hence my enthusiastic participation with bring

[2019-08-16 16:46] DutchPete commented on #1270
That's good to know :-)

I did, there is only 1 line in it:

which was due to a freeze as per #1273.

What do you mean by:

[2019-08-16 17:43] fxha commented on #1275
Please click "+ :smile:" button in the top-right of you first post and select :+1:.

I think custom themes are planned for v0.16.0 but @Jocs know more about it and is also assigned for this topic but both of us are currently a little bit busy.

[2019-08-16 17:45] fxha commented on #1270
We need some text to reproduce this issue and identify the problem. It would be awesome if you can try to identify the problem by removing paragraphs or lines and give us a minimal example how to reproduce this issue. I guess it's some line in your markdown document that causes the problem.

[2019-08-16 18:28] AamerShareef opened #1278 "Create new file in same folder"
### Question description
How do I create a new file in same folder via keyboard shortcut?

### Example
I have a directory called `dummy` in my home/notes folder. The folder has a `test.md` file.
I start marktext with the folder. `marktext dummy`
I click on test.md from the side bar.

I enter CTL+N - A new tab opens.
I enter CTRL+S - A prompt to save file opens up - but the folder displayed is not

[2019-08-16 22:47] HannanAkbar opened #1279 "Move image to file's path (current folder)"
Move image to the folder of opened file and if the file is unsaved then move to a special folder.

Very useful if you like to keep your notes and attachments in the same directory. Easily sync the complete notes folder to a network drive or any cloud storage.

![DeepinScreenshot_dde-desktop_20190817034648](https://user-images.githubusercontent.com/5216873/63202111-b0ccf300-c0a1-11e9-8803-de904b331

[2019-08-17 00:24] Jocs commented on #1251
@fxha Me too, the cursor will go to the end of document when the checkbox ends with `.`.

[2019-08-17 00:31] Jocs commented on #1244
@menghuu @fxha Yes, I also can not open the file, it just start up Mark Text, but did not open the file with special path.

[2019-08-17 00:35] Jocs commented on #1257
It's seems a good idea

[2019-08-17 00:36] Jocs commented on #1257
@liziqiang Do you try to `copy as HTML`? is the result what you want?

[2019-08-17 00:38] Jocs commented on #1267
@DutchPete Do you have better way to indicate it checked, and not use struck through.

[2019-08-17 00:41] Jocs commented on #1271
@DutchPete What's `Calc `?

[2019-08-17 00:49] Jocs commented on #655
@fxha

Can you reproduce this on both Windows and Linux? I don't know whether I am trying in the wrong way, I can not reproduce it on macOS.

[2019-08-17 01:02] Jocs commented on #1275
Sorry! we didn't support custom CSS yet, I think custom theme will solve this problem, but now, we didn't support it yet. we'll already add the plan (add custom theme) in the project v0.16.0, so stay tuned.

[2019-08-17 01:05] Jocs commented on #1273
@DutchPete Thank you very much for your use and for your valuable comments.

[2019-08-17 01:07] Jocs commented on #1270
@DutchPete Can you send you markdown file to us or just paste it here?

[2019-08-17 01:13] Jocs commented on #1278
It seems a bug that we can not create a file in the working directory by click or shortcut too. I think right click on the folder name in the sidebar and show a new file/new folder menu will solve this problem, I am still not sure whether it's necessary to add an shortcut, because we still need to create new file in the subfolder.

[2019-08-17 01:16] Jocs commented on #1278
I can even not create new file in the subfolder by right click seems another bug, However, in the next version, we will optimize the sidebar as a whole, including lazy loading, which should solve these problems together.

[2019-08-17 01:20] Jocs commented on #1279
@HannanAkbar is it similar to #549 ?

[2019-08-17 01:40] Jocs commented on #1276
@DutchPete So it's duplicated with #1275 ?

[2019-08-17 03:07] HannanAkbar commented on #1279
Yes :+1:

[2019-08-17 03:07] #1279 closed

[2019-08-17 03:13] AamerShareef commented on #1278
Thanks ! :+1:

[2019-08-17 03:22] DutchPete commented on #1270
I believe I have found the problem: the document that I cannot export has a YAML box at the top. I tried another document with 700 words of text and hyperlinks, no YAML matter, and export went fine.

[2019-08-17 03:24] DutchPete commented on #1275
OK, thank you.

[2019-08-17 03:29] HannanAkbar commented on #549
I would add that creating a resource directory should be optional, not forced upon.
Maybe show a dialog with `<Move>` `<Move to directory>'.

Slightly cleaner and easier this way. #1279

[2019-08-17 03:31] HannanAkbar commented on #549
A quick suggestion:

Avoid messing with files/folders as much as possible. That kills the spirit of an editor and ends up in a proprietary format notepad. The best way is to give extensions for any feature which is out of scope, extra, or changes the structure, format, etc.

[2019-08-17 03:32] DutchPete commented on #1267
To have an item checked is sufficient to indicate that it is done/terminated, it normally does not need to be struck through. Nevertheless, if a user wants to see an item that's done, i.e. finished, to be checked and struck through, then for the text after the text box he can use standard markdown syntax to do it manually.

[2019-08-17 03:34] DutchPete commented on #1271
Calc is the spreadsheet app that is part of the LibreOffice suite. Calc is the equivalent of Excel.

[2019-08-17 04:27] DutchPete commented on #1276
No, it is not. I have attached 2 files:
* "outline" is the numbering that occurs in the outline in the left hand side bar
* "numtext" shows part of the corresponding text in the main panel.

This can be achieved with the css file I attached to #1275.
![outline](https://user-images.githubusercontent.com/10794265/63206594-48811000-c0a7-11e9-81be-0e30b2bb309d.png)
![numtext](https://user-images.githu

[2019-08-17 05:20] stefnotch commented on #1267
For what's it worth, I quite like that checked items are struck through.
Possible alternatives:
- Black text changes to grey text when checked
- Transparent/grey strike through

[2019-08-17 05:40] DutchPete commented on #1267
I understand that, and there will be others who are of that opinion. But is that a reason to impose the strike-through on users who don't want it?

When a check box is open, it is the user's choice whether to put a check mark in it or not. Similarly, the user should have the choice of whether the text next to the check box should be struck through or not.

As it stands currently, the user does not

[2019-08-17 09:36] adrienbeau commented on #1130
I have used those editors before choosing Mark Text.

Unfortunately [sublimeless_zk](https://github.com/renerocksai/sublimeless_zk) was abandoned very shortly after its initial development period. The author is still around, but working on other projects.

[Zettlr](https://github.com/Zettlr/Zettlr) is active, but less than Mark Text, it currently has a single developer, and a smaller community. It

[2019-08-17 09:56] DutchPete commented on #1130
@adrienbeau : very good synopsis of Zettlr. I looked at it just before discovering Mark Text. Apart from a difference in features and philosophy between the two, Zettlr is a knowledge management app, as you mention, or, to stay in the notes terminology, a note management app, whereas MT is a note-taking/editor app. And indeed, that's why MT could be incorporated in Zettlr, theoretically.

Neverthe

[2019-08-17 10:44] fxha commented on #655
Yes, I always can. Please copy the [example](https://github.com/marktext/marktext/issues/655#issuecomment-456157431) and put the cursor to the first line inside `Emphasis` and press multiple times <kbd>PageDown</kbd>.

[2019-08-17 11:32] fxha commented on #1244
I guess this is macOS only, so [here](https://github.com/marktext/marktext/blob/04480e08ae8987b50cd17e08844f742ca40635f7/src/main/app/index.js#L210) may a good start to find the issue.

[2019-08-17 11:36] fxha commented on #1278
@Jocs We could set the working directory from the file dialog to the opened root directory to solve this problem.

[2019-08-17 12:25] liziqiang commented on #1257
`copy as HTML` is not the result i want. I only past html markup into outlook but no styles apply to it.

[2019-08-17 12:33] fxha commented on #1264
@Jocs  Duplicate of #942?

[2019-08-17 19:53] Dorian-DS commented on #80
The GFM should be considered minimal requirements, not maximum allowed.  Additional features will not harm its use.  There are other additional features in Marktext that are not part of GFM so I don't see why this can't be an editor feature.  The sidebar navigation feels very much like an addon and removes the clean interface of seeing only the document itself how the author intended.

[2019-08-18 01:37] cunyu1943 opened #1284 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-08-18 03:36] DutchPete commented on #80
I certainly do NOT agree with that, and it definitely does NOT remove the clean interface: the width can be set by the user. The sidebar navigation is a very useful feature and the devs have done a very good job implementing it.

What's more, for those who do not like the side bar or temporarily do not need it, they can turn it off in the menu, *View*, *Toggle Side Bar*.

[2019-08-18 07:22] DutchPete opened #1285 "Mark Text crashed"
### Description

 MT crashed/stopped working

- [ ] Can you reproduce the issue?  I don't understand how it happens

 this is not related to #1273 because I tried PgUp and PgDn in a 1500 word document - no problems.
I have attached to log files.

### Versions

- Mark Text: 0.15.0
- Operating system: Linux Mint 19.2 XFCE 64-bit
[editor-1.log](https://github.com/marktext/marktext/files/3512776/edito

[2019-08-18 07:30] DutchPete opened #1286 "What is Aidou ?"
### Question description

 Aidou is part of the General settings in Preferences: what is the effect of enabling it?

[2019-08-18 10:14] fxha commented on #1285
Thank you for taking the time to report this issue. We cannot reproduce this issue without steps to reproduce or a description, please provide some steps or how the error occurred. Please don't use <kbd>PageDown</kbd> or <kbd>PageUp</kbd> until #655 is fixed. The only saved error is that you or your system killed Mark Text multiple times.

[2019-08-18 12:10] DutchPete commented on #1285
@fxha : I try not to use <kbd>PgDn</kbd> or <kbd>PgUp</kbd>, but sometimes I forget :-((
As for this latest crash, I don't know what I did, but MT froze, so I had to terminate all the MT processes with `killall marktext`. And, as you can see from the log files, it happens regularly, which is very annoying, so it is something that needs fixing urgently.

[2019-08-18 13:52] fxha commented on #1285
We need a way to reproduce the issue otherwise it's hard/impossible to fix the issue.

[2019-08-18 15:49] DutchPete commented on #1285
@fxha : I understand that. I tried to reproduce it but could not, even by pressing <kbd>PgUp</kbd> or <kbdPgDn</kbd>, it so happened that these keys did not cause it. Nevertheless, a good hour later I pressed the <kbd>PgUp</kbd> accidentally and MT froze again.

So perhaps those 2 keys are responsible, though not all the time. I think if that key issue gets fixed you'll see many fewer cases.

[2019-08-18 16:41] DutchPete opened #1288 "[FEATURE REQUEST]: keyboard shortcut CTRL+PgDn/PgUp"
### Describe your feature request

 I use keyboard shortcuts a lot, and one I use regulrarly is <kbd>CTRL+PgUp</kbd> and <kbd>CTRL+PgDn</kbd> to change from 1 tab to another.
I know the PgUp and PgDn issue has to be fixed 1st.

BTW, is there a keyboard shortcut to open the menu?

### What problem does this feature solve? [optional]

 work flow efficiency.

### Additional context [optional]

[2019-08-18 19:19] fxha commented on #1288
Duplicate of #1124.

[2019-08-18 19:19] #1288 closed

[2019-08-19 10:35] Jocs commented on #1286
![1566210764927](https://user-images.githubusercontent.com/9712830/63258947-c44da900-c2af-11e9-912f-5c67f2b9c9c0.jpg)

The aidou is mainly used to insert some interesting pictures. Chinese people like to add some interesting pictures to chat or blog, so this function is added. When enabled, there will be an Aidou menu item in the Edit menu.

[2019-08-19 10:50] #1266 closed

[2019-08-19 10:52] Jocs commented on #1278
@fxha Sorry, I didn't get you point, can you explain more detail?

[2019-08-19 11:06] #1124 closed

[2019-08-19 11:07] Jocs commented on #1264
Duplicate of #942, and be closed.

[2019-08-19 11:07] #1264 closed

[2019-08-19 11:10] #1284 closed

[2019-08-19 11:57] fxha commented on #1278
We could set the dialogs `defaultPath` property to the absolute root directory that is currently opened in Mark Text, so that the dialog default location is the Mark Text root directory.

[2019-08-19 12:04] fxha opened #1289 "Rendering improvements needed"
### Describe your feature request

We should only render the visible screen area and a bit more but not the full HTML document. I think virtual DOM can help with this, so larger documents could be edited without lags. [Atom](https://blog.atom.io/2017/06/22/a-new-approach-to-text-rendering.html) has written a blog post about it.

[2019-08-19 12:05] stefnotch commented on #216
It seems like this broke again in the latest Marktext update

To reproduce:
1. Switch to a non-US keyboard layout like the French AZERTY keyboard layout.
2. Shortcuts like `CTRL+A` and `CTRL+Q` don't work as expected, because the keyboard layout remapped them.

[2019-08-19 12:09] fxha commented on #216
@stefnotch I didn't tested this on AZERTY keyboard but on a German (`Ctrl+Z`) works fine. Do you switched keyboard layout when Mark Text is not running? We have currently no runtime support to switch keyboard layouts.

[2019-08-19 12:18] fxha opened #1290 "Looking for contributions, developers and maintainers"
We recently hit 11k stars after almost two years and more than 1000 commits. We are looking for further contributions to continuous improve Mark Text. Mark Text is a hobby project created by @Jocs and later I (@fxha) joined this awesome project. We both love this project but our time is also limited to maintain and develop Mark Text. There are a lot of thing to do that Mark Text becomes a stable b

[2019-08-19 12:23] fxha commented on #1290
However, this doesn't mean that Mark Text is unmaintained but @Jocs and I are currently a little bit busy. Big changes and features cannot be expected during the next month and following month and also issues processing may take some time.

[2019-08-19 12:26] DutchPete commented on #216
@stefnotch : `CTRL+A` works fine on Linux Mint 19.2 XFCE and Typora 0.9.75 with a QWERTY GB-keyboard.

[2019-08-19 13:02] DutchPete commented on #1290
@fxha

1 thing that would also help easy customisation is a user css file. Every user can then customise MT to his own taste, within limits of course. Certain browsers have this (e.g. Firefox), and apps too (e.g. Typora). The latter also has a themes folder where the user can add downloaded themes or insert themes he/she made himself. VNote has an ini file that can be edited by the user.

[2019-08-19 13:13] stefnotch commented on #216
@fxha
I switched to the French keyboard before starting Mark Text and was still able to reproduce this issue. I can also reproduce the issue with a German keyboard. Pressing `Ctrl+Z` on a German keyboard results in Mark Text *re-doing* the action instead of undoing it.

OS: Windows 10
Version: Latest published Mark Text version

[2019-08-19 13:14] Jocs commented on #1278
@We didn't have a `new file` shortcut? maybe it's necessary to add one.

[2019-08-19 13:26] Jocs commented on #1290
@DutchPete Maybe we might do better, we can download the theme and plugin you want directly in the app, similar to VSCode, uninstall it when you don't need it, you don't need to manually copy and paste it.
For plugins, what we can think of at the moment is to support storage to google drive, one drive, etc., or to add plugins such as `vim shortcuts binding`.

[2019-08-20 03:16] xgdgsc opened #1291 "AppImage not creating desktop files"
Ubuntu16.04下0.15的AppImage怎么不提示新建desktop了, 0.14的旧的desktop在gnome shell里搜索不到，启动marktext也不能favorite到dock ， 删了desktop文件0.15也不提示新建

### Description
- [ ] Can you reproduce the issue?

### Steps to reproduce

1.  run appimage of 0.15

**Expected behavior:**

Prompt to integrate with desktop and .desktop file is created in user home .local

**Actual behavior:**

Nothing happens with desktop integration an

[2019-08-20 05:02] Sparsa opened #1292 "Emacs key binding"
Will it be possible to allow emacs style keybinding in this amazing app?

[2019-08-20 13:22] DutchPete commented on #1291
@xgdgsc : right-click on the AppImage icon in its folder, in the context menu click on *Send to*, then choose *Desktop (create link)*. There will be a shortcut on the desktop. This how it works on Linux Mint XFCE, I imagine there is a similar possibility on Ubuntu. Isn't that enough?

[2019-08-20 14:10] xgdgsc commented on #1291
Thanks. I' m using another machine with ubuntu 18.04 and KDE now with same issue. Dolphin doesn' t have this send to option. From my own electron experience it might be related to some packager of electron.

[2019-08-21 04:15] yort-feng opened #1293 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.17763 (win32)

[2019-08-21 06:54] menghuu commented on #1244
Hi, here is the full command i try to open a file from terminal

[code]

it open with an empty file

[2019-08-21 16:28] ptheod opened #1294 "Incorrect parsing of multiline comments inside `cpp` and `c` language code fences"
### Description

The multiline comments inside code fences of `cpp` or `c` languages are not parsed correctly. Specifically the first line of such comments is correctly greyed out but subsequent lines are colorized like normal code.

### Steps to reproduce

Insert the following text in a blank document:

[code]
    return

**Expected behavior:**

The words `return` in lines 2 and 3 should be grey

[2019-08-22 14:02] mwesterhof commented on #596
Just to chime in an fxha's comment;

As a self-confessed vim-lover, I'd be absolutely thrilled to see even a very basic support for modal editing added to marktext. Having a full feature set would be amazing, but even just having the ability to switch between normal/insert/[visual] modes, and some basic motions, would be a game changer for me. I know I can't speak for everyone else, but i'm sorry

[2019-08-22 15:28] spetex commented on #596
Yes, that is my plan. I am starting with just a small feature set to get going. Although it is going to take me some time as I am now trying to read through the code and learn how it works first.

[2019-08-23 07:19] forgethub commented on #372
期待vim功能，应该有很多vim控和狂热爱好者

[2019-08-25 05:38] kunggom commented on #1044
I just installed this app and found the same problem. The screenshot below shows a mix of where applied and not applied bold text should be applied.
<img width="752" alt="스크린샷 2019-08-25 오후 2 29 55" src="https://user-images.githubusercontent.com/32009637/63645987-22add800-c745-11e9-89a6-bb285dd274b0.png">

[2019-08-26 10:34] DutchPete opened #1296 "[QUESTION]: Fonts: Open Sans and Noto Color Emoji"
### Question description

  In the preferences of Mark Text Open Sans is the default font. Yet, on a document with emojis, the latter are rendered in color, which suggests the Noto Color Emoji font is used.

On [Linux Uprising](https://www.linuxuprising.com/2019/08/mark-text-markdown-editor-0150-adds-gui.html) it is stated:

So, my questions are:

- which is the default font?

- how do you get the

[2019-08-26 18:14] cbertelli opened #1297 "Linked images are not rendered"
Linked images do not work as expected.

See the comparison between Typora and Mark Text:

![Typora and MarkText](https://i.imgur.com/YEHrZlZ.png)

Here is the relevant markdown text:
[code]

[2019-08-27 14:11] qingant opened #1298 "export pdf with styles"
Export  pdf with current editor styles。Now it exports pdf with no styles which looks bad and limit mark text as a book writing tool.

[2019-08-28 01:17] iansannar opened #1299 "Fallback emoji characters on Windows 10"
### Description
Some emojis from earlier unicode standards display as black-and-white fallback characters instead of their emoji glyphs. The following emoji are the specific ones I am having trouble with (but are not the only ones affected): ❄, ☣, ☠. They render properly in both notepad and chrome.

- [x] Can you reproduce the issue?

### Steps to reproduce
1. Open Mark Text
2. Insert any of the s

[2019-08-28 03:09] Jocs commented on #1297
It's seems that Mark Text can not render this image `![Build status]
(https://ci.appveyor.com/api/projects/status/dpc0Oditjn04ylw6y?svg=true)`, NOT due to it's a link image.

[2019-08-28 14:46] DutchPete commented on #1299
@iansannar : the answer to this issue could be dovetailed with my question in issue #1296.

[2019-08-28 20:47] pykong opened #1304 "Tidy markdown"
I really like to see my markdown **prettified**.
This could either happen on any change or on save.

A common package providing the functionality is:
https://github.com/prettier/prettier

[2019-08-31 21:28] seamyb88 opened #1305 "Debugging Export"
### As mentioned in another issue, exporting to pdf hangs with no feedback as to the error.

I would like to contribute to the project (it's really good) and this is the issue which I would like to see resolved, so I will try to if you allow it? Perhaps a terminal-type error logger which spits out the latex issues etc.

Full disclosure, I'm a c/python/bash/ruby programmer who's never used js, so I

[2019-08-31 21:59] Illyism opened #1306 "Search input searches on keypress instead of on enter key"
### Describe your feature request

The search bar should perform searches on every key press.
Not only when pressing enter.

### What problem does this feature solve?

- You have to press enter to search.
- Bring up results faster for partial text.
- Feels more fluid

### Additional context [optional]

https://www.loom.com/share/155aad2d9ae24839ae79eb447b570c67

[2019-08-31 22:12] Illyism commented on #1306
What is the reason this was on enter? Is the search slow? If so, does it happen with large files or with large directories?

[2019-09-01 01:33] Jocs commented on #1305
First, thanks for you are willing to contribute to Mark Text, yeh, you are welcome to contribute to Mark Text. but which issue you want to solve?

[2019-09-01 01:54] Jocs commented on #655
@fxha I still can't reproduce this, it's maybe only on Windows and Linux systems?

[2019-09-01 14:19] Illyism commented on #1306
Merged in #1307

[2019-09-01 14:19] #1306 closed

[2019-09-01 14:25] Illyism opened #1309 "Copy-pasting a valid link results in the content (span) of the link to be the page title instead of the URL"
### Describe your feature request

When journaling or writing and referencing some article, it will be a lot easier to copy and paste links if they automatically form into the title of the page instead of the URL.

This way you don't have to give a proper name to the link right away and you can keep typing.

### Example

Current behaviour:

[code]

Improved behaviour:

[code]

[2019-09-01 14:28] Illyism commented on #1304
For reference, an example can be found in the [prettier playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAJOBDAJnATgHSgF4TTDCB9AGQggGsAaCgAkh2YCMAbCMOgZ2YZccZgDMIuALYYY8LMwBUMWgEJF5KAAMdzAFb9CYgK5QwMAJbRmFnLAswAngAoAHgEpmwZiJjHcUMyuzAC+hDpamgAKFjwwAD4Agha4AA6SCagQ-oZQALR58UgFSPElhABSEAAWgQAiEHDxAMoA0gDi8QCMAMw9AByVGFCiAEqN8RUAYq3xPV0ALJp5zCtrqxvrW5ubmgDUzFQW-DCEzAcA7g7VQswA2lwWUHQAusz

[2019-09-01 15:02] xjnotxj opened #1310 "Whether it is "copy" or "copy as markdown", The content in the code block, the newline is invalid."
### Description

- [ yes ] Can you reproduce the issue?

### Steps to reproduce

1. ”ctrl + a“ , select the entire article
2. Whether it is "copy" or "copy as markdown", The content in the code block, the newline is **invalid**.
3. But，in ”source code mode”<br>Whether it is "copy" or "copy as markdown", The content in the code block, the newline is **not invalid**.

**Expected behavior:**

[code]

[2019-09-01 15:28] Illyism opened #1311 "CTRL/CMD+SHIFT+F opens sidebar and focuses on "search in folder""
### Describe your feature request

- You have CTRL/CMD+F now to start search in the current file
- We could add a keyboard shortcut to search through all files
- When a word or sentence is selected it should pre-fill the search query with the selected text

[2019-09-01 21:04] stefnotch opened #1313 "URL Encode images"
### Describe your feature request
It would be great if Marktext (optionally) URL-encoded images so that the Markdown documents can be put online without issues. This is especially an issue when an image has spaces in its name.

[code]
### What problem does this feature solve? [optional]
Markdown documents with images will work on GitHub without any broken images

### Additional context [optional]

[2019-09-02 08:46] KancerEzeroglu commented on #1290
Hi @fxha ,

I would like to contribute to your project. I'm a software developer and I have frontend and backend skills. Where should I start? :)

[2019-09-02 09:58] Jocs commented on #1290
@KancerEzeroglu Thank you very much for your willingness to contribute code to Mark Text. You can look at the issues labeled as bug, try to solve them, and submit the PR.

If you encounter any problems in the process, you can discuss them in issue or PR.

[2019-09-02 09:59] Illyism opened #1315 "Migrate to Jest"
### Question description

Is there any particular reason this project is not using Jest?

- It would simplify unit tests for vue
- Coverage, config is simpler
- I would move the tests to be closer to the file; eg in a __tests__ folder in the same directory
- There seem to be solutions so far for running electron in jest

[2019-09-02 10:05] Jocs commented on #1315
No, I also prefer use Jest, but this priority is not very high relative to other issues, so we have not had time to optimize.

PR is welcomed if you can help with this.

[2019-09-02 10:05] Illyism commented on #1315
I'll take a look in the next few days

[2019-09-02 10:19] Jocs commented on #1309
This is a good feature, it will improve the user experience very much. as much as I see, the link need to be a html page.

PR is welcomed.

[2019-09-02 10:35] Jocs commented on #1304
@pykong is there any syntax error when save the markdown file? So you want to prettify the markdown.

[2019-09-02 10:38] Jocs commented on #1311
Another point to note is that if there is no opened folder, this shortcut needs to be disabled and the menu item will be grayed out(disabled).

[2019-09-02 11:12] Illyism commented on #1311
Also, the search keyword is reset when the *search container* is mounted. I think this should be remembered in vuex / storage.

And the input should get focus and the value should be selected.

[2019-09-02 11:39] retrography opened #1316 "Highlighting Pandoc style citations"
### Describe your feature request

It would be great if MarkText would be able to highlight Pandoc-style citations.

### What problem does this feature solve? [optional]

Makes the editor much more adapted to scientific writing.

### Additional context [optional]

Many other Markdown and code editors support that. I am not asking for completion or rendering at this stage. Color-coding is already a

[2019-09-02 11:41] retrography commented on #1304
Very nice idea. Specially for complex structures like tables.

[2019-09-02 11:59] Jocs commented on #1304
But Mark Text already do the table beautify when save markdown file.

[2019-09-02 12:23] pykong commented on #1304
I like to have my whole markdown prettified not just the tables.

[2019-09-02 12:24] DutchPete commented on #1304
Mark Text is gorgeous as it is.

[2019-09-03 05:39] allegrofb opened #1319 "windows 10 failed"
### Description

- [ ] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text:
- Operating system:

marktext-0.15.0-x64-win.zip

![Untitled](https://user-images.githubusercontent.com/1701019/64146640-4c0aea00-ce50-11e9-9b58-8a818a1ecfc9.png)

[2019-09-03 05:47] allegrofb commented on #1319
I am wrong, it can run, just open file.

[2019-09-03 06:08] allegrofb commented on #1319
it's different with home page 'screenshot'

[2019-09-03 20:20] thegamerx1 opened #1320 "How to change theme"
### Question description

this

[2019-09-04 01:25] GitPlayB opened #1321 "UNDO malfunction"
### Description

Most of the time I can not undo actions like I want to.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Input something
2. Undo several steps with Ctrl+Z
3. Sometimes work, sometimes fail for Ctrl+Z
4. Never accomplish "undo" undo(Ctrl+Shift+Z)

**Expected behavior:**

undo actions normally

**Actual behavior:**

can not undo normally

### Versions

- Mark Text: 0.

[2019-09-04 21:02] #1320 closed

[2019-09-05 04:34] tongphe commented on #1311
I also recommend using ESC to unfocus search box and focus back on file sidebar/tab

[2019-09-05 17:54] MjrHangover opened #1324 "Error with text input"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a line structure in text, but use 3 '*' instead of 3 '-' and start newline like normal.
2. cursor doesn't drop down, line doesn't draw out.
3. can't right click for menu; can't format anything.
4. save & exit to get it to work again or ctrl-z before '*'

**Expected behavior:**

Either draw the line with '*' or e

[2019-09-06 07:57] DutchPete commented on #1324
I am using MT on Linux. Normally putting 3 "-" results in a solid line. In MT it results in a dashed line, so does the use of 3 "*". A solid line is what is needed.

[2019-09-07 01:19] Yansongsongsong opened #1327 "define the branch that github uploader uploads to"
### Question description

Hi, this app is sooooooo amazing! but i missed some question when i was using it. If anyone can help me, i will very appreciate it~

I dont know how to define one customized branch to let github uploader auto-upload pics.
Is there any setting to make it possible?

[2019-09-07 02:43] Jocs commented on #1327
@Yansongsongsong I think you need create a new GitHub repo, not just a branch, you can see this doc https://github.com/marktext/marktext/blob/develop/docs/IMAGE_UPLOADER_CONFIGRATION.md

[2019-09-07 02:54] Yansongsongsong commented on #1327
@Jocs Actually, yes, i create both new repo and new branch. because i use one repo to store different files. one branch stores pics and another stores binary files...
so...

BTW, i have added feature for it. pls check my PR

[2019-09-07 08:32] stefnotch commented on #1321
I also have this issue

[2019-09-07 08:39] stefnotch commented on #1321
@fxha  Regarding the keyboard input, wouldn't it be easiest to just listen for `keydown` events and use
`event.key` for text input
`event.code` for keyboard shortcuts

[code]

[2019-09-07 08:51] DutchPete opened #1329 "[FEATURE REQUEST]: copy table as table"
### Describe your feature request

 When I copy a table from Excel and paste it into MT while MT is in *Source Code Mode*, I would like it to be copied with the borders, so that it looks like a proper table in the *Editor* mode.

### What problem does this feature solve? [optional]

 Currently pasting while MT is in *Source Code Mode* does not paste the borders, so in *Editor* mode it does not loo

[2019-09-09 10:00] Jocs opened #1331 "Change paragraph to task list but the menu item is wrong"
### Description

Create a paragraph, and change it into a task list by the front memu, it became a task list, but it still show bullet list in the `paragraph menu`.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a paragraph
2. Change it into `task list` by front menu.
3. Check it in the `paragraph` menu.

**Expected behavior:**

The paragraph menu item - task list is checke

[2019-09-11 08:05] Ir1d commented on #1107
Hi, any update on this? Really looking forward to use custom font instead of those ones.

[2019-09-11 08:09] Ir1d commented on #1248
+1 on this, it might also be a good idea to enable an option for sorting the files based on edit date.

[2019-09-11 08:42] Ir1d commented on #1107
@theUncanny I managed to build marktext with Fira Code supported:
1. append "Fira Code" in `src/renderer/prefComponents/editor/config.js`
2. append "Fira Code" in `editorFontFamily` in `src/main/preferences/schema.json`

[2019-09-11 09:10] EULIR opened #1336 "Delete unintended content when <> exists"
### Description
When I have a passage like this
[code]
And I tried to delete content from the very beginning by pressing the delete key when the cursor is at the front. However, instead of deleting content word by word as intended, it deleted the first <> and the skip the first parapragh and started to delete the second paragraph.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [Fi

[2019-09-12 03:49] shlinym opened #1337 "image is missing if change to source code mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step] in normal mode, paste an image from clipboard, image show normally.
2. [Second step] after paste, change to source code mode immediately, it show
[code]
3. [and so on...] cancel source code mode, change to normal mode, image missing,
![image](https://user-images.githubusercontent.com/10113087/64752728-2fa7

[2019-09-12 03:51] shlinym commented on #1337
but if I change to source code mode after a few seconds in second step, image is not missing.

[2019-09-12 04:47] Ir1d commented on #641
What about saving the tags in the meta part of markdown files:

[code]

Honestly I'm not sure what's the difference between a markdown editor and a note-taking app.
Perhaps the gap can be filled by plugins (#375 )

@fxha I propose to reopen this issue, it would be great if tags can be parsed and maintained

[2019-09-12 04:51] Ir1d commented on #1321
I can reproduce

[2019-09-12 17:47] Ir1d opened #1338 "zoom image when clicking"
### Describe your feature request

Zoom in the image (in a new window?) when clicking on the image.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-09-13 01:30] #1338 closed, assigned to nobody

[2019-09-13 07:12] stefnotch commented on #216
@fxha :
<details>
  <summary>Here is a dump of a French keyboard layout where I can reproduce the issue (spoiler) </summary>

[code]
</details>

This is how I added it (Windows Settings Screenshot):

![Windows Settings Screenshot](https://user-images.githubusercontent.com/10220080/64843821-67bb8080-d606-11e9-862e-21fe132df028.png)

<details>
  <summary>And here is a dump of my customized (Colemak)

[2019-09-13 07:38] Jocs commented on #641
Do you mean use extra files to store the `meta part.`? or just the front matter?

[2019-09-13 07:40] Jocs commented on #1338
Thanks, it maybe a bug, I'll take a look and you can make a new issue to follow this problem.

[2019-09-13 09:27] shlinym commented on #1337
using option:

insert absolute or relative path of image, and I choose a local folder.

[2019-09-13 13:02] laemongrass opened #1340 "Email Link on Website Is Incorrect"
### The email link is written as **ransixi@gamil.com** instead of **ransixi@gmail.com**.

_What it says on the website:_
![Annotation 2019-09-13 225843](https://user-images.githubusercontent.com/53713662/64864481-89eee600-d67a-11e9-8f2d-a1a7195417b2.png)

[2019-09-13 13:07] fxha commented on #1255
I guess if this is not resolved before the next stable release.

After you replaced `electron-rebuild` with `electron-builder install-app-deps` I cannot longer rebuild/build/launch Mark Text on Windows due an access denied error during `rebuild` and dependency installation phase. Do you have an idea why? I did not change anything on my system and also updated all components after this error occurr

[2019-09-13 18:40] zoof commented on #1236
It is not obvious what you mean by "follow the steps above".  I am running Debian Stretch and
[code]
Is this a kernel issue?

[2019-09-13 18:43] zoof commented on #1236
Never mind.
[code]
fixed the issue.

[2019-09-14 10:33] boarenlong opened #1342 "Mark Text(v0.15.0) vega-lite Invalid Sequence Codes in win10"
### Question description

how to use it, thanks

![Mark Text vega-lite Invalid Sequence Codes in win10 with v0 15 0](https://user-images.githubusercontent.com/46042607/64906871-1e5e5480-d71e-11e9-8b8f-eac8345004dc.png)

[2019-09-15 01:55] livejq opened #1343 "Several month ago,the save function does not work at my windows10"
### Question description

i forgot to record something but i still remember the strange thing that i had pressed the Ctr+s and saw the time i saved beside my file but it didn't save when i opened it several days later.So i'm afraid of using it.

[2019-09-15 13:55] Jocs commented on #1340
@laemongrass Thank you, PR is also welcomed.

[2019-09-20 19:05] fxha commented on #1236
To clarify this problem, there are three options to fix/bypass this:

- Enable user namespaces if possible: `sudo sysctl kernel.unprivileged_userns_clone=1`
- `sudo chown root <path_to_marktext_dir>/chrome-sandbox && sudo chmod 4755 <path_to_marktext_dir>/chrome-sandbox`
- Launch Mark Text with `--no-sandbox`

[2019-09-20 19:32] fxha commented on #1293
Duplicate of #1284.

[2019-09-20 19:32] #1293 closed

[2019-09-20 19:42] fxha commented on #1294
@Jocs I guess that this is an upstream issue with `prismjs`?

[2019-09-20 20:15] fxha commented on #1304
@Jocs I don't really understand the problem here. Mark Text formats all content automatically while saving.

@pykong Are there any issues with it?

[2019-09-20 20:20] fxha commented on #349
Electron recently added some [options](https://github.com/electron/electron/pull/18984/files#diff-9b078be8f43e00e3b99edb5be31fa353R1228) to the PDF functions.

[2019-09-20 20:29] fxha commented on #655
@Jocs I guess it was an upstream Electron issue because I cannot longer reproduce the issue.  ac3617d was the last commit the error occurred but since ffdb758 everything seems fine. I need to confirm this on Windows too.

[2019-09-20 20:30] fxha commented on #1298
Thank you for reporting this problem. What do you mean by this? The default style is shown below:

![mt_export_pdf_example](https://user-images.githubusercontent.com/22716132/65356727-7650fb80-dbf5-11e9-9c37-d7b9357a151a.png)

@Jocs  I think this is a duplicate of #354?

[2019-09-20 20:41] fxha commented on #1309
@Jocs Was this issue resolved in #1344? BTW this only work with Chromium based browsers and not Firefox. If I c&p a URL in Firefox it will result in a raw URL instead a markdown URL (`![]()`).

[2019-09-20 20:44] fxha commented on #1316
Thank you for taking the time to report this issue! Could you please give an example what you mean by pandoc style citations? I guess you are referring to [this](https://pandoc.org/MANUAL.html#citations) but what exactly?

[2019-09-20 20:49] fxha commented on #1343
At the moment there are no known issues. Please update to the latest version to be sure.

[2019-09-20 20:49] #1343 closed

[2019-09-20 20:53] fxha commented on #1329
I think this is a duplicate of #1271 because the content is not recognized as table. It's just inserted as text like the following, right?

[code]

[2019-09-20 20:57] fxha commented on #1337
@Jocs The issue occurs if you use absolute or relative path image settings, insert the image and switch to source code mode immediately. The operation is done asynchrony and never completed because the view is switched before.

[2019-09-20 21:02] fxha commented on #1342
@boarenlong You can find examples and a tutorial [here](https://vega.github.io/vega-lite/).

[2019-09-20 21:13] fxha commented on #1310
- Copy: Set HTML and markdown as pure content
- Copy as markdown: Set markdown as pure content without HTML (e.g. cannot pasted formatted into Word etc)
- Copy as HTML: Set only HTML content

[2019-09-20 21:42] fxha opened #1349 "Wrong save all tab order"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create three tabs with content `a`, `b` and `c`
2. Exit Mark Text (via titlebar)
3. A save dialog appears, click Save.
4. Number the files from 1..3.

**Expected behavior:**

Tab 1 (`a`) should be saved as `1.md`,  `b` as `2.md` and `c` as `3.md`.

**Actual behavior:**

Tab 1 (`a`) was saved as `3.md`,  `b` as `2.md` a

[2019-09-21 08:37] DutchPete commented on #1329
You could look at it as 2 aspects of the same issue. What it boils down to is that a table that is copied from a spreadsheet, is pasted as:
* either an image, as I explained in #1271, or
* it is pasted as a jumbled pile of text, as I explained above (#1329).

For some people pasting as an image is fine, for others, like me, it is not. Hence my request for an enhancement.

[2019-09-21 16:53] thegamerx1 opened #1351 "Asks to save file even when not edited"
https://youtu.be/UQFEnHaljfI

[2019-09-22 12:11] roberChen opened #1353 "Cannot input Chinese characters."
### Description

Unable to input Chinese characters but able to show Chinese characters on Ubuntu.
- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open the mark text app in Ubuntu 18.04
2. Change into Chinese input method (e.g. Google Pinyin), and type Chinese characters.

**Expected behavior:**

It's expected to show Chinese characters been typed.
**Actual behavior:**

Nothing been

[2019-09-22 18:04] Fuzen777 opened #1354 "[Compatibility] Automatic Removal of Empty Lines & Non-Breaking Spaces"
MarkText 0.15.0 | Windows 10
---
MarkText automatically trims empty lines. That sounds like a good idea, but factually, it's not always the case. When you open a file which is not formatted for the strict standards required by MarkText, it will usually break the layout. (And if autosave is on, that can lead to disastrous results.)

So for the sake of compatibility, I'd like to request a feature: a

[2019-09-22 23:12] WilliamMiceli opened #1355 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-09-23 03:36] #1313 closed

[2019-09-23 03:48] yort-feng opened #1356 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.17763 (win32)

[2019-09-23 03:48] #1356 closed

[2019-09-23 06:47] KevalS commented on #1290
Hello Guys, I have good Frontend skills and would like to contribute to the project by solving issues. Thank you

[2019-09-23 07:08] Jocs commented on #1290
@KevalS Thank you very much you are will to solve issues, you can look up the issues which labeled `good to first` , `bug` or `help wanted`, you can contact me or @fxha when you have any question.

[2019-09-23 08:16] FifteenOUC opened #1358 "Academic References Format (学术论文引用格式)"
### Describe your feature request

MarkText is an awesome work and thanks for your effort. It would be nice to support academic references format. Maybe using .ris .bib files can create it because some people show that it can add references for .md manually by .bib files.

（MarkText是优秀的开源项目，十分感谢这项工作。希望能够添加学术引用格式。也许可以通过ris .bib文件创建学术引用，因为有人曾利用.ris .bib文件手动地为md文本创建参考文献和文中引用。）

### What problem does

[2019-09-23 08:21] DutchPete commented on #1290
I offered to donate but have not heard back. I do not want to use PayPal or a credit card, but if you have a European bank account I'll be happy to make a transfer, provided you give the exact name of the account and the IBAN.

[2019-09-23 15:09] fxha commented on #216
@stefnotch I cannot reproduce your issue and we didn't change anything between 0.14.x and 0.15.0. Your posted layout seems also fine. There is one known issue that special character may not mapped correctly, especially on Windows due an upstream issue in atom's keyboard-layout library.

E.g. what I tried: on a Germany keyboard (qwertz) and German keyboard layout (qwertz):

- `Ctrl+A` (shortcut) =

[2019-09-23 15:14] fxha commented on #1238
This is currenlty not possible due to an upstream Electron [issue](https://github.com/electron/electron/issues/16521).

[2019-09-23 15:14] #1128 closed

[2019-09-23 15:15] #1299 closed

[2019-09-23 15:18] #655 closed

[2019-09-23 15:20] fxha commented on #1355
Duplicate of #1284.

[2019-09-23 15:20] #1355 closed

[2019-09-23 15:21] fxha commented on #1255
Closing this because #655 has a higher priority than some GUI issue.

[2019-09-23 15:21] #1255 closed

[2019-09-23 15:26] fxha opened #1359 "Drop shadow flickering on Linux with Wayland"
### Description

Please see [upstream](https://github.com/electron/electron/issues/19699) issue for more details.

### How to fix this?

- launch Mark Text with `--disable-gpu`
- use X11
- wait until upstream is fixed

### Versions

- Mark Text: development versions, v0.16.x
- Operating system: Linux with Wayland display server

[2019-09-23 15:28] fxha commented on #747
Closing this issue because it's not reproducible with the latest version.

[2019-09-23 15:28] #747 closed

[2019-09-23 15:29] fxha commented on #1131
Closing this issue because it's not reproducible with the latest version.

[2019-09-23 15:29] #1131 closed

[2019-09-23 15:29] fxha commented on #1127
Closing this issue because we refactored the image "viewer".

[2019-09-23 15:29] #1127 closed

[2019-09-23 15:31] fxha commented on #1292
@Sparsa  It's currently not planned as #596 but if someone will implement it, sure.

[2019-09-23 15:35] Jocs commented on #1294
@fxha maybe not due to `prismjs`, it's because I highlight cpp codes line by line, not as a whole part.

[2019-09-23 15:38] fxha commented on #1324
Thank you for taking the time to report this issue! We noticed that the editor crashes if you press two times `*` (autocompleted to `**<cursor>**`), set cursor one character to the right and press enter.

[code]

[2019-09-23 15:40] #1331 closed

[2019-09-23 15:44] fxha commented on #1329
It's not expected to be an image. I think #1271 should also fix this issue because Mark Text don't recognize tables pasted from LibreOffice as table but plain text.

[2019-09-23 15:44] fxha commented on #1329
Blocked by #1271.

[2019-09-23 15:45] fxha commented on #1271
Please pay attention to #1329 when fixing this issue.

[2019-09-23 15:47] Jocs commented on #1304
@pykong @Illyism @retrography @DutchPete as @fxha already saied, Mark Text will format and generate the markdown content according the GFM and Commonmark Spec, so no need to prettified any more?

[2019-09-23 15:48] fxha commented on #1351
This may happen because Mark Text auto formats the document. You could try to save the file under a different name and compare the differences.

[2019-09-23 15:48] #1351 closed

[2019-09-23 15:50] Jocs commented on #349
Great, I think we can add these parameters later.

[2019-09-23 15:53] fxha commented on #1336
@EULIR Thanks for reporting this issue.

**Stack Trace:**

[code]

[2019-09-23 15:54] Jocs commented on #1298
Closed due to duplicated with #354

[2019-09-23 15:54] #1298 closed

[2019-09-23 16:03] fxha commented on #1354
Thanks @Fuzen777 for opening the issue. Mark Text follows the CommonMark and GitHub Flavored Markdown specification that requires to trim empty lines and only allow one new line between paragraphs. @Jocs What do you think about this? It would require "just" a parser (markedjs) change because muya has a loose behavior on this and accept multiple new lines.

Could you please open another issue for t

[2019-09-23 16:05] Jocs commented on #1309
I didn't test Firefox, I'll test it later

[2019-09-23 16:14] DutchPete commented on #1304
Like I stated 2 comments up, MT is gorgeous and does not need any prettification, IMO.

[2019-09-23 16:16] #1304 closed

[2019-09-23 16:16] Pewsplosions opened #1361 "Option to open files with double click instead of single click"
### Describe your feature request

As of now I do not see this option in the preferences.

It would be nice to be able to choose to open files via single or double click. Right now it is only single click. It is a small thing but it gets annoying when I double click and instead open the file and the file next to it because my mouse moved slightly.

### What problem does this feature solve? [option

[2019-09-23 16:18] Jocs commented on #1304
Closed, if you have any question, feel free to reopen it.

[2019-09-23 16:34] #1145 closed

[2019-09-23 16:39] stefnotch commented on #216
That's odd. I'll report back if I can find any more details regarding this.

[2019-09-23 21:08] pykong commented on #1304
@Jocs I have not noticed MarkText doing anything in regard to prettification.
For example, it does not trim excessive blank lines.

[2019-09-24 05:12] Jocs commented on #1354
I don't fully understand this question. Do you want Mark Text to keep all the blank(empty) lines?

before:

[code]

expect after save:

[code]

Mark Text format the content:

[code]

[2019-09-24 05:15] Jocs commented on #1361
I don't fully understand the problem, you just want to open the file by double-clicking the file?

[2019-09-24 08:24] Jocs opened #1366 "editor crashed when press `Delete` key"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a paragraph with two lines, like bellow:

[code]

2. Put cursor before `foo`.
3. Press `delete` to delete all the content.
4. Press `backspace` key, the editor crashed.

**Expected behavior:**

The editor does not crashed.

**Actual behavior:**

The editor crashed

**Link to an example: [optional]**

### Version

[2019-09-24 09:45] ElecRex opened #1367 "markdown file export to pdf"
When I try to make md file export to pdf, but the images couldn't show up.

- Mark Text: v0.15.0
- Operating System: Windows 10

[2019-09-24 10:01] Fuzen777 commented on #1354
Ah indeed. CommonMark doesn't provide a hard line-break method at the end of a paragraph, except by using <br/>. It's usually better since it leaves no ambiguity but remains the problem of compatibility with files that were using GFM's version.

I don't know if it's possible to implement, but what about this? When opening a document where MarkDown detects two or more consecutive white lines, ask t

[2019-09-24 10:04] Jocs commented on #1367
Do you mean that Mark Text export pdf does not work?

[2019-09-24 11:04] infeeeee commented on #1367
I think I can reproduce this error, it only happens if there is a space in the image filename or in the path of the image. In the editor it shows up correctly, on pdf export it shows the markdown source of the image: `![](path to image with space.jpg)`

Also v0.15.0, win 10