[2017-11-19 14:28] Jocs opened #1 "Emoji name with `_`, will be treat as emphasize syntax"
### when I write emoji name `1s\_place\_medio`, it will be treat as emphasize syntax.

[it is a bug]

### Steps to reproduce

1. [input \:1s_place_madal\:]
2. [I didn't get 🥇 ]
3. [but got 1s*place*madal]

[2017-11-19 15:38] Jocs commented on #1
H~2~O ==HELLO==

[2017-11-20 02:26] ioslh opened #2 "Consider the situation when paste Richtext copied from other place"
Should inline css be removed or not?

[2017-11-20 03:16] Jocs commented on #2
@ioslh copy html from other place will just generate a code block of the coped html，if copy markdown text will render the html. So the inline css will be reserved in the code block.

[2017-11-21 10:19] Jocs opened #3 "I can't write chinese in inline code"
### I can't write chinese in inline code

[I can not write `中文` in aganippe]

[2017-11-22 14:48] Jocs opened #4 "Emoji at the begining of header doesn't work"
### '###\:ssmile\:' doesn't work

[2017-11-23 14:41] #4 closed

[2017-11-24 13:53] #3 closed

[2017-11-24 14:08] #1 closed

[2017-11-24 15:22] Jocs opened #5 "code fence in list and block quote can not work properly"
As title

[2017-11-26 12:40] Jocs opened #6 "can not insert an image into a link"
`[![](./picture/path/image.png)](http://www.other.com)` syntax can not work

[2017-12-10 13:52] #6 closed

[2018-01-11 16:33] Jocs commented on #5
- [x] wowow

        wowowow

- [ ] wowowow

[2018-01-11 16:34] Jocs commented on #5
* [x] wwww

* [x] wwww

      wwwww

[2018-01-11 16:35] Jocs commented on #5
* [x] wwww

* [x] wwww

        wwwww

[2018-01-11 16:35] Jocs commented on #5
* [x] wwww

* [x] wwww
        wwwww

[2018-01-11 16:37] Jocs commented on #5
* [x] wwww
* [x] wwww
      * wowow
      * owowow

[2018-02-04 14:58] Jocs commented on #5
- | hello | nice |
  |  :-: |   --- |
  | bar | nide |

[2018-03-06 02:05] nheeren opened #8 "Provide homebrew formula"
Nice project! Are you considering to provide a [homebrew (cask) formula](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md) anytime soon?

[2018-03-07 17:00] #5 closed

[2018-03-07 17:00] #2 closed

[2018-03-09 17:01] praveenscience opened #9 "Quick Question: Electron App right? Why not for Windows?"
Hey @marktext,

Since this app is an Electron App, why don't you consider releasing for Windows and Linux too? I can help you if you need. 😸

Cheers!

[2018-03-09 17:32] Jocs commented on #9
@praveenscience Because I don't have a windows computer, A windows and Linux version sounds great, If you submit a pr, I will be very grateful.

![](https://i.loli.net/2018/03/10/5aa2c51778fa7.jpg)

[2018-03-12 09:44] praveenscience commented on #9
Anytime... 👍  Is it possible to make me a collaborator? So that I can send PRs? 😸  Hey, also, make this "Shout an issue" not "Shot an issue".

![image](https://user-images.githubusercontent.com/1830380/37276411-83ac71a2-25d9-11e8-98c4-b4689ec90ba6.png)

I have [submitted a PR](https://github.com/marktext/website/pull/1).

[2018-03-12 09:57] Jocs commented on #9
@praveenscience 3Q, I have merged that PR, fork the repo, update your code, and send PRs?

![](https://i.loli.net/2018/03/12/5aa64ee717882.jpg)

[2018-03-12 10:15] praveenscience commented on #9
I have started working on this... Little bit of struggles here and there... There seems to be no PR for this one, but just binaries... 🐱

[2018-03-12 10:26] Jocs commented on #9
there is some problem with the [Travil Ci](https://travis-ci.org/marktext/marktext), Because of this, So I can not release windows and Linux versions, I've been solving the problem all day, but I still can't finish it. Can you help me find the reason why Travil Ci failed?

[2018-03-12 10:47] praveenscience commented on #9
Travis CI* Yep... Sure, I am just debugging on it... 😄

[2018-03-13 09:36] praveenscience commented on #9
You need to let travis know how build for windows and linux. It uses a container specific for iOS. :(

[2018-03-13 09:49] Jocs commented on #9
@praveenscience I have released v0.6.14, you can download it, and try it in you windows computer.

[2018-03-13 12:07] praveenscience commented on #9
Perfect! :)

[2018-03-13 18:52] crper opened #12 "Hope: provide brew cask install"
Hope:

`brew cask install marktext`;

wdf!!Thanks

[2018-03-14 02:15] taotao7 opened #13 "怎么输出成pdf呢？theme怎么切换呢？输入模式怎么切换呢？linux系统"
### Description

[Description of the bug or feature]
快捷键
### Steps to reproduce

快捷键使用

### Versions

- Mark Text:
- OS:linux

[2018-03-14 02:37] Jocs commented on #13
@taotao7 因为我暂时没有 Linux 系统，因此在 linux 系统中可能会有一些问题，我会尽快完善 Linux 系统中的功能，也欢迎你直接提交 PRs.

[2018-03-14 18:18] Jocs commented on #12
@crper refer to readme, I have update the installation.

Thank you for your advice

[2018-03-14 18:19] Jocs commented on #8
@nheeren refer to readme, I have update the installation.

Thank you for your advice

[2018-03-14 18:20] #8 closed

[2018-03-14 18:20] #12 closed

[2018-03-15 16:03] leosoaivan opened #15 "Shortcut for Typewriter Mode triggers Terminal in Linux/Ubuntu"
### Description

Great job on this markdown editor.

The current shortcut for Typewriter mode on Linux (`Ctrl + Alt + T`) unfortunately brings up the terminal. Consider changing the shortcut.

### Steps to reproduce

1. Load Mark Text on a Linux system
2. Hit `Ctrl + Alt + T`

**Expected behavior:**
Mark Text enters Typewriter mode

**Actual behavior:** [What actually happened]
Linux boots up the

[2018-03-15 16:08] Jocs commented on #15
@leosoaivan Thank you for report the bug, I'll change the shortcut for Typewriter Mode in the next release version. stay tuned.

[2018-03-16 05:07] notAlaanor opened #16 "Mark Text doesn't save selected theme"
### Description

Mark Text doesn't save the selected theme, perhaps there could be a user config file.

### Steps to reproduce

1. Change Theme
2. Reopen Mark Text

**Expected behavior:**
Mark Text should keep selected theme

**Actual behavior:**
Mark Text doesn't keep selected theme

### Versions

- Mark Text: 0.6.14
- OS: Windows 10 x64

[2018-03-16 05:30] Jocs commented on #16
@notAlaanor Yes, User Preference setting is in the plan， You can refer the [TODOLIST](https://github.com/marktext/marktext/blob/master/.github/TODOLIST.md) -  Preference in Mark Text Menu.

[2018-03-16 11:53] hughwilliams94 opened #17 "Change install path so that Admin rights aren't required. [Window]"
### Description

Hey thanks for the app, it looks great. Is there any way you could think about changing the default installation directory from C:\Program Files\ to a less privileged location. I would love to install the app on my work laptop but don't have admin rights. Another option would be to make the installation path configurable.

### Steps to reproduce

1. Download Windows binary and try

[2018-03-17 00:05] notAlaanor commented on #17
Fixed with #18

[2018-03-17 04:02] Jocs commented on #17
@notAlaanor 👍

[2018-03-17 14:35] Syenta opened #19 "Rejected by McAfee and Fails VirusTotal"
### McAfee Uninstalls MarkText + VirusTotal finds Ad-Ware package

[Description of the bug or feature]

### Steps to reproduce

1. Install software
2. McAfee checks files
3. McAfee uninstalls software and shows message regarding concerns for URLs MarkText is trying to connect to.
4. VirusTotal scan shows up an Ad-Ware package included with your program. This is possibly a false positive as the oth

[2018-03-17 19:11] #9 closed

[2018-03-18 09:20] SuperSandro2000 opened #20 "Open with not working on Win"
### Description

Mark Text does not support Windows "Open with.." feature.

### Steps to reproduce

1. Associate .md files with Mark Text/
2. Open md file
or run "C:\Program Files\Mark Text\Mark Text.exe" README.md in a folder with a README.md file

**Expected behavior:** Open that md file

**Actual behavior:** blank page

### Versions

- Mark Text: 0.6.14
- OS: Win10 64 Bit, Win7 64 Bit

[2018-03-18 14:25] Jocs commented on #20
@notAlaanor Can you help with this issue? I don't have a Win10 system.

[2018-03-18 15:01] so77id opened #22 "Can't install with brew cask"
using commnad `brew cask install mark-text` on mac, i don't get install the app.

![screen shot 2018-03-18 at 12 00 41](https://user-images.githubusercontent.com/4089219/37567313-0d2cf784-2aa4-11e8-9908-e0aaa8f07696.png)

[2018-03-18 15:07] lulucca12 commented on #13
Can you speak English please

[2018-03-18 15:35] lulucca12 opened #23 "There is not an integration with the user interface Kde"
### Description

On Kde Neon I've seen a bad integration with the window drawer, it ts not showing the window bar with close, minimize and maximize buttons.

### Steps to reproduce

1. Open Mark Text on Kde neon
2. Look to the window bar

**Expected behavior:** Window buttons showing, like in firefox:
![hi](https://lh3.googleusercontent.com/SJL1sf0RWl8k8-ta7dUNxsvtA7QTX2KhIL219IjmpY93Uv1aUC6_uMpHU

[2018-03-18 15:57] Joel-Costamagna commented on #22
<img width="814" alt="capture d ecran 2018-03-18 a 11 55 56" src="https://user-images.githubusercontent.com/16178951/37567862-5ff07640-2aa3-11e8-84f4-1f0d09233fe6.png">

works on my machine, can you try `brew update` ?

[2018-03-18 16:13] SuperSandro2000 commented on #20
Just to let you know. I tested it on my Windows 7 VM and I think this is broken on all Windows versions.

[2018-03-18 16:19] Jocs commented on #20
@SuperSandro2000 Thank you for reporting this issue, it maybe a common bug in all Windows version, PR is welcome.

[2018-03-18 17:48] Yasujizr opened #24 "New Design"
![logo-example](https://user-images.githubusercontent.com/36993664/37568967-6a8ff536-2aed-11e8-9601-3a91a51b30ae.jpg)

Hi, I have studied your work and I think a new logo will make you more visible. I designed a logo for you, I hope you like it and you want to use it. If you contact me here or from doganzr@gmail.com I can give you all the formats of the logo. If you want a change please specify.

[2018-03-19 03:28] Snazzyham opened #27 "Hitting Tab key causes cursor to disappear or move somewhere along the UI"
### Steps to reproduce

1. open up a document and type something
2. hit the tab key
3. watch cursor disappear

**Expected behavior:** cursor shifts a tab width (or 2 or 4 spaces) ahead

**Actual behavior:** cursor disappears

### Versions

- Mark Text: 0.6.14.117
- OS: Mac OS 10.12.6

[2018-03-19 06:29] so77id commented on #22
solved, ty

[2018-03-19 06:29] #22 closed

[2018-03-19 07:27] rootex- opened #30 "Broken syntax highlighting in code blocks after re-import"
It is currently impossible to re-import a project without loosing syntax highlighting. That's truly disappointing. Fix this, please.

This is what happens after re-import:
![](https://i.imgur.com/BwKec4V.png)

Should be
\```scala
sealed trait Tree[+A]
\```
instead of plain:
\```
sealed trait Tree[+A]
\```

[2018-03-19 07:31] Jocs commented on #30
Thank you for reporting this bug, I'll fix it in the next release version.

[2018-03-19 07:33] rootex- commented on #30
Now, that was a quick response, thank you :+1:

[2018-03-19 07:36] SuperSandro2000 commented on #30
I think that is related to this: when you don't have spaces in a table they will be added even if I don't save the file.
Before:
*Foo
* Bar
After:
*Foo

*Bar
This matters because GitHub puts a little more space between the lines if they have a free line between them.

[2018-03-19 07:43] Jocs commented on #30
@SuperSandro2000 This is another bug

Now Mark Text only support loose list, all not loose list will be convert to loose list

[GitHub Flavored Markdown # list](https://github.github.com/gfm/#lists)

You can open another issue to report this bug, Bus it's will cost a long time to fix it.

[2018-03-19 07:48] Jocs commented on #24
@Yasujizr thank you for your great work, I'll contact you by email, If I adopt your logo design finally, I will mention it in README file, Thank you!

[2018-03-19 07:53] SuperSandro2000 opened #31 "Support tight lists"
MarkText should support tight lists. Currently all lists are converted to loose ones.
[code]
As discussed here: https://github.com/marktext/marktext/issues/30#issuecomment-374125455

[2018-03-19 08:11] rootex- opened #32 "Feature: make rows and columns in table block draggable"
This can be a touchable/dragable helper icon on the left of the element (code block, table, etc) or a helper menu above the element

[2018-03-19 08:14] Jocs commented on #32
@rootex- Can you give more detail of this new feature? More details will enable us to have a better discussion.

[2018-03-19 08:24] rootex- opened #33 "Feature: ability to insert an empty line between elements"
Say, we have a code block and a table following right after the code block, right in the next line. In this case, we have a problem: inability to insert an empty line or anything else between the code block and the table.

[2018-03-19 08:29] Jocs commented on #33
😢 Yes, It's really a problem, Now Mark Text only have one way to insert new line between code block and table, choose the source code mode, insert new line, and back to realtime mode...

but it's not convenient.

[2018-03-19 08:31] Jocs commented on #33
@rootex- Do you have any idea on how to insert new line between code block and table.

[2018-03-19 08:51] rootex- commented on #32
![table](https://user-images.githubusercontent.com/8237030/37585801-5c7c147e-2b6b-11e8-820f-d6fab3814dcc.png)
These two UP/DOWN arrows can be either:
* separate buttons (E.g.: on press UP the element travels UP)
* a single button you can click on to drag
* no button - simply drage by touching some sort of a "header" of an element

[2018-03-19 08:59] Jocs commented on #32
@rootex- Hi, if you want to move the table block to other place, you can just use copy and paste.

I think dragable in between rows and columns is more useful.

[2018-03-19 09:15] rootex- commented on #33
@Jocs One of the simplest solutions might be an automatic generation of an empty line after the element (code block, table, etc).
Another solution can be actually a very cool feature: "A pannel with auto-appearing elements". If there is no line between two elements, draw a little "plus" button between them on the left, thus you offer to insert a line. Pretty intuitive UI, right?
In perspective, th

[2018-03-19 09:23] rootex- commented on #32
@Jocs
* it's true for a table, but will not work for a code block. what about code blocks and other stuff?
* copying and pasting a table requires 4 actions: selection, copying, pasting into another place, deleting previously copied table...

[2018-03-19 09:28] Jocs commented on #33
@rootex- I also think the second solution is cool, it's more visible for users, there is maybe a third solution, It is already in Mark Text, add two code blocks, use arrow up and down between them, You can see a new line inserted automatically. But I forget add this feature to table block.

[2018-03-19 09:33] Jocs commented on #32
@rootex- But dragable is more complex, Because some blocks can be nested, when drag some block to nested block, we don't know whether to drag in the block as a child node or out the block as a brother node.

[2018-03-19 09:39] rootex- commented on #32
@Jocs that's right but the mouse release action might serve here very well, I suppose

[2018-03-19 09:56] SuperSandro2000 commented on #32
@rootex- you could use the cut hotkey Ctrl+X on windows to save one step.

If you drag you need to clear the destination cell or add a new one first. And markdown is a very simply formating style that would make that hard. Excel that uses XML would make this a bit easier. So I just agree with @Jocs. This suggestions seems a bit overkill for marktext I think.
But I am just an end user that would li

[2018-03-19 10:12] SuperSandro2000 commented on #31
I would categories this issue as quite severe as it is the last one that stops me from using marktext. I don't really care if it has advanced features. I just want to render my GitHub readme similar to how it looks later on the web offline.

[2018-03-19 10:37] Jocs commented on #31
@SuperSandro2000 Do you have any ideas on how to distinguish loose list and tight list when you input bullet or order list?

[2018-03-19 10:45] SuperSandro2000 commented on #31
Your could look for two line breaks (ignoring spaces and trans) without a list indicator (* or -) between them.

[2018-03-19 12:33] bluelovers opened #34 "hope can have portable version (windows"
### Description

希望能有免安裝版
另外是不是沒有類似工具列的東西? (好像沒看見

或者也許可以考慮像 Haroopad 一樣
有類似這種可以直接點擊的

![2018-03-19-20-30-41-1](https://user-images.githubusercontent.com/167966/37595699-b3be771a-2bb4-11e8-8ef6-c382a324a09e.jpg)

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to

[2018-03-19 12:33] Jocs commented on #31
@SuperSandro2000 Yes, I know how to distinguish loose and tight list when import markdown, I mean how to distinguish between them when you write with Mark Text, There is one solution, I add a user preference file, people can select whether to use loose list or tight list. when import markdown, I will not convert loose list to tight list or convert tight list to loose list.

This issue also has a n

[2018-03-19 12:37] Jocs commented on #34
@bluelovers Hi, 希望你提供操作系统型号和版本，因为有快捷键，所以暂时不考虑工具列。如果是 OS X 系统，有免安装版本。

[2018-03-19 12:48] SuperSandro2000 commented on #31
My bad. Missunderstud you.

A setting would be ideal. You could put the theme setting in that file too.

As a quick fix you could implement that you don't convert them.

[2018-03-19 13:59] Ldoppea commented on #24
Hi,

Talking about design: The app icon is invisible in Windows 10 because taksbar is black in this version and as the app icon is also black with transparent background.

So if you plan to re-design it, it would be a good opportunity to fix this 😃

[2018-03-19 14:16] Jocs commented on #24
@Ldoppea Yes, Mac also has this problem when the background is black.

[2018-03-19 15:29] Jocs commented on #31
- wowowowo
  - wowowow
  - wowowowo

[2018-03-19 15:52] Jocs commented on #34
- wowowow
  - wowow
   - wowowow
- wowowo

[2018-03-19 15:54] ahmmu15 opened #35 "Icon Color"
I was wondering if you can change the color/s of the icon, because it doesn't look good on a dark background _(for example: I'm using [Win10 dark theme](https://image.ibb.co/emBFkH/ccc.png), and I can't see the icon when I pinned it to the task bar)_.

Thank you 💯

[2018-03-19 16:00] Jocs commented on #35
@ahmmu15 same issue as #24, Thank you for your reporting, the new icon is under designing, This issue will be closed.

[2018-03-19 16:01] #35 closed

[2018-03-19 16:35] dopsi opened #36 "Add MathJax support"
### Description

It would be nice to have MathJax integration (to allow to display mathematics in MarkDown),
in the same way [`pandoc`](https://pandoc.org/) does.

**Expected behavior:** Allow editing the formula and render it once the focus leaves it (I'm not really sure about the terminology).

**Link to a library:** I found [mathjax-electron](https://github.com/nteract/mathjax-electron) which s

[2018-03-19 16:43] Jocs commented on #36
Support inline and block Math is already in the [TODOLIST](https://github.com/marktext/marktext/blob/master/.github/TODOLIST.md), I really hope someone can help me with these new features in TODO LIST, Yeah, before start we need to discuss it，This issue will be the place to discuss this new feature.

[2018-03-19 16:54] Ldoppea opened #37 "'<' char will break the file on next open"
### Description

Double bug in one here :
- When you open a file containing a `<` in a code block followed by a-Z char, All the text will be deleted after the `<` occurrence till the end of line. Then the file is automatically saved and so you lose the line content forever.

### Steps to reproduce

1. create a file with the following
[code]
2. open this file using Marktext
3. second line is trunca

[2018-03-19 16:56] Ldoppea commented on #37
Also the following file will be opened empty :

[code]

[2018-03-19 17:04] Jocs commented on #37
Sorry, I can not re-play this bug in my Mac, Can you explain it more detail or only occur on windows system?

[2018-03-19 17:12] Ldoppea commented on #37
Here are a few screenshots :
- Step1 : this is the file created from VisualStudio code (or whatever text editor)
![step1](https://user-images.githubusercontent.com/1884255/37610740-b2df1e4e-2ba0-11e8-967b-974929eeba6d.PNG)
- Step2 : this is the file content when opened in Marktext
![step2](https://user-images.githubusercontent.com/1884255/37610753-bbc3bc4a-2ba0-11e8-966f-cb3e1e81dc73.PNG)

- Step3

[2018-03-19 17:16] Jocs commented on #37
@Ldoppea
Wait for you to verify， It's 1:00 in the morning, I need to go sleep. bye!

[2018-03-19 18:53] Ldoppea commented on #37
Just tried on OSX Sierra and I was able to reproduce the bug.

[2018-03-19 21:00] bluelovers commented on #34
@Jocs windows 10 1709

雖然不確定是不是
不過看起來 windows 版結構與 https://github.com/meowtec/Imagine/releases
相似

所以應該也能提供解壓縮就可以的 windows portable 版

另外提供 像 Haroopad 一樣
的看起來雖然是語法提示 但實際上又等於是工具列一樣的東西也不錯

希望能考慮考慮

------------

以及似乎沒有滑鼠右鍵選單?

[2018-03-19 22:01] SuperSandro2000 commented on #34
I think you can just unzip the installer.

[2018-03-19 22:02] SuperSandro2000 opened #39 "Menu bar broken latest Dev build on windows"
On the latest source the menu bar at the top is broken and replaced by a context menu.

[2018-03-20 01:45] ricosmall opened #40 "export as Styled HTML error"
### Description

When export the document as `Styled HTML`, then open the exported HTML file in browser, the code part display wrong even couldn't scroll.

### Steps to reproduce

1. Type some content, insert a piece of code, like below:

![image](https://user-images.githubusercontent.com/18362949/37630896-e9641574-2c21-11e8-81cd-d7c35c2edee8.png)

2. Export the file as `Styled HTML`, operate step

[2018-03-20 02:16] Jocs commented on #34
@bluelovers Left click to open context menu is in the TODU LIST now.

[2018-03-20 02:18] Jocs commented on #40
This bug report is very clear, Thank you. I'll fix it as soon as possible.

[2018-03-20 02:25] ricosmall opened #41 "export as Styled HTML error 2"
### Description

When export as Styled HTML, the symbol which should be just existed in editor was exported to HTML file.

### Steps to reproduce

1. Type some content:

![image](https://user-images.githubusercontent.com/18362949/37632253-522ffd9c-2c28-11e8-8886-1ae6ea14b8a2.png)

2. Export file as Styled HTML:

![image](https://user-images.githubusercontent.com/18362949/37632276-6f8a91f4-2c28-11e

[2018-03-20 02:33] Jocs commented on #41
Thank you, Any PRs are welcomed.

[2018-03-20 03:32] Jocs commented on #40
@ricosmall I can not reproduce this bug in my development environment, So I will release v0.7.16 recently, And see if it will happen in this version.

[2018-03-20 05:07] notAlaanor commented on #39
What do you mean by broken? The menu bar has been moved to a context menu in the corner to accommodate a custom Windows titlebar. This is what I'm seeing on the latest dev build:
![marktext-win](https://user-images.githubusercontent.com/17591936/37636866-9b21f174-2c58-11e8-9b8e-0c441b4b2d2d.png)

[2018-03-20 06:45] SuperSandro2000 commented on #39
I don't like the change as it is very strange and confusing and sometimes the menu appears in the middle of the screen.
And every normal windows app has this bar.

[2018-03-20 06:49] ricosmall commented on #40
@Jocs I will update to new release version and test again, then write my feedback here.

[2018-03-20 06:53] Jocs commented on #39
I think Mark Text is concise editor， Mark Text wants the user to focus as much as possible on the text they are writing, it wants to hide everything that might distract the user.  we also can add a toggle between the current context menu and previous menu bar. Or just hide the previous menu bar when user is typing...

[2018-03-20 07:11] notAlaanor commented on #39
I'm not sure how we could hide a native menu bar frequently, but an option to switch between a native and integrated window frame would be good. Another option could be to draw the menu bar ourselves, so that it fits with the theme, but retains the familiar layout.

[2018-03-20 07:56] SuperSandro2000 commented on #39
@Jocs I don't think the classical menu style would distract you at all.

[2018-03-20 08:08] Jocs commented on #39
As @notAlaanor say, We can not set the dark theme of the previous menu bar, So @notAlaanor think a a custom Windows titlebar is needed.

[2018-03-20 08:53] Jocs commented on #37
@Ldoppea I reproduce it, [parse5](https://github.com/inikulin/parse5) treat `<s` in `if (itemCount <s)` as `<s>` element. So some error occur. I'll open an issue in parse5. thank you!

[2018-03-20 09:38] Jocs commented on #37
😿 My fault, I forget escape the raw markdown when I parse it to HTML, It will be fixed.

![](https://i.loli.net/2018/03/20/5ab0d697ee582.jpg)

[2018-03-20 09:44] #13 closed

[2018-03-20 09:44] #15 closed

[2018-03-20 09:44] #17 closed

[2018-03-20 09:44] #30 closed

[2018-03-20 09:44] #34 closed

[2018-03-20 09:44] #37 closed

[2018-03-20 09:44] #41 closed

[2018-03-20 09:53] Jocs commented on #39
@SuperSandro2000 @notAlaanor This issue will be closed, but we can still discuss about menu bar in windows.

[2018-03-20 09:54] #39 closed

[2018-03-20 12:36] fxha opened #42 "View is broken after drag and drop"
### Description

Drag and drop don't work and destroys the editor.

### Steps to reproduce

1. Write markdown file (and exit editor)
2. Drag and drop markdown file into the editor
3. Editor view is broken

**Expected behavior:**

When the drag and drop event is accepted, the file should be loaded as markdown.

**Actual behavior:**

Editor view is broken. You cannot edit text anymore and the tileba

[2018-03-20 12:36] frederickrb opened #43 "Notepad option gone from the context menu"
### Description

[Description of the bug or feature]

Hi.
This is a simple and straightforward thing. After installing and testing Mark Text, I've noticed that the "Text Document" option from the New menu, in the Windows Explorer context menu (right click) has gone. It only came back after uninstalling Mark Text and rebooting the system. I realize this tool is a good alternative to Notepad, but I

[2018-03-20 12:38] fxha opened #44 "Windows: Wrong context menu position"
### Description

The context menu (which replaced the menu bar) is opened on random positions on the screen - sometimes outside the editor. The bug appears mostly on second monitor.

### Images

![mt_win_context_menu](https://user-images.githubusercontent.com/22716132/37654859-ccca0ab4-2c43-11e8-9b05-879fcada50df.png)

### Versions

- Mark Text: 0.7.17
- OS: Windows 10 dual monitors

[2018-03-20 12:40] fxha opened #45 "Automatically save option"
Hi, thanks for your work! Can we please have the option to disable automatically save after editing text?

Thanks!

[2018-03-20 12:41] Jocs commented on #42
@fxha Sorry for the poor documents, It's in

This is an experiment feature.

But the view broken is really a bug need to fix.

[2018-03-20 12:43] Jocs commented on #45
@fxha OK, I will add the option in the next release version. 👍

[2018-03-20 12:44] Jocs commented on #44
@notAlaanor Can you help with this issue, thank you!

[2018-03-20 13:49] Jocs commented on #40
@ricosmall new version has been released, have a try.

[2018-03-20 13:54] #20 closed

[2018-03-20 13:55] #42 closed

[2018-03-20 19:00] fxha commented on #44
@Jocs Created PR #46 for a fix.

[2018-03-20 22:51] SuperSandro2000 commented on #19
Smart screens had some complains sometimes too

[2018-03-20 22:52] SuperSandro2000 commented on #43
https://github.com/marktext/marktext/pull/26

[2018-03-21 02:37] #44 closed

[2018-03-21 05:25] #23 closed

[2018-03-21 07:55] surferjoeit opened #48 "End of the Line in Windows"
When creating a .txt file with marktext, end of the line is not recognized if file is opened with Windows Notepad. All text is on a single line.

- Mark Text: latest release
- OS: Windows 10

[2018-03-21 08:11] notAlaanor commented on #48
That would be the text wrapping. Line numbers would help users avoid this issue.

[2018-03-21 08:20] Jocs commented on #48
@surferjoeit how do you create a .txt file with Mark Text? Mark Text is a markdown editor, can only create .md file.

[2018-03-21 08:58] SuperSandro2000 commented on #48
Under Windows you can change the extension when you save choose ``Save type as: All Files``. You would need to add some categories to that menu that contains *.md, *mdtxt, etc. like the open dialog. You can change the extension but it gets saved as .md anyway (Maybe a bug?)
![](https://i.imgur.com/RP6GnAN.png)

When opening the file with the dumb default notepad editor line breaks are missing:
![]

[2018-03-21 09:12] #16 closed

[2018-03-21 09:12] #45 closed

[2018-03-21 10:11] fxha opened #49 "Application crash"
### Description

If I start the app I get an application crash on master. See image below.

![mt_crash](https://user-images.githubusercontent.com/22716132/37704109-32e674f4-2cf8-11e8-8ae7-6f11cf1306ea.png)

### Versions

- Mark Text: latest master
- OS: Windows 10

[2018-03-21 10:22] Jocs commented on #49
@fxha Sorry，master is not stable, I'll fix it soon!

[2018-03-21 10:28] Jocs commented on #49
@fxha The crash is fixed, but the user preferences can not be use now,

[2018-03-21 10:29] #49 closed

[2018-03-21 10:42] surferjoeit commented on #48
I can use any software i want, for me it's not a problem. But if i exchange files with others i can't force them to use a particular editor, so in my opinion it should be better to use CR LF on Windows instead of LF only.
It's a matter of portability of the files.
Thanks for this great editor anyway!

[2018-03-21 11:11] hjoensson opened #51 "Windows defender warning"
I downloaded and started the latest version for Windows just now, 0.7.17. I have not installed Marktext before.

Windows Defender complained that it was unsafe to install this. Have anyone more seen this?
(It doesn't feel good to click on "Run anyway"...)

Regards
Henrik

[2018-03-21 11:37] Jocs commented on #48
@surferjoeit It a bug in windows system, I will fix it, or anyone help with this issue. thank you!

![](https://i.loli.net/2018/03/21/5ab243e0f0d18.jpg)

[2018-03-21 11:40] surferjoeit commented on #48
I can't help, sorry, i'm not a developer, i can only thank you.

[2018-03-21 11:47] SuperSandro2000 commented on #48
I assume this is some electron flag soemwhere maybe but I am a Python/Ruby/C++ dev not .js/electron.

[2018-03-21 11:49] SuperSandro2000 commented on #51
When I opened the installer for the first time it showed me the same annoying smart screen alert. Common for self compiled installers. About the trust: You need to decide that yourself or compile from source.

[2018-03-21 12:01] fxha commented on #48
Maybe you can add this as a feature too: `line endings` -->` { CRLF (windows), LF (else) }`. This will allow us to switch file encodings.

[2018-03-21 12:05] Jocs commented on #48
@fxha yeah, Good idea! :cry: I need a windows system, the VM is too slow, I don't want to install windows system on VM.

![](https://i.loli.net/2018/03/21/5ab24a68dfb9e.jpg)

[2018-03-21 15:34] SuperSandro2000 opened #52 "[Enhancement] add logger and kill process after error"
To better track down errors you should implement a better logger for such crashes and make sure the marktext processes are killed.

![](https://i.imgur.com/XgXQMKM.png)
![](https://i.imgur.com/eMj5YW5.png)
I think you need a Windows PC or a good VM.

[2018-03-21 15:38] Jocs commented on #52
@SuperSandro2000 AutoSave is still under development, How did this error happen?

[2018-03-21 15:40] SuperSandro2000 commented on #52
Open MarkText. I will do a PR when I am done with fixing stuff

You should think about adding a proper logger to handle such problems. Unpacking the asar, finding the line and finding something to search for in code is annoying!

[2018-03-21 15:41] SuperSandro2000 commented on #52
I would be really happy if you may use a different branch for heavily wip stuff that does not compile or work at all and break other stuff. I just wanted to try the other PR if the windows functionality would break and now I need to fix a whole bunch of stuff.

[2018-03-21 15:42] SuperSandro2000 commented on #52
@Jocs and another Bug I found related to this one. The process is not killed after pressing ok. Very annoying too.

[2018-03-21 15:55] SuperSandro2000 commented on #52
#53 fixes 2 of 3 startup crashes

[2018-03-21 15:58] Jocs commented on #52
I am still working on auto save and user preferences, I maybe create a dev branch, not push directly to the master.

[2018-03-21 21:37] acostalima opened #54 "Theme setting is not being saved"
### Description

I changed my theme setting to dark and after I restarted Mark Text the theme setting switched back to white. This is a bit annoying because I always have to change the theme whenever I open Mark Text.

### Steps to reproduce

1. Click on the hamburguer menu on the top left corner
2. Go to "Theme"
3. Select "Dark"
4. Restart Mark Text

**Expected behavior:**

Theme setting is persi

[2018-03-21 22:47] fxha commented on #54
The current version don't save settings at exit. Preferences are work in progress and should be supported in the next version.

[2018-03-22 00:01] SuperSandro2000 commented on #52
This would be awesome! I think it is always a good practice to keep the master branch at least compilable that the program won't crash on startup.

[2018-03-22 00:01] #52 closed

[2018-03-22 05:37] yanzijun opened #55 "Cannot export PDF in Source Code mode"
### Description
I use mark-text with downloading Linux AppImage file. I am using Unbuntu 16.04, and I open a new file to write something. If I enable `View` -> `Source Code` setting, I can't export file as PDF.

[Description of the bug or feature]
Can't export file as PDF when enable `source code` setting in view.

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expec

[2018-03-22 09:47] fxha commented on #48
It looks like `src/editor/utils/exportMarkdown.js` translates html to markdown, that's means we can manipulate the line endings there. The problem is, if the user switches the line encoding we have to replace all `\n` (not followed by `\r`) to `\n\r` or `\n\r` to `\n`. Additionally, we have to convert the user input (copy & past content) to the selected line encoding. It is still unclear to me whe

[2018-03-22 09:57] Jocs commented on #48
@fxha The `platform` state is already is the store, You can determine use which line ending by this state.

[2018-03-22 10:17] #24 closed

[2018-03-22 10:18] #51 closed

[2018-03-22 13:50] SuperSandro2000 commented on #54
Dupe with that https://github.com/marktext/marktext/issues/16

[2018-03-22 13:51] fxha opened #56 "Missing preferences menu"
The "Marktext" application menu is not shown on OSs other than OSX. Maybe we could move the preferences entry into file or edit menu, so that you can edit preferences on Linux and Windows?

### Versions

- Mark Text: latest
- OS: not OSX

[2018-03-22 14:15] Jocs commented on #56
@fxha Does use `Ctrl + ,` shortcut work ?

[2018-03-22 14:19] fxha commented on #56
I don't think so, because see [here](https://github.com/marktext/marktext/blob/9e89a653fbf737044f34efdd9758d03c75fe4239/src/main/menus/index.js#L14).

[2018-03-22 14:30] Jocs commented on #56
@fxha Aha, I forget I just add Mart Text menu to OS X system, Because I only have Mac OS X system, So I can not test whether it is work when add Mark Text menu to other system.

If it not work, Add preference menu item to file menu in Windows and Linux systems.

[code]

Can you fix this problem?

![](https://i.loli.net/2018/03/22/5ab3bdf4bf012.jpg)

[2018-03-22 14:56] acostalima commented on #54
@SuperSandro2000 my bad then. I guess we can close this.

[2018-03-22 15:08] fxha commented on #56
Only preferences and quit works. Is that correct?

![mt_menu](https://user-images.githubusercontent.com/22716132/37778459-479a88de-2dea-11e8-8099-bc19716d28c9.png)

Edit: My theme hides menu separators.

[2018-03-22 15:19] Jocs commented on #56
Can you hide `About Mark Text`, `Services`, `Hide Mark Text`, `Hide Others`, `Show All` menu items when Mart Text in Windows and Linux ? or other idea?

[2018-03-22 15:29] fxha commented on #56
Btw. what does `Services` do? For `About Mark Text` we could display a message box and hide the others or add  `preferences` and `quit` to file and `check for updates` to help.

Can you send me a screenshot from `about` dialog?

[2018-03-22 15:37] Jocs commented on #56
![1521732701833](https://user-images.githubusercontent.com/9712830/37780223-465544d4-2e29-11e8-86ed-aabf6170505f.jpg)

Just like this.

Many Apps in Mac, have a `APP name` menu, and have `about`, `services`, `quit`, 'check for update' etc, in this menu. But I don't know how to display these menu item in Windows or Linux.

[2018-03-22 15:40] Jocs commented on #56
@fxha But I think when user click `About...`, show them a message box in the render process. this is a good idea. and not use this build in message box.

[2018-03-22 16:26] DXXL opened #58 "TODOLIST: Add rename (custom top dialog)"
### Description

*TODOLIST*: Add option to rename the file

Because electron's default dialog which is used for actions on the file is not capable of displaying a text field, a custom dialog is needed.

I have developed a custom top dialog inspired by macOS' dialog and tried to keep the minimalistic design of marktext. The dialog I created can not only be used to show rename dialog but can be used

[2018-03-22 16:42] Jocs commented on #58
@DXXL thank you, I think a screenshot is better than the code.

Can you show me one screenshot of this top dialog.

[2018-03-22 16:53] DXXL commented on #58
Of course, I can :)

No dialog is shown:
![nodialog](https://user-images.githubusercontent.com/14121906/37784825-fe21a44e-2df8-11e8-8c21-be4faa2d16ed.png)

Then the dialog animates in and disables the editor below.
![withdialog](https://user-images.githubusercontent.com/14121906/37784826-fe412526-2df8-11e8-980f-d3c82d73eeb6.png)

It has an animation which fades tile bar shadow and the background (

[2018-03-22 17:00] fxha commented on #56
![mt_dd](https://user-images.githubusercontent.com/22716132/37785452-795d71d2-2dfa-11e8-935b-1fed72684d38.png)

![mt_about](https://user-images.githubusercontent.com/22716132/37785451-792ff040-2dfa-11e8-8920-2f6f5a07f6d2.png)

I have problems with the icon/information, but I will check that on Windows. Maybe replace the message box with a custom design (#58).

[2018-03-22 17:14] Jocs commented on #56
@fxha I prefer use dialog in [element-ui](https://github.com/ElemeFE/element) to show the `About` info. just like this. Because Mark Text has already used it.

![about](https://user-images.githubusercontent.com/9712830/37786341-6e7ac084-2e37-11e8-8180-23b2b2e2a4a0.jpg)

[2018-03-22 17:50] #19 closed

[2018-03-22 18:12] DXXL commented on #58
@Jocs You are right... 🤔 move to would require using the save dialog. But I thought we don‘t need to display the whole path dialog when only renaming files. It‘s your decision ;)

[2018-03-22 18:13] evantbyrne commented on #19
Closed without any explanation. Sketchy...

[2018-03-22 18:21] DXXL commented on #58
Since the default save dialog and open dialog are displayed in a sperate windows anyway, they could use be used for those actions while using top dialog for other warnings or actions that just need a decision, without making a design break.

[2018-03-22 19:48] SuperSandro2000 commented on #56
I would reorder it like:
Preferences
Check for updates
About mark text

[2018-03-22 20:38] DXXL commented on #58
I had some time to implement moveTo, that would look as follows:
<img width="1312" alt="screen shot 2018-03-22 at 21 37 45" src="https://user-images.githubusercontent.com/14121906/37797137-51236a68-2e19-11e8-94a1-dd1c9a8a3f19.png">

[2018-03-22 22:25] SuperSandro2000 commented on #58
I wouldn't recommend to use a custom save dialog on windows anyway.
Is a move to dialog really necessary? Save as is always an option and you could abuse it to rename the file too.

[2018-03-23 03:35] Jocs commented on #58
@SuperSandro2000 `Save as...` like copy, and `Move to...` is cut operation.

[2018-03-23 03:45] Jocs commented on #58
@DXXL I think  We can rename this file when open the `move to` dialog, if the path is not changed, it is a rename operation, if the path changed, it is a  move to operation.

But, a custom `rename` dialog is also necessary when people click the file name in the title bar or click the rename menu item.

If you have time and a `move to` feature PR is welcomed.

thank you!

[2018-03-23 07:28] DXXL commented on #58
That would be like that:

![screen shot 2018-03-23 at 08 26 32](https://user-images.githubusercontent.com/14121906/37816591-f0d39556-2e73-11e8-9a11-4907ab43fcff.png)

I will create a PR once I have the tests. Thanks for your advice ;)

[2018-03-23 08:00] SuperSandro2000 commented on #58
@Jocs oh yeah. Still think that a custom dialog will have problems acrros os's as we may need one for each system and then they are not consistent with the is or miss folders/features.

[2018-03-23 09:39] fxha opened #62 "Aidou dialog background"
### Description

Aidou dialog background is not transparent and I cannot click on this area to hide the dialog. Even if I set the background is `none` or `transparent`.

### Steps to reproduce

Switch to dark theme and open aidou dialog.

**Expected behavior:**

Transparent background and I can easily hide the dialog.

**Actual behavior:**

![mt_not_clickable_area](https://user-images.githubuserco

[2018-03-23 09:50] fxha opened #63 "Disable editor while dialog is shown"
### Description

Feature/bug? :butterfly:

### Steps to reproduce

![mt_bug](https://user-images.githubusercontent.com/22716132/37822802-d7ce8926-2e87-11e8-92c3-ca8fdb29927e.gif)

### Versions

- Mark Text: latest
- OS: linux

[2018-03-23 10:06] arty-name opened #64 "Start MarkText with a specific markdown document"
### Description

I am using MarkText as AppImage on Ubuntu Linux. When I pass a filename as a command line parameter to MarkText.AppImage it just starts with a blank document. Therefore I cannot integrate it in desktop environment nicely, like opening markdown documents in MarkText with a double-click.

### Steps to reproduce

1. Download latest MarkText.AppImage on Linux and make it executable
2.

[2018-03-23 10:12] fxha commented on #64
This issue is already fix on master. It should work with version 0.8.4

[2018-03-23 10:14] arty-name commented on #64
That’s great to know, and thanks for the very quick response! Are there any estimations when the 0.8.x branch going to be released?

[2018-03-23 10:17] Jocs commented on #63
@fxha I think the best user experience is to disable the editor, But it is not a big bug...

Let's fix some big bugs first. 😸

[2018-03-23 10:30] Jocs commented on #64
@arty-name This weekend, but not very sure.

😺

[2018-03-23 11:28] breadlesscode opened #65 "[suggetion] flatpak build"
Hi guys,

I love your app :) Thanks for this :+1:

Is it possible to add a flatpak build? Im using Deepin OS and this distribution is using flatpak.

Is that an easy step, or a complex one?

[2018-03-23 11:48] Jocs commented on #65
Sorry, it seems that `electron-builder` still does not support `flatpak` build.

We'll consider adding flatpaks if / when electron-builder supports them.

[2018-03-23 12:49] fxha opened #67 "Table menu bug"
### Description

The table menu icon disappears and you can move the menu :see_no_evil:.

### Steps to reproduce

#### problem 1 (fixed)

1. create table
2. press `Ctrl+A`
3. press `Del`
4. table icon disappears

![mt_bug_table_remove](https://user-images.githubusercontent.com/22716132/37829345-f5610542-2e9e-11e8-866a-0c50187ec487.gif)

#### problem 2

1. create table
2. press `Ctrl+A`
3. press (m

[2018-03-23 14:24] Jocs commented on #67
@fxha Style in the create table dialog is also wrong...

[2018-03-23 15:13] Jocs commented on #67
@fxha So many weird bugs, these bugs will make me crazy...

![](https://i.loli.net/2018/03/23/5ab519a82c73d.jpg)

[2018-03-23 15:48] fxha commented on #67
What did you mean by this?

[2018-03-23 15:54] Jocs commented on #67
the `row input` and the `column input` are not in the same row.
they display in two lines.

They should display in one row. like this:

Row: __________ Column __________

[2018-03-23 15:54] DXXL commented on #58
Hey, I have everything ready now for your review. Before I make a PR: What about tests? Should they be added?

[2018-03-23 15:57] Jocs commented on #58
You can add PR first, and add test latter...

So I can review the code first.

[2018-03-23 19:56] djsylvester opened #68 "Installing as default editor"
### Description

After installing all text (.txt) files changed to MarkText icon causing any of those files to be opened by this app due to it automatically changing the default.

### Steps to reproduce

1. Install
2. Look at the icon for any text (.txt) file in a directory

**Expected behavior:**
Not to change default application settings without permission.

**Actual behavior:**
Default changed

[2018-03-23 20:41] SuperSandro2000 commented on #68
Related to that: https://github.com/marktext/marktext/pull/26
When using the electron association with txt files the ``New -> Text Document`` entry in the windows context menu is just somehow 'corrupted'.

[2018-03-23 20:44] SuperSandro2000 commented on #43
This would be fixed by this https://github.com/marktext/marktext/pull/26
It got sadly not yet merged and prevents me from using marktext on windows.

[2018-03-23 21:55] rootex- commented on #30
Awesome job ☕

[2018-03-23 23:59] ricosmall commented on #40
@Jocs I have tested the new version, but got the same consequence like before. I am trying to find the code but not success yet. 🤣

[2018-03-24 04:30] Jocs commented on #32
@rootex- I would like to change the title of this issue to:

drag between code block and table block will not be implemented before v1.0.0.

Thanks for your advice!

[2018-03-24 08:06] linpengcheng opened #70 "The vertical table line isn't visible in the dark theme."
### Description

[The vertical table line isn't visible in the dark theme.]

### Versions

- Mark Text: 0.7.17
- OS: Windows 7

[2018-03-24 08:14] linpengcheng opened #71 "Add sidebar feature: filebrowser, outlines and tabs"
### Description

[Add sidebar feature: filebrowser, outlines and md-syntax-list]

### Versions

- Mark Text: 0.7.17
- OS: windows 7

[2018-03-24 08:35] Jocs commented on #71
The outline will be included in the sidebar, but the markdown syntax list will not be included.

Because they are already in the paragraph menu and format menu. You also can use shortcuts for these markdown syntax.

[2018-03-24 08:37] Jocs commented on #70
@linpengcheng The dark theme does not has the vertical line the table. You can use `Tab` key jump to the next cell.

[2018-03-24 10:10] fxha commented on #68
I think this issue has nothing to do with PR #26. @djsylvester asks about a setup option to select file associations (like `.txt` or `.md`).

I wonder why ever should we associated text file (`.txt`, `.text`) with Mark Text?

[2018-03-24 10:51] #70 closed

[2018-03-24 11:11] Jocs commented on #68
@fxha I think I just want Mark Text to open (`.txt`, `.text`) files...

But I am not sure if the `fileAssociations` with  (`.txt`, `.text`) ext caused this bug.

Have you verified this on a Windows system ?

[2018-03-24 11:56] SuperSandro2000 commented on #68
I have verified it multiple times. Running MarkText directly causes the bug obvious not but using the installer it does.

[2018-03-24 14:16] #54 closed

[2018-03-24 14:16] #56 closed

[2018-03-24 14:16] #58 closed

[2018-03-24 14:16] #64 closed

[2018-03-24 15:47] breadlesscode commented on #65
Than maybe a .deb file? :)

[2018-03-24 16:03] fxha commented on #65
You can also install the [AppImage](https://github.com/marktext/marktext/releases) or snap package.

[code]

Then `Would you like to integrate <package> with your system?` click `yes` to install or `no` to execute Mark Text.

[2018-03-24 16:10] jamesstidard opened #76 "brew cask update"
I see that the brew cask appears to be pointed at an older release then the current. Does this need to be manually updated?

I did look a little bit into this to see if I could submit the update myself but ended up unsure of how to do it. I see there is a `appcast` attribute on the cask description which I thought might mean it could automatically detect new GitHub releases.

[2018-03-24 16:27] SuperSandro2000 commented on #65
I don't think we mark text should be build for every platform. If the app image works there is no reason right?

[2018-03-24 17:57] Jocs commented on #76
@jamesstidard [update a cask](https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md#updating-a-cask)
maybe this will work?

[2018-03-24 18:01] Jocs commented on #68
@SuperSandro2000 we released the v0.8.12, has the problem been solved?

[2018-03-24 18:04] jamesstidard commented on #76
@Jocs Don't know how I missed this when looking. [Submitted](https://github.com/caskroom/homebrew-cask/pull/45170), thanks.

[2018-03-24 18:04] #76 closed

[2018-03-24 18:05] Jocs commented on #62
@fxha Are you saying that you cannot distinguish the colors of dialogs and modals? So you don't know where to click to hide the dialog？

[2018-03-24 18:12] Jocs commented on #76
@jamesstidard thanks for you! If you like, you can submit a PR to change the screenshot in the README after you installed the latest version Mark Text.

[2018-03-24 18:21] jamesstidard commented on #76
@Jocs Sure. Just to check, do you mean this screenshot?

![](https://raw.githubusercontent.com/marktext/marktext/master/doc/brew-cask.jpg)

[2018-03-24 18:22] Jocs commented on #76
@jamesstidard yes, A `.gif` image is prefer

👍

[2018-03-24 18:58] breadlesscode commented on #65
Okay thank you guys :+1:

[2018-03-24 18:58] #65 closed

[2018-03-24 20:19] Jocs commented on #55
@yanzijun the issue will be fixed in the next release version.

[2018-03-24 20:32] djsylvester commented on #68
Just installed v0.8.12 and it did not change file association for .txt files, only .md files. I'm also able to choose "open with" and change to the other markdown editor I have installed which is great. Will most likely uninstall the other after I've had time to play and make decision.

Thanks for such a quick turnaround.

[2018-03-25 04:55] Jocs commented on #40
@ricosmall I test it in my computer, And this issue didn't happen.

<img width="934" alt="3" src="https://user-images.githubusercontent.com/9712830/37871876-6c7911d2-302b-11e8-94a3-27691bde1ca8.png">

Can you help figure out this issue?

Is there any Chrome extensions that affect this code block style?

[2018-03-25 06:55] SuperSandro2000 commented on #68
@Jocs yes

[2018-03-25 07:04] Jocs commented on #68
@SuperSandro2000 Ok, I'll close this issue now.

[2018-03-25 07:05] #68 closed

[2018-03-25 20:01] pgolebiowski opened #78 "Throws an exception on first load"
### Steps to reproduce

1. Have a fresh machine that has never seen mark text before
2. brew cask install mark-text
3. Click the app icon in Launcher

**Expected behavior:** don't throw an exception xd

**Actual behavior:** exception xd

<img width="412" alt="screen shot 2018-03-25 at 22 00 21" src="https://user-images.githubusercontent.com/7394091/37879353-f4fd7146-3077-11e8-8a5d-6826237bf2e5.png

[2018-03-26 02:23] yanzijun commented on #55
@Jocs  Thanks.

[2018-03-26 02:29] leaves4j opened #79 "Can not load image when the extension in the url is missing"
### Description
Support using SVG as an image
### Steps to reproduce
`![svg_image](svg_url)` not work
### Versions

- Mark Text: 0.7.17
- OS: macOS 10.13.3

[2018-03-26 02:49] joe223 opened #80 "Generate TOC when exporting to HTML/PDF"
### A new feature：TOC

If there is a way to generator TOC automatically. Or,  I just type `[toc]` in the first line，it will turn to A catalog and update while content is changing.

[2018-03-26 02:51] joe223 commented on #80
weird, I can not add a Label.

[2018-03-26 03:42] Jocs commented on #80
@joe223 Do you mean to write HTML directly in Mark Text?

[2018-03-26 05:43] joe223 commented on #80
@Jocs  just write `[TOC]`.

example markdown content:
[code]
finally, we got

[code]

[2018-03-26 06:05] Jocs commented on #80
What's the meaning?

[2018-03-26 09:02] fxha commented on #62
@Jocs I mean, can you hide the dialog background (the big rectangle), because if you click on it the search box cannot be hidden?

[2018-03-26 09:10] fxha opened #81 "Can't parse simple table with cursor on last character"
### Description

If you parse the following table with cursor position on the last character, the editor throws exceptions.

[code]

### Steps to reproduce

![mt_table_bug_cursor](https://user-images.githubusercontent.com/22716132/37897276-1f4d8346-30e6-11e8-89d5-2e95375592eb.png)

**Expected behavior:**

| a | b |
| --- | --- |
| a | b |
| a | b |

**Actual behavior:**

[code]

[renderer.js:1:306

[2018-03-26 10:12] Jocs commented on #81
maybe we need to reset the cursor to the position before the last `|` when cursor is after the last `|`.

[2018-03-26 13:14] Jocs commented on #79
I just test weather Mark Text support SVG image, I found that the SVG image is OK.
![1522069937807](https://user-images.githubusercontent.com/9712830/37908348-917b7c4e-313a-11e8-830c-cc225635901d.jpg)

Can you give me a failed SVG url? So I test it.

[2018-03-26 16:34] Jocs commented on #81
@fxha fixed.

[2018-03-26 19:31] thurrott opened #83 "Side-by-side editing"
### Description

This is a feature-request, not a bug. For many, side-by-side editing, with an editor view on the one side and a live preview on the other, is key.

Thanks!

[2018-03-26 21:09] notAlaanor commented on #83
I believe this goes against the theme of Mark Text, where everything is minimal and right in front of you. Maybe @Jocs can comment on this.

[2018-03-27 02:17] Jocs commented on #83
@thurrott
The Mark Text editor previews in real time. The area you edit is the preview area, which combines the two together without switching back to the preview and edit modes. This experience is not better?

[2018-03-27 06:48] lcdessantos opened #84 "Windows Defender didn't recognize publisher"
Got this when running the installer on Windows 10:

![2018-03-27](https://user-images.githubusercontent.com/29223317/37951037-4e4ab444-3171-11e8-934c-ce61107be518.png)

[2018-03-27 10:40] SuperSandro2000 commented on #84
Dupe #51
Please search at least before opening a new issue

[2018-03-27 13:36] #83 closed

[2018-03-27 14:42] Jocs commented on #62
@fxha I think you should click outer of this big rectangle to hide this dialog. Do you like the `Aidou`? I feel Non-chinese users do not like this feature? So I want to hide it in user preferences. User can enable this feature by change the user preference.

[2018-03-27 14:52] #84 closed

[2018-03-27 15:29] SuperSandro2000 commented on #84
I would add a label like ``Can't fix``

[2018-03-27 15:35] Jocs commented on #84
@SuperSandro2000 There already a label named  `wontfix`

[2018-03-27 16:04] joe223 commented on #80
![image](https://user-images.githubusercontent.com/10026019/37979591-8b4c30e8-321b-11e8-8320-5532cf74ccad.png)

Only owner can set this.

[2018-03-27 16:57] fxha commented on #62
@Jocs Good solution, no i don't use it.

[2018-03-27 16:57] #62 closed

[2018-03-27 22:58] fxha opened #86 "Yet another cursor bug"
### Description

If you move cursor in source code mode we got "random" characters in marked.js `src`. Works with commit `216c522` but I didn't really look into it yet.

### Steps to reproduce

1. Set `console.log(src);` [here](https://github.com/marktext/marktext/blob/60ac2b675bbf409ddc3bf44823dcb3f2c29fa4cd/src/editor/parser/marked.js#L161)
2. Write some text
3. Move cursor position

**Expected

[2018-03-28 01:05] Jocs commented on #86
@fxha I use the random characters to record the cursor position when translate cursor in source code mode to cursor in contentState which we use to render the content state.

Do you have any better ideas to record the cursor position?

[2018-03-28 10:31] fxha commented on #86
Maybe use a variable or something because following list will "fail" to parse:

[code]

It's a loose list, but marked.js just see a tight list.

[code]

[2018-03-28 11:04] fxha opened #87 "git-lfs / travis-ci"
Can you please update `git-lfs` in `.travis.yml`, because it always fails to download and install. E.g. use [brew](https://github.com/git-lfs/git-lfs/wiki/Installation#mac-osx) on OSX or temporarily disable OSX build on travis-ci because current build tries to start/hang for 4 hours?

I don't know whether this is because of free open source service or configuration, but the paid service works perf

[2018-03-28 11:15] Jocs commented on #87
Can you please create a PR for updating` git-lfs`.
👍

[2018-03-28 11:22] Jocs commented on #86
@fxha yeah, maybe need adjust the cursor again.
when cursor is:

[code]

change to:
[code]

What's your opinions?

[2018-03-28 13:14] SuperSandro2000 commented on #87
Is there the need to install lfs? I read in a changelog that travis has already lfs installed and if not maybe do it via sudo or homebrew and not from a repo.

[2018-03-28 14:06] fxha commented on #86
Well, that was just an example. I don't know if this helps or not. Same here:

[code]

So far so good, but:

[code]
... and fails to parse.

[2018-03-28 14:49] linpengcheng opened #88 "Would you release app for Windows (32bit)?"
### Description

[Would you release app for  Windows (32bit)?]

### Versions

- Mark Text: 0.8.12
- OS: windows 7 (32 bit)

[2018-03-28 15:08] SuperSandro2000 commented on #88
Is there even a Windows version that does not have x64?

[2018-03-28 15:34] linpengcheng commented on #88
Many Win7 x86 are upgraded from XP x86, Win7 x86 users should be more than x64, of course, the programmer group x64 more。Enterprise development, many programmers also want to support x86, so use x86

[2018-03-28 15:35] Jocs commented on #86
@fxha I will check and fix this bug after #74 merged.

[2018-03-28 15:36] Jocs commented on #36
@dopsi I create a PR #89 , Can you help to review these codes?

[2018-03-28 15:47] Jocs commented on #88
@linpengcheng I think you are right, Can you help and create a PR to support (32bit)?

[2018-03-28 16:57] timwis opened #90 "Cannot launch after fresh install on macOS"
### Description

I just installed the app for the first time and I get an error when I try to open it. As a result, there's no way for me to use the app.

### Steps to reproduce

1. Download via macOS button on readme
2. Open application by right-clicking > Open and "allow unidentified source" thing

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened

[2018-03-28 17:00] timwis opened #91 "Cannot install via homebrew"
### Description

Homebrew installation fails saying `mark-text` is unavailable / no cask exists.

### Steps to reproduce

1. `brew cask install mark-text`

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

<img width="779" alt="screen shot 2018-03-28 at 12 58 58 pm" src="https://user-images.githubusercontent.com/761444/38044468-df92fc1a-3287-11e8-

[2018-03-28 17:03] timwis commented on #90
FYI I tried it from the releases page and it worked. (.dmg link)

[2018-03-28 17:16] Jocs commented on #90
@timwis same as #78 , I'll fix the bug in the next release version.

[2018-03-28 17:18] Jocs commented on #91
@timwis Same as #22

[2018-03-28 17:52] Jocs commented on #88
@notAlaanor help wanted. 🎁

[2018-03-28 19:12] #43 closed

[2018-03-28 20:27] asciimo commented on #78
Reproduced on Ubuntu 16.04.4 (marktext-0.8.12-x86_64.AppImage).

[2018-03-28 21:02] fxha commented on #90
Had the same problem with my experimental x86 windows build. Both #78 and #90 should be fixed with commit [bb6e030](https://github.com/marktext/marktext/pull/93/commits/bb6e030201de228799cc3526a6d09db2e5b62232).

[2018-03-29 01:15] notAlaanor commented on #88
Is there a problem compiling an x86 version? It should work as far as I know.

[2018-03-29 02:27] Jocs commented on #88
@linpengcheng saied:

[2018-03-29 07:49] yujiaao100 opened #94 "All the data deleted when put down Command-Z as source code mod in mac"
### Description

[Description of the bug or feature]
     All the data deleted when   put down Command-Z as source code mod in mac

### Steps to reproduce
1.  edit something without source code
2. change to source code
3. push Command-Z and then all things editing will be delete

**Expected behavior:** [What you expected to happen]
Command-Z undo last input
**Actual behavior:** [What actually happ

[2018-03-29 08:44] Jocs commented on #94
@yujiaao100 thank you for reporting this bug.

[2018-03-29 08:58] fxha commented on #88
@Jocs We cannot generate x86 and x86_64 nsis setups at the same time because they override itself. We can add a new build script target like `"release:win32": "node .electron-vue/build.js && electron-builder --win --ia32"`, so that you can build the x86 nsis setup, rename it and generate all other packages.

[2018-03-29 12:28] DIYer22 opened #95 "Please provide a Linux install instruction"
Please provide a Linux install instruction

### Description

I download Linux vision `marktext-0.8.12-x86_64.AppImage`
I don't find any instruction for Linux
and I try :
[code]
raise this error:
![screenshot from 2018-03-29 20-21-18](https://user-images.githubusercontent.com/10448025/38088689-427c5f08-338f-11e8-99d1-11f6e7d20495.png)

My system is `ubuntu 16.04`
And I am not Familiar about front-e

[2018-03-29 12:33] DIYer22 commented on #95
I try `./marktext-0.8.12-x86_64.AppImage` another time
And it has been worked ......

[2018-03-29 12:33] #95 closed

[2018-03-29 12:44] SuperSandro2000 commented on #95
#78 #90

[2018-03-29 13:05] DIYer22 opened #97 "Feature Suggest: Drop image to fast insert image"
`Mark Text` is real awesome, and I want to Suggest a feature that could fast insert image

### Description

Drop a image to text editor.
After that, `Mark Text` auto insert image to corresponding line with image's relative path.

This feature could greatly improve efficiency for write Markdown which include lots images.

[2018-03-29 13:41] Jocs commented on #97
Now we have drop and upload to `CM`, But it's not stable, Because `CM` is a free picture cloud.

Maybe drop and insert relative path is a good idea.

[2018-03-29 13:43] Jocs commented on #97
There are two problem:

1. There is no relative path when file is not saved.
2. The cursor is hard to control when you drag image to Mart Text directly.

[2018-03-29 14:22] leaves4j commented on #79
svg url: http://www.plantuml.com/plantuml/svg/SyfFqhLppCbCJbMmKiX8pSd91m00
![](http://www.plantuml.com/plantuml/svg/SyfFqhLppCbCJbMmKiX8pSd91m00)

[2018-03-29 14:22] SuperSandro2000 commented on #79
This misses the svg ending

[2018-03-29 14:24] SuperSandro2000 commented on #88
You run just the command above right?
It is not that easy

[2018-03-29 14:25] leaves4j commented on #79
We can determine the type by Content-Type

[2018-03-29 14:27] DIYer22 commented on #97
我还是用中文交流吧， 这样清晰一点

免费图片云可能会倒闭，或突然加上限制。
这样的话 原来写的markdown 就废掉了
所以 我建议 在设置里面加一项`drop image`配置 让用户自行选择传到`CM` 上 还是用 path来插入图片

### 选用path 的话
如果发觉文件没有保存 就直接提供绝对路径
对于明显和markdown文件不属于同一文件夹的图片 也直接提供绝对路径
(如果觉得这种智能化的设置会使用户迷惑， 还有办法就是 直接在`drop image`配置中 设置`upload CM`，`relative path`，`abspath`3个选项)

### 对于 problem 2
可以退一步来实现：
   一旦把图片 drop 到当前窗口， 就直接在光标处插入 `![](path)`

[2018-03-29 15:13] Jocs commented on #97
### 针对免费的图片问题

以后可能会增加配置，用户可以自行添加私有的图片云服务，使用自己的图片云。

### 针对选用 path 问题

现在 Absolute Path 和 Relative Path 都是直接调用了系统的 对话框。可能添加拖拽弹窗，类似现在上传图片的弹窗一样，用户可以选择打开徐彤对话框还是直接拖入图片。让用户自行选择使用绝对路径还是相对路径。如果没有保存，没有相对路径就直接使用绝对路径。

如果都给一个拖拽的遮罩，就不会存在光标问题了。

[2018-03-29 15:39] fxha commented on #88
### Windows installation instructions

First of all install [nodejs](https://nodejs.org/en/download/) and [git](https://git-scm.com/download/win).

Open `cmd.exe` and go to marktext source folder - there must be a `package.json` file. Then run:

1. `npm install` - this might take a while
2. `npm run build`
3. Mark Text setup is located under `build` or use`build\win-ia32-unpacked` folder - have fu

[2018-03-29 16:54] DIYer22 commented on #97
感谢! 拭目以待!

[2018-03-29 17:14] fxha opened #100 "Update preferences"
### Description

This issue is still persists because setup/Mark Text won't update new preferences. I think we have to merge default preferences with user preferences in `src/main/preferences.js@getAll`.

### Versions

- Mark Text: all version
- OS: linux, windows (and macOS?)

[2018-03-29 17:17] Jocs commented on #100
@fxha Is  (~/.config/marktext/preference.md) will be removed? when you uninstall Mark Text?

Merge Default preferences maybe overwrite users preferences?

[2018-03-29 17:20] fxha commented on #100
Maybe but if you have already installed mark text and update to latest version not.

Merge if "key" not exists?

[2018-03-29 17:27] Jocs commented on #100
@fxha merge if “key” not exists

and

remove when "key" in (~/.config/marktext/preference.md)  is out of date...

But, after Mark Text is stable, The preference.md will not be changed so often.

[2018-03-29 17:29] Jocs commented on #100
A pr is appreciated. 👍

[2018-03-29 17:35] Jocs opened #101 "Caret can not be move right when it is at the last of math block"
### Caret can not move right when it is at the last position of math block but before the first `$`.

[A bug]

### Steps to reproduce

1. write code bellow.

[code]

2. Press arrow right.

3. The caret can not move right.

**Expected behavior:** [What you expected to happen]

Caret move right to the position between `$`.

**Actual behavior:** [What actually happened]

Caret is still at the positio

[2018-03-29 20:52] #87 closed

[2018-03-30 16:25] Jocs commented on #79
@leaves4j Anyway, I think Mark Text should try once more after caret leave image src.

[2018-03-30 17:47] zawsx opened #104 "W10 file association"
### Description

Associating *.md files to MarkText doesn't open them on double-click

### Steps to reproduce

1. Right Click any .md and specify 'open with' MarkText and 'always use this program'
2. Verify that icon in file explorer has changed to the MarkText one for .md files
3. Double-click any .md in explorer

**Expected behaviour:** [What you expected to happen]
.md file should open in MarkT

[2018-03-31 08:01] fxha opened #105 "Can't remove entire markdown text"
### Description

I can't remove entire markdown text from editor. This worked in version 0.8.12.

### Steps to reproduce

1. write `a`
2. go to `Source Code Mode`
3. remove entire markdown text (here `a`)
4. exit `Source Code Mode`

**Expected behavior:**

Empty editor

**Actual behavior:**

`a`

### Versions

- Mark Text: commit `12fa87f`
- OS: Linux and Windows

[2018-03-31 08:04] fxha opened #106 "Can't parse list items without new line"
### Description

List items with multiple lines and without new line not working.

[code]

**Expected behavior:**

- a
  b
  c
- d
  e
  f

**Actual behavior:**

[code]

### Versions

- Mark Text: all
- OS: all

[2018-03-31 08:06] fxha opened #107 "Ordered lists always start with 1"
This bug is already fixed by [marked.js team](https://github.com/markedjs/marked/pull/1144/files), but you also have to update `src/editor/utils/exportMarkdown.js`.

[code]

[2018-03-31 08:58] fxha commented on #104
Can't reproduce this with v0.8.x. Please download the latest version and try again. If you use version 0.7.x it's already fixed.

[2018-03-31 09:25] Jocs commented on #105
@fxha This bug is produced by fixing `can not export PDF in source code mode`.

[2018-03-31 09:29] Jocs commented on #106
![list](https://user-images.githubusercontent.com/9712830/38161846-e4ceaa5c-3508-11e8-8ff4-63dba4f407fa.gif)

[2018-03-31 09:31] Jocs commented on #106
http://spec.commonmark.org/dingus/?text=-%20one%0A%0A%20%20two%0A

![list2](https://user-images.githubusercontent.com/9712830/38161872-59e85f9a-3509-11e8-850e-51e8c944bcaf.gif)

[2018-03-31 09:33] #88 closed

[2018-03-31 09:35] Jocs commented on #107
thanks @fxha

[2018-03-31 09:35] fxha commented on #106
But Github and other markdown editors support this. So maybe a GitHub Flavored Markdown feature?

[2018-03-31 09:38] Jocs commented on #106
Can yo show me which editor support this?

[2018-03-31 09:45] fxha commented on #106
e.g.

- Github
-  Typora
- https://stackedit.io
- https://pandao.github.io/editor.md/en.html
- https://dillinger.io/

[2018-03-31 10:24] Jocs commented on #106
@fxha Yes, It's really a bug, Maybe it will be fixed with the new feature `support raw html in Mart Text`.

[2018-03-31 10:36] zawsx commented on #104
Works with latest version, thanks!
Mark Text Setup 0.9.10.exe 80,954kb
Also the icon is better, as the old one was almost transparent on the taskbar.

p.s. When I view the marketext readme.md in marktext, I can see markup that isn't getting translated - should I post a different issue for that?

![marktext](https://user-images.githubusercontent.com/6049993/38162348-50c3b004-34d7-11e8-8f40-09ba23b2

[2018-03-31 10:38] Jocs commented on #105
@fxha fixed

[2018-03-31 10:40] Jocs commented on #104
@zawsx Mark Text does not support Raw HTML now, This is a new feature in TODO LIST.

A issue is appreciated.

[2018-03-31 10:47] Jocs commented on #104
@zawsx

The `latest version` in your comments is refered to the master branch ?

[2018-03-31 10:50] Jocs commented on #104
GitHub Flavored Markdown support `HTML block` and `inline raw HTML`, So it's right when you see the raw HTML in Mark Text.

The problem is that Mark Text have not highlight the raw HTML or do some thing else.

[2018-03-31 11:29] zawsx commented on #104
Thanks for your prompt replies and your patience.

I thought that the readme.md of Mark Text would be a great demo of a markdown renderer and so would not contain anything that looked like a fault - did not bother to read the raw script - doh!
Suggest you maybe create a 'holygrail.md' that demos the features supported/unsupported.
I will do an issue for the raw HTML in the hope that it helps.

I a

[2018-03-31 11:30] #104 closed

[2018-03-31 11:36] zawsx opened #110 "[Features] Support block HTML and Raw HTML in Mark Text"
### Description

Open up Mark Text's own README.md in Mark Text and you get a lot of raw html that makes it look as if Mark Text is not working.

### Steps to reproduce

1. Open github repo's README.md in Mark Text
2. The raw HTML looks like it's a rendering error

**Expected behavior:** Nice and shiny rendering demo of the power of markdown

**Actual behavior:** Looks likeMark Text has garbled th

[2018-03-31 11:43] zawsx opened #111 "Open/Close unchanged file - useability"
### Description

If you open an .md and then immediately hit the 'x' icon to close that .md file, you get the 'save' prompt even though no changes have been made - annoying. You then have to hit cancel. That doesn't end it though, as you then need to hit the 'x' icon again to actually close the file. One main use of Mark Text for me is to read .md files as well as edit/create them. This is a UI is

[2018-03-31 11:48] Jocs commented on #104
@zawsx Go ahead and open another issue about what you described, thanks.

[2018-03-31 13:13] fxha commented on #111
I noticed a similar problem. The problem here is that the save command (`Ctrl+S`) saves the file only, but don't set "save status" to `true`. We have to `commit('SET_SAVE_STATUS', true)` after each save.

The reasons for your problem seems to be more or less the same. Somewhere we set save status to `false` after we load a new file.

@Jocs Maybe you can fix this? Or I will do sometime.

[2018-03-31 13:35] Jocs commented on #111
@fxha I needs your help 👍

[2018-03-31 13:39] fxha opened #112 "Latest master crashes while loading"
### Description

Bug appears after commit [aab3c65](https://github.com/marktext/marktext/commit/aab3c652c596e861948a9bbfe92433f099cd23b4)

[code]

[code]

@Jocs

[2018-03-31 13:41] zawsx commented on #111
Maybe, when a file is first opened and before any changes have been made, it needs to start with commit('SET_SAVE_STATUS', true) [if SET_SAVE_STATUS means: 'false if needing saving']
Some editors have a neat feature that if you undo an edit that effectively resets a file's contents to the original state, the files' save status is reset to true. The result is, if you open a file, change one thing t

[2018-03-31 13:53] fxha commented on #111
File state is automatically set to `true` (everything fine) after we load a file. Somewhere else it's set to `false` after loading. I'll have to look at it sometime and the "undo" feature is really cool.

[2018-03-31 14:01] Jocs commented on #112
@fxha fixed #105 and caused this bug 😢

I'll fix it as soon as possible.

[2018-03-31 14:20] #112 closed

[2018-03-31 14:59] #91 closed

[2018-03-31 15:13] ricosmall commented on #40
@Jocs My safari has no extension, but I got the same consequence like it in chrome, just display wrong.

[2018-03-31 15:16] Jocs commented on #40
@ricosmall Your Mark Text version?

[2018-03-31 17:08] zachary-murphy opened #113 "A JavaScript error occurred in the Main process"
### Description
Uncaught Exception Error when installing from the exe in the readme file for Windows.

### Steps to reproduce

1. Go to ReadMe File and Click Windows Download Installation.
2. Install Exe on Windows
3. And Click Run MarkText after the Installation has completed (Run from Installer)

**Expected behavior:** To Open Up the Application.

**Actual behavior:** Errors.

**Image of Error:*

[2018-03-31 17:20] fxha commented on #113
Duplicate of #90. This bug is already fixed and release will be available soon.

@Jocs Maybe release v0.9.x in the next days?

[2018-03-31 17:27] Jocs commented on #113
@fxha Ok, I will release the next version after the `image path auto complement` finished.

[2018-03-31 18:46] fxha commented on #36
@Jocs Export to pdf and html does not work.

[2018-03-31 18:49] Jocs commented on #36
@fxha OK, I'll check it. 👍

[2018-03-31 19:17] Jocs commented on #36
@fxha The math can not be seen when export PDF and styled HTML.

[2018-03-31 20:33] zachary-murphy commented on #113
@Jocs When will `image path auto complement` be finished?

[2018-04-01 02:15] Jocs commented on #113
@zachary-murphy Almost finished, A new version will be released today.

[2018-04-01 04:26] #31 closed

[2018-04-01 04:26] #36 closed

[2018-04-01 04:26] #55 closed

[2018-04-01 04:26] #63 closed

[2018-04-01 04:26] #78 closed

[2018-04-01 04:26] #81 closed

[2018-04-01 04:26] #90 closed

[2018-04-01 04:26] #101 closed

[2018-04-01 04:26] #105 closed

[2018-04-01 04:26] #107 closed

[2018-04-01 04:26] #113 closed

[2018-04-02 05:40] hungtcs opened #114 "can't type headers(start with ###) via fcitx"
### Description

使用fcitx输入法输入标题的时候无法输入

![peek 2018-04-02 13-35](https://user-images.githubusercontent.com/11692935/38184533-e25d726c-367a-11e8-9cff-9df78aebab20.gif)

### Steps to reproduce

1. open marktext and input a header(start with ###) via fcitx

### Versions
- Mark Text: v 0.8.12
- OS: Ubuntu 16.04.1

[2018-04-02 06:07] Jocs commented on #114
@hungtcs Thanks, I'll download fcitx and test it.

[2018-04-02 06:26] Jocs commented on #114
@hungtcs 请问下你在使用搜狗输入法的时候也会遇到这种问题吗？

[2018-04-02 06:31] hungtcs commented on #114
@Jocs If I type header text first, and then insert `###` before the header text may avoid this bug.

![peek 2018-04-02 14-25](https://user-images.githubusercontent.com/11692935/38185672-e208e876-3681-11e8-97f4-f5a5f1824733.gif)

[2018-04-02 06:36] hungtcs commented on #114
@Jocs 不好意思，搜狗输入法没试过

[2018-04-02 06:50] Jocs commented on #114
@hungtcs 😢 这一个 bug，总不能让用户先输入文字，再去输入`#`吧。能帮我测试下搜狗输入法吗？
mac 上好像没有 fcitx 这个输入法。

[2018-04-05 10:13] fxha opened #116 "'_' parser bug"
### Description

`_` within a text followed by something and `_` within a text is not parsed/rendered correctly.

### Steps to reproduce

1. Go to Source Code mode and insert:
[code]
2. Exit Source Code mode

**Expected behavior:**

O_CLOEXEC - works

O_CLOEXEC `O_RDONLY`

O_CLOEXEC O_CLOEXEC

`O_RDONLY` - works

_foo_ - works (italic)

**Actual behavior:**

![mt_parser](https://user-images.github

[2018-04-05 13:06] Jocs commented on #116
@fxha

According GitHub Flavored Markdown.

Yes, this is a parse bug.

[2018-04-06 11:37] fxha commented on #111
I fixed the save problems in PR #117.

**TL;DR:** Let's say the parser formats markdown content that causes the changes and this can't be fixed so easily.

But the core problem is, that we parse markdown and translate it into HTML. If you are not in Source Code mode we will translate HTML into markdown and save it internally. If you modify text we update markdown from HTML also. That means interna

[2018-04-06 15:01] zawsx commented on #111
Thanks for the fix - really appreciated :)
The undo issue I'm highlighting is about setting a flag. The flag starts out unset, converting the input to HTML doesn't set it. Changing anything that needs a save does but if you faithfully undo those changes so as to revert to the unchanged original, it undoes the flag setting at the point where you've brought the file back to it's original contents -

[2018-04-06 15:01] #111 closed

[2018-04-08 19:31] fxha commented on #116
@Jocs  It's nice to see that the first problem is solved, but `a_b a_b` is still emphasis. E.g. [commonmark](http://spec.commonmark.org/dingus/?text=foo_bar%20foo_bar) and Github (a_b a_b) don't highlight this. They highlight `\b_[...]\b_` (regex) only. Do you want to change this? And another problem is that `a\_b a_b` is not escaped (`a\_b a\_b` is escaped successfully).

![mt_text](https://user-

[2018-04-09 06:43] Jocs commented on #116
@fxha I'll fixed, thanks.

[2018-04-09 08:35] Jocs commented on #116
@fxha Markdown syntax emphasize is strictly following [GFM](https://github.github.com/gfm/#punctuation-character) now.

[2018-04-09 15:38] fxha opened #124 "Horizontal line with more than three "-" is not displayed correctly"
### Description

.

`---<enter>` works

### Steps to reproduce

1. `----<enter>`

**Expected behavior:** [What you expected to happen]

HTML horizontal line

**Actual behavior:** [What actually happened]

[code]
### Versions

- Mark Text: 0.9.25 / master

[2018-04-09 15:47] fxha opened #125 "Insert spaces when tab key is pressed"
PR #119 disabled tab focus, but does not insert a tab/spaces into document because if you insert a tab or multiple spaces, it will get converted into one space. So we have to find a way to resolve the problem.

Maybe use something like this:

[code]

[Code template](https://github.com/marktext/marktext/blob/581afdca56ca1d56b2f8450380ff82a8c834412a/src/editor/contentState/tabCtrl.js#L67)

[2018-04-09 16:26] fxha opened #126 "HTML image failures"
### Problem 1

1. Go into source code mode and insert
[code]
2. exit source code mode and select image

**Expected behavior:**  [What you expected to happen]

HTML code box as in the second image below

**Actual behavior:** [What actually happened]

![mt_img_bug_0](https://user-images.githubusercontent.com/22716132/38509660-db01ff08-3c22-11e8-9996-0dd2b37a0a29.png)

### Problem 2

1. Go into sourc

[2018-04-09 17:10] Jocs commented on #124
@fxha fixed but not perfect.

[2018-04-09 17:17] Jocs commented on #126
I think `problem 1` is not a serious bug, just treat it as raw html.

and `Problem 2` what's wrong with it? `IMG` is not a validated HTML tag name ?

[tag name](https://github.github.com/gfm/#tag-name)

[2018-04-09 17:31] Jocs commented on #124
@fxha now strictly follow GFM.

[2018-04-09 17:35] #124 closed

[2018-04-09 17:50] fxha opened #127 "Raw HTML js security issues"
### Description

You can load javascript into editor and bypass parser with some simple methods. Mark Text is not a "security" app, but I think it's better to protect the user against this.

The following issues affect only master branch and **not v0.9.25**.

`foo` is only used to skip problems with the cursor.

[code]

[code]

[code]

output:

[code]

[code]

[code]

The following does not work,

[2018-04-09 17:55] fxha commented on #126
So `img`, `IMG` and so on is a valid tag name.  HTML is case insensitive or not?

[2018-04-10 14:41] Jocs commented on #127
@fxha Do you have any idea for solving this problem?

[2018-04-10 15:23] Jocs opened #128 "Arrow left is not work in HTML block"
### Description

Arrow left is not work in HTML block

### Steps to reproduce

1. create a HTML block
2. input `<div class="nice gir{cursor}l"></div>`
3. press arrow left, the HTML block loose focus.

**Expected behavior:** [What you expected to happen]

`<div class="nice gi{cursor}rl"></div>`

**Actual behavior:** [What actually happened]

HTML Block loose cursor

**Link to an example:** [If you'

[2018-04-10 15:26] Jocs opened #129 "Arrow down is not work in float box"
### Description

[Arrow down is not work in float box]

### Steps to reproduce

1. input `\`\`\`java`
2. The languages recommend float box is shown.
3. use arrow down to select language

**Expected behavior:** [What you expected to happen]

The next language bellow the current one will be highlight.

**Actual behavior:** [What actually happened]

Float box disappeared.

**Link to an example:** [If

[2018-04-10 15:29] fxha commented on #127
Atom uses [DOMPurify](https://github.com/cure53/DOMPurify) against XSS. DOMPurify seems to be fine and should be easy to integrate, but I don't know about performance.

[2018-04-10 15:36] fxha opened #130 "Open recent menu not working on Linux and Windows"
### Description

According to electron documentation (v2.0.0 beta):

To use this feature we have to implement it ourself, c&p a solution from atom, vscode, etc or disable menu entry `Open Recent` on Linux and Windows.

However taskbar recent documents working on Windows- Linux does not have such a feature.

### Versions

- Mark Text: all
- OS: not macOS

[2018-04-10 15:48] fxha commented on #129
I tested this in v0.9.25 and it works, but on master I get a warning `j is not a valid language mode!` and box disappears.

[code]

[2018-04-10 15:48] Jocs commented on #130
@fxha Can you help implement `open recent` on windows and linux? and `taskbar recent` on windows.

[2018-04-10 15:50] Jocs commented on #129
@fxha yeah, it's a newly bug introduced by I added  new feature `add new line between table or code block`.

[2018-04-10 15:54] fxha commented on #130
Yes, I can. Basically we have to create a (json-)file and insert paths sorted by LRU. I think the core problem will be to insert/update menu entires at runtime.

This already works

[2018-04-10 15:59] Jocs commented on #130
@fxha waiting for you PR about this issue.:smile:

[2018-04-10 16:14] fxha commented on #130
@Jocs Can you assign me and put WIP label on it. When I have some time I'll fix it.

[2018-04-11 06:43] okcomp opened #131 "vue-devtools not compatible with Electron 2.0"
### Description

I'm trying to get marktext up and running on my computer in order to have an understanding of how marktext use `codeMirror`, `snabbdom` and `vue` all together internally. The marktext app was working well, but I got the following error with `npm run dev`.

[code]

My guess is there's conflict with the Electron versions. So I downgrade the Electron version in the `package.json`, re

[2018-04-11 06:49] Jocs commented on #131
@okcomp

According to electron documentation (v2.0.0 beta):

So I think it's `vue-devtools` need to update?

[2018-04-11 07:13] hungtcs commented on #114
@Jocs 搜狗输入法没有这个问题

[2018-04-11 07:24] Jocs commented on #114
@hungtcs 我暂时没法安装 fcitx 输入法，你能帮我找下原因吗？bug 应该是在 `editor/` 内。

[2018-04-11 07:32] hungtcs commented on #114
有时间的话我会的，我猜问题应该与键盘的监听事件有关系

[2018-04-11 07:47] Jocs commented on #127
@fxha I'll create a PR, great thanks for informing DOMPurify to me.

[2018-04-11 10:18] fxha commented on #131
PR #133 should fix the issue.

[2018-04-11 10:28] Jocs commented on #126
@fxha I think the issue's problem 2 is also solved after add [DOMPurity](https://github.com/cure53/DOMPurify) ?

[2018-04-11 10:29] #131 closed

[2018-04-11 11:33] okcomp commented on #131
@Jocs Thanks for the quick fix.

Btw, is there any documentation that explains the architecture of Marktext and how `codeMirror`, `snabbdom` and `vue` work together internally? It's difficult to understand what's under the hood without any architecture-wise documentation. It could be super helpful for many of us.

[2018-04-11 12:53] Jocs commented on #131
@okcomp 😄 it's @fxha 's work.

I will rich the documents after v1.0.0 released, maybe, at the beginning of July.

[2018-04-11 13:04] Jocs commented on #110
@zawsx the latest master commit has support this HTML block and raw html, You can download the source code and build Mark Text yourself. And try this new feature.

[2018-04-11 14:53] Jocs commented on #40
I'll close this issue if no more information.

[2018-04-11 16:31] fxha commented on #127
I'll close this because it seems to be fixed and isn't affecting v0.9.25.

[2018-04-11 16:31] #127 closed

[2018-04-11 16:45] fxha commented on #127
I found another issue. I think PR #132 is the source.

Insert following text into editor/source code mode (and exit source code mode). Press 4x (multiple times) backspace and then many exceptions.

[code]

![mt_bug_00](https://user-images.githubusercontent.com/22716132/38630850-5f34d778-3db8-11e8-8e8d-b674ad804fe4.gif)

[2018-04-11 16:45] #128 closed

[2018-04-11 16:45] #129 closed

[2018-04-11 17:33] #126 closed

[2018-04-12 04:09] inuxor opened #134 "linux版无法使用fcitx输入法编写标题行"
### Description

搜狗输入法或fcitx输入框架下的其他输入法，在输入标题行即#行时输入条闪烁，且无法上词

### Steps to reproduce

1. 打开空白文档
2. 敲下1到n个#，空格
3. 切换fcitx输入法，试图输入汉字

**Expected behavior:** 正常输入文字，且符合标题行格式

**Actual behavior:** 输入条闪烁，且无法上词

### Versions

- Mark Text: marktext_0.9.25_amd64.snap
- OS:
Ubuntu Bionic Beaver (development branch) x86_64
Kernel: 4.15.0-13-generic
DE: KDE
WM: KWin

[2018-04-12 04:14] Jocs commented on #134
@inuxor duplicate  #114

[2018-04-12 06:08] Jocs commented on #127
@fxha Can you open another issue about the bug you described above?

[2018-04-12 06:08] #134 closed

[2018-04-12 06:35] Cat7373 opened #135 "Source Code Mode bug"
### Description and Steps to reproduce

https://youtu.be/IX4I4D317w4

### Versions

- Mark Text: 0.9.25
- OS: MacOS 10.13.4

[2018-04-12 06:47] Jocs commented on #135
@Cat7373 Thank you for report this bug, the bug is already fixed in the master branch, and new version will be released at the end of this month.

[2018-04-12 07:28] #135 closed

[2018-04-12 16:09] hwdef opened #138 "Internationalization of Mark Text"
请添加菜单的中文支持。

[2018-04-12 16:16] fxha commented on #138
@Jocs Regarding to this, do you plan multi-language support (i18n etc) pre v1.0 or post?

[2018-04-12 16:17] fxha commented on #67
@Jocs  I mean table cell

[2018-04-12 16:25] Jocs commented on #138
@fxha I plan to support other language after v1.0.0 release.

[2018-04-12 16:27] Jocs commented on #67
@fxha  I can not reproduce the problem 3, can you help test it with the latest master branch. I have submitted a commit to fix this issue.

[2018-04-12 16:28] Jocs commented on #138
@hwdef 可能需要等到 v1.0.0 版本发布以后，到时候我会再开一个仓库用来做 Mark Text 国际化。

[2018-04-12 16:34] Jocs commented on #138
@fxha After the release of version 1.0.0(not very sure), I will create another project specifically for the internationalization of Mark Text. At that time, we hope that more open source enthusiasts will translate it into more languages.

Before the 1.0.0 version, I will complete the documentation and user manual, and also hope that more people will translate it into other languages.

[2018-04-12 16:38] Jocs commented on #138
@fxha The current focus is still to make Mark Text full-featured and more stable.

[2018-04-12 16:57] fxha commented on #67
@Jocs  I updated issue and found a new bug

[2018-04-12 17:43] SonnyBrooks commented on #71
I'd love to see this feature. It'd move me off of Bear.

[2018-04-12 19:30] fxha opened #140 "Crash if you remove raw HTML element at the beginning of the document"
### Description

As discussed in PR #127, I found another issue related to raw HTML elements.

Insert following text into editor/source code mode (and exit source code mode). Press 4x (multiple times) backspace and then many exceptions.

[code]

It also crashes without sanitized html elements.

[code]

### Steps to reproduce

1. Insert code from above in source code mode and exit source code mode

[2018-04-12 20:57] styfle opened #141 "Question: Why embed marked instead of including as a dependency?"
I noticed you have and old copy of [marked.js](https://github.com/marktext/marktext/blob/master/src/editor/parser/marked.js) included in your src instead of as a dependency.

What did you modify and do you plan to submit back to [markedjs/marked](https://github.com/markedjs/marked)?

[2018-04-13 02:41] Jocs commented on #141
Someone else asked the same question before, and here I explain it in a unified way.

Marked is a cool markdown parser.

The reason for cloning a copy is that marked has already been said in its [issue](https://github.com/markedjs/marked/pull/587) and it will not support the task list.

I'll use a copy of marked before it support task list. Also I add some special features to marked for Mark Text

[2018-04-13 03:00] zengyufei commented on #114
我也是遇到同样的问题，我的是搜狗输入法，换成讯飞输入法就没有这个问题

[2018-04-13 03:32] PedroGao opened #142 "666666666666666666"
提供斗图这个就太骚了 ！！！！！

[2018-04-13 04:02] khaosdoctor commented on #80
I think there's an easier way to set a TOC within the text editor, like the [VSCode extension](https://marketplace.visualstudio.com/items?itemName=joffreykern.markdown-toc) does. Instead of adding a HTML string, just add more Markdown stuff inside some marked comments.

[2018-04-13 07:02] umi-neko opened #143 "Cann't remember last time's window size"
I'd like to set the window to a comfortable size,
but after close it and launch it again, the application may return to default size.
is this a bug?

[2018-04-13 11:41] Sharaal opened #144 "Support Front Matter for GitHub Pages"
### Description

If making markdown files for GitHub Pages, a header in the Front Matter format is needed. It would be nice if this will be supported in the editor to show there is this special kind of header and highlight the key/value pairs.

Details for Front Matter used by GitHub Pages:
https://jekyllrb.com/docs/frontmatter/

[2018-04-13 12:45] styfle commented on #141
Thanks for the response!

Which special features? Are these part of the CommonMark or GitHub Flavor Markdown specifications? http://commonmark.org/

[2018-04-13 12:53] Jocs commented on #141
for example:

We add `task list` and `disable inline`.

[2018-04-13 13:04] fxha commented on #141
@styfle Another big feature is loose and tight list compatibility, but there are still some problems like #106.

[2018-04-13 13:44] styfle commented on #141
Let me discuss with the marked team.
We opened https://github.com/markedjs/marked/pull/587 since we now have some tests to run against the GFM spec.

[2018-04-13 13:54] Jocs commented on #141
@styfle Great thanks to you!

I hope that one day marked can support the task list, and I will always pay attention to the development of marked.

[2018-04-13 16:05] fxha commented on #48
@Jocs When I thought about it, it seems there are two possible solutions:

1. If we load a file replace all `\n\r` with `\n` and save line encoding in `state`. Then we can internally work with LF encoding. When we save a file change `\n` to selected line encoding (`LF (\n)`: nothing to do; `CRLF (\n\r`): replace `\n`).
2. see post above. We have to change a lot of files.

[2018-04-13 16:40] Jocs commented on #48
@fxha Can we determine use `CRLF` or `LF` by platform?

`CRLF` for windows and `LF` for mac and Linux.

Only windows system need to do the work which you described in solution 1?

[2018-04-13 17:00] fxha commented on #48
We could, but the problem is if some one using LF on Windows and vi­ce ver­sa you "destroy" the file. You only have to do the work from CRLF -> LF -> CRLF. I think it's better to let the user choose line ending and/or use file line ending.

[2018-04-13 18:03] fxha commented on #48
@SuperSandro2000 Sorry, perhaps I was not clear enough. Use CRLF default on Windows, but also analyse file endings. If we found one CRLF use CRLF (ask user later when we found mixed ending). And create a menu entry `Line Endings` where the user can select LF/CRLF.

Visual Studio had the same problems with line endings. VS git extension has still some problems.

Sure you can open LF/CRLF on every s

[2018-04-13 19:27] SuperSandro2000 commented on #48
Now I get it. Sounds good.

Git under windows just converts all LF to CRLF by default and back on push. Don't think we could do it that fancy.

[2018-04-14 01:16] Jocs commented on #48
@fxha some questions(opinions):

1. If user use mixed `CRLF` and `LF` how we treat this situation?
2. I agree with you

3. Do you find any other editor that user can select the 'LF/CRLF'?(is it necessary? as @SuperSandro2000 saied, maybe user do not know what `LF/CRLF` is.)

[2018-04-14 01:49] umi-neko opened #148 "Code block syntax hight-light lost when reopen files"
New created code block's syntax hight-light is corrected, but after reopen it, the syntax hight-light will lost.
OS: macOS
marktext version: 0.6.12

[2018-04-14 01:49] Jocs opened #149 "Bug: can not delete content of code block"
### Description

I delete all the content after I select all, but when I input some text later, the previous code block content is still there.

### Steps to reproduce

1. input follow markdown:
[code]
2. press `cmd + A` and then press backspace to delete all.
3. Enter some new text at the first line.

**Expected behavior:** [What you expected to happen]

Display the new text which you input.

**A

[2018-04-14 01:51] Jocs commented on #148
@umi-neko Please download the latest version, I remember the bug has been fixed in the new version.

[2018-04-14 02:14] umi-neko commented on #148
Oh that's my fault, I thought the one on baidu yun also is the latest version
0.9.25 is ok

[2018-04-14 02:25] ArthurZ opened #150 "Link to GitHub Flavored Markdown Spec points to CommonMark"
In the **Features** section
the link to GitHub Flavored Markdown Spec points to CommonMark

[2018-04-14 02:31] umi-neko opened #151 "0.9.25 "save" short cut not work"
this time I download marktext from github
it seems that File menu's "Save" not work

OS: macOS

[2018-04-14 06:40] SuperSandro2000 commented on #48
1. Convert them all to one or the other.
3. You can change it in Notepad++. Edit> EOL Conversion.

[2018-04-14 07:07] fxha commented on #151
Do you mean the modification indicator (red dot) or that you cannot save a file. Can you please open the file with another text editor and verify it?

[2018-04-14 07:14] fxha commented on #48
Maybe default to LF and CRLF on Windows (and show user notification). Or create a settings option  `line endings`.

Atom, Typora, Sublimetext, Notepad++

Yeah, that may be true

[2018-04-14 07:19] fxha opened #152 "Weird ":" highlighting"
Text which is between `:` and another `:` is highlighted in cyan. Maybe problem with smiley highlighting?

### Steps to reproduce

Insert following text into source mode and exit.

[code]

**Expected behavior:**

Black text

**Actual behavior:**

![mt_highlighting](https://user-images.githubusercontent.com/22716132/38765593-e30175f8-3fc4-11e8-814f-99f8f295a6ca.png)

### Versions

- Mark Text: v0.9

[2018-04-14 07:21] fxha opened #153 "Double space between tasklist checkbox and text"
### Description

Double space between tasklist checkbox and text.

### Steps to reproduce

Insert following task list into source code mode and exit. Then go back into source code mode.

[code]

**Expected behavior:**

[code]

**Actual behavior:**

Double space between `]` and `a/b`

[code]

### Versions

- Mark Text: v0.9.25/master

[2018-04-14 10:43] Jocs commented on #150
@ArthurZ thanks, can you help to update this link to [GFM(]https://github.github.com/gfm/)?

[2018-04-14 10:46] Jocs commented on #151
@umi-neko Can you give more information about this issue? You'd better follow the issue template!

So I can fully understand what the problem is. thanks.

[2018-04-14 15:17] umi-neko commented on #151
### Description
after modify a file, "Command + S" can not make the modification indicator disappear.

### Steps to reproduce

1. open a exist file or create a new file
2. type something in the file, now can see the modification indicator appear in title bar
3. press Command + S, the modification indicator still in title bar
4. using File->Save also can not make the red dot disappear
5. press wind

[2018-04-14 15:28] fxha commented on #151
Thanks for you description! Duplicate of #111 and already fixed in master. It was only a UI issue.

[2018-04-14 15:31] Jocs commented on #153
@fxha Yeh, can you help fix this issue.:smile:

[2018-04-14 15:34] Jocs commented on #152
I use the color `cyan` to indicate that the `emoji` is not validated.

should not be parsed as emoji syntax.

I'll fixed, thanks.

[2018-04-14 16:01] ArthurZ commented on #150
Good idea @Jocs just did

[2018-04-14 16:01] #148 closed

[2018-04-14 16:10] Jocs commented on #48
When user create a markdown file by Mark Text, default to LF and CRLF on Windows .
If user open an existed file, We should not change the line break, But give a notification to tell the users the recommended line break to their platform, user can change the line break in menu.

@fxha do you mean this above?

[2018-04-14 16:28] Jocs commented on #48
@fxha we can set this plan first. I'll assign it to you first, but I don't need to rush to write code because I haven't thought about how to prompt the user. Do you have any good suggestions?

[2018-04-14 16:40] fxha commented on #48
Maybe we can use the auto. update statusbar to notify or native message box/notifications to prompt the user?

[2018-04-14 16:54] Jocs commented on #48
I prefer the first solution, use the auto update status bar.

[2018-04-14 17:37] Jocs commented on #152
@fxha I changed the invalid emoji color to `rgba(242, 134, 94, .7)`.
and markdown text like below.

will not be parsed as emoji syntax now.

[2018-04-14 17:38] #151 closed

[2018-04-14 17:38] #152 closed

[2018-04-15 00:11] vineethkartha commented on #153
@Jocs I can take this up

[2018-04-15 07:27] SuperSandro2000 commented on #48
Most of the editors show it in the bottom right somewhere.

[2018-04-15 10:27] Jocs commented on #153
@vineethkartha my fault, can you open an PR?

[2018-04-15 11:35] #150 closed

[2018-04-15 12:29] vineethkartha commented on #153
@Jocs  I'm working on the fix once ready will create a PR

[2018-04-15 13:15] fxha commented on #130
#fixed but not released

[2018-04-15 13:15] #130 closed

[2018-04-15 13:37] Jocs opened #159 "Feature: Support hard line break and soft line break"
### Description

**hard line break** A line break (not in a code span or HTML tag) that is preceded by two or more spaces and does not occur at the end of a block is parsed as a hard line break (rendered in HTML as a <br /> tag)

eg:(`_` is space.)

[code]
the html is:

[code]

**soft line break** A regular line break (not in a code span or HTML tag) that is not preceded by two or more spaces or a

[2018-04-15 13:58] Jocs opened #161 "Bug: can not select all by `Ctrl + A` when the first block is HTML Block"
### Description

when the fist block is HTML block, the `select all` is not work.

### Steps to reproduce

1. [First step]

input markdown bellow IN source mode and back to realtime preview mode:

[code]

2. [Second step]

press `Ctrl + A`, and not work.

**Expected behavior:** [What you expected to happen]

All the contents are selected.

**Actual behavior:** [What actually happened]

Nothing hap

[2018-04-15 15:27] abeaczg opened #162 "Code fence does not support php language"
1,文字一多,变得很卡.（When the markdown file is too large, the Mark Text editor will become stuck #165）
2.代码区没有php支持..（Code fence does not support php language）

[2018-04-15 22:55] HigorRozan opened #163 "Problemas ao alterar do modo de código-fonte para o modo de máquina de escrever"
### Description

When I change to Source Code Mode I can't go back to Typewriter Mode, it just happen when I save the file

### Steps to reproduce

1. Open a markdown file or save a file
2. Change to source code mode
3. Change to typewriter mode

**Expected behavior:** Go back to typewriter mode

**Actual behavior:**  Stay in souce code mode

### Versions

- Mark Text: v0.9.25
- OS: Linux Ubuntu 1

[2018-04-16 01:12] DMIAOCHEN opened #164 "Scroll bar will auto scroll to top"
### Description
when scroll to bottom, then click any space that not empy, then the scrollbar will auto scroll to top.

### Steps to reproduce

**Expected behavior:** scrollbar will stay on

**Actual behavior:**auto scroll to top

### Versions

- Mark Text: v 0.9.25
- OS: Windows 10 Pro

[2018-04-16 02:27] Jocs commented on #162
@abeaczg

你好这个问题需要根据内容来排查，能将你打开很大的 markdown 文件发我邮箱吗？ransixi@gmail.com，所有内容仅作为开发 mark text 所用。

Mark Text 内部使用的 codemirror，如果 codemirror 支持 PHP 的话，我会尽快添加上。如果你能够提一个 PR 的话，将非常感谢。

[2018-04-16 02:38] Jocs opened #165 "Bug: When the markdown file is too large, the Mark Text will become stuck"
### Description

When the markdown file is too large, the Mark Text editor will become stuck

### Steps to reproduce

1. [First step]

open a large markdown file (maybe more than 10000 characters)

2. [Second step]

Edit and for a moment.

3. [and so on...]

The editor will become stuck

**Expected behavior:** [What you expected to happen]

Editor is very smooth

**Actual behavior:** [What actuall

[2018-04-16 02:40] Jocs commented on #162
@abeaczg 非常感谢你提的 issue。希望下次一个问题一个 issue，并且描述详细一些。

[2018-04-16 02:42] Jocs commented on #163
@HigorRozan You mean the `Typewriter mode` in the menu?

If you are editing in `source code mode`, You can not change to `Typewriter mode`, Because `source code mode` does not have `Typewriter mode`.

[2018-04-16 02:45] Jocs commented on #164
@DMIAOCHEN Can you show me some `gif` pictures of this issue, So I can fully understand what you described.

[2018-04-16 03:53] #161 closed

[2018-04-16 05:14] coolreader18 commented on #144
I second this. YAML front matter isn't just used by Jekyll, it's used by a lot of static site generators, so it'd be nice if there could be either a YAML syntax for text between the two `---`'s or even a GUI editor for it, though that's a lot to ask.

[2018-04-16 06:58] Jocs commented on #67
@fxha fixed in master branch

[2018-04-16 14:13] fxha commented on #67
@Jocs  Thanks for your work, but problem 2 and 3 still exists in master branch.

[2018-04-16 14:25] lulucca12 opened #166 "Stack pages toghether"
### Description

You sould be able to stack multiple pages like in a browser

### Steps to reproduce
1. open a file
2. open another file

**Expected behavior:** be an option for stacking them both in just one window
**Actual behavior:** no option

### Versions

- Mark Text: 0.9.25
- OS: ALL

[2018-04-16 14:30] fxha opened #167 "feat: Get document title from markdown heading when exporting HTML/PDF"
Iterate through markdown/html and extract the highest heading and set it as document title when exporting HTML/PDF. Highest heading: `# > ## > .. > ###### > "Mark Text"`.

[2018-04-16 14:31] Jocs commented on #67
@fxha I found that if wrote the commit message `fix: #xxx`, and the xxx issue will be automatically closed, I'll reopen this issue to fix the problem 2 and 3.

[2018-04-16 14:39] Jocs commented on #166
`Tabs` and `Side Bar` are in the roadmap of version 1.0.0.

we will implement these features before version 1.0.0 released.

[2018-04-16 14:54] Jocs commented on #167
@fxha there is nothing in the description! ❔

[2018-04-16 15:00] Jocs opened #168 "feature: checking spell and autocorrect spell"
### checking spell and autocorrect spell

just like write in `Page`, if you type the wrong word, the recommended words will be shown below.

### Steps to reproduce

It's a new feature.

### Versions

- Mark Text: master
- OS: all platforms.

[2018-04-16 15:04] Jocs opened #169 "feature: left click context menu"
### Description

Some useful shortcuts will be listed in the left context menu, eg:

* copy as markdown
* copy
* paste
* paste as plain text
* Insert Image
* ...

If you have any advice, please let me know?

### Versions

- Mark Text: master
- OS: all platforms

[2018-04-16 19:05] fxha opened #171 "Display issues with long text/code block"
### Description

If you insert a long text into editor, not the complete text is displayed until you click on the text.

### Steps to reproduce

1. create code block and insert a text with let's say min. 30 lines

\-- or --

1. load file/write text with min. 30 lines
2. set cursor into first line
3. go to source code mode
4. if you have "luck", only first lines are shown. If not repeat 2. with ano

[2018-04-16 19:34] HigorRozan commented on #163
Ok, thanks for helping.

[2018-04-16 19:34] #163 closed

[2018-04-17 00:52] DMIAOCHEN commented on #164
sorry, it's fine today:scream:, maybe some other cause. i will reopen this issue when it happend again

[2018-04-17 02:07] scuzhangzhang opened #173 "insert image"
###Sometimes ，Inserting  a image doesnt work ,i have to close the marktext and open again

### Versions

- Mark Text:
- OS:  windows 10

[2018-04-17 02:11] Jocs commented on #173
@scuzhangzhang HI, 能够描述得详细一些吗？可以直接中文的。
1. 用什么方式插入图片。
2. 具体步骤。
3. 按着 issue template 的格式。

[2018-04-17 02:31] Jocs commented on #171
@fxha Can you help with this issue at your convenience？

[2018-04-17 07:45] ZhuoChenchen opened #174 "可以添加一个自定义CSS风格的选项吗?"
如题, 内置一些可选风格如github等, 或提供一个手动选择css文件的选项

[2018-04-17 16:45] #27 closed

[2018-04-17 16:45] #33 closed

[2018-04-17 16:45] #67 closed

[2018-04-17 16:45] #86 closed

[2018-04-17 16:45] #110 closed

[2018-04-17 16:45] #116 closed

[2018-04-17 16:45] #140 closed

[2018-04-17 16:45] #143 closed

[2018-04-17 16:45] #149 closed

[2018-04-17 16:45] #162 closed

[2018-04-18 02:15] saivan opened #176 "Enabling Asciimath"
One of the main things that would be super awesome would be to enable asciimath : http://asciimath.org/ as an alternative math input.

Since it looks like you're using mathjax to render the math anyway, this would just involve using (perhaps) different delimiters for asciimath. So for example, somebody could type something like this:

[code]

Or just type the equivalent asciimath (Which is usually

[2018-04-18 02:25] Jocs commented on #176
@saivan Mark Text use [katex](https://github.com/Khan/KaTeX)  to render the math.

I think support `asciimath` is a nice feature to Mark Text, I'll take it into consideration about your advice.

thanks.

[2018-04-18 02:27] saivan commented on #176
Oh okay, well if you're using katex;
asciimath [has a converter here](https://github.com/asciimath/asciimathml/blob/master/asciimath-based/ASCIIMathTeXImg.js)

This converter can just convert asciimath to latex
Theres a [guide for it here](https://www.intmath.com/help/asciimath-input-latex-katex-output.php).

I can try to give it a crack eventually, but I think you will be alot faster than me :)

[2018-04-18 02:32] Jocs commented on #176
Do you mean that you want to help with this feature? That's would be very thankful.

I am work on another features now, So open a PR at you convenience is appreciated.

[2018-04-18 02:33] saivan commented on #176
I'd like to give it a go at some point,
but I'll probably be too busy to do it over the next few months,
but if I do get some time; I'll try it :)

[2018-04-18 02:34] Jocs commented on #176
@saivan ok!

[2018-04-18 03:26] morehardy opened #177 "文字无法录入"
### Description

#### 在使用 # 后无法直接输入文字,需要额外的空格之后,文字才能录入

**Actual behavior:**
无法紧跟#之后录入文字,编译器会解析空格,造成排版混乱

**Example:**
![1](https://user-images.githubusercontent.com/30150764/38910247-0210b3e4-42fb-11e8-8bde-c181ea357fc7.gif)

### Versions

- Mark Text: 0.10.21
- OS: windows 10

[2018-04-18 03:42] Jocs commented on #177
@morehardy 什么输入法？

[2018-04-18 04:08] hungtcs commented on #114
@Jocs 我的输入法不会出现这个问题了，我也不太清楚具体原因。
前两天我换了`google pinyin`代替`fcitx pinyin`（因为其他的原因），`google pinyin`没有出现上面的问题。
我昨天fork了项目准备测试，然后刚刚又安装了`fcitx-pinyin`，但是`fcitx pinyin`好像是被`google-pinyin`影响了，它也恢复正常了！下面的图片中可以看到现在`fcitx-pinyin`输入汉字的时候显示了灰色的预输入文本，之前是不会出现的（可以参考上面的图片，就没有出现）。这与 @zengyufei 的情况应该是同一个问题，因为`fcitx`并没有提供相应的设置选项，我已经无法复现之前的问题了。如果有在`elementary OS`上测试或者其他可以帮助您的，请@我

![peek 2018-04-18 11-47](https://user-

[2018-04-18 04:14] Jocs commented on #114
@hungtcs 出现灰色文字是编辑器的问题，这是一个比较难优化的地方，但是不影响输入。

[2018-04-18 04:16] hungtcs commented on #177
@morehardy 标准markdown的标题写法应该是`###`后面有跟空格的吧
[code]

[2018-04-18 04:29] morehardy commented on #177
搜狗输入法

[2018-04-18 04:32] morehardy commented on #177
@hungtcs
我试过这样写,只写一个空格一样有 bug, 只有两个以上空格才能输进去,但这样空格会解析,排版乱了

[2018-04-18 04:35] hungtcs commented on #177
@morehardy 那应该和我遇到的问题是一样的，不过我在ubuntu上使用搜狗输入法没问题，fcitx-pinyin有这个问题

[2018-04-18 05:26] Jocs commented on #177
@hungtcs 标准中，`#` 后面是必须有空格的，我还在考虑是否需要严格按照标准。

[2018-04-18 08:48] mice33 opened #179 "The shortcuts of SAVE AS and SOURCE CODE MODE are conflicted"
如题

[2018-04-18 09:05] jimmyko commented on #177
建議：第一次輸入空格外的字元時提示要求輸入空格去設定標題格式，第二次再輸入空格外字元時直允許輸入但不進行標題格式化。

[2018-04-18 09:10] Jocs commented on #179
@mice33 Yeh, My fault, Do you have any good idea for the shortcut of `source code mode` ?

[2018-04-18 09:13] Jocs commented on #177
@jimmyko 在下一个版本，会严格要求在`#` 后面输入一个空格来表示标题。

[2018-04-18 09:54] mice33 commented on #179
`Ctrl+Shift+V` 如何

[2018-04-18 10:05] Jocs commented on #179
直接 `Shift + V` 会有冲突吗？

[2018-04-18 10:06] fxha commented on #179
@mice33 `Ctrl+Shift+V` is reserved to paste text without formatting.

[2018-04-18 10:07] Jocs commented on #179
@fxha Do you have any idea for this shortcut of `source code mode`?

[2018-04-18 10:11] mice33 commented on #179
唔，按着有点别扭..`Ctrl+U` 呢？

[2018-04-18 14:08] Jocs commented on #173
@scuzhangzhang I'll close this issue if no more info. if you add more detail I'll re-open it.

[2018-04-18 14:08] #173 closed

[2018-04-18 15:00] #177 closed

[2018-04-18 15:47] #40 closed

[2018-04-18 16:06] alexchut opened #181 "Indented Lists"
### Description

Cursor disappears when tab is pressed to create and indented list

### Steps to reproduce

1. Create a list
2. Press tab

**Expected behavior:** Cursor moves over 4 spaces, and list is indented

**Actual behavior:** Cursor disappears

### Versions

- Mark Text: 0.10.21
- OS: WIN-64

[2018-04-18 16:53] fxha commented on #181
Thanks for reporting this issue. I just tried list indentation with v0.10.21 and it's working perfectly fine. Do you indent the first list item because this is not supported.

The problem that you can't insert 4 spaces/tab is known and tracked in #125.

[code]

becomes

[code]

Or do you want to indent the entire list? e.g:

[code]

[2018-04-19 01:46] Popsoywhip opened #182 "T"
### Description

[Description of the bug or feature]

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reproducible, please try to reproduce it on [JSFiddle](https://jsfiddle.net/), [JS Bin](https://jsbin.com),

[2018-04-19 01:49] Jocs commented on #182
What’s this issue used for?

[2018-04-19 01:50] Popsoywhip commented on #182
Testing

On Wed, Apr 18, 2018, 9:49 PM 冉四夕 <notifications@github.com> wrote:

[2018-04-19 01:51] #182 closed

[2018-04-19 01:57] jaljoue opened #183 "Feature Inquiry: More Languages in Code Blocks"
I was wondering if more languages with syntax highlighting would be added in future releases. Love the editor though!

[2018-04-19 02:03] Jocs commented on #183
We use codemirror to render code block,so if you find one language that codemirror support but Mark Text does not, please list it here?

[2018-04-19 06:11] alexshenyuefei opened #184 "How to enable `斗图` in Mark Text?"
### Description

windows 系统怎么使用斗图
windows上面斗图的快捷键是什么
谢谢

[2018-04-19 06:24] alexshenyuefei commented on #184
谢谢

[2018-04-19 07:33] #179 closed

[2018-04-19 07:35] g-plane opened #185 "Feature Request: Workspace support"
### Description

Just open a directory instead of a single markdown file, like:

![image](https://user-images.githubusercontent.com/17216317/38977441-ff58f11a-43e6-11e8-8e0a-8d44a6b9bec9.png)

(This is Typora)

### Versions

- Mark Text: 0.10.21

[2018-04-19 07:42] Jocs commented on #185
duplicate with #71

[2018-04-19 07:44] g-plane commented on #185
Should I close it?

[2018-04-19 07:46] Jocs commented on #185
Ok，we will support sidebar and tabs before v1.0.0

[2018-04-19 07:48] #185 closed

[2018-04-19 07:55] #183 closed

[2018-04-19 08:25] DingShizhe opened #187 "Can I change the default code font in markdown code blocks?"
### Description

I noticed that default codes font in code blocks is Courier (or Courier New) and I want to change it to Consolas.  I try to change css file in static/themes/ then build, but it doesn't work.

In line 349 of file dark.css, I changed the code as show below.
[code]

[code]

Is there some ways to change the font?

### Versions

- OS: Ubuntu 16.04

[2018-04-19 08:52] Jocs commented on #187
@DingShizhe do you change `font-family` in light.css ?

[2018-04-19 09:44] kobejie93 opened #188 "输入中文的时候，滚动条会自动跳到顶部。"
### Description

When the content is entered, the top is automatically rolled. Input Chinese
输入中文的时候，滚动条会自动跳到顶部。
### Steps to reproduce

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reproducible, please try to reproduce it on [JSFiddle](https://jsfiddle.net/), [JS Bin](https://jsbi

[2018-04-19 11:12] heydojo opened #190 "Two AppData\Roaming folders on Windows"
### Description

marktext creates two folders inside the folder C:\Users\USERNAME\AppData\Roaming

### Steps to reproduce

1. Using Windows explorer, navigate to the location C:\Users\USERNAME\AppData\Roaming
(replacing USERNAME with your username)
2. Scroll down to the folder Mark Text
3. Observe that there is also a folder below named marktext

**Expected behavior:**

Only one folder used for ro

[2018-04-19 11:15] Jocs commented on #190
@heydojo can you show some pictures about this issue? what's folders' name?

[2018-04-19 11:15] DingShizhe commented on #187
@Jocs Yes. I changed them all.  But they didn't work.

[2018-04-19 11:17] Jocs commented on #187
You can run

then open the Chrome console to see weather the `font-family` added?

[2018-04-19 11:47] SuperSandro2000 commented on #190
I think he means there are the folders Mark Text and marktext. I assume one from electron and one from the settings.

[2018-04-19 13:46] Jocs commented on #114
@hungtcs

非常感谢你愿意为 Mark Text 做贡献，issue 中标记为 `bug` 或者 `help wanted` 都是需要解决的问题，如果你有时间的话，可以帮忙看看，如果你有其他想法，欢迎在这儿交流。

[2018-04-19 13:47] Jocs commented on #114
@hungtcs

应该不会的

[2018-04-19 14:28] #153 closed

[2018-04-19 15:16] heydojo commented on #190
Correct. 👍

There doesn't need to be two. And to be honest it's not really regarded as good practice to use the roaming folder for application data. It eliminates portability. The application has an installation folder; why not use it to store application settings and use the registry for per user settings?

If you won't, please ensure that AppData\Roaming entries are cleared out by the uninstall

[2018-04-19 16:27] SuperSandro2000 commented on #190
UAC and there is no such thing as a registry on linux so it is easier to port and test with a file based config.

[2018-04-19 16:48] fxha commented on #190
Yes, Mark Text use `marktext` folder for settings and electron cache. `Mark Text` folder is not used by us.  I'm not sure, but maybe the windows setup (NSIS) use`Mark Text` for log files.

As already mentioned by @SuperSandro2000, Mark Text is a cross-platform application and the easiest way to support settings is to use a folder in user directory. Maybe we can add a `--portable` flag to use a sub

[2018-04-19 17:53] heydojo commented on #190
Cool. Probably just the installer cache then.

Neither are user specific settings.

In all honesty, for Windows; you likely should be targeting the Windows store. I say this as someone who has no interest in using store apps myself. However, you have the likes of [Atom](https://atom.io/) to compete with in this space and their markdown support is the best I have found. Atom, however does not have

[2018-04-19 18:54] fxha commented on #190
Sure of course, we save user preferences, recently used documents on Linux and Window and also window settings in there.

At the moment the primary focus is to develop all missing feature, fixing bugs and stabilization. I think there could be also problems with sandboxing (filesystem access) and we would need a windows certificate. There are good reasons why atom, vscode etc are not in the store.

[2018-04-19 20:48] SuperSandro2000 commented on #190
Alpha/Beta 😆

[2018-04-20 02:53] Jocs commented on #190
First of all, I don't think this is a destructive issue. As you said, our focus at this stage is still on improving functionality and stability.

**about this issue:**

- Since I don't quite understand how to uninstall Mark Text above windows, I hope to be able to clean these folders when I uninstall it.
- >I would suggest trying to change on of the names so that both folders are combined.

  I do

[2018-04-20 04:44] johnblommers commented on #144
Agreed. And until YAML front matter is supported the presence of a YAML block should be ignored. All of my Markdown files have YAML in the front matter. I hope this enhancement is implemented sooner rather than later.

[2018-04-20 04:52] johnblommers opened #193 "Mark Text does not support footnotes"
### Request support for footnotes

Many Markdown processors support footnotes so it would be nice to have it in marktext.

### Steps to reproduce

1. Insert into the text [^XYZ] to denote a footnote
2. Insert elsewhere the text on its own line [^XYZ]: Text for the footnote
3. When the markdown is rendered as HTML the footnotes appear at the bottom.
4. When the markdown is exported to PDF the footn

[2018-04-20 04:57] johnblommers opened #194 "PDF Export is contacted by LaTeX hightlight"
### The PDF export includes the onscreen LaTeX highlight

The PDF export appears to literally render whatever is present in the HTML preview. If you have clicked into a LaTeX expression the preview balloon is present in the PDF export. If you just checked for updates to marktext then the notification is printed at the bottom of each PDF page.

### Steps to reproduce

1. Check for updates
2. Enter

[2018-04-20 05:04] johnblommers opened #195 "No support for subscripts and superscripts"
### No support for subscripts and superscripts

In other Markdowns you can write an expression like a~2~ x^2^ to express simple algebra.

### Steps to reproduce

1. Write the text a~2~ x^2^
2. Click elsewhere to allow the text to render
3. Nothing special happens and we don't get a nice algebra formula

**Expected behavior:** We should see subscripts and superscripts

**Actual behavior:** The lite

[2018-04-20 05:34] Jocs commented on #195
We are focus on [GFM](https://github.github.com/gfm/) syntax before v1.0.0, we'll take `subscripts` and `superscripts` into consideration after v1.0.0 released.

[2018-04-20 05:36] Jocs commented on #194
This issue will be fixed in the next released version.

[2018-04-20 05:39] Jocs commented on #193
As mentioned in #195 ,we plan to support GFM syntax first, then we'll add some external syntax.

[2018-04-20 08:33] Jocs commented on #167
`# > ## > .. > ###### > "Mark Text"` is the title or path?

[2018-04-20 11:18] fxha commented on #167
I have reconsidered the idea  once again. Take `#` heading text (`h1`) as document title or "Mark Text" when exporting HTML/PDF.

E.g:

[code]

we would get `title` as title

[code]

we would choose `Mark Text` as document title.

[2018-04-20 19:41] Jocs commented on #167
@fxha In my opinions.

if the edited file is saved, we can use the file name directly.

if the file is not saved, I recommend use the first 10 words in  document, for example:

[code]

if the length of `title` is less than 10, use the `title` directly, if its length is more than 10, use the first  10 words?

[2018-04-20 19:51] Jocs commented on #106
@fxha It's finally resolved with the new feature `hard and soft line break`.

[2018-04-21 07:08] DingShizhe commented on #187
When I run `npm run dev`, a marktext window pop-up. But how can I see it in  Chrome console? Could you please speak more specific?

[2018-04-21 07:08] DingShizhe commented on #187
When I run npm run dev, a marktext window pop-up. But how can I see it in Chrome console? Could you please speak more specific? @Jocs

[2018-04-21 09:38] fxha commented on #187
@DingShizhe Please open hamburger menu and select `View` and click on `Toggle Developer Tools` or `View -> Toggle Developer Tools` on macOS.

[2018-04-21 21:00] fxha opened #198 "Table navigation is not working"
### Description

Table navigation with ↑ and ↓ arrows not working.

**Expected behavior:** [What you expected to happen]

- **↑:**  jump up
- **↓:**  jump down

**Actual behavior:** [What actually happened]

Left/right navigation

### Versions

- Mark Text: v0.10.21
- OS: all

[2018-04-21 21:06] fxha opened #199 "Empty table disappears if no input is made"
### Description

Empty table disappears if no input is made.

### Steps to reproduce

1. Create table in editor mode
2. Switch to source code mode

**Expected behavior:** [What you expected to happen]

Empty table like this:

[code]

**Actual behavior:** [What actually happened]

Empty text editor

### Versions

- Mark Text: v0.10.21
- OS: all

[2018-04-21 21:12] fxha opened #200 "Deleted table still exists if no input is made after deletion"
### Description

Deleted table still exists if no input is made after deletion.

### Steps to reproduce

1. Create table
2. Delete table

Please note issue #199. That means you have to write text after table creation. Otherwise table doesn't exists in source code mode.

**Expected behavior:** [What you expected to happen]

Table should be deleted.

**Actual behavior:** [What actually happened]

Ta

[2018-04-22 10:27] fxha opened #202 "Table inside a list is not supported"
### Description

Table inside a list is not supported.

### Steps to reproduce

[code]

**Expected behavior:** [What you expected to happen]

List with a table

**Actual behavior:** [What actually happened]

List with markdown table text

### Versions

- Mark Text: v0.10.21 / master
- OS: all

[2018-04-22 10:57] #190 closed

[2018-04-22 12:30] #198 closed

[2018-04-22 12:39] Jocs commented on #202
@fxha Do you want to fix this?

[2018-04-22 12:43] Jocs opened #204 "Bug: Copy and paste not work in master branch"
### Description

As title

[Description of the bug or feature]

### Steps to reproduce

1. write some text
2. press `CmdOrCtrl + C`
3. Jump to a new line, press `CmdOrCtrl + V`

**Expected behavior:** [What you expected to happen]

Copy and paste the wrote text.

**Actual behavior:** [What actually happened]

Nothing happened

### Versions

- Mark Text: master
- OS: All

[2018-04-22 13:21] raamana opened #205 "Unindenting does not work"
### Description

When I press a tab in a bullet item, it gets indented one more level, which is great. I'd like the reverse too - Shift+Tab should deindent it one level, like in other text editor. This feature would be great if possible.

[2018-04-22 13:40] fxha commented on #202
@Jocs  I really don't have time for this. But if you don't want to fix it, then later.

[2018-04-22 14:06] Jocs commented on #202
I'm going to prepare a technical seminar, so I didn't have much time to maintain Mark Text before May 20th. It's okay. We are not in a hurry.

[2018-04-22 14:07] Jocs commented on #205
@raamana thanks for open this issue, it's a cool feature!

[2018-04-22 17:15] #204 closed

[2018-04-23 04:58] yhcharles commented on #97
Another suggestion:

To paste images into markdown, I found this implementation is quite convenient:
[https://atom.io/packages/markdown-img-paste](https://atom.io/packages/markdown-img-paste)

Which allows user take a screenshot, then use "Ctrl+Shift+V" to paste the image into markdown. It actually creates and saves the image file in the same directory of markdown file. So you don't have to save i

[2018-04-23 07:28] umi-neko opened #206 "Change lineHeight may cause format error"
### Description
When set lineHeight to 0.5 in User Preferences, display format get error.

[Description of the bug or feature]
Set lineHeight to 0.5 and restart the app, it will look like this:
![1524468401247](https://user-images.githubusercontent.com/6946691/39112332-c1d6a40a-470a-11e8-924a-5b6ff175e356.jpg)

### Versions

- Mark Text: v0.10.21 (compile from github source)
- OS: macOS

[2018-04-23 09:48] fxha commented on #206
This means it's up to you to choose a valid line height.

[2018-04-23 10:33] iblilife opened #207 "Table单元格内容能否实现换行效果"
### Description

比如某一个Cell的内容比较多很长需要通过换行控制排版

[2018-04-23 11:02] Jocs commented on #207
@iblilife 在下一个版本允许用户在 cell 中通过`shift  + enter` 插入`<br/>` raw html 来对cell 中的内容进行换行。当然你也可以build master 分支试用该功能，但是 master 分支极不稳定。

[2018-04-23 11:14] #207 closed

[2018-04-23 11:30] umi-neko commented on #206
unordered list and ordered list format format ok, but task list align not correct.
![1524482980832](https://user-images.githubusercontent.com/6946691/39124091-b31b04fc-472c-11e8-915c-294d0be8bd60.jpg)
do you known what I said?...

[2018-04-23 12:34] Jocs commented on #206
@umi-neko no one will set `line-height` to 0.5 if he know what line-height mean.

If line height less than 1, there is not enough space for render the text.

Since the `user preferences` file is completely free, the user should be very clear about the purpose of his own settings, otherwise he should use the settings in the menu `view => font`.

Hope this will help you!

[2018-04-23 13:27] #202 closed

[2018-04-23 13:48] #194 closed

[2018-04-23 13:50] #106 closed

[2018-04-23 13:50] Jocs commented on #114
@hungtcs 这个问题还存在吗？

[2018-04-23 14:13] fxha commented on #206
@Jocs I think @umi-neko means that the we should ignore `line-height` property for task-lists too because it's looks strange, so  `line-height` only affects text and not lists.

[2018-04-23 14:19] fxha commented on #167
This sounds good, but I think it's better to take the `#` heading text if it's in the first line instead of the filename because filenames sometimes have `-` and `_` symbols in it.

[2018-04-23 14:36] Jocs commented on #206
@fxha I found there is something wrong with the style of task list checkbox, after you mentioned

I'll fix it in the next commit.

[2018-04-23 14:39] Jocs commented on #167
`#` heading sometimes also have `-` and `_` symbols ?

[2018-04-23 14:41] Jocs commented on #205
@fxha Do you have any ideas about this new feature?

[2018-04-23 14:52] Jocs commented on #167
@fxha we can recommend a default title when export HTML/PDF, and show a `save dialog` to let user edit the file name?

[2018-04-23 14:55] fxha commented on #205
Basically reserve tab indentation:

1. move selected item into parent list
2. append items behind selected item as a subitem

E.g.:

[code]

will become:

[code]

[2018-04-23 14:56] Jocs commented on #167
@fxha I forgot that the interaction now already pops up a dialog...

[2018-04-23 15:04] fxha commented on #167
What? The save dialog?

Front Matter (#144) supports a `title` keyword. Maybe we should extract the tile from it.

[2018-04-24 01:11] Janloong-Doo opened #208 "does this support document grouping ?"

[2018-04-24 01:12] #206 closed

[2018-04-24 02:08] hungtcs commented on #114
@Jocs 我这里现在是正常的，但是我没有修改任何代码。现在我用fcitx-pinyin、google-pinyin和搜狗输入法都没有问题了。

[2018-04-25 10:49] fxha commented on #208
What did you mean with document grouping? Could you give me more details.

[2018-04-25 10:53] fxha commented on #181
@alexchut Any updates or I'll close this issue.

[2018-04-25 13:49] Janloong-Doo commented on #208
I'm sorry that I didn't see the todolist file before. I want to express the functions like file grouping, or similar tags, so I can quickly switch different files.I think the most important thing right now is the table, the picture, these basic document functions.
Plus, it's a great app.I'm looking forward to the 1.0 release.  Thanks for the author behind the scense.

[2018-04-25 20:29] fxha opened #211 "feat: Automatic update notification"
It would be nice to have a automatic update notification if update is available. So we can check every few days and notify the user. Also add a settings option to disable automatic check.

[2018-04-25 21:15] dessalines opened #212 "Request: Create an AUR package for marktext"

[2018-04-25 21:41] fxha commented on #212
Same as in #65. We don't support debian, RHEL and arch as a standalone package, but we provide a AppImage which can run on all distros. I would not recommend to use snappy because I'll replace it later with flatpak - hopefully before v1.0 is released - and there are some problems with not debian-distros. So don't expect snappy to run on arch. See [here](https://github.com/marktext/marktext/blob/ma

[2018-04-26 09:04] fxha commented on #211
Automatic update works more or less on Linux and Windows.  There are some non critical problems like GUI or desktop integration - electron-builder problems.

Maybe a problem because the application isn't signed?

[2018-04-26 10:39] hassanalinali opened #213 "Math blocks don't follow the theme"
### Description

The math block font remains black, even when the black theme is applied, and this is a big readability issue.

### Steps to reproduce

1. Write a math block
2. Change theme from white to black

**Expected behavior:**

The math blocks should change the font to white, like the rest of the text

**Actual behavior:**

The text font is black, regardless of the background.

**Link to an

[2018-04-26 14:31] #213 closed

[2018-04-26 14:33] Jocs commented on #187
@DingShizhe Have you solved the problem?

[2018-04-27 02:05] codeskyblue opened #215 "Question: Which shortcut can jump out of source code edit mode"
### Description
![image](https://user-images.githubusercontent.com/3281689/39340726-4c5b03a6-4a02-11e8-9ae1-2b9481fe3d82.png)

How to jump out of the source code edit and write normal text
### Versions

- Mark Text: v 0.10.21
- OS: mac air

[2018-04-27 02:16] Jocs commented on #215
`Shift + Cmd + S`, but this shortcut is conflict with `Save as`, So you'd better switch `source code mode` in `view Menu => source code mode`.

[2018-04-27 02:17] Jocs commented on #215
@codeskyblue Do you mean cursor in the code block? Use arrow up and down to go out of code block.

[2018-04-27 06:06] learnyoung1990 opened #216 "Key binding does not work"
已经将 `user perference` 下的`aido`设置为`true`了但是仍然不能用`ｃｔｒｌ+/`呼出界面

[2018-04-27 09:20] stefnotch opened #217 "isMaximized: true issue"
### Description
When `isMaximized` is set to `true`, (window-state.json) I can't open any files. It will simply open a new untitled file whenever I attempt to open one.

### Steps to reproduce

1. Go to `%appdata%/marktext` and open `window-state.json`
2. Change `"isMaximized":false` to `"isMaximized":true`
3. Open a file

Alternative steps:
1. Open Marktext
2. Maximize the window
3. Close Marktex

[2018-04-27 10:17] #215 closed

[2018-04-27 12:09] fxha commented on #217
I can confirm the issue on Linux and Windows.

@Jocs Can you reproduce the issue on macOS?

[2018-04-27 12:13] Jocs commented on #217
@fxha I can’t understand this issue at all, I think it’s not existed on Mac.

[2018-04-27 12:14] Jocs commented on #217
@fxha is it a problem on linux and windows?

[2018-04-27 12:16] Jocs commented on #217
I’ll try it latter, weather it is existed on MacOs?

[2018-04-27 13:25] Jocs commented on #217
@fxha I have tested it on MacOs, it also has the problem!

[2018-04-27 13:26] fxha commented on #217
As far as I can say, it's a electron bug because `ready-to-show` event is not triggered if app is started maximized or in full-screen mode. Let me look into it this evening or tomorrow and then report the issue to the electron team if it's a electron bug. But maybe there are some conflicts with `electron-window-state`.

https://github.com/marktext/marktext/blob/9882dbe59c9fe1edd06d8d0fec113aa631dc

[2018-04-27 13:56] #181 closed

[2018-04-27 13:56] #208 closed

[2018-04-27 13:56] #212 closed

[2018-04-27 14:00] Jocs commented on #217
OK, maybe it's a bug of electron 2.0.0-beta.7, but I am not sure.

[2018-04-27 14:26] Jocs commented on #187
@DingShizhe If not more question, I'll close this issue, you can still ask or track this issue here.

[2018-04-27 14:26] #187 closed

[2018-04-27 14:27] #114 closed

[2018-04-27 14:30] Jocs commented on #188
@kobejie93 can you write the reproduce steps? you can write it in Chinese.

[2018-04-27 14:33] Jocs commented on #205
@raamana already add this feature in master, and will release in the next version, So I'll close this issue, thanks for your reporting this issue.

[2018-04-27 14:34] #205 closed

[2018-04-27 14:36] Jocs commented on #167
this [slugify](https://github.com/sindresorhus/slugify) lib may help us

[2018-04-27 14:38] Jocs commented on #166
@lulucca12 duplicated with #71 and I'll close it, thanks.

[2018-04-27 14:38] #166 closed

[2018-04-27 14:39] #141 closed

[2018-04-27 14:39] #159 closed

[2018-04-27 14:49] #94 closed

[2018-04-27 14:51] findNextStep opened #218 "add graphics code in markdown"
# 建议

建议添加对于一些markdown绘图代码的支持

比如`mermaid`,`flow`,`vega`使得通过markdown编写文档更加有效

[这里](https://shd101wyy.github.io/markdown-preview-enhanced/#/zh-cn/diagrams)有一个[`vscode`](https://github.com/shd101wyy/vscode-markdown-preview-enhanced)/`atom`插件的实例

### Versions

- Mark Text:0.10.21(in master)
- OS: ubuntu 16.04

[2018-04-27 14:58] Jocs commented on #218
感谢你提供的库，它应该是一个很好的参考，在 v1.0.0 之前可能不会添加对图表的支持，因为1.0版本之前主要是保证所有的 GFM 语法的支持，以及编辑器的稳定性。在 v1.0.0之后，我会考虑对图表支持，还有其它的一些未被 GFM 接受但是常见的语法，但是这些语法支持后，都将默认处于关闭状态，需要从 user preference 中打开。

[2018-04-27 15:04] Jocs commented on #218
@findNextStep 也欢迎贡献代码？如果你有什么想法，可以在这讨论

[2018-04-27 15:35] fxha commented on #167
I think we could use the library for table of contents and heading ids. So that we can use heading text as link id (`a öüäb@$"` -> `a-ouab`).

[2018-04-27 15:51] Jocs commented on #167
good idea

[2018-04-27 15:52] stefnotch commented on #169
Here is what some other markdown editors are doing with the right click menu:
### Sofish:
![sofish](https://camo.githubusercontent.com/9f2b62f592bfaf976c06842003f7cf1c360fc613/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3135333138332f313039333637312f36316434633064322d313661392d313165332d383865642d3031623137353861396134322e706e67)

### TOAST UI Editor
![tui.editor](https://u

[2018-04-28 10:07] xxxgitone commented on #216
@Jocs 遇到相同的问题，无法呼出界面，重启过。系统版本：deepin 15.5

[2018-04-28 10:13] Jocs commented on #216
@xxxgitone 在 Edit 菜单中有 Aidou 选项吗？

[2018-04-28 10:13] Jocs commented on #216
@xxxgitone 能够你的 user preference 文件截图贴到这个 issue 吗？

[2018-04-28 12:03] xxxgitone commented on #216
@Jocs `Edit`菜单有`Aidou`,点击能够弹出斗图界面的。下面是`user preference`截图

![user preference](https://raw.githubusercontent.com/xxxgitone/learningProcess/master/issueImg/%E6%B7%B1%E5%BA%A6%E6%88%AA%E5%9B%BE_%E9%80%89%E6%8B%A9%E5%8C%BA%E5%9F%9F_20180428194849.png)

`Ctrl`配合其他键，比如`ctrl + n`、`ctrl + 2`啥的都是有用的，唯独配合`ctrl + /`不行。

我到时候再排查一下是不是电脑自身的问题。谢谢

[2018-04-28 12:39] fxha commented on #216
@Jocs When you enable aidou, `Ctrl+/` (`Ctrl+Shift+7`) is not working on Linux (maybe on Windows too) - if this was the problem. It only select all text.

[2018-04-28 15:27] Jocs commented on #216
@fxha I test this issue, and it works on my Mac. and I can use `Cmd + /` to open the 'Aidou' panel.

So I think the `Cmd + /` is conflict with other shortcuts on Linux system?

[2018-04-28 16:08] fxha commented on #216
It seems to be a issue with punctuation and non US-keyboards. See [here](https://github.com/atom/atom-keymap/issues/37) for more info. `Ctrl+#` (not `Ctrl+Shift+#`) is equivalent to `Ctrl+/` on a german keyboard. So I have to use `Ctrl+#` instead of `Ctrl+/`. The menu accelerator seems to be bind to the symbol behind `Ctrl+/` and not to the shortcut `Ctrl+/`.

[2018-04-28 16:41] houfu opened #220 "marktext converts Front Matter to content"
### Description

I wanted to use mark text to write post in hexo (blog generator). When I open the markdown generated by hexo, mark text changes the front matter to be part of the content upon saving. This makes it impossible for me to use mark text to write blog posts.

### Steps to reproduce

1. Create a new markdown file using hexo (for example `hexo new page projects`). This is the plain outpu

[2018-04-28 16:48] Jocs commented on #220
@houfu thank you for you reporting, It's really a problem.

Before the support of Front Matter, marktext should not modify the contents of Front Matter. The reason that marktext modified Front Matter content is that the inside of marktext parser regard it as ATX heading.

[2018-04-28 17:42] binsee opened #221 "`#`标签后无法先输入中文"
### Description

`#`标签后无法输入中文，必须先输入任意非中文（包含空格），然后才能输入中文

### Steps to reproduce

1. 输入 `#`
2. 已经变化为`h1`标签，输入中文

**Expected behavior:** [What you expected to happen]

应该正常输入中文字符

**Actual behavior:** [What actually happened]

输入法界面显示一个字母就立马消失，无法输入中文.

当先输入一个 **字母/数字/非`#`符号/空格** 后，即可正常输入中文

**Link to an example:** [If you're reporting a bug that's not reproducible, please try to reproduce it on [JSF

[2018-04-28 17:47] binsee commented on #221
### 以下示例无法正常输入

[code]

以下方式正常：
[code]

大致如此

[2018-04-29 12:57] VonFry opened #223 "Please don't auto covert the text."
### Description

A yaml format is needed for jekyll or other static blog tools.

Marktext will auto convert this such as `---` into `##`.

It may add a option or change this feature.

By the way, I suggest to add a new option to config which is the default mode( source or others ).

### Steps to reproduce

First, Write a markdown file without Marktext.

[code]

And then open it by marktext. It wil

[2018-04-29 12:57] VonFry commented on #220
#223

[2018-04-29 17:22] #217 closed, assigned to nobody

[2018-04-30 09:03] fxha commented on #165
@Jocs Your performance tweaks working very well, but source code mode is still unusable with a large text file. Do you want to change that too?

[2018-04-30 09:57] Jocs commented on #165
Source code mode use `codemirror` directly, Every time when we change markdown content in source code mode, it will parsed and render in the realtime mode, maybe it's not necessary parse markdown content every time when change in the source code mode.

[2018-04-30 09:58] Jocs commented on #165
@fxha I'll handle it!

[2018-04-30 13:25] Jocs commented on #97
@d4em0n If YOU select `upload to cloud`, the image will be automatically upload to a free image cloud service.

[2018-04-30 13:38] rainfu opened #224 "Feature Suggest: please support plugin in Mark Text"
### Description

[这个项目很惊艳，尤其是虚拟node与可视化写作～即便是对多年开发写作类软件的我。本希望贡献一些插件，不过目前插件对核心代码干挠过大，希望能在1·0之前尽快布局下插件机制，让关注者可以贡献代码、而核心团队专注于主版本更新]

### Steps to reproduce

以目前其中的一个典型插件**斗图**为例，我查找了下，在以下6个文件中有引用

1. Store/index.js
2. Menus/edit.js
3. App.vue
4. Preference.md
5. Uploadimage
6. aidou.vue

其实也就是插件机制需要处理的问题

1. Vue store自带Module 机制
2. 插件中添加menu相关，程序启动时加载
3. 动态组件？
4. 插件可在插件区域内自动加载至设置文件中，比如
`｛
      …，

[2018-05-01 08:00] chlins opened #225 "Mark Text used a lot of memory"
### Description

macOS 10.13 下打开后占用1G左右

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reproducible, please try to reproduce it on [JSFiddle](https://jsfiddle.net/), [JS Bin](https://jsbin.com), [CodePen](ht

[2018-05-01 10:08] Jocs commented on #225
@chlins 请问下，你打开的文件大小，以及编辑时间等参数？及编辑的一些细节？

[2018-05-01 11:58] Jocs commented on #224
@rainfu 感谢你的建议，Mark Text 是有计划在 v1.0.0 发布之后添加插件机制，以及自定义主题。在 v1.0.0 主要还是完善基本功能，及编辑器稳定性。

[2018-05-01 15:33] leaves4j opened #226 "剪切后无法撤销"
### Description

mac command+x 之后再 command+z 并不能撤销，这个时候关闭编辑器文件会自动保存，一晚上写的文章就这么找不回来了🙂

### Versions

- Mark Text: 0.7.17
- OS: mac

[2018-05-01 15:43] Jocs commented on #226
@leaves4j 很抱歉，Mark Text 给你带来不便，现在 Mark Text 还处于全力开发中，release 的版本也会有些 bug。

我刚才测试了，现在确实还无法撤销 剪切内容，在下一个版本我们会修复这个问题。也请你及时更新到最新版本。

[2018-05-01 15:44] Jocs commented on #226
@leaves4j 自动保存功能默认是关闭状态，可以根据需要选择打开或者关闭。

[2018-05-01 15:46] Jocs commented on #226
@leaves4j 在将来，我们可能会添加版本控制或者「time machine」 功能，这样及时不小心删除也能够找回文件内容。

[2018-05-02 03:05] #188 closed

[2018-05-02 08:56] fxha opened #227 "Modification indicator not working"
### Description

The modification indicator (red dot) is not working any more when you don't touch the custom titlebar on Linux and Windows.

@Jocs You also can't save a file because backend thinks no changes are made (file size is 0KB). I think this is a problem relating to the performance fixes.

### Steps to reproduce

1. Start Mark Text and type something --> modification indicator don't apper

[2018-05-02 11:28] Jocs commented on #227
@fxha I just test it on MacOs, and it works well, I just delay the `change` event for 1 second. So can you help find why it does not work on Linux and Windows?

[2018-05-02 12:15] infinitelamx opened #228 "Couldn't open preference.md in new version"
### Description

While clicking preference, it would not open preference.md but a new edit windows

### Steps to reproduce

1. Click Menu
2. Click File
3. Click Preferences

**Expected behavior:** Open preference.md

**Actual behavior:** Open a new edit windows

### Versions

- Mark Text: 0.10.21
- OS: Windows 10 1083

[2018-05-02 12:32] infinitelamx commented on #228
It only happen at completely new install, if some one install an early version, then the issue will not happen.
And there is another small problem, if I install version 0.10.21 when I don't uninstall the earlier version, then both versions will appear in Application list of windows setting.

[2018-05-02 12:41] Jocs commented on #228
this problem please refer to the release [log](https://github.com/marktext/marktext/releases).

[2018-05-02 19:49] fxha commented on #228
@infinitelamx I can't reproduce this issue with v0.10.21 on Windows. Can you please check whether the directory `%appdata%\marktext` (`C:\Users\YOUR_USERNAME\AppData\Roaming\marktext`) exists and `preference.md` or `error.log` exists inside this folder.

Maybe the following will help:

1. Please make a copy of `%appdata%\marktext` - this will only contains user settings and error logs.
2. Then try

[2018-05-03 01:39] zhoujiang1231 opened #229 "无法打开md文件"
### Description
 无法打开md文件，打开后为空文件，不知是否文件太大，打开的md文件130kb
[Description of the bug or feature]

### Steps to reproduce

1. 首先用markText的open file打开文件，打开后是空文件
2. 然后把文件拖到marktext打开后也是空文件
3. 双击打开也是空文件
4.最后右键文件 选择open with markText打开后还是空

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reprod

[2018-05-03 02:14] Jocs commented on #229
@zhoujiang1231 文件是有一点大，但是也应该是可以打开的，请问你是通过什么方式打开的？双击？右键选择打开软件？还是拖拽到 Mark Text ？希望以后提 issue 按照 issue template 的格式，这样我就不用每一个 issue 都询问一遍具体细节。谢谢

[2018-05-03 02:38] Jocs commented on #227
@fxha

I am also confused why it dose not work in Linux and Windows system, and it works well in MacOs system.

So can you check weather `dispatchChange` method in `src/editor/index.js` is called when you typing?

this method will trigger the `change` event.

[2018-05-03 02:40] Jocs commented on #229
@zhoujiang1231 如果不涉及隐私的话，能够把你的 markdown 文件发送一个给我们吗？

ransixi@gmail.com

这样以便我们更好的排查问题！

[2018-05-03 02:46] zhoujiang1231 commented on #229
不好意思，这是我们公司内部的接口文档，不能对外公开。

[2018-05-03 02:47] zhoujiang1231 commented on #229
@

[2018-05-03 02:54] Jocs commented on #229
@zhoujiang1231 很有可能是有些 markdown 语法没有解析成功，因为不知道文件具体内容，也没法做判断。还有个方法，就是麻烦你直接克隆源码，然后：

然后在开发中打开你的文件，看看控制台报什么错，然后把错误截图到这个 issue 中。

[2018-05-03 02:54] zhoujiang1231 commented on #229
@Jocs 好的，我试试

[2018-05-03 03:46] Jocs commented on #229
@zhoujiang1231 thanks

[2018-05-03 08:07] xianyunyh opened #230 "快捷键撤销问题"
### 撤销容易出问题

我在使用的时候，经常撤销，撤销经常 出错。有一次，我全选了，然后不小心撤销了。然后我的内容全没了。这是很让人头疼的事。
快捷键是否可以支持自定义。

### Steps to reproduce

### Versions

- Mark Text: v 0.10.21

- OS: Windows 10

[2018-05-03 08:38] Janloong-Doo commented on #229
刚在创建的时候同样遇到这个bug 我就是随便输入的一些测试的文档格式,关闭后再次打开是空白，反复了三次后打开才正常打开
![image](https://user-images.githubusercontent.com/17756095/39567041-39f14ba6-4ef0-11e8-9620-bcff7fd2ce41.png)

[2018-05-03 09:00] Jocs commented on #230
@xianyunyh 在1.0版本之前不会有快捷键自定义功能，针对内容丢失问题，之后可能会出一个 time machine 功能，就是即使没有保存，marktext 崩溃等，都可以找回编辑的内容。

现在撤销功能存在一些问题的，在 1.0 版本会有所改进。

[2018-05-03 09:02] Jocs commented on #229
@Janloong-Doo 能够将你测试的文件发一份到我邮箱吗？

ransixi@gmail.com

谢谢

[2018-05-03 10:12] stefnotch opened #231 "Fenced code blocks - cut not working"
### Description

In fenced code blocks (```), CTRL+X (cut) doesn't work.

### Steps to reproduce

1. Create a fenced code block
2. Write some text
3. Use CTRL+X

**Expected behavior:** The text gets removed and copied to the clipboard

**Actual behavior:** Nothing

### Versions

- Mark Text: v 0.10.21
- OS: Windows 10

[2018-05-03 10:15] stefnotch opened #232 "Undo cut not working"
### Description

CTRL+X (cut) is not compatible with undo/redo

### Steps to reproduce

1. Write some text
2. Select a part of it
3. CTRL+X (cut)
4. Text gets cutted
5. CTRL+Z (undo) to undo the cutting

**Expected behavior:** That the cutted text is there again

**Actual behavior:** It doesn't get undone

- Mark Text: v 0.10.21
- OS: Windows 10

[2018-05-03 10:53] Jocs commented on #232
thanks for your reporting this issue, and we'll fix it in the next release version!

[2018-05-03 10:54] Jocs commented on #226
duplicate with #232

[2018-05-03 10:54] #226 closed

[2018-05-03 10:58] Jocs commented on #231
Yeh, I just test it, and find `cut` in fenced code block is not work.

as an alternative,

You can use copy\paste in code block, and select what you want to cut, use `backspace` to delete them.

we will fix this issue as soon as possible.

[2018-05-03 12:27] stefnotch opened #233 "Better HTML escapes support"
### Description
HTML escapes such as `&rarr;`, `&gt;`, `&#xA9;` get displayed the way they appear in a web browser: &rarr; &gt; &#xA9; This works as intended.

However, when you type one of them in the markdown document, they look like this `&rarr`, and only after saving and reopening the document, they look like this &rarr;

### Steps to reproduce

1. Type `&rarr;`
2. Save it
3. Close it
4. Open

[2018-05-03 14:18] Jocs commented on #233
It's a good feature, I think that I will implement it before or after version 1.0. thanks.

[2018-05-03 16:36] fxha commented on #227
OK, it was my bad on Windows, because I don't wait 1s. But Linux seems to work too. I don't know why...

[2018-05-03 16:36] #227 closed

[2018-05-03 20:29] mklpiening opened #235 "Create a list entry using *"
### Description

I try to create a list using a *.
If i try to write a * it creates a second * behind my cursor.
To create a list i now press enter and a list element is being created.
Now the second * stays behind my cursor.
It would me much more comfortable if the * behind my cursor would get removed when i create a list element.

### Steps to reproduce

1. write a *
2. it creates two *
3. press

[2018-05-03 21:10] fxha commented on #235
Thanks @mklpiening,

the problem is that `*` and `**` is also used for *emphasis* and **strong** paragraphs. The double star comes from the auto-completion to enhance user experience. As a workaround: you can use `-` for normal lists.

What's your opinion, @Jocs? Maybe check for `*` not followed by text and remove it, because it's horrible to create a list with `*`. I don't think someone would cre

[2018-05-04 00:59] Jocs commented on #235
@mklpiening @fxha this issue has been fixed on the master branch, Mark Text will detect weather `*` is open a list item, if it is, Mark Text will remove the second `*`.

[2018-05-04 05:36] zhangsanlzh opened #236 "How to install it on windows?"
How to install it on windows?

[2018-05-04 06:30] keito940 opened #237 "I Can Not Input Japanese"
### Description

I can not enter Japanese, it garbled when reading the MarkDown file written in Japanese.

### Versions

- Mark Text: v0.10.21
- OS: Windows

[2018-05-04 06:41] keito940 opened #238 "support PlantUML And Tui.Chart"
### Description
I would like to suggest the introduction of the library of [tui.chart](https://github.com/nhnent/tui.chart) and [plantuml](http://plantuml.com/). Though it may be ahead like #218, please do not mind.
plantuml and tui.chart are adopted in [this editor](https://github.com/nhnent/tui.editor).

### Versions

- Mark Text:v0.10.21
- OS:Windows 10

[2018-05-04 06:49] Jocs commented on #237
@keito940 can you send me one example markdown file which written in Japanese, So I can fully understand what this issue described.

ransixi@gmail.com

thanks!

[2018-05-04 07:05] keito940 commented on #237
I Am Sorry.
I confirmed it later that I could enter Japanese properly.

[2018-05-04 07:11] keito940 commented on #237
I think that Van Halen.md attached to the e-mail is a file in which garbling of the problem occurs.
But I was able to properly input Japanese after confirming it later.

[2018-05-04 08:07] Jocs commented on #237
Maybe it's related to character encoding. This issue is set up first to see if there are users who are experiencing the same problem.

[2018-05-04 09:00] xianyunyh commented on #236
windows download link
[https://github.com/marktext/marktext/releases/download/v0.10.21/marktext-setup-0.10.21.exe](https://github.com/marktext/marktext/releases/download/v0.10.21/marktext-setup-0.10.21.exe)

[2018-05-04 09:06] xianyunyh commented on #230
软件中Source Code mode, Typewriter mode 中切换的快捷键是否能改变下？
因为很多大部分软件`Ctrl+Shift+S`都是代表另存为。

[2018-05-04 09:33] Jocs commented on #230
@xianyunyh 这个问题在 master 分支中已经解决了，应该在下一个发布版本更新出来。

[2018-05-04 10:43] fxha commented on #237
@keito940 Do you use CRLF line endings (which is default on Windows with other editors). Then text is formatted incorrect and it's might be a problem like in issue #48 and.

@Jocs  Can you please check line endings.

[2018-05-04 10:54] fxha opened #239 "Parser treats * and + lists as - list"
### Description

Mark Text converts `*` and `+` lists into `-` lists. I think this is a parser/html to markdown parser bug, because CommonMark and GFM support `*`, `-` and `+` lists.

### Steps to reproduce

1. Write list with `*` or `+` and type some text
2. go to source code mode

**Expected behavior:** [What you expected to happen]

[code]

or

[code]

**Actual behavior:** [What actually happen

[2018-05-04 10:59] keito940 commented on #237
@fxha Do Not Use.

[2018-05-04 11:37] Jocs commented on #239
I think it's better to let user to choose his prefer list begin marker in the user preference?

user can set the prefer list marker in the user preference file. then Mark Text will use the `list marker` in user preference file when output the markdown file.

[2018-05-04 11:38] Jocs commented on #239
now we set `-` as the default list item marker.

[2018-05-04 15:04] stefnotch opened #240 "Shift+Left selects one character at a time"
### Description

When you press `Shift` + `Left Arrow Key` at the same time, multiple characters get selected. However, when you press `Shift` and repeatedly press `Left`, only one character gets selected

### Steps to reproduce

1. Type some text
2. Hold down `Shift`
3. Press and release the `Left Arrow Key`
4. Press and release the `Left Arrow Key`
5. Press and release the `Left Arrow Key`
etc.

[2018-05-04 15:13] stefnotch opened #241 "Shift+Down gets stuck"
### Description

When you select some text and use `Shift` + `Down Arrow Key` to deselect part of it, it can get stuck at certain places

### Steps to reproduce

1. Type
[code]
2. Place your cursor after the word `Hi` and before `up`
3. Hold down `Shift`
4. Press the right arrow key
5. Press the up arrow key. It should look like:
![image](https://user-images.githubusercontent.com/10220080/39635572

[2018-05-04 16:47] fxha commented on #239
Sounds great, but if the user wants to open files with different lists styles, we got a problem and/or he has to change it every time. The easiest is to hack into marked.js.

[2018-05-05 01:57] Jocs commented on #239
why need to change every time? we don't render marker in the text editor, and only the list marker when out put markdown file.

How to to this hack?

And I have another idea:

If the user open an existed markdown file, we save the marker of each list into the `block`.

[code]

 If it is a newly created list by input `* text`. we use the marker entered by the user, and if it is a list created throu

[2018-05-05 02:31] Jocs commented on #241
@stefnotch Do you mean Mark Text need select `up there` when press the down arrow key?

[2018-05-05 02:36] Jocs commented on #240
@stefnotch I just test it right now on my Mac.

when I input markdown bellow:

[code]

cursor is after `Hi` and before `up`. I can use `Shift + Left` to select more than one characters.

Is there any wrong steps when I reproduce the issue?

[2018-05-05 02:41] Jocs commented on #238
Yeah, we have plan to add this feature after version 1.0.0. because we still have a lot basic things need to do before version 1.0.0. for example, `tabs`, `right click context menu`, `side bar` for open the folder, and tabs for open multiple files at the same time.

[2018-05-05 02:43] Jocs commented on #236
@zhangsanlzh Have you installed windows version now?

[2018-05-05 03:30] keito940 commented on #237
@fhxa I am in trouble because it only supports UTF-8, not that kind of thing. (In my environment Japanese fonts were attached.)

[2018-05-05 07:27] keito940 opened #242 "New Future:Math Block"
### Description
Although Mark Text certainly allows you to enter mathematical expressions, it is a difficulty that you can not enter mathematical expression codes that span multiple lines.
So, why do not you include a math block that can contain mathematical expression code over multiple lines like Typora?

exapmle:

[code]

### Versions

- Mark Text:v0.10.21
- OS:Windows 10

[2018-05-05 09:28] stefnotch commented on #241
@Jocs The selection gets stuck. It should stop selecting `World` and start selecting `up there`. Here is a GIF of what Marktext does. At the end, I'm spamming the down arrow key, but nothing happens.:
![2018-05-05_11-27-24](https://user-images.githubusercontent.com/10220080/39661762-593491ea-5057-11e8-9146-f6ef9af363f2.gif)

[2018-05-05 09:31] stefnotch commented on #240
Press and **release** the `Left` key.

Here is screen recording. When I keep the `Left` key pressed, I can select multiple characters:

![2018-05-05_11-29-44](https://user-images.githubusercontent.com/10220080/39661774-a8b09a34-5057-11e8-9879-b82dd5345d25.gif)

[2018-05-05 09:42] fxha commented on #237
If it's only a font issue, you could compile the latest master version, which has custom font family support (but master may be unstable) or wait for the v0.11 release.

[2018-05-05 09:43] Lammmm opened #243 "Mark Text change indent code block to fenced code block unexpectly"
### Description

从网上下下来的md文件，用marktext打开后会自动加入一些符号（貌似是对md文件的内容进行了格式规范化），但是我不想要它加入这些东西

打开是下面这样，左边是原来的文件，右边是marktext自动添加的一些东西
![image](https://user-images.githubusercontent.com/23132744/39661865-ab77b908-508b-11e8-9a4b-9b400d0bcf8c.png)

Mark Text changed indent code block to fenced code block unexpectedly

from

[code]

to

[code]

[2018-05-05 09:47] Lammmm commented on #243
用的是最新版的marktext

[2018-05-05 09:56] fxha commented on #242
That' true, the display math preview in editor mode seems broken with new lines.

@Jocs Display math not working on master :/ Should I open another issue for that?

[2018-05-05 10:02] fxha opened #244 "Ctrl+F not working on master"
### Description

The title already says everything.

1. Both `startParagraph` and `endParagraph` can be `null` ([ref](https://github.com/marktext/marktext/blob/3a3a3b54a557415baa82ad77c12cd5ee7424d1ee/src/editor/selection.js#L771)).

[code]

2. The `Crlt+F` error occurs because we try to access `null` object:

https://github.com/marktext/marktext/blob/3a3a3b54a557415baa82ad77c12cd5ee7424d1ee/src/e

[2018-05-05 10:06] fxha commented on #239
You already written the "hack" :smile:

[2018-05-05 11:26] zhangsanlzh commented on #236
Not yet . I tryed to download the windows version, but it is slowly to death. so I am trying to build the source code ,but i dont know how. It is too difficult. My God!

[2018-05-05 11:39] fxha commented on #236
You can follow [these](https://github.com/marktext/marktext/issues/88#issuecomment-377276800) instructions, but Github releases and development dependencies are hosted both on AWS. Meaning this may be not faster than downloading the setup, but maybe you find some mirrors.

[2018-05-05 12:53] zhangsanlzh commented on #236
@fxha  It works ,but when i run the code `npm install`，the installation can not go on .
 [77/80] Installing readable-stream@^2.0.0

Do you have some good idea?

[2018-05-05 12:58] zhangsanlzh commented on #236
@fxha And I don't know what would be installed after the 77 item . Therefor , If I download them manually , What's the next after 77 item?

[2018-05-05 13:13] zhangsanlzh commented on #236
@xianyunyh Wow ,(●ˇ∀ˇ●)  It's amazing!!

[2018-05-05 14:25] zhangsanlzh opened #246 "What preperations should I do if I want to contribute my code for this project?"
What preperations should I do if I want to contribute my code for this project ?
What dev softwares should I install ?
Node.js ? Electron ? And what something else?

[2018-05-05 14:36] Jocs commented on #243
你是指最开始的

\```
设计
写作
\```

这儿的修改吗？

这是因为文字如果之前留有四个或以上空格，将被视为代码块。marktext 将其转化成了 fenced code block。

这是代码块的两种 markdown 语法。

marktext 以后会在这写地方做一些优化，尽量不去破坏之前的 markdown 语法。但是现在还没法办到。

[2018-05-05 16:26] Jocs commented on #242
@fxha pls open another about this， thanks！

[2018-05-05 17:08] Jocs commented on #244
@fxha I can not always reproduce this issue, This error happens occasionally.

[2018-05-05 17:13] Jocs commented on #246
For issues that are marked as bugs, then discuss the solution in the issue. If the final solution is passed by the marktext team members, then the PR can be submitted.

I hope that I can see you PR next time!

[2018-05-05 17:26] Jocs commented on #239
@fxha haha, Then set my plan above?

[2018-05-06 10:45] Lammmm commented on #243
好的，谢谢

[2018-05-06 12:22] riusksk opened #247 "目前不支持流程图？"
无法使用 `flow`去画流程图，目前有其它画流程图的方式吗？

[2018-05-06 13:19] CSUwangj opened #248 "the black background disappeared when export PDF in dark theme"
### Description

导出黑色主题的pdf后，从第二页开始样式不对

### Steps to reproduce

1. 打开任意一个转成pdf超过2页的.md文件
2. 选择dark主题
3. 导出为pdf

**Expected behavior:** 所有页面都是黑色主题

**Actual behavior:** 从第二页开始样式出错

**Link to an example:** ![example](https://i.loli.net/2018/05/06/5aef00d3a2727.png)

### Versions

- Mark Text: v 0.10.21
- OS: Windows10

[2018-05-06 13:37] Jocs commented on #247
@riusksk 暂时不支持，v1.0.0 后会支持。这个 issue 应该和 #218 重复？

[2018-05-06 13:41] Jocs commented on #248
@CSUwangj thank you for your reporting this bug, and this will be fixed in the next released version.

[2018-05-06 13:43] Jocs commented on #247
@riusksk 如果重复，请关闭这个 issue，谢谢

[2018-05-06 13:44] #236 closed

[2018-05-06 13:49] #247 closed

[2018-05-06 14:29] EverChisato opened #249 "tree folder function"
### Description
I usually use markdown to record my note about code and some image. I want some extra functions.

**Expected behavior:**

1. I want it could have the function of tree folder so I can manage my note easily.

2. I also want it could have the function of open different files in one window instead of open a new window to write.

### Versions

- Mark Text: the lastest
- OS: windows 10

[2018-05-06 14:40] EverChisato commented on #249
I find the same issue in  closed issuse and it will support these function in version 1.0.0.

[2018-05-06 14:41] #249 closed

[2018-05-06 21:28] fxha commented on #244
When I press `Ctrl+F` it always crashes.

[2018-05-06 22:35] fxha commented on #242
OK I was wrong, this is a issue regarding multiline display math blocks.

[2018-05-06 22:40] fxha commented on #171
@Jocs Do you have any idea what the problem can be?

[2018-05-07 02:38] Jocs commented on #244
yeah, that way you described will always reproduce this issue.

[2018-05-07 02:43] Jocs commented on #171
I have not debugged this issue so far, So I have no idea, maybe you need deep into the `source code mode` and find the reason.

[2018-05-07 03:04] liyuan0704 opened #250 "cmd + s not work, and the orange dot does not disappeared after press cmd + s"
### Description

[Description of the bug or feature]

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reproducible, please try to reproduce it on [JSFiddle](https://jsfiddle.net/), [JS Bin](https://jsbin.com),

[2018-05-07 03:14] zombiecong opened #251 "the underline in the link is automatically escaped when coping"
如原链接为 https://xxx/xxxx/xxxt_xxxx_xxx_xxx_xxx 会自定转义成 https://xxx/xxxx/xxxt\_xxxx\_xxx\_xxx\_xxx , 能否关闭自动转义？

![untitled](https://user-images.githubusercontent.com/7962780/39683297-4c513294-51e7-11e8-8a4c-b167e3441263.gif)

### Versions

- Mark Text:  v0.10.21
- OS: macOS  10.13.5 beta

[2018-05-07 03:31] Jocs commented on #251
@zombiecong Thanks for report this issue, and we will fix it latter.

[2018-05-07 12:53] Jocs commented on #250
Could you please explain it more clear, because we can not reproduce it?
请将 issue 描述更加清晰一些，按照 issue template。这样我们才能够完全明白 issue 表达的内容。

[2018-05-07 13:06] Jocs commented on #229
@zhoujiang1231 have you opened you markdown file now?

[2018-05-07 13:08] Jocs commented on #225
@chlins If no more detail after one week, I'll close this issue.

[2018-05-07 13:10] Jocs commented on #224
@rainfu If you are interested in this project, welcome to contribute your code or give some opinions.

[2018-05-08 02:08] yilikun opened #253 "Where can I find the documents or user manual?"
一直在看图学习，但是真心不知道按的是哪些快捷键

[2018-05-08 02:15] Jocs commented on #253
@yilikun We will write the documents and user manual after version 1.0.0, because the shortcuts maybe change latter.

[2018-05-08 02:19] #248 closed

[2018-05-08 02:31] yilikun commented on #253
ok,thanks for your work

[2018-05-08 02:43] calexicoz opened #254 "New feature: support for folders"
Hi,

This is not a bug, but more a general discussion. Is there any plan/interest in supporting a folder/tree panel?

It seems that right now, Marktext is a single file editor. While this is useful, people who use Markdown, and would look for an editor like Marktext, use Markdown a LOT. As a result, "we" have a lot of Markdown files. Folders and folders of Markdown files. I personally keep hundred

[2018-05-08 03:25] Jocs commented on #254
Maybe duplicated with #71 ? yes, we will implement sidebar and tabs before version 1.0.0.

[2018-05-08 04:04] zhoujiang1231 commented on #229
Sorry,when i run npm i ,it can't install the dependence,i think the reason that my network is bad,so i can't open my file in the develop environment发自我的华为手机-------- 原始邮件 --------主题：Re: [marktext/marktext] Mark Text can not open markdown file (#229)发件人：冉四夕 收件人：marktext/marktext 抄送：zhoujiang1231 ,Mention @zhoujiang1231 have you opened you markdown file now?

—You are receiving this because you were

[2018-05-08 12:24] NorDorado opened #255 "软件目前是否支持流程图？"
RT,第一次使用这个软件,感觉很好用,不过流程图没法画流程图,paragraph也没找到,是目前不支持吗?以后是否会支持?

### Versions

- Mark Text: V0.925
- OS: window10

[2018-05-08 12:27] Jocs commented on #255
是否和 #218  重复？version 1.0.0之后，会考虑支持流程图

[2018-05-08 13:55] Jocs commented on #237
@keito940 Can you input Japanese now?

[2018-05-08 14:27] #235 closed

[2018-05-08 14:28] #250 closed

[2018-05-08 14:54] fxha commented on #250
@Jocs The issue with the modification indicator was fixed in version 0.10.21.

@liyuan0704 Do you use the latest version (v0.10.21)?

[2018-05-08 15:05] Jocs commented on #250
@fxha I forgot that you have fixed this problem!:smile:

[2018-05-09 02:59] Jocs commented on #254
@calexicoz
I received an email this morning. A user named _Julien_ sponsored Mark Text. Is this you?

If so, if you want to show your personal website or blog in the README, please contact me in this issue?

Finally, thank you very much for your sponsorship!

[2018-05-09 06:55] calexicoz commented on #254
Hey @Jocs. It was me, but you don't need to mention me anywhere.
Just looking forward to what Marktext can become :)

I've been looking for a way to keep a giant knowledge base of stuff in Markdown. Every solution I found is ok, but not great. Maybe Marktext can be it. We'll see. I'm happy to talk more when you get to the sidebar.

Cheers and thanks for this awesome app!

[2018-05-10 08:54] WinterChenS opened #256 "Memory leak in MacOs version (maybe all versions)"
### 发现Mac OS版本内存泄漏

用了两天这个软件的Mac OS版本，最中意的一个md编辑器，但是使用的过程中发现会越来越卡顿，然后看了一眼内存的使用状况，如图：
![](http://ozlpw4ja9.bkt.clouddn.com/WX20180510-164127@2x.png)

### Versions

- Mark Text: 0.10.21
- OS: Mac OS 10.13.2

[2018-05-10 09:37] Jocs commented on #256
@WinterChenS 内存使用情况在下一个版本会有所改善。

请问下你打开文件的体积？编辑时长？

[2018-05-10 10:54] keito940 commented on #237
@Jocs Yes.

[2018-05-10 10:54] Jocs commented on #237
@keito940 Ok, I'll close this issue.

[2018-05-10 10:55] #237 closed

[2018-05-10 10:58] WinterChenS commented on #256
文件大小为10k，编辑时长大约为一个小时

[2018-05-10 14:39] Jocs commented on #256
@WinterChenS 推测大概原因应该是 history 太深了，不过在下个版本做出优化，undo 的次数有限制了，这样就不会一直吃内存了。

[2018-05-11 08:02] keito940 opened #257 "Support Ruby Character"
### Description
Ruby Character's Description Is [here](https://en.wikipedia.org/wiki/Ruby_character).
Japanese Free Novel Site [Hameln](https://syosetu.org/?mode=readme_view&fid=25)(Japanese Only.) Style.
...But I'm Hameln User.

[code]

### Versions

- Mark Text: v0.10.21
- OS: Windows

[2018-05-12 03:47] keito940 commented on #257
@fxha that's right.
How is this kind of?

[code]
Since ruby character in HTML is rather troublesome, we devised it.

[2018-05-13 14:50] #232 closed

[2018-05-13 21:12] fxha commented on #257
I still don't get the point. You write ruby characters inside `<` and `>`. But how do you write ruby characters into a document/text so that we can parse it? There can be normal text between the smaller and greater sign. Maybe @Jocs understands the topic better than I.

[2018-05-14 02:18] Jocs commented on #257
@keito940 Do you mean we write in this way:

[code]

but it looks like:

![](https://user-images.githubusercontent.com/22716132/39921210-565255f8-551a-11e8-8c1c-e90b195a7eac.png)

?

[2018-05-14 02:40] #243 closed

[2018-05-14 16:18] #48 closed

[2018-05-14 16:19] #144 closed

[2018-05-14 16:19] #251 closed

[2018-05-14 16:20] #228 closed

[2018-05-14 16:22] #255 closed, assigned to nobody

[2018-05-14 21:04] fxha opened #262 "Table cell selection"
I think it would be a good enhancement to only select text from the selected table cell (and not the full document) if you press `Ctrl+A`. What's you opinion, @Jocs?

[2018-05-15 00:04] Jocs commented on #262
@fxha I agree with you, do you want to handle this issue?

[2018-05-15 04:13] jtandy123 opened #263 "window中斗图面板可以出来，点击某个图选择不了"

[2018-05-15 05:21] johnblommers opened #264 "Arbitrary font size preference is allowed"
### Description

If you set a large font size in the preferences marktext does not complain and evidently complies. As a a result it is impossible to see anything in the application window.

### Steps to reproduce

1. Change the font size to 2416 in the preferences
2. Save the preferences and exit marktext
3. Open marktext and try to edit the preferences. You get white window contents.

**Expected

[2018-05-15 09:38] keito940 commented on #257
@jocs Yes.

[2018-05-15 16:51] Jocs commented on #262
@fxha I think first need to prevent the default select all, then we can set the cursor range and render.

[2018-05-15 18:02] IntelliNik opened #265 "MarkText doesnt open anything"
### Description

Hello everyone,
firstly i want to say that you´ve made a very useful and beautyful tool to work with markdown. Thank you for that! I all worked finely until now MarkText now doesnt open any file at all. Either if I open the file via the explorer or if i open a file via MarkText directly. I´ve installed MarkText again, but nothing changed.

### Steps to reproduce
I dont know how to

[2018-05-15 19:11] IntelliNik commented on #265
Hey @fxha,

thanks for the quick response, in my error log was just this:

2.5.2018, 20:43:18 [ERROR] Cannot save file without path.

But when i deleted the "%appdata%\marktext-folder" it solved the issue. Thank you very much!

Greetings,

IntelliNik

[2018-05-15 19:12] #265 closed

[2018-05-16 09:14] xtdiary opened #267 "当输入很多内容后，在最底部输入中文时，有时候滚动条会自动跳转到顶部"
### Description

当输入很多内容后，在最底部输入中文时，有时候滚动条会自动跳转到顶部

### Steps to reproduce

1. 输入很多中文，从第7行开始插入代码块，之后在输入很多中文

**Expected behavior:** [What you expected to happen]
当在底部输入中文时，滚动条应该保持不动
**Actual behavior:** [What actually happened]
滚动条会自带跳到顶部
**Link to an example

:** [If you're reporting a bug that's not reproducible, or it's hard to description, please paste a screenshot of reproducing this issue, g

[2018-05-16 09:32] Jocs commented on #267
能把能够复现的 markdown 文件发我一份吗？ransixi@gmail.com

[2018-05-16 15:46] NorDorado opened #269 "一个关于Latex的疑似Bug"
是个小问题，不知道能不能算BUG
在Latex语句中【$之间$】任意回车，将会从第一个图变成第二个人图
![QQ截图20180516234027.png](https://i.loli.net/2018/05/16/5afc5172d66e4.png)
![QQ截图20180516234129.png](https://i.loli.net/2018/05/16/5afc5172c51eb.png)
- Mark Text: v 0.10.21
- OS:windows

[2018-05-16 21:48] fxha opened #271 "Image autocompletion (brackets) is broken"
### Steps to reproduce

1. Write `![` - autocomplete to `![]`
2. Write opening bracket `(` - autocomplete to
[code]

![mt_image](https://user-images.githubusercontent.com/22716132/40145655-0ca9a1ca-5963-11e8-9970-1e5466706480.gif)

**Expected behavior:**

`![]()`

### Versions

- Mark Text: master

[2018-05-17 01:37] Jocs commented on #271
@fxha this issue seems to be fixed,it’s a bug of snabbdom to html library.and I have already submit aPR to fix this problem.So you need reinstall snabbdom-to-html library to use the new version!

[2018-05-17 03:57] WuZhenXing opened #272 "对CTRL + Z 和 CTRL+ Y的支持不太好"
对CTRL + Z 和 CTRL+ Y的支持不好

撤消后完全没法恢复了

CTRL + D = delete line

[2018-05-17 10:03] NorDorado commented on #269
就是有时候不小心会按到Enter ,要是很长串的Latex，这个操作会一下多出四倍长，体验会变差,

[2018-05-17 10:08] Jocs commented on #269
@NorDorado 能给一个很长的 Latex 的例子吗？
后期我们考虑支持多行 数学公式。
#242 这个是你想要的吗？

[2018-05-17 13:50] Jocs commented on #272
@WuZhenXing 下一个版本会有所改善，我们重写了 redo、undo 功能

[2018-05-18 01:05] chlins commented on #225
新建了一个文件，内容是空的，重新关闭marktext再打开就好了

[2018-05-18 02:08] Jocs commented on #225
@chlins 1G 左右还是比较正常，应为毕竟 Electron 中包含了一个 Chrome 浏览器。

[2018-05-18 02:41] kobejie93 commented on #267
好的，晚上回家发你

[2018-05-18 03:09] faimin opened #274 "文字选中状态自动变为未选中状态"
### Description

在代码段内选中某段想删除的文本时，当松开鼠标打算按`delete`删除时，已选文字自动变为未选中状态。好像是自动调用了`Edit`选项中的某个操作，因为能看到桌面`Edit`按钮那里出现闪动。非必现问题，但是出现几率也挺高的。

### Steps to reproduce

1. 在代码段中选中一部分的文字
2. 松开鼠标按键
3. 已选中的文字自动变为了未选中状态

**Expected behavior:** 希望已选中文字不会被自动重置为未选中状态

### Versions

- Mark Text:    **v 0.10.21**
- OS:   **Mac OS 10.13.4**

[2018-05-18 04:06] #225 closed

[2018-05-18 09:34] Jocs commented on #274
@faimin 我刚才也试了，这应该是一个 bug。现在你可以这样做，先将光标移动到代码块，然后在选择你要删除的内容。这样 selection 就不会消失了。后续版本我们会 fix 这个问题。

谢谢！

[2018-05-18 10:31] faimin commented on #274
@Jocs OK, thanks ❤️

[2018-05-18 12:53] cbrasser opened #276 "Font color for math blocks can't be changed"
### Description

Math blocks are really hard to read in dark mode since one can't change the font color of those

### Steps to reproduce

1. Enable dark mode
2. Create Math block using $$[Math]$$

**Expected behavior:** The equation is rendered in a light color so that it is clearly visible

**Actual behavior:** The math equation is rendered in a black font, which makes it really hard to read in d

[2018-05-18 13:26] fxha commented on #276
Thanks @cbrasser,

the issue is already fixed, but not yet released.

[2018-05-18 13:37] fxha opened #277 "Inline math is not displayed"
### Description

Inline math is not displayed and throws an exception.

[code]

[code]

### Steps to reproduce

1. `$foo$`

**Expected behavior:**

Inline math should be displayed correctly (like `$$foo$$`); no exception

### Versions

- Mark Text: master

[2018-05-18 13:50] cbrasser commented on #276
Just built the version on the master and noticed, nice thank you!

[2018-05-18 13:51] Jocs commented on #277
@fxha Do you want to have a try? I forgot to use the `snackToCamal` method in `displayMath.js` file.

You can refer to `image.js` file in path `editor/parser/render/renderInlines/image.js`.

[2018-05-18 13:53] Jocs commented on #277
@fxha And I also made a mistake when spell `snackToCamel`, the correct name is `snakeToCamel`?

[2018-05-18 14:04] fxha commented on #277
Yeah, it's snake case and `inline_math.js` :smile:

[2018-05-18 14:06] Jocs commented on #277
Need to use `snakeToCamel` method to transform `inline_math` to `inlineMath`.

[2018-05-18 14:44] cbrasser commented on #242
Might be related to this one, I cant get the $$$$ to work inline which would be very useful instead of having a new line for a short block of math

[2018-05-18 15:59] #277 closed

[2018-05-18 17:49] fxha commented on #242
@cbrasser You can use inline math `$ math $` in a text/table/list etc. Display math (`$$ math $$`) can not be nested.

[2018-05-19 15:52] derekbeau opened #281 "Add option to format source text with semantic linefeeds"
Feature request / request for comments. If there is agreement on this I could try my hand at implementing it.

### Description

Add a setting to automatically format source text with semantic linefeeds.

### Steps to reproduce

When writing in the default/preview mode, pressing `Return` key for a new line automatically inserts two line breaks into the source. This is desired and expected behavior

[2018-05-20 00:11] zhangjintianyi opened #282 "能否增加同步到印象笔记的功能"

[2018-05-20 00:39] Jocs commented on #281
@derekbeau Hi, Thank you very much for your proposal. There is a new feature in our next release version, [Soft line break](https://github.github.com/gfm/#soft-line-breaks) and [hard line break](https://github.github.com/gfm/#soft-line-breaks). You can insert a soft line break after punctuation with shift + enter. I'm not quite sure if this is what you want? But does this actually implement linefe

[2018-05-20 00:46] derekbeau commented on #281
The visual soft line break would be implemented by a double space after the line in the source, correct?

With the semantic linefeed, the visual output would read as paragraphs, since markdown does not make a new line unless it is followed by two spaces. In this case, it would be compatible with the new features you mentioned above.

The result is that humans can read the formatted text just as in

[2018-05-20 00:55] Jocs commented on #281
A line break (not in a code span or HTML tag) that is preceded by two or more spaces and does not occur at the end of a block is parsed as a hard line break (rendered in HTML as a <br /> tag)

OK! Thanks, if you need some help or confused with the source code, you can ask question here, I am very willing to answer your questions.

[2018-05-20 01:04] #269 closed

[2018-05-20 01:05] Jocs commented on #267
@kobejie93 hi, 暂时没有收到？

[2018-05-20 01:08] Jocs commented on #264
@johnblommers

We are also considering whether to modify the current configuration file into a visual configuration interface so that similar problems can be avoided.
 
The configuration file is more friendly to the developer. The visual configuration interface can do some verification processing on the input. Which one do you prefer?

[2018-05-20 01:55] codeofjackie opened #283 "npm run dev Err : TypeError: Cannot read property 'aidou' of null"
### Error happened when `npm run dev`

**Error information**

 TypeError: Cannot read property 'aidou' of null
      at Object.<anonymous> (E:\Web开发\marktext\dist\electron\main.js:17115:35)
      at __webpack_require__ (E:\Web开发\marktext\dist\electron\main.js:21:30)
      at Object.module.exports.exports.__esModule (E:\Web开发\marktext\dist\electron\main.js:16973:64)
      at __webpack_require__ (E:

[2018-05-20 03:36] johnblommers commented on #264
The visual configuration interface is far more user-friendly and I always put the user first.

[2018-05-20 03:43] Jocs commented on #283
@codeofjackie I update the description of this issue, so that other member can understand what this issue about.

[2018-05-20 11:15] fxha commented on #283
Yes, it's a fatal exception in main process on Windows because `aidou` is `null`. At the moment we cannot execute the Windows binary. I'll take a look at this later.

@Jocs We should integrate AppVeyor (Windows CI) and execute Mark Text on Travis CI and AppVeyor to detect these problems. I'll open an issue for updating CI's later.

[2018-05-20 11:29] Jocs commented on #283
@fxha So this is a bug?

[2018-05-20 11:35] fxha commented on #283
@Jocs Yes; we cannot use Mark Text on Windows because of app crash.

[2018-05-20 11:39] fxha commented on #264
Some  key points why we should build a GUI for settings:

- easier to use from a users point of view
- less error prone (because someone type in invalid values)
- we can integrate custom themes and plugin-settings later
- we do not have to convert old settings to new settings (and support old settings format) - because of pre-release version
- @Jocs we can seperate settings from GUI (Mark Text) an

[2018-05-20 12:47] Jocs commented on #283
@fxha Ok, I'll label this issue with `bug`.

[2018-05-20 12:57] Jocs commented on #264
How about a `reset to default setting` ?

[2018-05-20 15:12] codeofjackie commented on #283
@fxha Thanks! So……this application was developing under the Mac or Linux before?

[2018-05-20 15:55] #231 closed

[2018-05-20 16:58] derekbeau commented on #281
@Jocs do you have a VSCode `launch.json` configuration or some advice on another way I can properly run a debugger and step through the code?

Not sure if the issues I'm having are related to `electron-vue` or something else, but I can't get VSCode or WebStorm to load the source maps and use original source for stepping through.

[2018-05-20 17:12] fxha commented on #283
@codeofjackie No, Mark Text is cross-plattfrom (Linux, macOS and Windows) but mainly developed on macOS and Linux.

@Jocs @codeofjackie

Strange problem: If you use the default git configuration on Windows, it will convert all files to CRLF line ending. The used RegEx (which removes all new lines before parsing) replaced only LF, not CRLF. My git configuration was configured with LF so that the pr

[2018-05-20 17:18] fxha commented on #264
Sure also a good idea, but I don't want to reset my settings to test an issue.

[2018-05-21 02:07] #283 closed

[2018-05-21 10:11] fxha commented on #244
@Jocs  Update first comment.

The problem is that we have to return a cursor, but I think you can handle this :smile:

[2018-05-21 10:14] fxha opened #286 "Ctrl+T is not working after 2 tables"
### Description

`Ctrl+T` is not working after 2 tables.

### Steps to reproduce

1. Create first table: `Ctrl+T`
2. Create second table: `Ctrl+T`
3. Write some text (optional)
4. Try to create another table: `Ctrl+T`

**Expected behavior:**

That I can create another table.

**Actual behavior:**

Nothing happens...

### Versions

- Mark Text: master (2b05619)

[2018-05-21 10:16] fxha opened #287 "Cannot select an entire document if table is at the beginning"
### Description

Cannot select an entire document if table is at the beginning of the document.

### Steps to reproduce

1. Create a table at the beginning of the document
2. Write text in the first cell: `foo`
3. Write text behind table
4. `Ctrl+A` outside table

[code]

**Expected behavior:**

Entire document is selected.

**Actual behavior:**

Entire document is selected, but without `f`.

###

[2018-05-21 10:21] fxha opened #288 "Update continuous integration (CI)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/marktext/marktext/issues/288)

As the title says, we want to improve CI build/tests.

- [x] Enable AppVeyor and disable `appveyor.yml`
- [x] Update `appveyor.yml`, so that we can build Mark Text
- [ ] Create a test markdown file with all supported elements
- [ ] AppVe

[2018-05-21 10:30] fxha opened #289 "Copy table in preview mode as formatted markdown"
We want to copy a table in preview mode as formatted markdown table. Let's say we want to copy the following table:

| a   | b   | c   |
| --- | --- | --- |
| d   | e   | f   |

At the moment we receive `abcdef`, but we want a well-formatted markdown table like:

[code]

[2018-05-21 10:51] Jocs commented on #244
Ok, I'll handle this issue.

[2018-05-21 10:55] Jocs commented on #286
@fxha I can create three tables?
![table](https://user-images.githubusercontent.com/9712830/40304252-855a5b5a-5d28-11e8-9d35-e8a788721545.jpg)

[2018-05-21 13:20] fxha commented on #286
You are right. I have to wait for 1-2 seconds after I type in text. I think we should reduce the 1s time-out  you added a bit. I had a similar problem with saving files. E.g. you type in text, press `Ctrl+S` and close Mark Text, but the document is not saved because of the 1s time-out.

[2018-05-21 13:20] #286 closed

[2018-05-21 13:32] Jocs commented on #286
@fxha I'll handle this in next commit. 👍

[2018-05-21 14:41] NorDorado commented on #269
抱歉，平时不太使用Github,回复有些晚，不好意思
比如这串Latex：
$$J(\theta)=\frac1{2m}\sum_{i=0}(y^i-h_\theta(x^i))^2$$
如果在输入过程中按到enter,这么长串的LATEX自动复制几倍，基本就要重新打了.蛮影响体验的，
![image](https://user-images.githubusercontent.com/36447758/40313100-4cef7920-5d47-11e8-9cd3-1c08ac1d8199.png)

![image](https://user-images.githubusercontent.com/36447758/40313216-b4fe2cbe-5d47-11e8-9861-d29bff8dae96.png)

[2018-05-21 14:42] NorDorado commented on #269
在此感谢大佬所做的工作，为我们提供了这么棒的工具

[2018-05-22 04:11] kurobanekid opened #292 "Normal function cannot be used"
### Description
After installation, the normal function cannot be used. I have tried many time to reinstalled it, but it let me down again and again. Everytime I reinstalled it, i have completely cleared the data.

### Steps to reproduce

1. After installation completed, I changed the theme from `Light` to `Dark`
2. Then it could successfully opened one of my markdown files
3. I closed the window.

[2018-05-22 04:33] xiocode commented on #267
![image](https://user-images.githubusercontent.com/1326473/40342262-429e091c-5dbc-11e8-8095-c3c6b4ebaa26.png)

同样的问题

@Jocs

[2018-05-22 05:03] WinterChenS commented on #267
同样的问题

[2018-05-22 07:29] fxha commented on #292
Thanks @kurobanekid,

I think this is a duplicate of #265 or #217. In v0.10.21 you cannot open files when Mark Text is started maximized or in full-screen mode. Also ensure you type in `light` and `dark` in lower case.

[code]

or

[code]

[2018-05-22 08:14] kurobanekid commented on #292
Thanks, I'm happy to use it now😀

[2018-05-22 13:21] #274 closed

[2018-05-22 13:28] Jocs commented on #244
@fxha 😢 I can not reproduce this issue again.

I run npm run dev

then I press `ctrl + f`

but no error happened?

[2018-05-22 15:35] Jocs commented on #125
Do you find the reason why it will convert multiple spaces to one space? I think this is the key point to this issue.

[2018-05-22 16:00] Jocs commented on #125
@fxha

[code]

[2018-05-22 16:22] fxha commented on #244
Yes sure.

[2018-05-23 05:27] #292 closed

[2018-05-24 09:31] hungtcs opened #295 "建议：在打开已存在的Markdown文件时不要更改源文件！"
### 建议描述
如果我开启自动保存功能，并且打开了一个我用其他编辑器写的Markdown文档，本软件有可能会破坏我的原文件，例如我的文件内容为
[code]
用本软件打开之后，不做任何操作再关闭，我的文件内容变成了
[code]
下面的内容被删除掉了，在使用本软件打开hexo博客文件的时候也存在相同的问题

[2018-05-24 09:45] Jocs commented on #295
@hungtcs Mark Text does not support  [reference link](https://github.github.com/gfm/#links) now. Can you update this issue into a feature request issue for [reference link](https://github.github.com/gfm/#links)?

And I'll implement it in v0.12.x.

[2018-05-24 18:13] fxha commented on #216
@Jocs Any updates here?

List of know broken shortcut on German keyboard - maybe all non-US keyboards.

| Shortcut | Working shortcut (Linux)   | Working shortcut (Windows) |
| -------- | -------------------------- | -------------------------- |
| `Ctrl+U`* | `Ctrl+Super+U`             |not working           |
| `Ctrl+=` | `Ctrl+Plus` (`+`)          | `Ctrl+Plus` (`+`)          |
| `Ctrl+/` | `Ctr

[2018-05-25 02:41] Jocs commented on #216
`Ctrl+# (without Shift)` is the shortcut of `heading 3` ?

Now the problem is `Ctrl + U`、`Ctrl + =`、`Ctrl + /` are not working in Linux system? or German keyboard?

[2018-05-25 02:52] #295 closed

[2018-05-25 03:11] hungtcs opened #297 "In order to protect the security of the file content, please support reference link"
### Description
If a file has some reference link, marktext will remove it automatically, this is not a good practice, usually it will cause my file content to be lost.

If I just open the file but do not edit it, editor should not modify the contents of the file.

[2018-05-25 03:16] Jocs commented on #297
@hungtcs I already add this `feature request` to project `version 0.12.xx`. we can discuss some details here, or you have any good ideas about this feature?

[2018-05-25 03:28] Jocs opened #298 "Mark Text automatically converts escaped characters to normal characters when opening files"
### Description

Mark Text automatically converts escaped characters to normal characters when opening files

### Steps to reproduce

1. open Mark Text
2. write `&gt;`
3. save and close Mark Text.
4. reopen file, the `&gt;` automatically converted to `>`.

**Expected behavior:** the content still is `&gt;`

**Actual behavior:** the markdown content became to `>`.

**Link to an example:** [If you'r

[2018-05-25 03:53] hungtcs commented on #297
@Jocs sorry, not yet. I think the important thing is not reference link, if the content of file does not comply with marktext, why not display it directly

[2018-05-25 06:04] wozqh opened #299 "所有的md文件打开为空文件"
### Description

window下，所有的md文件都不能正常查看，打开显示为空白文件，但是用其他软件打开是有显示内容的

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're reporting a bug that's not reproducible, or it's hard to description, please paste a screenshot of reproducing this issu

[2018-05-25 06:26] Jocs commented on #299
maybe duplicated with #265 , you can goto this issue for more detail.

[2018-05-25 08:11] keesse opened #300 "Trailing spaces and newline"
### Description
If I end a line with 2 spaces, instead of displaying a newline, the next line is displayed at the end of the first line.

From the [Markdown spec](https://daringfireball.net/projects/markdown/syntax) :

### Steps to reproduce

1. [First step]
line one\<space\>\<space\>
line two

**Expected behavior:** [What you expected to happen]
line one
line two

**Actual behavior:** [What actua

[2018-05-25 08:15] Jocs commented on #300
@keesse We already are working on the feature `soft\hard line break`, and almost finished, you can build the latest master branch to use these features, or wait for the next release version.

[2018-05-25 08:17] keesse commented on #300
@Jocs, good to hear, for the rest, Mark Text is really super! :-)

[2018-05-25 09:30] stefnotch opened #301 "Deleting a new line can duplicate stuff"
### Description

Deleting a new line can duplicate stuff can duplicate a `code block`

### Steps to reproduce

1. Type
[code]
2. Move the cursor after `hello`
3. Hit the delete key (to delete the new line)
4. `how are you` will get duplicated

**Expected behavior:**
![image](https://user-images.githubusercontent.com/10220080/40537349-fb77ba6a-600e-11e8-9fb9-d0e26436a93f.png)

**Actual behavior:**

[2018-05-25 09:31] wozqh commented on #229
Have you solved the problem ? I met the same qustion

[2018-05-25 10:08] Jocs commented on #299
@wozqh 请参照 #265 解决方案。

[2018-05-25 10:11] Jocs commented on #301
@stefnotch

If the cursor is after `hello`, press `backspace` will delete `o` character, how do you delete the new  line?

[2018-05-25 10:13] stefnotch commented on #301
https://www.computerhope.com/cdn/keyboard/delete.jpg
You have to press this `DEL`ete key

[2018-05-25 11:00] Jocs commented on #301
@stefnotch I think this a new feature, we have not implement yet. thanks!

[2018-05-25 12:31] Jocs commented on #298
related issue in parse5 https://github.com/inikulin/parse5/issues/249

[2018-05-25 12:53] fxha commented on #229
Please see [here](https://github.com/marktext/marktext/issues/292#issuecomment-390890789). It's a problem if you type in invalid settings or json style. Easiest solution is to remove the `preferences.md` file.

[2018-05-25 13:08] fxha commented on #216
See my comment above: https://github.com/marktext/marktext/issues/216#issuecomment-385186913. Electron don't listen for `Ctrl+#` shortcut but instead of the key-id from `Ctrl+#`. Let's say `Ctr+#` has key-id `1` on a US-layout, but on a German-layout `2`. Key-id  `1` is `Ctrl++` or what ever on a Germany-keyboard. So you have to type `Ctrl++` (because it's key-id `1`) instead of `Ctr+#`. But at th

[2018-05-25 19:19] fxha opened #302 "Exceptions if line ends with 4 spaces"
### Description

Many exception if line ends with 4 spaces.

### Steps to reproduce

1. write 4x space at the end of line
2. press `enter`

**Expected behavior:**

No exceptions.

**Actual behavior:**

![mt_space_bug](https://user-images.githubusercontent.com/22716132/40562345-c5171086-6060-11e8-85dc-6af76bcd127d.gif)

### Versions

- Mark Text: master (16bb1de)

[2018-05-26 01:12] #302 closed

[2018-05-26 01:17] #263 closed

[2018-05-27 12:08] feijie825 commented on #299
你可以删除所有用户数据后重试：
1. 备份 "%appdata%\marktext-folder"
2. 删除 "%appdata%\marktext-folder"文件夹
3. 尝试打开一个文件

[2018-05-28 11:56] #79 closed

[2018-05-28 11:56] #125 closed

[2018-05-28 11:56] #169 closed

[2018-05-28 11:56] #220 closed

[2018-05-28 11:56] #239 closed

[2018-05-28 11:56] #242 closed

[2018-05-28 11:56] #272 closed

[2018-05-28 11:56] #276 closed

[2018-05-28 11:56] #281 closed

[2018-05-28 11:56] #300 closed

[2018-05-28 11:57] Jocs commented on #299
@wozqh 删除用户数据后，可以了吗

[2018-05-28 13:54] wozqh commented on #299
可以了，但是现在会有时出现无法编辑的情况，添加不了内容

[2018-05-28 14:06] Jocs commented on #299
@wozqh 能具体描述下问题吗？

[2018-05-29 06:03] #230 closed

[2018-05-30 08:12] WinterChenS opened #307 "第一次全屏之后，后面打开会自动全屏，缩放和关闭按钮消失"
### Description

[Description of the bug or feature]

打开软件全屏之后`command+Q`退出软件，后面打开会自动全屏，看不到关闭和缩放的按钮

### Steps to reproduce

1. [First step]  软件全屏
2. [Second step] 强制退出
3. [and so on...] 再打开软件，不显示关闭和缩放的按钮

![](http://img.winterchen.com/WX20180530-160326@2x.png)

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Link to an example:** [If you're r

[2018-05-30 08:18] #307 closed

[2018-05-30 08:30] keito940 opened #308 "Multi language Translation Support"
### Description

Mark text seems to be absent in English only, so can you correspond to Japanese, Chinese, etc?
By the way, I am a Japanese user.

### Versions

- Mark Text: v0.11.42
- OS:Windows 10

[2018-05-30 09:58] Jocs commented on #308
@keito940 , Do you mean that the new version download link absent in `Japanese` and `Chinese` readme?

PR is appreciated!:smile:

[2018-05-30 10:15] fxha commented on #308
I guess duplicate of https://github.com/marktext/marktext/issues/138#issuecomment-380867653.

[2018-05-30 21:25] keesse opened #310 "Problem with marktext-0.11.42-x86_64.AppImage"
### Description
The AppImage does not work for me (Ubuntu 18.04 64 bit)

### Steps to reproduce

1. [First step]
When started from the GUI, I can choose yes or no to install, but then nothing happens

When starting from the commandline:

$ ./marktext-0.11.42-x86_64.AppImage
module.js:545
    throw err;
    ^

Error: Cannot find module '/tmp/.mount_markteE1DVwf/resources/electron.asar/browser/init.

[2018-05-31 02:12] wozqh commented on #299
怎么又出现打开为空文件的情况了啊

[2018-05-31 02:14] Jocs commented on #299
@wozqh 安装最新版本出现的问题？

[2018-05-31 02:45] wozqh commented on #299
最新版解决这个问题了吗

[2018-05-31 02:58] Jocs commented on #299
安装最新版后再尝试

[2018-05-31 05:18] fxha commented on #310
Yes, seems the same issue as https://github.com/electron-userland/electron-builder/issues/2958.

@Jocs The strange thing is that I can successfully build and execute my self-build appimage on Linux. Can you try again with different electron builder versions and test to execute these or upload it somewhere?

[2018-05-31 06:15] Jocs commented on #310
@fxha Do you mean build and execute `appimage` on Mac? but I am not sure weather I can execute `appimage` on Mac successfully.

I'll try this evening.

[2018-05-31 09:37] stefnotch opened #311 "CTRL+Z not working"
### Description

Pressing `CTRL+Z` doesn't do anything.

### Steps to reproduce

1. Type some text
2. Delete some text
3. `CTRL+Z`

**Expected behavior:** That the deleting text gets undone

**Actual behavior:** Nothing happens

### Versions

- Mark Text: v 0.11.42
- OS: Windows 10

[2018-05-31 09:50] stefnotch opened #312 "Can't copy full links"
### Description
Copying the [entire link](http://example.com) is not possible, while copying a part of it is possible.

### Steps to reproduce

1. Type `[Rolling boulder](https://latimesherocomplex.files.wordpress.com/2011/08/ij1_ia_454_r.jpg)`
2. Press on `Rolling boulder`
3. Select the link `https://latimesherocomplex.files.wordpress.com/2011/08/ij1_ia_454_r.jpg`
4. Try to copy it

**Expected be

[2018-05-31 09:52] Jocs commented on #311
@stefnotch Mark Text will generate a `history` after you stop typing for 2 seconds.

[code]

So when you type some text, but you delete them immediately! it will not generate a history in Mark Text, it caused `CTRL + Z` doesn't do anything.

[2018-05-31 09:54] stefnotch commented on #311
@Jocs I tried waiting a while, however, `CTRL+Z` still doesn't work.
But `File --> Undo` does work.

[2018-05-31 09:57] Jocs commented on #312
@stefnotch thanks for reporting this issue, I test it on my computer and make sure it's a bug now.
It will be fixed in the next released version!

[2018-05-31 10:01] Jocs commented on #311
That's strange, @fxha can you help test this issue on you windows computer? I test it on Mac, and it works well.

@stefnotch can you update this issue description and give more details? gif is preferred. thank you.

[2018-05-31 10:07] stefnotch commented on #311
![2018-05-31_12-04-36](https://user-images.githubusercontent.com/10220080/40776365-d51a0f9c-64ca-11e8-8867-49359278b93f.gif)

So, here is a GIF where I'm doing the following things
1) typing some text
2) using the `File->Undo` and `File->Redo` options
3) pressing `CTRL+Z`
4) using `File->Undo` which doesn't appear to do anything at all
5) using `File->Undo` which does undo the typing

I think that

[2018-05-31 10:09] Janloong-Doo opened #313 "使用表格无法保存内容"
当我输入
|||
按下enter 后会自动生成表格   在表格里填写内容后 ctrl +  s  保存     但是实际并没有保存表格内容
重新打开文件后 没有之前的表格内容 数据都丢了

[2018-05-31 10:21] Jocs commented on #313
@Janloong-Doo Thanks for reporting this BUG，it will be fixed in the next released version.

[2018-05-31 10:34] fxha commented on #310
Only build and test it on a VM or unpack it (maybe you can mout the appimage and check against my electron-build "tree" comment). Otherwise I have to build marktext/marktext and upload it. So that you can publish it manually. The main problem is when you update Mark Text/download latest version it will instantly fail to execute. It seems like an electron-builder issue if build on macOS.

[2018-05-31 10:34] stefnotch opened #314 "Fenced code blocks in lists"
### Description

Fenced code blocks in lists don't work very well.

### Steps to reproduce

1. Type `- ` to create a list
2. Type 3 backticks (`) to create a fenced code block
![image](https://user-images.githubusercontent.com/10220080/40777510-562b6380-64ce-11e8-9687-32633c9f000a.png)
3. Type some code
![image](https://user-images.githubusercontent.com/10220080/40777601-9cafddae-64ce-11e8-8bd8-8d

[2018-05-31 10:37] fxha commented on #311
Yeah, I can later.

[2018-05-31 10:51] Jocs commented on #314
Hi, @stefnotch you can follow these steps to create more list items.

1. Type - to create a list
2. Type 3 backticks (`) to create a fenced code block
3. Type some code
4. **Use arrow down to create a paragraph after code block**
5. Press enter to convert this paragraph to list item.

Can this way solve you problem?

[2018-05-31 10:54] Jocs commented on #310
@fxha I think the current solution should be that you build an appImage locally and then manually update it to the latest release version?

[2018-05-31 11:06] stefnotch commented on #314
@Jocs Yes, this does work. I expected that clicking with the mouse below the list/code block would also work.

Well, I still have a bug report:
1. Type `- ` to create a list
2. Type 3 backticks (`) to create a fenced code block (Don't type a language)
3. Hit Enter:
![image](https://user-images.githubusercontent.com/10220080/40778873-08628228-64d3-11e8-91f9-8721c7920218.png)

Expected: It doesn't c

[2018-05-31 11:13] Jocs commented on #314
It is indeed a small bug. input and not input language will cause different results.

Scenes that use fenced code blocks in list items are inherently small, and there are sometimes bugs that are not easily discovered.

[2018-05-31 11:17] stefnotch opened #315 "Creating a empty fenced code block within a list"
### Description

Creating a empty fenced code block within a list creates another list item

### Steps to reproduce

1. Type `- ` to create a list
2. Type 3 backticks (`) to create a fenced code block (Don't type a language)
3. Hit Enter:
![image](https://user-images.githubusercontent.com/10220080/40778873-08628228-64d3-11e8-91f9-8721c7920218.png)

**Expected behavior:** It doesn't create another

[2018-05-31 11:18] stefnotch commented on #314
@Jocs Created a new issue. https://github.com/marktext/marktext/issues/315

Thank you for your help. I can close this one for now. 😄

[2018-05-31 11:18] #314 closed

[2018-05-31 11:29] Jocs commented on #310
Have you determined that the problem is caused by the the new version of electron-builder?
Is it possible to revert the electron-builder back to the previous version to solve this problem?

[2018-05-31 11:38] fxha commented on #311
OK, did a quick check and I think `Ctrl+Z` is a duplicate of https://github.com/marktext/marktext/issues/216 because I can press `Ctrl+Super+Z` to undo on Linux. And I can confirm the double menu undo bug if the cursor is not at the end of the line. If the cursor is at the end of the line everything is OK.

[2018-05-31 11:51] fxha commented on #310
I cannot reproduce the problem because I only have Linux and Windows system(s). So you have to try it yourself.

[2018-05-31 19:24] #310 closed, assigned to nobody

[2018-05-31 19:46] keesse commented on #310
@fxha thank you very much, it works fine now!

[2018-05-31 19:48] keesse commented on #300
@Jocs thank you very much, it works fine with 0.11.42, both on Windows as on Linux :-)

[2018-05-31 20:04] keesse opened #316 "Key binding for Source Code Mode in 0.11.42 do not work"
### Description

When in Marktext 0.11.42, Ctrl+U does not work
In the older version it was Ctrl+Shift+S which now works as Save As, such as most programs

### Steps to reproduce

**Expected behavior:**  Switch to and back from Source Code mode

**Actual behavior:**  Nothing happens

**Link to an example:** [If you're reporting a bug that's not reproducible, or it's hard to description, please pas