[2019-11-18 15:53] bitterbit opened #1723 "MacOS auto Light/Dark Mode not working as expected"
### Description
When setting MacOS appearance (dark mode) to auto, All apps will switch to dark mode except for MarkText which will stay in light mode.

- [x] Can you reproduce the issue? Yes

### Steps to reproduce
1. On macos preferences set General > appearance to "auto"
2. Wait to change from day to night
Or
1. Wait to night
2. Select appearance "auto"

**Expected behavior:**
Dark mode should

[2019-11-18 16:11] MrHeer opened #1724 "Task List should be smarter"
### Describe your feature request

I think the `Task List` should be smarter like the [`org-mode`](https://orgmode.org/manual/Checkboxes.html#Checkboxes) of `Emacs`

### What problem does this feature solve? [optional]

1. Auto update others checked state while change a task

2. Auto update the progress of the task that have children

### Additional context [optional]
![Screen record from 2019-11-

[2019-11-18 16:53] fbruetting commented on #1722
As you can see, the spacing even is inconsistent throughout the same document:

![Bildschirmfoto von 2019-11-18 17-52-44](https://user-images.githubusercontent.com/10520767/69072626-4b83f780-0a2c-11ea-95e8-467e8b977a2a.png)

[2019-11-18 22:19] carlinmack commented on #1107
I tried editing %APPDATA%\marktext\preferences.json but I am getting `'editorFontFamily' should be equal to one of the allowed values` For this issue to be closed you should be able to select a custom font through the GUI.

[2019-11-19 03:51] Jocs commented on #1723
Thanks for your feedback, because Electron's API has changed, but the new API does not have a complete documentation, so we have not yet fully adapted, and of course you are welcome to submit a PR.

[2019-11-19 03:52] Jocs commented on #1721
@MrHeer Yes, of course, thanks.

[2019-11-19 03:55] Jocs commented on #1724
What do you mean auto update others checked state? Could you please give more detail about this issue, explain all cases that should change other task list item checked state. thanks.

[2019-11-19 04:01] Jocs commented on #1722
Markdown can be divided into loose list and tight list by the size of the list item gap(loose list with empty line between list items), so can you adjust the loose/tight type of each level yourself? Is this caused by this?

<img width="625" alt="截屏2019-11-19下午12 00 30" src="https://user-images.githubusercontent.com/9712830/69115641-39559800-0ac4-11ea-868b-46c717468741.png">

[2019-11-19 04:02] Jocs commented on #1722
@fbruetting FYI https://spec.commonmark.org/0.29/#loose

[2019-11-19 04:03] Jocs commented on #1107
@carlinmack What's the version of Mark Text you use?

[2019-11-19 04:09] Jocs commented on #1688
I am not sure why this link because `file:///D:/soft/marktext/marktext/resources/app.sar/dist/electron/my_file.pdf` when export PDF, so I think we can solve this issue from here.

Yes, we use `win.webContents.printToPDF` to export PDF file.

[2019-11-19 04:29] MrHeer commented on #1724
1. If all subtasks of a task are completed, then this task should also automatically become complete.
2. If a task is completed, all its subtasks should automatically become complete.

[2019-11-19 04:36] carlinmack commented on #1107
v0.15.0.

I've upgraded through the menu>check for updates to v0.15.1 and the problem still persists
![image](https://user-images.githubusercontent.com/6676843/69116960-2d35f000-0a5c-11ea-86a4-dbf7b1db37a8.png)

I'll try downloading the lastest release from github

[2019-11-19 04:48] MrHeer commented on #1688
When I test the `./Untitled-2.md` will become to `http://localhost:9091/Untitled-2.md`

[2019-11-19 07:23] jzh9608 opened #1726 "Unexpected error: Cannot read property 'submenu' of null"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 18.7.0 (darwin)

[2019-11-20 06:25] Jocs commented on #1726
How to reproduce this issue?

[2019-11-20 06:27] Jocs commented on #1724
Very good advice, PR is also welcomed.

[2019-11-20 06:38] #1687 closed

[2019-11-20 07:45] hrvojegolcic opened #1728 "Cannot search text which contains markup in the source"
# Description

Either using global search (Ctrl+Shift+F) or local search (Ctrl+F) it's not possible to search and find a text which contains markup in the source.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Enter the text e.g. "The brain research"
1. Apply the markup e.g. "The **brain** research"
1. Save the file
1. Try to search for "The brain research"

![image](https://user-

[2019-11-20 07:56] hrvojegolcic opened #1729 "Search when invoked should get prefilled from the currently selected text"
# Description

Unlike the global search (Ctrl+Shift+F) the local search (Ctrl+F) when invoked gets prefilled from the currently selected text as a search query.

I don't know if the behavior is intentional but in my opinion the global search should also get prefilled from the currently selected text.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Select some text within the curren

[2019-11-20 12:26] CeroProgramming commented on #1715
I wasn't able to reproduce it at the moment, sorry :( . If it ever occurs again I will send you the code.

[2019-11-20 15:26] #1721 closed

[2019-11-20 15:31] fxha commented on #1688
@MrHeer  @Jocs  `http://localhost:9091/` and `file:///D:/soft/marktext/marktext/resources/app.sar/dist/electron` are the absolute paths at runtime. We or the printer used by Electron seem to combine the paths to an absolute path. There is already a workaround for images [here](https://github.com/marktext/marktext/blob/c90bdadb90fd1e5d0d49252424e6ebb663c56f95/src/renderer/services/printService.js#L

[2019-11-20 16:06] MrHeer commented on #1688
I think they are different.
1. images will resolve relative path to absolute path
2. the path of links after exporting pdf will automatically become the absolute path

[2019-11-21 05:25] deathrush opened #1731 "Do not change the file content when it is opend"
### Describe your feature request

Now the software will automatically change the lines of a existing file.

I hope it will no longer change the opened files.

### What problem does this feature solve? [optional]

Even if I doesn't change any character, when closing it, the software need I to confirm the change.

[2019-11-21 05:56] MrHeer opened #1733 "To-do list indentind wrong while switch Souce Code Mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. open Mark Text and  turn on `Souce Code Mode`, then input this

[code]
2. turn off `Souce Code Mode`

**Expected behavior:**

- [ ] task1
  - [ ] task1_1
    - [ ] task1_1_1

**Actual behavior:**

- [ ] task1
  - [ ] task1_1
  - [ ] task1_1_1

### Versions

- Mark Text: v0.16.0-rc.1
- Operating system: Windows 10

[2019-11-21 08:06] Jocs commented on #1648
@fxha I move this issue to project 0.17.0, and will not release the line number feature in v0.16.0.

[2019-11-21 08:09] fuzzy76 commented on #1286
This should be in the documentation or at least described in the preferences window.

[2019-11-21 08:24] Jocs commented on #1286
@fuzzy76 Sorry, we do not have such documents about this, I think we can add to this document https://github.com/marktext/marktext/blob/develop/docs/FAQ.md.

[2019-11-21 08:26] Jocs commented on #1731
duplicate with #912 ?

[2019-11-21 10:50] mrhelmut opened #1735 "Files ending with an empty blockquote don't render"
### Description

Hello there!

I noticed that when a file ends with an empty blockquote, MarkText will not be able to render it and won't allow to be edited anymore. If there is multiple tabs opened, MarkText will show the last rendered file instead of the one it can't render.

Cheers! Keep up the good work!

- [x] Can you reproduce the issue?

### Steps to reproduce

Create a file with this conte

[2019-11-21 12:05] tan-wei opened #1736 "Strang behaviour when code block under a list"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Under source code mode, type this contents:

[text.txt](https://github.com/marktext/marktext/files/3874536/text.txt)

![图片](https://user-images.githubusercontent.com/28227509/69336068-00bae780-0c99-11ea-9b91-b2fce94bef4e.png)

2. Exit source code mode, the text will become:
![图片](https://user-images.githubusercontent.c

[2019-11-21 15:28] Jocs commented on #1735
@mrhelmut Thanks for report this issue, we'll fix it asap.

[2019-11-22 03:08] naivros opened #1738 "Headings containing shorthand emojis won't allow "Exporting to PDF / HTML""
### Description

Using the shorthand emoji names (":angry&nbsp;:") within a header forces the application to refuse exporting silently; however, copying and pasting Unicode-8 emojis from an online repository (🙃) into the heading, allows exporting, as expected.

- [x] Can you reproduce the issue?

### Steps to reproduce
**Note the \&nbsp character, to not render such shorthand names in this bug rep

[2019-11-22 08:13] idea-zone opened #1741 "Unexpected error: Cannot read property 'text' of null"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0 (96f3f73)
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-11-22 08:36] idea-zone opened #1742 "Unexpected error: Cannot read property 'children' of undefined"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0 (96f3f73)
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-11-22 10:56] #1666 closed

[2019-11-22 11:00] #1668 closed

[2019-11-22 13:19] bitterbit commented on #1723
@Jocs I saw the following line in the master branch (`src/main/app/index.js`)
[code]

But it does not exist anymore on the develop branch. Did someone fix the issue already?

[2019-11-22 14:43] Jocs commented on #1723
@bitterbit We have move to use [nativeTheme](https://github.com/electron/electron/blob/660e56620130ba96a729d5630f5ee3e87e2168e0/docs/api/native-theme.md) module, because `systemPreferences.subscribeNotification` only work for `macOS` system. but `nativeTheme` seems not work well now.

[2019-11-22 14:47] Jocs commented on #1723
The relative codes are in this file    https://github.com/marktext/marktext/blob/fc15356b9b9155793b2172c60759d2ac61721e43/src/main/app/index.js#L161

[2019-11-22 17:16] fxha commented on #1723
@bitterbit You can see the equivalent [here](https://github.com/marktext/marktext/pull/1543/commits/2cb29d309e9b9376ba804e1fa1b4d20483db0ca6) but there are definitely bugs in there because it behaves differently on each OS.

@Jocs `systemPreferences.subscribeNotification` API is deprecated for theme stuff and with latest macOS you cannot longer detect the system theme, only the active application

[2019-11-22 23:40] qihuazhong opened #1746 "page numbering option for PDF export"
## Describe your feature request

It would be nice to have the option to display the page number at the footer/header.

I know this has been brought up once in #349. But this is not solved and that issue is closed. So I am bringing this up again.

### What problem does this feature solve? [optional]

If one expects to print and circulate his notes/reports, It is a good practice to have page number

[2019-11-23 01:37] qihuazhong opened #1748 "Export fails when headings contain an emoji"
### Description

When headings (lines starting with # or ## ...) contain an emoji, the export to PDF/HTML function would fail.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a new md file
2. type `# :smile: some title xxx`
3. Export to PDF

**Expected behavior:**

**Actual behavior:**

Export PDF properly.

**Link to an example: [optional]**

### Versions

- Mark Text: v0.1

[2019-11-23 02:04] liziqiang opened #1749 "set hyperlink in table not working"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a table
2. input something in a cell
3. press cmd + L or use the popover menu to add hyperlink

**Expected behavior:**

can add hyperlink

**Actual behavior:**

nothing happens

**Link to an example: [optional]**
![(null) 2019-11-23 10_02_08](https://user-images.githubusercontent.com/208130/69471271-69f54480-0dd

[2019-11-23 07:41] menghu07 opened #1750 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.17134 (win32)

[2019-11-23 08:11] bitterbit commented on #1723
@fxha I see what you say about the api being deprecated. Looks like the code changed quite a bit from the release version I had been using. I'll wait to see if the issue is fixed in the next release 😸

[2019-11-23 10:45] Menci opened #1751 "How to open DevTools?"

[2019-11-23 15:53] Rahuly2k commented on #1742
I want to work on this issue

[2019-11-23 18:33] fantazer opened #1752 "Losing the highlight code for PUG"
I'm losing the highlight code pug then add othe code like this

![Alt Text](http://deploys.ru/bug.gif)

[2019-11-23 21:36] DanEble commented on #1051
Here's an example of what Github does, and what I'd like to see in Mark Text.

#### Inline

`This is a test of a rather long line, a rather long, very long—perhaps excessively long—line, which, in spite of its length, and regardless of any feelings this contributor might or might not bear toward the authors of the program (either as professionals or as members of the siblinghood of humanity), ough

[2019-11-24 06:10] #1748 closed

[2019-11-24 11:05] PhilipWhiteside commented on #580
VSCode is a great example of where this works well. It moves the line where your cursor is, or the multiple lines your cursor has highlighted across, so you can move a single or multiple lines.

A line constitutes all characters after a `CR`/`LF` up to and including the next `CR`/`LF`. In Markdown 2 lines can be part of the same paragraph, where a blank line isn't used to separate, they are still

[2019-11-24 11:43] AlexanderMisel opened #1754 "Copy and paste text with subscript will lose the <sub> tag"
# Description
Copy and paste text with subscript will lose the `<sub>` tag, even inside marktext.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type `E<sub>1</sub>` in view mode
2. Copy and paste the E<sub>1</sub>

**Expected behavior:**

The pasted text should be the same as copied.

**Actual behavior:**

The E<sub>1</sub> becomes E1

### Versions

- Mark Text: 15.1
- Operating

[2019-11-24 13:11] fxha commented on #1750
Please update to version 0.15.1 to solve this issue. Duplicate of #1284.

[2019-11-24 13:11] #1750 closed

[2019-11-24 13:13] fxha commented on #1754
Closing as this issue is already fixed on develop and v0.16.0 release candidate.

[2019-11-24 13:13] #1754 closed

[2019-11-24 13:15] fxha commented on #1746
Thanks @qihuazhong, but page numbers are currently not possible with our current set-up.

[2019-11-24 13:16] fxha commented on #1751
Please launch Mark Text with `--debug` flag and navigate to `View -> Toggle Developer Tools`.

[2019-11-24 13:16] #1751 closed

[2019-11-24 13:18] fxha commented on #1742
@Rahuly2k Sure, of course you can but we still need further information/steps to reproduce this issue.

[2019-11-24 13:22] fxha opened #1755 "List items are not deleted"
### Description

Removing a list item without explicitly setting cursor position by mouse click will create an empty list item after switching tabs or to source-code mode.

### Steps to reproduce

1. Create two untitled tabs `A` and `B`.
1. Create a (task) list in tab `A` like below.
1. Remove the list item `- bar` by `Backspace` and optionally set cursor by arrow keys like `- fo<cursor>o`. Note:

[2019-11-24 13:23] #1735 closed

[2019-11-24 13:23] #1683 closed

[2019-11-24 13:24] #1670 closed

[2019-11-24 13:24] #1684 closed

[2019-11-24 13:25] fxha commented on #1678
@Jocs The issue above is fixed on develop but the first task list item is always checked.

[2019-11-24 13:27] fxha commented on #1738
**Stack Trace:**

[code]

[2019-11-24 13:30] fxha commented on #1723
We removed automatically theme changing at runtime and only detect the native theme at application startup, if preferred.

[2019-11-24 13:37] fxha commented on #1688
@MrHeer I think this is an issue with marked.js, [here](https://github.com/marktext/marktext/blob/866e7cf53d7e812e44d536fbee7383775421a6da/src/muya/lib/parser/marked/utils.js#L66). From markedjs point of view, converting a relative path to an absolute makes sense because by moving the file an unauthorized user may read files from a server without permissions.

[2019-11-24 13:40] fxha commented on #1701
@Jocs I think this is outside of the scope of Mark Text, so we should close the issue.

[2019-11-24 13:46] fxha commented on #1731
Mark Text automatically formats the document and from version 0.16.0 we automatically identify the trailing newline mode.

[2019-11-24 13:46] #1731 closed

[2019-11-24 13:48] fxha commented on #1741
Thank you for reporting the issue. We cannot reproduce this issue without steps to reproduce, please provide some steps or how the error occurred.

[2019-11-24 13:51] fxha commented on #1728
Thank you for reporting the issue. I'm not sure if this should be the expected behavior because you/the user search for a given text that is not bold. Should we respect this or ignore all markdown formatting while searching.

[2019-11-24 14:32] MrHeer commented on #1688
Yes, converting a relative path to an absolute makes sense, but I checked that the `html` data while export pdf. I found the url is relative path, but it will automatically become the absolute path after exporting pdf.

I did the following experiment：

1. create a `test.html` file, and edit it
[code]
2. create a `test.txt` file in the same directory, and edit it
[code]
3. open `test.html` with `Ch

[2019-11-24 15:26] Jocs commented on #1749
I test this issue, and all inline tools can not work in table cell.

[2019-11-24 15:53] Jocs commented on #1751
@Menci FYI https://github.com/marktext/marktext/blob/develop/docs/CLI.md

[2019-11-24 16:02] Jocs commented on #1678
@fxha I'll take a look later.

[2019-11-24 16:04] #1701 closed

[2019-11-24 22:04] hrvojegolcic commented on #1728
In my eyes when a user has thousands of files in his directory and wants to find something rather simple then they expect the correct result.
The lack of the correct result due to bold, italic or other formatting shenanigans creates poor user experience, especially because I don't know any text editor where the user actually must pay attention to that. Even if paying attention it's hard to know wh

[2019-11-25 13:46] adrienbeau commented on #1728
I think that in WYSIWYG mode, Mark Text should search and find visible text, irrelevant of its markup. This is the common behavior of most text software (word processors, web browsers). Considering Mark Text actively tries to hide the markup whenever possible (everywhere except under the cursor), considering also that Mark Text provides enough icons and shortcuts that a user could conceivably not

[2019-11-26 12:06] anishmittal2020 opened #1761 "License GPLv3"
It is mentioned in the README.md that

Then, why not make the license from MIT to GPLv3? I think GPLv3 is contributor friendly.

[2019-11-26 16:31] #1678 closed

[2019-11-26 16:50] #1738 closed

[2019-11-26 16:50] #1749 closed

[2019-11-26 17:20] gokomer opened #1762 "Deb package version fails to start"
### Description
If Marktext is installed with deb package it fails to start with `Trace/breakpoint trap` error.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Install deb package
2. Launch application
3. `Trace/breakpoint trap` error

**Expected behavior:**
Application starts

**Actual behavior:**
Application does not start

### Versions

- Mark Text: `0.16.0-rc.2`
- Operating sys

[2019-11-26 17:30] fxha commented on #1761
Thanks for your suggestion @anishmittal2020 but that are the benefits from doing so? GPL is a restrictive license that protect your work against stealing but also comes with many downsides like integration into other applications etc.

I think personally that the GPL (+*CLA*) is not a good license and we have no benefits from it, unless you want to protect some work e.g. cloud platfrom stuff and s

[2019-11-26 17:33] fxha commented on #1762
@gokomer Thank you for reporting the issue. Could you please provide a stack trace/core dump of the error? I tested the package on Ubuntu 18.04 VM without any issues.

[2019-11-26 18:05] zkwbbr opened #1763 "How to insert image?"
I currently double-click/highlight some dummy text in order to show the insert image icon, is there another way to do it?

[2019-11-26 18:09] gokomer commented on #1762
Core dump is attached. I hope it helps.

[marktext_0.16.0-rc.2-coredump.tar.gz](https://github.com/marktext/marktext/files/3893331/marktext_0.16.0-rc.2-coredump.tar.gz)

[2019-11-27 13:45] fxha commented on #1762
TLTR: Please enable user namespaces for your kernel because Chromium's fallback sandbox crashes due to some packaging issue that we cannot solve currenlty.

The crash is actually an issue with Electron's/Chromium's fallback sandbox and how we pack the Debian package. It seems that Chromium's fallback sandbox doesn't support spaces and our package is saved under `/opt/Mark Text/` but we are unable

[2019-11-27 13:51] fxha commented on #1392
@L1cardo Could you please try the latest release candidate, set `MARKTEXT_PANDOC` environment variable to the pandoc binary path (`/some/path/pandoc`) and try again?

[2019-11-27 14:08] hrvojegolcic opened #1764 "Incorrect rendering of Commonmark HTML block"
### Description

The editor does not render HTML blocks correctly. The following screenshot illustrate the difference (the code is below).

![image](https://user-images.githubusercontent.com/6906827/69729869-5d018980-1127-11ea-99c2-609f20c30044.png)

- [x ] Can you reproduce the issue?

### Steps to reproduce

1. Copy/Paste the provided code snippet in MarkText
1. Copy/Paste the provided code snip

[2019-11-27 14:09] hrvojegolcic commented on #1764
<details><summary>CLICK ME (without newline)</summary>
**Hello**,
_world_.
</details>

<details><summary>CLICK ME  (with newline)</summary>

**Hello**,
_world_.

</details>

<details><summary>CLICK ME  (with newline in the middle)</summary>
**Hello**,

_world_.

</details>

[2019-11-27 15:30] northgardner opened #1765 "Unexpected error: Cannot destructure property `windowId` of 'undefined' or 'null'."
### Description

An unexpected error occurred in the main process.

I had just downloaded the application on this machine for the first time, and opened an existing markdown file. While I continued to edit the file in Mark Test, this error kept showing.

### Stack Trace

[code]

### Version

Mark Text: v0.15.0
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-11-27 15:40] L1cardo commented on #1392
I have set the enviroment, but still got the problem
![image](https://user-images.githubusercontent.com/33802186/69737403-48e17a80-116f-11ea-9f54-21c630b4b833.png)

[2019-11-27 16:52] fxha commented on #1765
Please update to version 0.15.1 to solve this issue. Duplicate of #1284.

@Jocs Our website download links are outdated.

[2019-11-27 16:52] #1765 closed

[2019-11-27 17:02] fxha commented on #1392
This is very strange behavior but mean that Mark Text cannot access or has no permission to `/usr/local/bin/pandoc` because we just execute the binary when `MARKTEXT_PANDOC` is set and exists. Do you know whether applications on macOS are sandboxed (=restricted by the system)? How did you install Mark Text?

Could you please execute `require('fs-extra').statSync('/usr/local/bin/pandoc)` like [here

[2019-11-27 18:45] fxha commented on #1762
Blocked due to https://github.com/electron/electron/issues/21309.

[2019-11-27 18:50] fxha commented on #1763
@zkwbbr You could use <kbd>CmdOrCtrl</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd>, menu `Format -> Image` or drag&drop with latest release candidate to insert a image.

[2019-11-27 18:50] #1763 closed

[2019-11-28 07:47] L1cardo commented on #1392
my mark text version is v0.16.0-rc.2, I donwloaded dmg file from release page and installed it .
![image](https://user-images.githubusercontent.com/33802186/69786853-2e9eaf80-11f6-11ea-94ac-369a021bc9a9.png)

[2019-11-28 11:54] fxha commented on #1392
@L1cardo My bad, please try again with `require('fs-extra').statSync('/usr/local/bin/pandoc')` (there was a missing `'`).

[2019-11-28 11:57] L1cardo commented on #1392
![image](https://user-images.githubusercontent.com/33802186/69804341-4fc4c780-1219-11ea-9402-ba98ac40b7dd.png)

[2019-11-28 13:07] fxha commented on #1392
@Jocs Please inspect the issue on macOS with the DMG.

[2019-11-28 15:55] jnnkB opened #1767 "Grid tables"
### Describe your feature request

I really would like to the pandoc markdown sytanx extension [multiline_tables](https://pandoc.org/MANUAL.html#extension-multiline_tables) to be support.ed I think this really would improve the usability of this editor.

### What problem does this feature solve? [optional]

It gives you the possibility to add multiline content to a table. It also enables you to us

[2019-11-28 16:37] jnnkB commented on #1142
I currently have the described problem on v0.15.1 on macOS Catalina 10.15.1. When I use a definition list like

[code]
I get the following when trying to export to pdf:
<img width="178" alt="image" src="https://user-images.githubusercontent.com/29376715/69822037-9a3c4900-1205-11ea-900e-e1a4be4ddd5a.png">

[2019-11-28 17:17] alonsosfera commented on #1755
Hi, can I work on this?

[2019-11-28 17:36] fxha commented on #1755
@alonsosfera Sure :+1:

[2019-11-28 19:11] IvanFrescas commented on #1733
Hi, can I work on this?

[2019-11-29 08:44] albins opened #1770 "Spelling seems to not be enabled?"
### Question description

I have installed MarkText through the homebrew cask on macOS Mojave, and I cannot find anything related to spelling, including in the settings, despite having a working hunspell setup. Reading the manual, I could not find any additional instructions about what to do.

[2019-11-29 09:42] maccadia opened #1771 "Select to put in brackets or quotes"
I would like to suggest this behavior (available in Atom editor) :

![atom_auto_brackets](https://user-images.githubusercontent.com/14163894/69859313-314fe200-1294-11ea-997e-6a3b4ebd097e.gif)

I find this very handy for brackets and quotes. It might also be used to replace shortcuts for bold, italics etc. For example, one would select the text she wanted bold and type `**`.

[2019-11-29 21:30] PowerSnail opened #1772 "[Feature Request] Add an option to enable word wrap in outline"
### Describe your feature request

Add an option to enable word wrap in outline.

### What problem does this feature solve? [optional]

Some articles/books/documents have long titles that are not well displayed in the current outline view. Either it displays only a few words, or the user has to resize the sidebar to very wide. Neither is an ideal option.

This is less of a problem for technical do

[2019-11-30 03:02] LosikiS opened #1773 "Changing font failed if there are chinese characters in the font's name"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1.Open the preferences and change font in the Editor tab, if there is a chinese character, this change is invalid.

**Expected behavior:** Change font successfully

**Actual behavior:** The font has not changed

**Link to an example: [optional]**
<img width="202" alt="捕获" src="https://user-images.githubusercontent.com/331

[2019-11-30 11:25] CeroProgramming opened #1774 "Unexpected error: this.renderer.inlineMath is not a functionPlease report this to https://github.com/marktext/marktext/issues."
### Description

An unexpected error occurred in the renderer process.

The error occured while trying to copy selected markdown content. I was able to reduce it to the following snippet:
[code]

### Stack Trace

[code]

### Version

Mark Text: v0.15.1 (a32c2c0)
Operating system: Linux x64 5.3.11-1-ck (linux)

[2019-11-30 12:01] hrvojegolcic commented on #580
+1

I like this feature in all IDE's e.g. PhpStorm, VS Code, Sublime...
but also it's possible in Microsoft Office programs like OneNote or Word, you just press alt+shift+up or down.

This is very much needed

[2019-11-30 15:15] CeroProgramming commented on #1715
So, it happend again :O

Snippet:
[code]

Steps to reproduce:
Make sure the snippet is not selected (so you only see the rendered version) and try to mark the rendered equation with the cursor from the left to right with the cursor. It may not happen every time (I think it happend about two third of the time for me.

![GIF not loading?](https://i.ibb.co/VVB8jr4/Error-Mark-Text.gif)

Error:
[code]

[2019-12-01 03:49] LosikiS opened #1775 "Directory switching does not work properly"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce
![a](https://user-images.githubusercontent.com/33153388/69908840-17e19e00-142c-11ea-83d3-7a8d079c3c6e.gif)

### Versions

- Mark Text: v0.16.0-rc.2
- Operating system: Windows 10 1903

[2019-12-01 03:52] LosikiS opened #1776 "File path is displayed abnormally"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

The title of this program should be **_ls > NOTE > 2019.12 > 创业沟通作业-创业计划书.md**, but you can see it's **ls > NOTE > 2019.12 > 创业沟通作业-创业计划书.md_** , I don't know why.
If I use this folder, This problem is Reproducible. But I can't reproduce this problem using other folder, I create a new folder **D:\_test\a.md**, and it work

[2019-12-01 16:44] fxha commented on #1733
@IvanFrescas Your contribution is welcome.

[2019-12-01 16:48] fxha commented on #1770
@albins  Thanks for your question, I guess you are using v0.15.1, right? Spelling is only available in the latest release candidate that can be downloaded from Github and further v0.16.0. The documentation is currenlty for the latest develop version and need to be split into stable and develop after v0.16.0 release.

[2019-12-01 16:48] #1770 closed

[2019-12-01 16:49] fxha commented on #1774
Duplicate of #1522

[2019-12-01 16:49] #1774 closed

[2019-12-01 16:55] fxha commented on #1775
@Jocs I guess there is an issue with slugifying non-ASCII characters.

[2019-12-01 17:00] fxha commented on #1773
@Jocs Any ideas here? The issue is that we restrict the allowed font family name to `^[_A-z0-9]+((-|\s)*[_A-z0-9])*$` to prevent bad input and I also don't know whether Chromium supports non-ASCII font family names.

[2019-12-01 17:06] fxha opened #1777 "History/FileState memory leak"
### Description

Mark Text has a memory leak in renderer process. Mark Text currently consumes a lot of memory due to history but has also a memory leak in history stack.
I did some writings over a longer time and had `~500MB` memory usage. I closed all tabs, opened a untitled tab and wait a bit/forced GC cleanup but Mark Text still used around `500MB` memory with an untitled/no tabs opened.

**Me

[2019-12-01 17:10] fxha opened #1778 "Inline math formulas are not pasted correctly"
### Description

Inline math formulas that are copied from Mark Text result in normal text, all `$` are removed. Also `\,` when copied from Mark Text, result in `,`.

### Steps to reproduce

1. Paste/write `A $a$ B $b$ C` in preview editor
2. Select and copy the text
3. Paste the text in a new line

**Expected behavior:**

`A $a$ B $b$ C`

**Actual behavior:**

- v0.16.x: `A a B b C`
- <=v.15.x: `

[2019-12-01 17:16] fxha opened #1779 "Option to make table width auto or 100%"
### Description

It would be really nice to add a settings option to make table width auto or 100%. We used 100% width before version 0.15.1 and auto now. Auto tables are fine but look strange with full length paragraphs.

[2019-12-01 17:25] fxha opened #1780 "Allow to jump to heading from link reference"
### Describe your feature request

The preview editor should be able to jump to the linked heading from a URL like the sidebar.

### What problem does this feature solve? [optional]

It would make it easier to reference other headings and navigate through the document in preview editor.

### Additional context [optional]

[code]

[2019-12-02 01:39] Jocs commented on #1772
How about show the `...` when the headers is too long, and show the full content when hover on the header?

[2019-12-02 02:23] Jocs commented on #1767
This seems to be incompatible with GFM's table, U can insert `<br>` in the table cell content to write multiple lines in table cell.

[code]

Preview:

| foo         | bar  |
| ----------- | ---- |
| bar<br/>zar | test |

[2019-12-02 02:38] Jocs commented on #1780
This feature request and [internal link with header identifiers](https://github.com/marktext/marktext/issues/1528) seem to solve the same problem? If you use the header content as the id, this will have special characters, which is not easy to handle, so I prefer the header identifiers.

[2019-12-02 02:42] Jocs commented on #1773
Yes, `微软雅黑` is an valid font family name, so I think we should not restrict the allowed font family name to `^[_A-z0-9]+((-|\s)*[_A-z0-9])*$`. Maybe we only need to exclude some special characters?

[2019-12-02 02:46] Jocs commented on #1775
@LosikiS Can you send us an example test markdown file which can not work to ransixi@gmail.com

[2019-12-02 06:28] jnnkB commented on #1767
Sorry I linked the wring extension.

I know that <br> is possible but this doesn’t really help with list.
And as far as I know pandoc does support both GFM‘s tables and grid tables.

[2019-12-02 07:00] idea-zone commented on #1742
Do you Know Evernote? I use its chinese vserion: yinxiangbiji . I add the *.md file to yinxiangbiji as an annex in one of note. I open the *.md file in yinxiangbiji and edit with marktext. Sometime marktext will be error.Here a image as instructions. My English is not good, I also give a Chinese response：
---
我用 Evenote 的中文版本：印象笔记。使用场景是：我把 md 文件作为附件添加道印象笔记的某个笔记中，然后在印象笔记中打开 md 文件，用 Marktext 软件编辑。有时

[2019-12-02 07:03] idea-zone commented on #1741
Occurrence status is the same as #1742. You can see in  https://github.com/marktext/marktext/issues/1742#issuecomment-560260583 .

[2019-12-02 12:29] albins commented on #1770
I am; thank you. It works as expected when I build from source :)

[2019-12-02 17:11] fxha commented on #1780
I don't think it's a duplicate because all headers are slugifyed by default and we can link to the id for ASCII headings like in exported documents.

[2019-12-02 17:17] fxha opened #1784 "Wrong text alignment with `displaystyle` in inline math formula"
### Description

The text isn't  alignment if you use `displaystyle` in inline math formula.

### Steps to reproduce

[code]

**Expected behavior:**

The line with formula should be aligned/centred like `foo c0 = [...] foo` with top/bottom padding.

Workaround: Don't use `displaystyle` or block math.

**Actual behavior:**

![mt_displaystyle_inline_math_alignment](https://user-images.githubusercont

[2019-12-02 17:24] fxha opened #1785 "Align block math formulas"
### Question description

@Jocs  How to align block math formulas to left like:

[code]

I tested some LaTeX functions like `flalign` but they aren't supported by KaTeX (=invalid formula).

[2019-12-03 04:57] LosikiS opened #1786 "[Question] How to retain a blank line"
### Question description

I want to retain a blank line, But it will be formatted automatically when I switch to another file.
Was it designed this way specially?
![b](https://user-images.githubusercontent.com/33153388/70021523-f9b2a400-15cb-11ea-8f10-13810c9936c0.gif)
What should I do to retain a blank line?
Thank you!

[2019-12-03 05:03] LosikiS opened #1787 "Table of Contents refreshes incorrectly"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce
![a](https://user-images.githubusercontent.com/33153388/70021849-08e62180-15cd-11ea-8457-e7ea8307ed4d.gif)

### Versions

- Mark Text: v0.16.0-rc.2
- Operating system: Windows 10 1903

[2019-12-03 10:18] sriharshachilakapati opened #1788 "All tildes in code fences change to backticks upon switching off source code mode"
### Description

CommonMark speck specifies that code blocks can be defined with either 3 backticks or tildes. However, when we open a document which is formatted using tildes for the code fences, they are automatically swapped with backticks.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a document which uses tildes for code fences.
2. It automatically changes to backticks.

[2019-12-03 16:19] CeroProgramming opened #1789 "Latex no gap between some lines"
### Description
Overlapping/touching lines in latex.

### Steps to reproduce

![Here should be an image](https://i.ibb.co/Px9QvhS/Screenshot-from-2019-12-03-17-12-13.png)

**Actual behavior:**

The lines are overlapping a bit or at least touching.

**Expected behavior:**

In context of readability I think this isn't supposed.

### Versions

- Mark Text: 0.15.1
- Operating system: Linux 5.3.11-1, M

[2019-12-04 03:17] esmoak commented on #1432
I'm having this issue after installing the Flatpak 0.15.1 version on Manjaro linux.

The odd thing is that the Flatpak worked fine on Fedora when I tested it yesterday.

Existing files and new files created are both affected the same.

[2019-12-04 03:20] PowerSnail commented on #1772
I don't think showing full content while hovering solves the problem. First, there is an accessibility issue (requiring a mouse); second, the user still cannot look at the outline and directly read out the structure.

[2019-12-04 14:27] chenrui9312 commented on #1652
waiting for, too

[2019-12-04 23:25] etcetra opened #1792 "Increasing Export Speed of Content From Mark Text - Special Menu Commands"
I'd like to use this application for authoring Blogger posts.

I currently use the body of the document to store each post and the YAML Front Matter to store the title of each post.

The current workflow to export a single document to Blogger:

1. Place cursor in document.
2. Press Command + A to Select All.
3. Click on YAML Front Matter so its no longer included.
4. Select Copy as HTML from Menu.

[2019-12-04 23:45] etcetra opened #1793 "Optional Custom Injection of Content When Copied as HTML"
I am using this application to author Blogger posts.

Due to the way Blooger strips out any list tags when it creates post snippets on home pages I having to inject some extra span tags at the beginning and end of each `<li>` tag.

To do this I first use the Copy as HTML command in Mark Text. I then double click a Applescript on my desktop to inject the added tags into content from the clipboard.

[2019-12-05 00:55] qihuazhong commented on #1733
experiencing the same issue.
The editor would just undo any indentation further than 2nd level

[2019-12-05 03:37] chenrui9312 commented on #1652
maybe you can shows the method first， and release the task to others

[2019-12-05 09:22] kosssi commented on #1513
Your app is so awesome but this feature is so useless, I think internationalization is much more important ;)

[2019-12-05 12:57] Honghe opened #1794 "[feature] support saving to relative directory when insert image"
### Describe your feature request
Add a option which allow saving to relative directory when insert images, like Typora or other editors.
**Marktext**:
![image](https://user-images.githubusercontent.com/1092722/70237359-f7a23e00-17a1-11ea-9763-4c5ad9b1a58c.png)

**Typora**:
![image](https://user-images.githubusercontent.com/1092722/70237503-54055d80-17a2-11ea-9af7-7efd835cc308.png)

### What probl

[2019-12-05 14:50] jzh9608 opened #1795 "Unexpected error: Cannot read property 'webContents' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 18.7.0 (darwin)

[2019-12-05 14:54] zmx976508106 commented on #1795
Procedure to reproduce this issue:

1. open the app, and click "New File"
2. write something
3. press "cmd+s"
4. click the filename edit box, and press "cmd+a" to select all characters in the box, then the issue occurs

[2019-12-05 15:22] Endogen opened #1796 "Unexpected error: net::ERR_HTTP_RESPONSE_CODE_FAILURE"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.1
Operating system: Windows_NT x64 10.0.17763 (win32)

[2019-12-06 00:07] IvanFrescas opened #1797 "Application fails when more than 5 items are added to lists"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [Create a list]
2. [Add 5 items inside the list]

**Expected behavior:**

- aaa
  - bbb
    - ccc
      - ddd
        - eee
          - fff

**Actual behavior:*

<img width="470" alt="Screen Shot 2019-12-05 at 4 36 20 PM" src="https://user-images.githubusercontent.com/16979749/70284185-7ab29c80-1780-11ea-801a-de5b1847d

[2019-12-06 10:04] liziqiang opened #1801 "Add keyboard shortcut for removing table rows"
### Describe your feature request
It's not convenient to remove table rows in MarkText. You should click current row and click menu beside the row to remove it.
Please add shortcut to do this. shortcut could be cmd+shift+enter like Typora does.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-12-06 12:09] kureus commented on #1354
@fxha Continuing the discussion around supporting consecutive empty lines, would you be open to a PR with the suggested parser change and some associated functionality and configuration?

Expanding on @Fuzen777's suggestion, if Marktext opens a file with consecutive empty lines and does not yet have any stored configuration around this it could present 3 options to the affect of

- Always trim con

[2019-12-06 15:17] kureus commented on #1786
Yes, this behaviour is currently intentional. Consecutive empty lines are removed by the markdown parser. See the discussion on this here https://github.com/marktext/marktext/issues/1354

[2019-12-07 21:55] fxha commented on #1432
I guess this may be a duplicate of #1775.

[2019-12-07 21:58] fxha commented on #1733
Yes, this issue is also triggered when switching tabs or opening a file. Short summary: all nestled task list items (`I > 2` where `I` is the list indentation starting at `1`) are formatted and saved as level two task list items.

[2019-12-07 22:00] fxha commented on #1786
@LosikiS You can insert `<br>` to force a line break and I guess non-breaking spaces should also work.

[2019-12-07 22:19] fxha opened #1802 "Regression: Editor jumps to last cursor if you toggle a task-list item"
### Description

The preview editor jumps to the last cursor if you toggle a task-list item if the editor has a scrollbar.

### Steps to reproduce

Copy the example below and fill `[...]` with task-list items so you have a scrollbar and the normal list below is not visible when toggle the checkbox.

1. Set cursor via mouse click behind `foobar`.
1. Scroll to top (the bullet list should not be visi

[2019-12-07 22:22] fxha opened #1803 "Muya crash when selecting text and click on task-list checkbox"
### Description

A Muya crash occurs when selecting text and click on task-list checkbox.

### Steps to reproduce

Write/copy the example below without `>`/`<`. Select either the first range marked with `>`/`<` or the second. When selected, click on the checkbox from `foo`.

[code]

**Stack  Trace:**

[code]

### Versions

- Mark Text: v0.16.0-rc2
- Operating system: all

[2019-12-07 22:25] fxha opened #1804 "Cannot replace text selection with Enter"
### Description

Mark Text is currently unable to replace a text range with `Enter`.

### Steps to reproduce

1. Select some text like `select me`
2. Press `Enter`

[code]

**Expected behavior:**

The selected text range should be replaced with `Enter`. Maybe it's a good idea to trim whitespaces at the start and end.

[code]

**Actual behavior:**

Nothing happens.

[code]

### Versions

- Mark Tex

[2019-12-07 22:30] fxha opened #1805 "Cannot replace multi-line text selection with Ctrl+Shift+V"
### Description

Mark Text is unable to replace multi-line text selection with `Ctrl+Shift+V` but `Ctrl+V`.

### Steps to reproduce

1. Select both `bar foo` lines
2. Paste some text from clipboard with `Ctrl+Shift+V` to clear formatting

[code]

**Expected behavior:**

Both lines should be replaced by the clipboard content.

[code]

**Actual behavior:**

Both lines are removed and an empty one is

[2019-12-07 22:35] fxha opened #1806 "Too much overlay tools"
### Description

Is currently possible to get multiple (overlapping) overlay tools like the format picker for text selection. I guess exporting may trigger the issue.

**Link to an example: [optional]**

https://gifyu.com/image/vDwz

### Versions

- Mark Text: all
- Operating system: all

[2019-12-07 22:37] fxha commented on #1022
The formulas are also cut in exported documents.

[2019-12-07 22:37] fxha commented on #1786
Closing this as duplicate of #1354.

[2019-12-07 22:37] #1786 closed

[2019-12-07 22:43] fxha commented on #1354
Thanks @kureus, contributions are always welcome :+1: I think the easiest solution is to add a settings option and change Muya's and our marked.js implementation accordingly but we should prefer to always trim empty lines due to markdown specification. I would also like to see the user selection/dialog per tab/file but I don't really know whether is possible to add it to Mark Text's editor structu

[2019-12-09 23:32] etcetra commented on #1793
Decided to solve this using Applescript. I first export from Mark Text as HTML and then doubleclick a Applescript app on the Desktop. The Applescript grabs the HTML from the clipboard, injects some custom HTML into the existing HTML and returns it to the clipboard.

[2019-12-09 23:32] #1793 closed

[2019-12-09 23:45] etcetra commented on #1792
Decided to solve this by first adding a custom keyboard shortcut for Copy As HTML using Macintosh preferences. I used Command + Shift + H. This would not work when adding as a custom keyboard shortcut for just Mark Text. I needed to add it for all applications under Macintosh Preferences.

So now getting content to the clipboard as HTML is quick:

Command + A
Command + Shift + H

This leaves the Y

[2019-12-09 23:45] #1792 closed

[2019-12-10 07:17] kureus commented on #1354
@fxha Thanks for the guidance, I'll take a look.

[2019-12-10 09:42] phoenixray2000 opened #1807 "Export to Image and CSS suport"
### Describe your feature request

1. Export to Image file or Clipboard is very useful when sharing ideas with nice format.
2. CSS support is critical when we want a customized look

### What problem does this feature solve? [optional]

Easy to share in IM and social media with good format control.

### Additional context [optional]

[2019-12-10 10:14] adrienbeau commented on #1797
Also reproduced under Windows. Mark Text crashes as soon as the 6th level of indentation is reached.

This is a **regression**. The issue does not occur under Mark Text 0.15.1 (tested with 20 levels of indentation), but occurs in 0.16.0-rc1 and 0.16.0-rc2.

**Versions**
* Mark Text: 0.16.0-rc2
* Operating system: Windows 7

[2019-12-10 17:06] alonsosfera commented on #1755
Hey, I've been trying to solve this issue, and I found out that it also happens with the table, code fences, quote and math block components.
Any idea on where to start in muya?

[2019-12-10 22:57] algunacosa opened #1808 "Marktext does'nt execute"
### Description

I try to open Marktext and it does'nt work. I tried to:
* Use AppImage Launcher
* Execute in terminal
* Build and run binary

- [ ] Can you reproduce the issue?

**Expected behavior:**

Marktext's AppImage opens naturally.

**Actual behavior:**

* __AppImage:__ It does nothing.
* __Terminal:__ Prints this error:
`The SUID sandbox helper binary was found, but is not configured corr

[2019-12-11 01:25] bhaveshSanghvi commented on #1805
I tried to paste using Ctrl+Shift+V, it works when pressed twice.

[2019-12-11 15:38] MrHeer commented on #1698
In this case, the `LinkTools` also doesn't work

[2019-12-13 01:19] wecreate1 opened #1812 "Suspicious Action alert from Norton Antivirus"
### Description

Norton Antivirus alerts of suspicious activity.

It seems to be because the "My Data Sources" folder in documents has a special icon.
![image](https://user-images.githubusercontent.com/41131095/70761811-207f8180-1d14-11ea-93a9-01f1fc9771fd.png)

This my be an electron issue, I have no idea, and it's not reproducible, but I figured I'd report it.

- [ ] Can you reproduce the issue?

[2019-12-13 01:28] MrHeer opened #1813 "LinkTools does't work in some cases"
# Description

The `LinkTools` does not appear in some cases.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. open `Mark Text` and edit
2. copy it to editor
[code]
3. mouse hover each element

**Expected behavior:**

The `LinkTools` will appear in all cases.

**Actual behavior:**

The `LinkTools` will appear will be checked

- [x] [`inline code`](https://www.baidu.com)
​
- [ ] [~~l

[2019-12-13 03:47] retsyo opened #1814 "Invalid Mathematical Formula"
there is a complex formula in my markdown file, which is supported by typora but not marktext.
https://raw.githubusercontent.com/retsyo/expand_expression/master/readme.md

or you can use only the math part:
[code]

[2019-12-13 08:11] flyisland opened #1815 "notes list"
After opening a folder, there could be a list at the sidebar to show all notes inside that folder and its sub-folder, and allow it to be sorted by time ascending/descending.

It'd be better to support showing "title" but not the file name in this notes list, a "title" of a markdown file could be "title" property of its front matter, or the first header.

[2019-12-13 08:32] zxch3n opened #1816 "Can Mark Text be smaller?"
### Question description

I found that in some dependency in app.asar can be safely removed without affecting the app. For example, inside `Mark Text/resources/` dir, run

[code]

Restart the app, and it still works fine. I guess many things should already be bundled by webpack, so we won't need them in the asar file.

Maybe we can move some things inside package.json's dependencies to devDependen

[2019-12-13 17:56] andreluisos opened #1817 "Justify text"
Is it possible to justify text?

[2019-12-14 15:46] fxha commented on #1808
Thank you for reporting the issue. Please see [FAQ](https://github.com/marktext/marktext/blob/d330a1dcbc32be776968b236d8a372f0c16ebbb3/docs/FAQ.md#i-cannot-launch-mark-text-on-linux-suid-sandbox) for more information about the SUID sandbox and steps to solve the issue.

The random directory is used by AppImage without user access. The AppImage packages and your system configuration is not compatib

[2019-12-14 15:46] #1808 closed

[2019-12-14 15:50] fxha commented on #1797
There is a handled native Electron exception and I don't know how to convert Chromiums dump file to CoreDumps for more details. I just did a quick search and there may be an issue with [IPC objects](https://github.com/electron/electron/issues/20334) because the passed object is too big (due to recursion limit).

[code]

This issue needs further investigation.

[2019-12-14 15:55] fxha commented on #1812
Thank you for taking the time to report this issue. Please report the detected file as false positive to your anti-virus manufacturer. Mark Text may be detected because we don't digitally sign our application, please also see https://github.com/marktext/marktext/issues/418#issuecomment-403988212.

[2019-12-14 15:55] #1812 closed

[2019-12-14 16:02] fxha commented on #1755
I guess we don't commit/set the cursor change but @Jocs can help you with Muya more than I can.

[2019-12-14 16:06] fxha commented on #1807
What are the benefits from adding image support? You could also export the document as PDF, that is supported on all OSs and also convert it into other formats.

Please see [themes (export)](https://github.com/marktext/marktext/blob/develop/docs/EXPORT_THEMES.md) for more information that are supported with latest release candidate or develop.

[2019-12-14 16:12] fxha commented on #1796
Thank you for taking the time to report this issue. We cannot reproduce this issue without steps to reproduce, please provide some steps or how the error occurred.

[2019-12-14 16:20] fxha commented on #1789
@CeroProgramming You can workaround by `aligned` block:

[code]

[2019-12-14 16:22] fxha opened #1820 "Display math list indentation"
### Description

I guess display math (maybe also code blocks) are formatted wrong in list items:

1. Create a list item with some example text
2. Press enter and create display math
3. Write multiple lines LaTeX
4. Switch to source-code editor

**Expected behavior:**

[code]

**Actual behavior:**

[code]

### Versions

- Mark Text: v0.16.0.rc-2
- Operating system: all

[2019-12-14 16:25] fxha commented on #1794
Thank you for reporting the issue. We noticed that this is a duplicate of #549. You may want to subscribe there for further updates.

[2019-12-14 16:25] #1794 closed

[2019-12-14 16:29] fxha opened #1821 "Clipboard issues with escape characters"
### Description

All JavaScript escape characters are encoded before copied to clipboard. E.g. `f'(x)` is copied as `f&#39;(x)` to clipboard.

**Expected behavior:**

`f'(x)`

**Actual behavior:**

 `f&#39;(x)`

### Versions

- Mark Text: v0.16.0.rc-2
- Operating system: all

[2019-12-14 16:30] fxha opened #1822 "Text is trimmed before set to clipboard."
### Description

Text is trimmed before set to clipboard.

### Steps to reproduce

Copy `foo ` (with trailing space) and paste it into the next line before `bar`.

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

### Versions

- Mark Text: v0.16.0.rc-2
- Operating system: all

[2019-12-14 16:42] fxha commented on #1523
Reopen as export fails when an invalid math formula exist and no clear error message is given - just that an error occurred. I think we should show the error message and skip invalid math formula with a warning.

[2019-12-14 16:50] fxha commented on #1814
LaTeX in Mark Text is powered by KaTeX. `align` is not supported but you can use `aligned`. Please see [supported functions](https://katex.org/docs/supported.html) for help.

[2019-12-14 16:50] #1814 closed

[2019-12-14 16:58] fxha commented on #1815
What do you mean by *notes*?

Please see [here](https://github.com/marktext/marktext/blob/develop/docs/BASICS.md#open-a-directory)

There are already issues opened for this.

I think this could be an improvement for later but increases the opening duration a lot because we need to parse each file, so I guess this is a won't fix for now.

[2019-12-14 17:00] fxha commented on #1817
Markdown has no support to align text but you could use HTML like: `<div align="center">Some example text</div>`.

[2019-12-14 17:00] #1817 closed

[2019-12-14 17:09] fxha commented on #1761
Closing this issue as no further information has been provided. Please feel free to reopen with more information.

[2019-12-14 17:09] #1761 closed

[2019-12-14 17:11] #1680 closed

[2019-12-15 00:57] retsyo commented on #1789
I met a case, which may be the same problem. Is it a problem with KaTeX or marktext?

[code]
as we may find that, the first and second line of element in the 2nd matrix overlaps in marktext, but does not in typora. So sorry I can't attach a picture to github and I don't why

保险起见，用中文说一下吧
在marktext中，第二个矩阵的第1、2行，间距太小，貌似重合；而typora渲染出来有间距，看着舒服。不清楚这是KaTeX的问题，还是marktext的问题

[2019-12-15 03:37] flyisland commented on #1815
I think it's about the position of marktext.

If we think of marktext as an editor, then I agree that this feature request is a low priority.

But if we think of marktext as a notes manager plus editor, kind of like Evernote, then sort notes by time, search by tag, etc would be a high priority.

Anyway, I hope you would work out a plugin framework soon, then these features would be more easy to be

[2019-12-15 08:08] MrHeer opened #1823 "Theme: hope to add Solarized theme"
### Describe your feature request

Hope to add new theme, [Solarized](https://ethanschoonover.com/solarized/)

### What problem does this feature solve? [optional]

Better writing experience

[2019-12-15 17:27] fxha commented on #1789
@retsyo It's a problem with KaTeX but we may be able to solve the issue via CSS. If you need more spacing, you could use a line break with height like `\\[0.5em]` or  `\\[1.2em]`.

[2019-12-15 17:31] fxha commented on #1823
Thanks for your suggestion, there will be no more default themes but user-defined/custom themes that are planned for v0.17.0.

[2019-12-15 17:31] #1823 closed

[2019-12-15 17:38] fxha commented on #1815
This is currently not on our roadmap as Mark Text is a pure text editor. I'm also closing the issue because there are already issues open about file (name) sorting. We may reopen this issue on demand for plugins later.

[2019-12-15 17:38] #1815 closed

[2019-12-16 13:24] ximing opened #1825 "Unexpected error: Cannot destructure property 'row' of 'i' as it is null."
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.2 (270aaac)
Operating system: Darwin x64 19.0.0 (darwin)

[2019-12-16 13:33] ximing commented on #1825
This bug is easily reproduced steadily.
This is a screen-recorded gif.
![QQ20191216-213119](https://user-images.githubusercontent.com/4659887/70910811-75d8cd00-204b-11ea-94ca-512c3e004ce8.gif)
first insert a table, and select all cell.  delete it.
then input some character , then to delete character.  reproduced....

[2019-12-16 17:20] ravish-tech opened #1826 "Unexpected error: Config schema violation: `spellcheckerLanguage` should match pattern "^[a-z]{2}(?:[-][A-Z]{2})?$""
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.2
Operating system: Windows_NT x64 10.0.18362 (win32)

[2019-12-17 06:38] retsyo commented on #1275
the header/toc/outliner css can show number in typora. however
|                  | pdf        | docx      |
| ---------------- | ---------- | --------- |
| header           | has number | no number |
| toc              | has number | no number |
| outline/bookmark | no number  | no number |

so I am still voting for marktext to support it since there is limitation in typora's implementation

[2019-12-17 10:46] retsyo opened #1827 "[feature request] drag to arrange heading and subsequent text"
# English description
## Why I ask?
We (ok, maybe only me) often re-arrange the text during writing.
## The question
So as the title says, is it possible to do following?

1. select only by heading, then drag it to a new position.
2. now, not only the heading but all the subsequent text and sub-heading are moved to the new position.

## What I thought
Of cause this is more reasonable if
1. we only

[2019-12-17 11:09] DutchPete commented on #1275
@retsyo : pdf and docx are not markdown formats, so you cannot add numbering to them from within Mark Text. You would have to export it to a PDF (not sure about Word) and the headings will show up and are clickable. Right now MT cannot do numbered headings.

[2019-12-17 11:28] retsyo commented on #1275
a temporary solution for heading:
1. export a markdown file in which all heading(#, ##, ###, ...) are replace by number+heading
2. export the new markdown file

[2019-12-17 11:33] retsyo commented on #1275
@DutchPete, I mean export markdown file to PDF/DOCX

[2019-12-17 14:56] pihentagy commented on #1525
Will this be added to Jopline once when ALL of the above will be ready, or is it possible to add those subtasks one-by-one when ready?

[2019-12-17 14:57] pihentagy commented on #643
Thanks. Can I get the develop version without downloading the sources?

[2019-12-18 11:56] pihentagy commented on #643
Ok, I can see recent diretories, but I'd like to improve it: show directories separate to files, either:
* in one list with a divider between them
* in separate list recently opened files and recently opened directories

[2019-12-18 18:36] kureus commented on #1797
Some further investigation. (And some questions, I used this issue to learn about Marktext).

I can replicate the described issue on both `0.16.0-rc1` and `0.16.0-rc2` under macOS Catalina and Ubuntu 19.10, with `0.15.1` having no such problems, which confirm the regression as @adrienbeau reported. I expected to be able to open Chrome Dev Tools to get more context than the dialog box provided but

[2019-12-18 21:16] battlesman commented on #1499
+!

Is there a menu bar item for the Table of Contents? Then I could use BetterTouchTool or Sys Pref's keyboard shortcuts to manually add a shortcut of my own.

[2019-12-19 16:51] battlesman opened #1828 ""Cycle Through Windows" Feature"
### Describe your feature request
If it's not currently possible to "Cycle Through Windows" like in another app, I would greatly appreciate this being added!

Here's what I mean. Pressing Command+` like in Finder or pretty much any other app so that you're cycling through the windows currently open.
### What problem does this feature solve? [optional]
Having to use your mouse to click to the other

[2019-12-19 16:58] battlesman commented on #580
+1

[2019-12-19 17:04] battlesman opened #1829 "Highlight line"
### Describe your feature request
I like the fact Mark Text has a Focus Mode. However, I'd also like to see a Highlight Line feature.

That is, the text you're not working on stay lit, but the line/paragraph you're writing in gets highlighted.
### What problem does this feature solve? [optional]
Helps you keep your place visually.

### Additional context [optional]

<img width="667" alt="Screen Sh

[2019-12-19 20:38] fxha commented on #1826
Thanks for reporting the issue. Could you please open the [application data directory](https://github.com/marktext/marktext/blob/develop/docs/APPLICATION_DATA_DIRECTORY.md) and post the line containing `"spellcheckerLanguage"` in `preferences.json`. It should be something like `"spellcheckerLanguage": "de-DE",` and you could set the value `"de-DE"` to `"en-US"` to workaround the validation.

[2019-12-19 20:42] fxha commented on #1275
@retsyo @DutchPete We current only support numbered heading in exported documents. You can download the latest release candidate [Github](https://github.com/marktext/marktext/releases/tag/v0.16.0-rc.2).

[2019-12-19 20:45] fxha commented on #643
@pihentagy

You can download the latest release candiate (RC) [from Github](https://github.com/marktext/marktext/releases) like `0.16.0-rc.2`.

Please see issue #1608.

[2019-12-19 21:12] fxha commented on #1797
Thanks @kureus for the investigation on this issue. I already through about an issue with IPC objects after first validation.

I guess that this is not an unexpected crash, rather a controlled termination due to a precondition check, so the application is termination with an error message.

Yes, perhaps a little strange but the value is only `false` on Windows (with debugger attached) and on Linux

[2019-12-19 21:17] fxha commented on #1828
@battlesman Thanks for your suggestion but shouldn't that be an operation system feature? Normally your can switch between windows with `Alt+Tab` on Linux and Windows.

[2019-12-19 23:37] battlesman commented on #1828
I would think so, but Cycle Through Windows is not even listed as an option on MacOS like it is in other apps. It's typically Command+` but that's assigned to another keybinding in Mark Text.

[2019-12-20 02:26] retsyo opened #1830 "bug during exporting to PDF/html with 'auto numbering heading' on"
I am using marktext-x64-win.zip ( 0.16.0-rc.2). I thought the following text
[code]
shoud be exported as

# 1. title 1
## 1.1 sub-title
### 1.1.1 sub-sub-title
# 2. title 2

but what we get in the exported html/pdf is

# title 1
## 1. sub-title
### 1.1 sub-sub-title
# title 2

[2019-12-20 02:45] retsyo commented on #1275
I found the option, but I think there is bug
https://github.com/marktext/marktext/issues/1830

[2019-12-20 05:07] retsyo opened #1831 "[feature request]more extension/plugins"
as we can find on http://mdp.tylingsoft.com/, more extension is supported. Will marktext support them, for example, `AsciiMath`. `Charts`, `mermaid charts`? Thanks

[2019-12-20 05:11] retsyo commented on #1831
its code is on https://github.com/tylingsoft/markdown-plus

[2019-12-20 10:30] ravish-tech commented on #1826
It is set as below. but I should mention after above error, I just installed the "v0.16.0-rc.2" version and have been happy about it.
"spellcheckerLanguage": "en-US",
Happy for this to be closed. As you description above should help someone if they do get this.

[2019-12-20 10:30] #1826 closed

[2019-12-20 11:42] wgqimut opened #1832 "Unexpected error: Cannot read property 'webContents' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 19.2.0 (darwin)

[2019-12-20 20:48] fxha commented on #1830
I'm closing this issue as this is normal and the expected behavior. Only chapters, sections, and subsections should be numbered but not the main heading.

[2019-12-20 20:48] #1830 closed

[2019-12-20 20:51] fxha commented on #1831
Thank you for suggestion but we noticed that this is a duplicate of #375 and #224. You may want to subscribe there for further updates.

[2019-12-20 20:51] #1831 closed

[2019-12-20 20:54] fxha commented on #1832
@wgqimut Thank you for taking the time to report the issue. We cannot reproduce this issue without steps to reproduce, please provide some steps or how the error occurred.

[2019-12-20 21:17] fxha commented on #1832
@Jocs Maybe duplicate of #1795?

[2019-12-20 21:22] fxha commented on #1712
Closing this issue as it's no standard markdown and we already support the HTML part.

[2019-12-20 21:22] #1712 closed

[2019-12-20 21:23] fxha commented on #1726
Closing this issue as no further information has been provided. Please feel free to reopen with more information.

[2019-12-20 21:23] #1726 closed

[2019-12-20 21:24] fxha commented on #1722
Closing as this is the expected behavior from tight and loose list items.

[2019-12-20 21:24] #1722 closed

[2019-12-20 21:25] fxha commented on #1711
Thanks for your suggestion but this is currently out of the scope of the project.

[2019-12-20 21:25] #1711 closed

[2019-12-20 21:28] fxha commented on #1681
Closing as duplicate of #1821 because the other issue is written in English. @Jocs Please reopen this one if it's a different issue.

[2019-12-20 21:28] #1681 closed

[2019-12-20 21:29] #1628 closed

[2019-12-20 21:33] fxha commented on #1671
Closing this issue as we currently don't plan to implement the feature but we may reopen it on demand.

[2019-12-20 21:33] #1671 closed

[2019-12-20 21:33] fxha commented on #1361
Closing this issue as we currently don't plan to implement the feature but we may reopen it on demand.

[2019-12-20 21:33] #1361 closed

[2019-12-20 21:35] fxha commented on #1268
@Jocs Is this issue still active or can we close it?

[2019-12-20 21:36] fxha commented on #1221
Therefore, the feature requested is out of the scope.

[2019-12-20 21:36] #1221 closed

[2019-12-20 21:36] #1118 closed

[2019-12-20 21:37] fxha commented on #776
Closing the issue as no further information has been provided. Please feel free to reopen with more information.

[2019-12-20 21:37] #776 closed

[2019-12-20 21:41] fxha commented on #1258
Automatically updates are currently not planned but supported by a few packages. Closing this as duplicate of #211 of update notifications.

[2019-12-20 21:41] #1258 closed

[2019-12-21 00:39] keiichiiownsu12 commented on #1717
Just curious, are you thinking these links should open external applications? E.g. a link to a PDF opens either Okular or Evince on linux?

[2019-12-21 08:24] chuoke opened #1834 "the copy does not work as the original text"
### Description

the copy does not work as the original text. It lost linefeed.

### Steps to reproduce

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

### Versions

- Mark Text:  v0.15.1
- Operating system: Windows 10

[2019-12-21 10:59] fxha commented on #1834
Thank you for reporting the issue. This issue has been fixed, and you could try our testing build v0.16.0-rc2.

[2019-12-21 10:59] #1834 closed

[2019-12-21 11:20] fxha commented on #1828
Thanks for your feedback. We noticed that this is a duplicate of #1713 and you may want to subscribe there for further updates.

[2019-12-21 11:20] #1828 closed

[2019-12-21 11:23] #1679 closed

[2019-12-21 11:27] fxha commented on #1723
Closing this issue as we remove  theme changing at runtime.

[2019-12-21 11:27] #1723 closed

[2019-12-21 11:30] fxha commented on #1778
Duplicate of #1638

[2019-12-21 11:30] #1778 closed

[2019-12-21 15:29] shadyabhi commented on #1717
@keiichiiownsu12 Yes. The idea is to have the ability to store random content like a pdf, offline page HTML, etc with my markdown notes.

[2019-12-22 04:52] #1733 closed

[2019-12-22 12:44] chuoke commented on #1834
I updated to v0.16.0-rc2. The copy is work. but the copy of right-click menus does not copy anything.

[2019-12-22 16:49] Jocs commented on #1816
Mark Text really needs to be thin, but the priority is not so high. Electron applications cannot be the same as native applications  which are small in size. so we reduce some resources, but the total submission seems to be not much reduced?

[2019-12-22 16:50] Jocs commented on #1816
BTW, PR is also welcomed.

[2019-12-22 17:08] zxch3n commented on #1816
OK, I'll confirm this issue and make a PR

[2019-12-22 18:25] fxha commented on #1834
Thanks for your feedback, could you please explain the issue in detail - maybe open another issue if it's not related to this one?

[2019-12-22 18:41] fxha opened #1837 "Issue with paragraph starting with three or more *"
### Description

A paragraph starting with `***` is correctly interpreted as horizontal rule but if we want to write `**bold**` by typing two times `*`, it's still recognized as horizontal rule.

### Steps to reproduce

1. Create a new (empty) paragraph in preview editor.
2. Write `*` (--> `**`) and another `*` to get `**<cursor**` - the text block is recognized as horizontal rule (HR) :+1:.
3. Wr

[2019-12-22 18:56] fxha opened #1838 "Math formula preview is not updated"
### Description

Latest develop branch don't update the display math formula preview when writing and also not when waiting for a second or two. The formula is only updated when adding/removing a line.

### Steps to reproduce

![mt_display_math](https://user-images.githubusercontent.com/22716132/71325990-e886f400-24f4-11ea-8910-f8ff161036cb.gif)

**Expected behavior:**

The math formula should be

[2019-12-23 07:56] chuoke commented on #1834
Sorry, I didn't say clearly.

In the left sidebar, select one markdown and right click, then choose the copy, but there is nothing copied.

[2019-12-23 10:21] ZappD0S opened #1839 "Cannot type dollar symbol in math inline mode the short way."
### Description

To type the dollar symbol inside an inline math formula I can't use `\$` but only `\text{\textdollar}`
even though KaTeX [supports it](https://katex.org/docs/supported.html#symbols-and-punctuation). If I try to use `\$` the formula doesn't get rendered.

### Steps to reproduce

Simply type `$ \$ $`.

**Expected behavior:**

The formula gets rendered exactly as `$ \text{\textdollar

[2019-12-23 14:39] sebelk opened #1840 "Drag and Drop Images"
### Describe your feature request

It would be nice that one can drag and drop images into the document.

### What problem does this feature solve? [optional]

It would solve the annoyance of go to "Source Code Mode"

### Additional context [optional]

The lack of this feature breaks the WYSIWYG experience.

[2019-12-24 10:12] Purstal opened #1841 "Length of code block's fences is not kept"
### Description

Length of code block's fences should be kept, but it is not.

---
[code]
becomes
[code]
, which means this exactly issue's markdown code can't be handled by marktext correctly :p

- [x] Can you reproduce the issue?

### Steps to reproduce

1. On non-source code mode, insert <code>````</code> to create a fenced code block, type <code>```</code> as its content
2. toggle source code

[2019-12-26 02:07] scucat opened #1842 "Unexpected error: Cannot destructure property 'pathname' of 'state.tabs[index]' as it is undefined."
### Description
#### An unexpected error occurred in the renderer process.
for example, after edit test.md without save it, I directly click "close button" in the tabs
![1](https://img-blog.csdnimg.cn/20191226100159109.png)
then click "save button"
![2](https://img-blog.csdnimg.cn/20191226100426955.png)
and last it alarms
![3](https://img-blog.csdnimg.cn/20191226100616707.png)

### Stack Trace

[c

[2019-12-26 06:59] #1842 closed

[2019-12-26 07:44] Benjamin-Lee opened #1843 "Softbreaks are not rendered onto a single line"
### Description

#159 does not appear to be solved.

If your source looks like:

[code]

It is rendered as

[code]

when Markdown spec requires that it render as

[code]

This breaks the use of [semantic line breaks](https://sembr.org).
- [x] Can you reproduce the issue?

### Steps to reproduce

Write two lines of text on separate lines.

**Expected behavior:**

https://spec.commonmark.org/0.29/#s

[2019-12-26 08:16] #1843 closed

[2019-12-26 08:16] Jocs commented on #1843
Feel free to reopen this issue if you have any other options.

[2019-12-26 08:27] Jocs commented on #1841
@Purstal Thanks for reporting this issue, we'll fix it in next versions.

[2019-12-26 08:30] Jocs commented on #1742
@idea-zone 将 markdown 文件放到其他文件夹，在右键打开也会出问题吗？

[2019-12-26 08:31] #1741 closed

[2019-12-26 08:33] Jocs commented on #1785
@fxha Do you mean display rendered math block on the left?

[2019-12-26 08:39] Jocs commented on #1801
![屏幕快照 2019-12-26 下午4 38 39](https://user-images.githubusercontent.com/9712830/71467573-46ba1c80-27fe-11ea-8eec-e75efd2dfb7e.png)

U can try the table tool bar on the left of table, there is a `remove row` menu item.

[2019-12-26 08:50] Jocs commented on #1432
@fxha duplicated with #1775

[2019-12-26 08:50] #1432 closed

[2019-12-26 08:57] Jocs commented on #1806
On development environment?

[2019-12-26 09:24] Jocs commented on #1840
The latest version support drag and drop images into marktext yet, what's the version of Mark Text you use?

[2019-12-26 09:36] Jocs commented on #1829
What's the difference between focus mode and highlight line?

[2019-12-26 09:38] Jocs commented on #1795
@jzh9608 Can you still reproduce this issue on v0.16.0-rc.2?

[2019-12-27 01:21] Purstal commented on #1841
@Jocs Thanks for your hard work

[2019-12-27 03:38] Benjamin-Lee commented on #1843
@Jocs Would it be possible to make this an option? Rendering soft breaks as line endings makes Mark significantly less usable with SemBr Markdown files. For reference, Typora renders soft breaks as spaces.

[2019-12-27 14:08] #1772 closed

[2019-12-27 19:19] renehummen opened #1844 "text selection with shift+up/down does not work as expected in WYSIWYG mode"
### Description

When in WYSIWYG mode, I can neither select text in a single To-Do List item nor multiple items with shift+up/down.

I have experienced similar issues when trying to select...:

- text in the last line in a paragraph with shift+down
- text in a heading from the end of line with shift+up

... but I am focusing on reproduction of this issue for To-Do Lists below.

By the way, Ordered

[2019-12-28 11:15] renehummen commented on #1224
Mark Text is a great editor to handle my To-Do lists. Just the default font sizes are a bit too large for my purposes and when trying to decrease the font size via the preferences, I stumbled across the same issue. I am currently on Mark Text v0.16.0-rc.2.

@HemaKanakamedala Did you already make a PR for this issue as you seem to have figured out an appropriate solution?

[2019-12-28 11:30] renehummen commented on #1211
I would also prefer "Opened files" to _not_ show up in the sidebar as listing the opened files is the main purpose for the Tabbar (at least in my case).

[2019-12-28 11:37] renehummen commented on #998
@Jocs I would like to configure Mark Text such that the _Sidebar_ and _Tabbar_ always show up when opening a new window, i.e. as default behavior. Can this be added in the general section of the preferences as toggleable items?

[2019-12-30 12:17] wgqimut commented on #1840
The image is needed drag and hold it, until a green line show up, then drop it, the image can insert successfully. quickly drag and drop image can't successful.

[2019-12-30 23:57] fbruetting opened #1845 "Deleting an item creates double itemization bullets in front of the next item"
### Description

Just see my screen cast (which I had to zip, because stupid GH is incompatible with attaching webm videos or Markdown files). 🙄️

[Peek 2019-12-31 00-45.zip](https://github.com/marktext/marktext/files/4011475/Peek.2019-12-31.00-45.zip)

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a Markdown file with the following content (I also attached my file for maki

[2019-12-31 01:16] quanee opened #1846 "Cannot chang fonts?"
### Description

Cannot change font('editor' & 'code block')

- [x] Can you reproduce the issue?
- [x] yes

### Steps to reproduce

1. [First step] click 'File'
2. [Second step]  click 'Preferences'
3. [third step] click 'Editor'
4. [fourth step] click 'The used font in the editor'
5. [fifth step] select different font

**Expected behavior:**

display selected font

**Actual behavior:**

no happen

[2019-12-31 06:44] jzh9608 commented on #1795
The issue has gone, very thank!

[2019-12-31 15:00] #1797 closed

[2020-01-01 17:49] jusola commented on #1785
I think you could use
[code]
in your style .css to always align math blocks to left.

However you would need to modify the default style files and build a custom build of marktext, because custom styles don't currently work.

When custom styles are supported, this would be a solution if you want all math blocks to always be aligned to the left.

[2020-01-01 18:23] battlesman commented on #1829
Focus mode dims everything except the line you're on, like turning all the lights in your room off except the one at your desk.

Highlight mode brightens the line you're on, like keeping the room lights on _and_ turning on a desk lamp for the book you're reading.

[2020-01-01 20:57] battlesman commented on #1829
I just noticed that Source Code Mode does this by default. I'd like it in WYSIWYG mode, please.

![Screen Shot 2020-01-01 at 3 56 52 PM](https://user-images.githubusercontent.com/14978950/71646060-5e3a4f00-2caf-11ea-827e-ebec4e2d99de.png)

[2020-01-02 21:19] yashha opened #1847 "More slim structured design on linux."
### Describe your feature request

Currently you have this large spacing between the tabs and the native title bar.
The breadcrumbs are not necessary could be removed or be optionally. You can see the path when hovering over the tab. An idea could also be to show the path in the title bar.
And the counter could be moved above the settings icon or may be part of the tab bar on the right side.

###

[2020-01-02 23:40] grahamannett commented on #375
Is there any chance this will ever be possible?  It seems like from https://github.com/marktext/marktext/issues/1390 and others that javascript is disabled in html blocks, but it would really be useful if we can have some way to do a plugin or something so that we can do user defined things, for instance read csv file into table or whatever.

I understand theres probably some security issues to th

[2020-01-03 06:49] grahamannett commented on #375
I'm trying to investigate how this would even be possible with the current architecture of marktext.  Are there any previous discussions of this, or any electron apps with similar ideas that someone could recommend?  Seems like my initial thought of just having a way to allow <script> tag to run might not be very feasible and instead it might be better to have a specific block type?  or should it

[2020-01-04 06:15] CouldBeThis opened #1848 "Add instructions in the image uploader configuration"
### Describe your feature request

Preferences -> Image uploader -> GitHub needs a bit of instruction.

I would suggest something like this:

_❓How private is private?? I tried to find some info but can't._

### What problem does this feature solve? [optional]

Not everyone is familiar with how to use this GitHub feature. (Or even that GitHub exists.)

### Additional context [optional]

Someone el

[2020-01-04 08:41] Benjamin-Lee opened #1849 "Optional rendering of soft breaks as spaces rather than newlines"
### Describe your feature request

See #1843 for more details. In essence, I want to be able to write a paragraph of text with each sentence on a new line and when I open that file in Mark to see it as a paragraph, not as a series of broken lines.

### What problem does this feature solve? [optional]

Using Mark with [SemBr](https://sembr.org) is not really possible because Mark renders soft break

[2020-01-04 18:24] saiedg opened #1851 "Xcode project?"
I'm having trouble understanding how to get the Xcode project. Can someone send me the instructions for this? Thank you.

[2020-01-05 15:57] MrHeer commented on #520
@Jocs I'm very like this mode and I want to fix it, Can you reopen this issue?

[2020-01-06 06:14] Jocs commented on #520
@MrHeer reopened.

[2020-01-06 14:38] adrienbeau commented on #1846
**Could not reproduce**, using Mark Text v0.16.0-rc2 under Windows 7. Fonts are changed in real time as I select them in the Preferences, both the regular font and the fixed-width code block font.

[2020-01-06 14:48] adrienbeau commented on #1849
I have a lot of files containing paragraphs that consist of several lines of limited lengths, and I would very much like to be able to use Mark Text to edit them.

Mark Text, as a WYSIWYG editor, should render such "multi-line" paragraphs as a single block of text, in other words as you say, show soft line breaks as spaces.

By the way, if I read the CommonMark spec correctly, even though such sof

[2020-01-08 10:52] pihentagy opened #1853 "Unexpected error: Cannot read property 'text' of null"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.2 (593ca5f)
Operating system: Linux x64 5.0.0-37-generic (linux)

[2020-01-09 12:53] Angeall opened #1854 "Multiple lines delete ends in unexplained behaviour"
### Description

When you select multiple lines and delete them, the moment you click on another line makes everything disappear. Then, entering ESC just shows the content of the file again, with the previously deleted lines undeleted.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Select multiple lines, with a title in it
2. Press delete again to align the next title
3. Text shou

[2020-01-09 14:43] Trismegistos84 opened #1855 "Enter should insert single one break"
### Describe your feature request

Currently pressing enter insert two new line characters. This messes up *.md file source. Enter should insert single new line character or at least it should be configurable.

### What problem does this feature solve? [optional]

Messed up md source.

[2020-01-09 15:12] evi1ox opened #1856 "Automatic decoding in code blocks"
[code]

`&#x09;  &#x0A;  &#x0D; &#x003a;`It decodes itself.

[2020-01-09 15:12] uocxp opened #1857 "align the text position to the left"
![screenshot_46](https://user-images.githubusercontent.com/8387383/72079396-20ff3e00-32fb-11ea-911c-48ce11180778.png)

As you see in the screenshot the markdown text is very central. How can i align it to the left side of the window?

I am using ubuntu 18.04 with the latest version of marktext.

[2020-01-09 15:15] evi1ox commented on #1856
<img width="512" alt="xxxx" src="https://user-images.githubusercontent.com/24634543/72079477-f2eb1f80-3335-11ea-9504-fab6ebe09312.png">

[2020-01-12 10:01] 17307 commented on #519
When will this feature be added？ Remember the view mode, such as `toggle sidebar`.
I am looking forward to it.

[2020-01-12 12:22] renehummen commented on #1857
@uocxp I also came across this issue and already fixed this for myself.

What I noticed is that the editor component of the window has a fixed max width but is aligned to the center on the horizontal axis. As a result, the text position will on have a fixed (small) margin relative to the sidebar when the window is sufficiently small or the sidebar is sufficiently large.

I fixed this by tweaking t

[2020-01-13 19:32] ribtoks opened #1860 "Support relative path for saving images locally"
### Describe your feature request

I structure my markdown files in a directory tree. Some files have assets like images. I'm saving assets in the directory `./assets/` along with the markdown file. I would love to switch to this wonderful editor, but I cannot because it does not work with relative assets paths. It only allows me to use absolute filepath by selecting a directory.

### What problem

[2020-01-13 22:39] fxha commented on #1851
@saiedg Please follow the [build instructions](https://github.com/marktext/marktext/blob/develop/docs/dev/BUILD.md) for more information but Mark Text cannot be built with XCode.

[2020-01-13 22:39] #1851 closed

[2020-01-13 22:58] fxha commented on #1846
Thank you for taking the time to report this issue. @quanee Please provide the font family name, this maybe a duplicate of #1773.

[2020-01-14 09:47] fbruetting opened #1861 "Filter “file changed on disk” for timestamp changes"
### Describe your feature request

When you have a file open which is part of a Git archive and you check out other commits which do _not_ change that file, I always see “file changed on disk” even though just the timestamp changed.

### What problem does this feature solve? [optional]

Would be cool if the content of the new file could be compared to the current version of the RAM, and show that

[2020-01-14 19:05] nh2 commented on #1647
As a workaround until a native package is available, here is a working package of the `.AppImage` binary release I made based on other usages of nixpkgs's `appImageTools`:

[code]

[2020-01-14 22:25] saveriomiroddi commented on #1119
I think this a bug, for two reasons:

1. in editor mode, the behavior is different from view mode; there is no scrolling past the last line, when pressing arrow down;
2. in view mode, going past the last line (with arrow down) adds lines, but when switching to editor mode, the lines are not added

I've also never seen this behavior in any other editor.

[2020-01-14 22:35] saveriomiroddi opened #1862 "Allow hotkeys customizations"
### Describe your feature request

Add the option to customize the hotkeys.

### What problem does this feature solve? [optional]

Some key combinations, in particular Ctrl+Alt ones, are in some operating systems used for global events, ie. Ctrl+Alt+T is the Ubuntu (possibly Debian) standard for a console.

Right now, it's impossible to switch to Typewriter mode via hotkeys, since a terminal is op

[2020-01-14 22:43] saveriomiroddi opened #1863 "Give quick access to Table of contents"
### Describe your feature request

Give, in some way, quick access to the Table of contents side tab, eg. by associating a hotkey, adding a `View` menu entry, or even storing the status of the Side Bar.

### What problem does this feature solve? [optional]

Right now, in terms of operable action, MarkText has the concept of Side Bar (Ctrl + J), but the different side bar contents are not exposed (

[2020-01-14 23:05] AamerShareef commented on #1142
Hi @Jocs - just to add on to the above.

Using macOS catalina. I can reproduce this when the notes contain *any italics data*
The whole exported file gets saved as gibberish shown above. However, if I change *any italic words* to normal word - it exports fine.

[2020-01-14 23:05] AamerShareef commented on #1142
I think the issue is probably in enclosing the `*word*` characters

[2020-01-14 23:11] saveriomiroddi opened #1864 "Search doesn't work in edit mode"
### Describe your feature request

Add search in edit mode.

### What problem does this feature solve? [optional]

I search in both view and edit mode. Right now, I can only search in view mode.

[2020-01-14 23:17] saveriomiroddi opened #1865 "Sync location between regular and source modes"
### Describe your feature request

It would be useful to have the cursor/viewport go to the corresponding location when the mode is switched from regular to source (or viceversa)

### What problem does this feature solve? [optional]

It happens relatively frequently that I'm viewing a document, then I decide to edit something. In this case, I generally switch to source mode, since I find it cleane

[2020-01-15 06:23] teadrinker opened #1866 "Linefeeds are injected when turning off Source Code Mode"
### Description

Linefeeds are injected when turning off Source Code Mode.
This is not really important in most cases, but I'm trying to use the pandoc yalm metadata, and switching to the wysiwyg mode always breaks the formatting of the yalm. (I tried using backticks etc, it works great in the mark text, but the metadata is then just ignored in pandoc, it seems the yaml header needs to be in the c

[2020-01-15 09:11] pihentagy opened #1867 "Unexpected error: The "path" argument must be of type string. Received type undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.2 (593ca5f)
Operating system: Linux x64 5.0.0-37-generic (linux)

[2020-01-15 09:29] pihentagy commented on #1867
Invalid bug, sorry

[2020-01-15 09:29] #1867 closed

[2020-01-15 16:10] FireFrei commented on #1860
I structure my projects the same way. So this is also a feature I would need.
In addition, this would work great combined with the possibility to automatically copy images to a relative dir (same dir as md-file or subdir like ./assets/).
This enables a simple copy functionality for e.g. web images to my markdown notes.

[2020-01-15 16:43] teadrinker commented on #1866
I have found a workaround, wrap the yalm inside a div, and ignore the pandoc documentation saying that you need a linefeed before --- unless the header is first in the file, this seem to work fine:

    <div>
    ---
    title:  'Hello World!'
    ...
    </div>

My guess is it still easily breaks if you need to use a bit more advanced yalm, but the above will be my solution for now...

[2020-01-16 06:11] Wang-Kai opened #1868 "How can i open file or directory from command ?"
### Question description

How can i open file or directory from command ?

just like :
[code]

[2020-01-16 16:59] gus3000 commented on #1853
I have a very similar issue (I think):
### Stack Trace (1st pop-up)

[code]

### Stack trace (2nd popup)
[code]

### When does this happen ?
When I use @ to insert a code block. Note : the code block seems correctly inserted afterwards, and is usable. However, every time I click in it, the pop-ups reappear.
This does not seem to happen for other kind of blocks.

[2020-01-16 19:47] fabiospampinato commented on #703
@fxha Isn't Electron just caching `file://` urls on its own? 🤔

[2020-01-17 16:09] ejm554 opened #1869 "Option to fold/collapse text"
### Describe your feature request

Provide an option to fold/collapse text. This could be a button to the left of each heading.

### What problem does this feature solve?

This would help the reader/writer to more easily see the document's outline. It could also be useful during the writing process to help the writer focus on the section that they are working on.

[2020-01-17 16:52] lrq3000 opened #1870 "Mermaid update"
[Mermaid](https://mermaid-js.github.io/mermaid/#/) seems to have had a lot of new graphs since its support was implemented in marktext (eg, Gantt diagrams, Pie charts, etc). Would be great if marktext would be updated to support those kinds of graphs!

[2020-01-17 16:57] lrq3000 opened #1871 "Vega-Lite broken?"
I tried to use this example from Vega-Lite docs:

https://vega.github.io/vega-lite/examples/circle_wilkinson_dotplot.html

But it does not work. Is marktext supporting an older version of vega-lite? If yes, then which one?

I am running Windows 10 Home x64. Vega-lite support (and other graphs) is really a killer feature! Great Job!

[2020-01-17 17:23] ejm554 opened #1872 "Command to 'Copy As Rich Text'"
### Describe your feature request

Provide an option to copy rich text, in a way that is similar to the existing Copy As HTML and Copy As Markdown options.

### What problem does this feature solve?

It would be useful when you want to paste part or all of the document into program that supports rich text, but doesn't automatically convert HTML or Markdown.

![image](https://user-images.githubuser

[2020-01-17 17:58] lrq3000 commented on #732
Please implement this feature, it's very critical. It's not a feature most people see at first, but when they need it, this is what will make them either migrate to another app (whether it provides more security or not), or stick and love this app.

I can't help in programming, but I can suggest to take inspiration from Notepad++, which has the most reliable session and autosave feature I have eve

[2020-01-17 21:12] saveriomiroddi opened #1873 "The text doesn't scroll when going outside the viewport via arrows"
### Description

If I move the cursor above/below the viewport, using the arrows (up/down), the text doesn't scroll.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a document that is larger than a screen, preferrably a few
2. Go to the middle
3. Go up with the up arrow, above the upper limit of the viewport
4. The text doesn't scroll

(same concept applies to the down arrow

[2020-01-18 14:05] Hoffenbar opened #1874 "Images don't appear in exported pdf and html"
### When you include images in md files and then export the document to PDF or HTML, the images are not included in the exported output, instead only an imagename or nothing.

### Steps to reproduce

1. Edit a document
2. Drag an image into the document
3. export the document
4. open the exported document with a pdf reader or browser

**Expected behavior:**

The images should appear

**Actual beha

[2020-01-19 06:33] twodogegg opened #1875 "Unexpected error: Cannot read property 'delete' of undefined"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.2 (N/A)
Operating system: Darwin x64 19.2.0 (darwin)

[2020-01-19 11:15] Suyun514 opened #1876 "Switch KaTeX to MathJax"
### Describe your feature request

Mark Text use KaTeX to display math expressions, but KaTeX is too weak to display some complex expressions, such as `\ce`。

### What problem does this feature solve? [optional]

Displaying some complex expressions.

### Additional context [optional]

[2020-01-20 12:22] c-key opened #1877 "Add option to generate TOC at current cursor position"
### Description feature

It would be a nice feature to generate a TOC with links to the headlines at the current cursor position.

**Expected behavior:**

I think it would be a nice feature to implement a shortcut / menu option to generate a Toc at the current cursor position. Which is based on the headlines of the document.
Maybe a additional element like a span with an id, like this `<span` `id=

[2020-01-20 14:57] adrienbeau commented on #1868
This works fine with Mark Text 0.16.0-rc2 under Windows 7.

* `"Mark Text.exe" .` opens the current directory (list of files in sidebar)
* `"Mark Text.exe" test.md` opens the file

Under Windows, this only works if no other Mark Text instance is running.

[2020-01-21 12:49] laurent-simon opened #1878 "WYSIWYG error on line breaks in raw HTML"
### Description

When a hard line break is inserted using raw HTML (  `<br>` or ` <br/>` tag ), the line break is rendered, but the `<br>` tag is always displayed, even when the line is not anymore edited!

This is particularly annoying in Markdown table cells where the only way to add explicit line breaks is to use raw HTML.

- [] Can you reproduce the issue? [x]

### Example

Line 1\<br\>Line 2

[2020-01-21 13:47] skyxx opened #1879 "New file function dont add extension automaticaly"
### Description
Creating New File in sidebar directory tree dont add .md extension to filename. File is created but not visible to MarkText.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. View/Toggle sidebar Ctrl+J
2. left mouse click on directory where you want to add new note
3. choose "New file" and type filename without .md extension then commit with enter

**Expected behavior

[2020-01-22 13:33] ClovisGauzy commented on #1855
@Trismegistos84 Use Shift+Enter ;)

[2020-01-22 15:56] Wang-Kai commented on #1868
@adrienbeau Thank you very much !

But, i use MacOS，can i do it on MacOS ?

[2020-01-22 19:31] hamiltont commented on #1321
Similar issues on macOS 10.14. Undo repeatedly does not behave in a sane manner (e.g. removes an entire paragraph instead of the one word I just typed), and I can't seem to get any redo functionality to work. Side note - love this editor, really excited to see it getting better over time!

[2020-01-23 09:07] S1ngularity96 opened #1880 "custom defined paragraphs"
### Describe your feature request

Custom paragraphs are useful if, for example, a longer HTML block is used frequently and should not always be copied.

For example, I want to start a new page for the export of a PDF file. To do this I have to copy and paste the following code.

<div style="page-break-after: always;"></div>

I would want to call this input with @newpage. Surely there are some oth

[2020-01-24 00:44] berkancetinkaya opened #1881 "Github Image Upload - Deleting unused images from repo"
Hi,
### Describe your feature request
Uploading images to github repo is really briliant idea but wouldn't it be better if we remove images if they're not used?

Basically when user clicks the delete button, we can trigger a delete commit.

#### One case to be considered
there is one trade-off. Even if it's deleted, user might close editor without saving file. For this reason, after image delation

[2020-01-24 23:59] fxha commented on #519
@17307 Please see [preferences](https://github.com/marktext/marktext/blob/develop/docs/PREFERENCES.md#view) and edit the values locally.

[2020-01-25 00:06] fxha commented on #1847
Unfortunately Electron doesn't support client-side decorations (CSD) on Linux and Windows, so we have to use our own CSD and the native approach is just a fallback due to user requests. Removing the bar would also remove the word counter etc. I don't have a solution for the native UI, instead of using custom CSD.

[2020-01-25 05:48] mmstick opened #1882 "Pasting a URL inside of a hyperlink creates a link within a link"
Begin to create a link as you normally would when writing Markdown:

[code]

Then paste a link between the paranthesis:

[code]

---

Personally, I see no point in link-pasting automatically creating a hyperlink for you. Though it could be useful if the pasted link would actually select the custom text after pasting so that you can edit it without having to use a mouse to carefully select it.

[2020-01-27 14:14] rennrennrenn commented on #1874
I am also facing the same problem running on macOS Catalina.
At the locations where images should appear the markdown path to the image is shown.

`![](/Users/rennrennrenn/Library/Application Support/marktext/images/image.png)`

[2020-01-27 20:21] yashha commented on #1847
I think something like this would look better:

![71693382-9bd0d200-2dac-11ea-9ac3-9efdb2431309_2](https://user-images.githubusercontent.com/4728786/73210263-2d342980-414a-11ea-8bc7-00a33cd384d3.jpg)

I use now the custom tabs. So the change is not important anymore for me.

But when you use a global menu you don't need the titlebar so it could be hidden if it is a native titlebar. It would then s

[2020-01-28 04:04] RyanGreenup commented on #1876
Most things can be done with KaTeX, according to the [docs](https://katex.org/docs/support_table.html#c) carbon bonds are supported.

The only big missing feature is equation numbering, but that’s tricky to do in markdown because the ` align ` environment shouldn’t be used inside ` $$ ` or ` \[ ` and last I checked ` pandoc ` doesn’t inteligently remove ` $$ ` where they shouldn’t be used. So if M

[2020-01-28 16:45] fxha commented on #1874
Thank you for reporting the issue. We noticed that this is a duplicate of #1367. You could download the latest release candidate from Github releases - otherwise replacing all path spaces with `%20` should work too.

[2020-01-28 16:45] #1874 closed

[2020-01-28 19:04] ejm554 opened #1883 "Reduce time of launch"
### Describe your feature request

Reduce the amount of time it takes to launch the application.

### What problem does this feature solve?

Currently, it takes a relatively long time to launch the program, at least compared to similar text/document editors. For example, launching a Markdown document with Mark Text on an older MacBook Pro* takes about 18 seconds.  Launching that same document with

[2020-01-29 05:38] daeh opened #1884 "Menu items for window interaction (e.g. next/previous tab)"
### Describe your feature request

Menu items with key combinations for navigating the window UI. The ones I'd find particularly useful:
- Next/Previous tab
- Focus on sidebar (file navigator/search/table of contents)

### What problem does this feature solve? [optional]

Reaching for the mouse.

### Additional context [optional]

I'm brand new to MarkText but it's fantastic. Really great work, th

[2020-01-29 06:43] daeh opened #1885 "keybindings.json is not respected"
### Description

`keybindings.json` does not seem to have an effect.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Add `keybindings.json` to `~/Library/Application Support/marktext`.
2. Relaunch MarkText.app

Originally I was trying to add
[code]
But after reading #1382 I thought I might need to unset the keys first. To see if I could do that, I tried this to see if `keybindings.

[2020-01-29 12:37] RoderickQiu opened #1887 "Unexpected error: Cannot read property 'getMenuItemById' of null"
### Description

An unexpected error occurred in the main process.

After I started settings, an error is directly shown.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Windows_NT x64 10.0.18363 (win32)

[2020-01-29 14:13] bravekingzhang opened #1888 "mac最新版本上传图片到github失败"

[2020-01-29 14:15] bravekingzhang opened #1889 "mac最新版本斗图表情无法添加，点击没有反应。且直接贴地址显示不出来。"

[2020-01-30 06:02] DXXL commented on #1872
I think the default "Copy" already does copy rich text.

[2020-01-30 14:25] TheFox22 commented on #680
The issue is still there and you can replicate it by adding in the document one **inline** math formula. Consider reopening this issue please.

[2020-01-30 16:49] loughnane commented on #1860
This is the same for me. I have my project root is at `C:/Users/cl/code/ROOT`  and I stored all my assets at `C:/Users/cl/code/ROOT/resources`. Most critically is that when I sync to github I need the relative path in order for the images to work.

[2020-01-30 17:44] ejm554 commented on #1872
It appears that you're right. But when pasting, I'm not seeing the format defined in my preferences (Open Sans font, etc.). Instead, I'm just seeing some old-school font, i.e. Times, in my target file. So perhaps I should refine my request feature request as follows:

1. Change the 'Copy' command to explicitly say 'Copy As Rich Text', so it is more clear to the user, and is otherwise consistent wi

[2020-01-30 21:02] fxha commented on #680
@TheFox22 I guess this is a duplicate of #1523 and you may want to subscribe there for further updates. If not, please provide an example to reproduce the issue or try the latest release candidate via Github releases.

[2020-01-30 21:07] fxha commented on #1885
Thank you for reporting the issue.  Please refer to [key bindings](https://github.com/marktext/marktext/blob/develop/docs/KEYBINDINGS.md#available-modifiers) for available modifiers and keys.  If I remember correctly, the key bindings issues should be fixed in our latest release candidate and till then you have to unset the keys. Could you please try out the latest release candidate from Github re

[2020-01-30 21:13] fxha commented on #1860
Thank you for reporting the issue. We noticed that this is a duplicate of #549. You may want to subscribe there for further updates.

[2020-01-30 21:13] #1860 closed

[2020-01-30 21:30] fxha commented on #703
@fabiospampinato  I don't think so because it's only locally, so it wouldn't make any sense, but Chromium may prevent to reload the image because the URL is the same as before on the same HTML element and we may need to add a semi-random suffix like `?r=0`. However, the main issue is  that we don't listen for image changes on disk.

[2020-01-30 21:36] fabiospampinato commented on #703
That's what I meant, i.e. the following:

I don't think is correct, you don't need to do anything to get this behavior.

[2020-01-30 21:54] fxha commented on #703
If I remember correctly, we're using a map/cache that maps paths/URL's to images for better render performance, so we can reuse the old DOM element instead making another HTTP request. But I'm not totally sure and currently don't have any time to invest the issue.

@fabiospampinato Do you have a similar issue in Notable? That would mean Chromium does caching.

[2020-01-30 22:03] fabiospampinato commented on #703
That's interesting, does that help performance a lot? 🤔

[Yes](https://github.com/notable/notable/issues/630), and I'm not doing any kind of manual caching.

[2020-01-31 02:35] daeh commented on #1885
Thanks. In v0.16.0-rc.2, the `keybindings.json` file works, and works without needing to unset the keys. A couple of other things I noticed:

- "Undo" does not work like I expect/want it to. Often it steps back much too far. For instance, if I type a long paragraph, delete the last two words, and then hit undo, it will remove the entire paragraph rather than undelete the last two words.

- "Redo"

[2020-01-31 02:45] daeh commented on #1884
Solved by v0.16

[2020-01-31 02:45] #1884 closed

[2020-02-02 07:24] ghost opened #1890 "Image Upoader module can be replaced by other mature image uploading tools"
### Describe your feature request
Image Upoader module can be replaced by other mature image uploading tools, as marktext should focus more on Markdown itself.[picgo] (https://github.com/Molunerfinn/PicGo), for example,It has a variety of built-in picture beds and supports picture management, plug-in system provides a richer for it:
![image](https://user-images.githubusercontent.com/37654563/73604

[2020-02-03 23:22] bzass opened #1891 "Enable relative paths for Image folder (imageFolderPath)"
It would be nice if imageFolderPath setting accepted relative paths (eg. "./Images") so that when user pastes image from the clipboard, it's being automatically copied to the folder relative to edited Markdown file.

Currently, after setting imageFolderPath manually by editing dataCenter.json, images are not copied and  loaded correctly.

[2020-02-04 08:47] sfjohansson opened #1892 ""Recent Folders" in the file menu"
### Describe your feature request

"Recent Folders" in the file menu, in addition to the current  "Open Recent" files.

### What problem does this feature solve? [optional]
Easier to work with folders of files, currently the user has to navigate back to the folder each time they re-open the app.

[2020-02-04 14:16] uocxp commented on #1857
@renehummen did you make a PR ?

[2020-02-04 14:27] adrienbeau commented on #1855
The problem is that by being a WYSIWYG editor, Mark Text hides how the paragraph is actually formatted (which you can see in source code mode or another editor).

Markdown allows a paragraph to be either a single very long line (which is what Mark Text does when you create a new paragraph) or several lines of limited length, as long as there is no blank line between them. Mark Text does not allow

[2020-02-04 14:28] adrienbeau commented on #1891
This is a duplicate of #549.

[2020-02-04 14:33] adrienbeau commented on #1885
The undo/redo is not related to the keybindings, but to the way the feature is implemented. It will need a significant rewrite (planned for version 0.17.0) to work as most people expect. See #1321.

[2020-02-04 17:31] marcbenedi commented on #1777
Greetings,

I don't know if my issue is related to this but in my case, the memory usage goes up to 1.8 GiB of memory while using it to take notes (in a file with 2100 lines).

[2020-02-05 19:08] GregHilston commented on #549
This is the only feature I think Mark Text is missing to be competitive with VS Code extensions or even Notion.

I'll try to dig through and see if I can be of any assistance, as having this would allow the "self hosting" note takes the ability to easily control their notes.

[2020-02-06 00:32] MaanasArora commented on #1729
Can I work on this issue?

[2020-02-06 06:47] Jocs commented on #1729
@MaanasArora Yes, you are always welcomed to make PRs.

[2020-02-06 06:50] Jocs commented on #1777
@marcbenedi it maybe due to this issue, we'll optimize it later.

[2020-02-06 07:00] Jocs commented on #1855
@adrienbeau As @ClovisGauzy saied, you need to use `shift + enter` to create a soft break , we think create a paragraph more often than a line in a paragraph, so the `enter` key is used to create a paragraph.

[2020-02-06 07:00] #1855 closed

[2020-02-06 07:03] Jocs commented on #1857
I think custom theme(this feature will be implemented in the future) will solve this issue?

[2020-02-06 07:07] Jocs commented on #1890
In fact, this is also the result we want. We hope to realize the upload of pictures through plugins. Users can develop some plugins for uploading pictures for Mark Text. I have tried picgo-core before, as if it only supports use in the main process. Later gave up.

[2020-02-06 07:07] #1890 closed

[2020-02-06 07:23] Jocs commented on #1840
we need to drag the image over one paragraph, not just in the editor, it will show a green line when over one paragraph, we'll optimize it later.

[2020-02-06 07:25] Jocs commented on #1870
@lrq3000 Thanks, I'll take a look and update mermaid.

[2020-02-06 07:26] Jocs commented on #1871
@lrq3000 Thanks for you report this issue, I'll take a look and update vega-lite.

[2020-02-06 07:30] Jocs commented on #1843
I remember that Typora also treats soft line break and hard line break as new lines? Are you mean export html or PDF?

[2020-02-06 07:32] Jocs commented on #1889
能详细的描述你的issue 吗？步骤，版本号，结果，按照 issue template。

[2020-02-06 07:33] Jocs commented on #1888
需要更多的描述

[2020-02-06 07:54] Jocs commented on #1881
This image maybe also used in other markdown file, so we can not remove it from github repo. you need to remove the unused images in the Github repo by yourself.

BTW, we'll ready have auto save feature, but you need to enable it in the file menu.

[2020-02-06 07:54] #1881 closed

[2020-02-06 07:55] Jocs commented on #1868
Yes, it is also possible in 0.16.0-rc2.

[2020-02-06 07:55] #1868 closed

[2020-02-06 08:00] Jocs commented on #375
@grahamannett  The plugin we are talking about may not be executing JavaScript code in the html block. Instead, we will install a plugin package to enhance the functionality of Mark Text.

Any issue involving an XSS attack may not be easy to let go.

[2020-02-06 08:02] Jocs commented on #1875
how to reproduce this issue? can you give more detail.

[2020-02-06 08:17] Jocs commented on #1525
Yeh, they will be add one-by-one, not all of them above at same time.

[2020-02-06 08:21] Jocs commented on #1523
@fxha Can you paste the invalid math formula?

[2020-02-06 08:25] #1891 closed

[2020-02-06 08:28] Jocs commented on #1892
@sfjohansson Do you mean add `Recent Folders` in the file menu, Instead of mixing with recent files?

[2020-02-06 08:33] Jocs commented on #1869
This implementation may be in trouble because markdown does not have such syntax to support collapsing and expanding text？

[2020-02-06 08:39] sfjohansson commented on #1892
Hi Ran,
   Exactly, so we have two options in the drop-down menu, one for ”Recent Files” and one for “Recent Folders”. If you work on multiple "projects/folders" with many files, you still get easy access to them by having this option.

 btw...Thanks for the great work! :)

[2020-02-06 09:02] Jocs commented on #1892
Thanks, we'll optimize this in next versions.

[2020-02-06 12:33] #1698 closed

[2020-02-08 09:26] #1879 closed

[2020-02-08 09:45] JinghanHe opened #1897 "Unexpected error: Cannot read property 'getMenuItemById' of null"

[2020-02-09 15:44] lachlansneff opened #1903 "Go to specific line and column from CLI?"
### Describe your feature request

Hi,
I have a specific note taking system set up that requires text editors to be able to open to a specific line and column through the cli-interface. I'm sure the feature would be useful for others as well. There are a number ways to present this, but probably the simplest would be:

[code]

I'd be happy to contribute this feature myself.

[2020-02-10 01:45] #1897 closed

[2020-02-10 05:33] alerque commented on #1903
This would also be useful in the future for use with publishing systems that can bake links into PDFs that jump you back to the source where any given bit of output came from. LaTeX and Lilypond for example have this fully working so I can click on any word or music note and be taken to the very line and column of in my editor where those bits came from.

Support for source mapping in Pandoc is no

[2020-02-10 19:05] lukeofthetauri opened #1904 "ARM64 builds for Windows 10"
### Describe your feature request

I'd like to see ARM64 builds for Windows 10 become a standard offering

### What problem does this feature solve? [optional]

Windows 10 translation for 32 bit apps has reduced performance.

### Additional context [optional]

No additional context. Thank you!

[2020-02-11 12:46] andersennl commented on #1869
@ejm554 you mean something like this?

<details><summary>Click</summary>
This is hidden
</details>

[2020-02-11 13:57] #1838 closed

[2020-02-11 13:57] #1837 closed

[2020-02-11 13:57] #1825 closed

[2020-02-11 13:57] #1773 closed

[2020-02-11 13:58] #1523 closed

[2020-02-11 14:00] Jocs commented on #1777
@fxha I moved it to project 0.17.0, because it is not easy to solve, and it also existed in v0.15.1.

[2020-02-11 16:39] ejm554 commented on #1869
Yes, I mean something like that.

[2020-02-11 18:14] Freudentaumel opened #1905 "Convert HTML to Markdown"
Convert HTML to Markdown

Hello everybody,

I would like to know if Mark Test can convert HTML text to Markdown text.

Thanks a lot
Gerhard

[2020-02-12 08:52] sfjohansson opened #1906 "Improve zoomable user interface"
### Describe your feature request

The ability to zoom/adjust size of the document view area.

### What problem does this feature solve? [optional]

Currently the app is working fine on a laptop screen, but  unusable out of the box on my desktop with 4k screen. Resizing the window would leave the content just centered in the middle.
Being able to arbitrarily resize the view to adjust for ergonomic

[2020-02-12 12:31] qoomon opened #1907 "“Mark Text.app” cannot be opened because the developer cannot be verified."
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. open application

**Expected behavior:**

startup application

**Actual behavior:**

Error dialogue
`“Mark Text.app” cannot be opened because the developer cannot be verified.`

### Versions

- Mark Text:  v0.15.1
- Operating system: macOS Catalina 10.15.3

[2020-02-12 22:28] javafun commented on #1268
The issue still exists. I tested with the latest `martext` on windows 10. Both PDF and html export does not render any image at all.

[2020-02-14 08:30] NiklasBr opened #1908 "Font selction is limited - please allow us to use any installed font"
### Describe your feature request

Ability to select any operating system installed font

### Additional context [optional]

Currently only a few fonts are available for selection, but I would like to use any of my installed fonts for rendering the document.

[2020-02-14 08:47] salopst commented on #656
Issue remains in marktext v. 0.15.1 on MacOS Catalina 10.15.3

[2020-02-14 19:07] Shatonly opened #1909 "Typing chemical formulas and schemes"
### Describe your feature request

A way to type chemical formulas and scheme, probably in KaTeX.
Like [this](https://github.com/KaTeX/KaTeX/tree/master/contrib/mhchem).

Thanks for this amazing software.

[2020-02-14 23:24] qihuazhong commented on #1907
This may help you:
https://support.apple.com/en-ca/guide/mac-help/mh40616/mac

In short, when you first open the app, don't just double click. Use the Control-click (in my case, I click with two fingers on the touchpad) to call out and shortcut menu, and then open.

[2020-02-15 02:43] #1907 closed

[2020-02-16 10:14] #1807 closed

[2020-02-16 10:14] Jocs commented on #1807
Closed due to not active.

[2020-02-16 10:15] Jocs commented on #1796
Closed due to can not reproduce.

[2020-02-16 10:15] #1796 closed

[2020-02-16 10:19] Jocs commented on #1832
@fxha I also can not reproduce this issue, closed, feel free to reopen it if @wgqimut you can reproduce it.

[2020-02-16 10:19] #1832 closed

[2020-02-16 10:24] Jocs commented on #998
@renehummen In the future, a new feature should be supported. Mark Text will remember the last closed state, so if the sideBar was displayed last time, then the sideBar is displayed again when newly open Mark Text.

[2020-02-16 10:27] Jocs commented on #1211
There is one problem, We do n’t know which files are open, if we hide opened files

[2020-02-16 11:01] Jocs commented on #1845
The delete key should delete the text behind the cursor. Here the line break is deleted after the cursor, so `C` moved to the first item.

[2020-02-16 11:01] Jocs commented on #1795
Ok, I'll close it.

[2020-02-16 11:01] #1795 closed

[2020-02-16 11:04] Jocs commented on #1848
@CouldBeThis Help is wanted, thanks

[2020-02-16 11:08] Jocs commented on #1849
@Benjamin-Lee Can you send me a test file with soft line break, ransixi@gamil.com, I test with Typora it also render soft line break with new line(by Shift + Enter).

[2020-02-16 11:12] Jocs commented on #1854
@fxha Can you reproduce this issue?

[2020-02-16 11:13] Jocs commented on #1846
closed due to not active.

[2020-02-16 11:13] #1846 closed

[2020-02-16 11:16] Jocs commented on #1862
You can refer this document: https://github.com/marktext/marktext/blob/develop/docs/KEYBINDINGS.md

[2020-02-16 11:16] #1862 closed

[2020-02-16 11:23] Jocs commented on #1853
@pihentagy How to reproduce this problem?

[2020-02-16 11:26] Jocs commented on #732
@Irq3000 Very good advice

[2020-02-16 11:28] Jocs commented on #1877
@c-key We are plan to generate a TOC at the top of document of in the sidebar, why do you suggest  at the current cursor position?

[2020-02-16 11:30] Jocs commented on #1906
The width of the editor can now be changed in the settings, will this solve your problem？

[2020-02-16 11:31] Jocs commented on #1905
Not currently supported, but you can copy html content directly from your browser into Mark Text

[2020-02-16 11:31] #1905 closed

[2020-02-16 11:38] Jocs commented on #1869
@ejm554 Yes, it is supported by html block.

[2020-02-16 11:39] Jocs commented on #1908
@NiklasBr You can try the 0.16.0-rc.2, it support system installed font.

[2020-02-16 11:41] Jocs commented on #1268
@javafun Can you show us a failed test file with image in it.

[2020-02-16 11:43] Jocs commented on #1878
For two reasons:
1. `<br>` is the content so we show it.
2. Different from soft line break and hard line break

[2020-02-16 11:45] Jocs commented on #1880
@S1ngularity96 This requirement means, do we need some document templates? And the application can customize the template and use it when creating new documents.

[2020-02-16 11:46] Jocs commented on #1887
Can you always reproduce this issue?

[2020-02-16 12:24] Jocs commented on #1544
@all we have release version 0.16.0-rc.3, feel free to download and try it.

https://github.com/marktext/marktext/releases/tag/v0.16.0-rc.3

[2020-02-16 12:33] RoderickQiu commented on #1887
Increadibly, I cannot reproduce this issue currently... But still, if you've got time, you can check that 'getMenuItemById', still v0.15.1.

[2020-02-16 12:40] S1ngularity96 commented on #1880
@Jocs. I'm not pretty sure if I do understand.

For example... I use this line of code to get a pagebreak when writing markdown and exporting the document to pdf.

<div style="page-break-after: always;"></div>

I do not like to type this line everytime when I have to do. Instead I would like to type in @newpage and Marktext should place at the same Position the line of code.

Now my feature reques

[2020-02-16 12:45] liziqiang opened #1914 "斗图搜索后点击无响应"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Press CMD + / to open popup window
2. click one image
3. Nothing happed

**Expected behavior:**

insert image to editor

**Actual behavior:**

Nothing happened

**Link to an example: [optional]**

### Versions

- Mark Text: v0.16.0-rc.3
- Operating system: macOS Catalina 10.15.3
![Feb-16-2020 20-43-31](https://user-ima

[2020-02-16 13:07] #1802 closed

[2020-02-16 13:20] Jocs opened #1915 "Right menu disappeared"
### Description

The right menu in editor and sidebar can not be shown by right click.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open any markdown file.
2. Right click on the edit area

**Expected behavior:**

Show the right menu.

**Actual behavior:**

The right menu is not shown.

**Link to an example: [optional]**

### Versions

- Mark Text: 0.16.0-rc.3
- Operating system:

[2020-02-16 14:01] sfjohansson commented on #1906
Awesome, thanks for looking at this so quickly.

I've tested the new build and adjusting the document area width doesn't really help as the problem lies in the text size varying between different screens.

Although I did find a solution through the newly exposed command palette, using the zoom option. A little clunky...but it can get the job done, hotkeys or perhaps slider,  could would be more wo

[2020-02-16 14:02] NiklasBr commented on #1908
@Jocs I could get it to work for Code Blocks, but I am unable to click and change the font in any way for the regular editor. See screen shot below, green square: clickable, red square: not clickable.

![Screenshot (3)](https://user-images.githubusercontent.com/279826/74606028-5272e280-50cd-11ea-9015-428b4f93a9cb.png)

[2020-02-16 14:09] Jocs commented on #1908
@NiklasBr What's you Mark Text version?

[2020-02-16 14:11] Jocs commented on #1908
<img width="944" alt="截屏2020-02-16下午10 10 23" src="https://user-images.githubusercontent.com/9712830/74606179-2e34f700-5109-11ea-8cd6-aa26ac5bcc06.png">

1. Clear the selected font in the input.
2. You'll the the options...

version: 0.16.0-rc.3

[2020-02-16 15:12] NiklasBr commented on #1908
1. Impossible because it is not clickable, see the screen shot above.
2. I'll what?

I'm using v0.16.0-rc.3

[2020-02-16 18:44] laurent-simon commented on #1878
The `<br>` is the "technical" artifact used to express the content. It is not the content! Outside of editing actions, it shall not be displayed.

The `<br>` is only required when editing. Like any Markdown syntax or any other hardcoded HTML tag, It is not the content to be rendered. The content to be rendered is a line break. More generally, an HTML tag is an artifact used to express content, but

[2020-02-16 21:45] Benjamin-Lee commented on #1849
Sure here's an example:

[code]

[2020-02-16 21:45] fbruetting commented on #1845
But the two stars would need to be merged with that.

[2020-02-16 22:27] ianhinder commented on #1311
Thanks for implementing.  This would be much more useful if the focus was also transferred to the search box.  As far as I can tell, if I want to search, I hit Cmd-Shift-F, and then have to click in the search box in order to type.  I'd like to do all this from the keyboard.  Should I open a new issue?

[2020-02-17 02:34] javafun commented on #1268
@Jocs

The issue can be easily reproduced with the following steps

1. Launch `marktext` app from windows start menu
2. Use windows 10 snippet tool to capture a screenshot into clipboard
3. Paste into marktext
4. Export current document as PDF from File menu

In addition, I captured a video clip to demonstrate this issue
https://vimeo.com/365364540

Let me know if you have enough information

[2020-02-17 11:17] NiklasBr commented on #1908
Re-installed 0.16.0-rc.3 but still experiencing this. I can actually write whatever I want in the *font block* input field (why isn't it a regular drop-down by the way?) and if I spell a font correctly it works.

Still not able to use the regular editor to choose a different font.

[2020-02-17 12:40] c-key commented on #1877
If you want to have a headline or an intro text above the TOC.

[2020-02-17 23:03] gotjek opened #1916 "Table of contents in sidebar doesn't work"
### Description

When I click on an item of the table of contents, nothing happens: the view doesn't go to the title clicked.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type titles and text in a blank file.
2. Open sidebar.
3. Click on a title in the table of contents.

**Expected behavior:**

The view should go at the right title.

**Actual behavior:**

View does nothing.

**

[2020-02-18 06:47] arcqiufeng opened #1917 "Copy the file to a relative path when drag a jpg/png file into edit window, as typora does"
### Describe your feature request
as title

### Additional context [optional]

typora can do this:
![Screenshot](https://user-images.githubusercontent.com/57745184/74710824-81b85980-525d-11ea-9a0c-0aac21bc1b7c.png)

[2020-02-19 03:52] YalandHong commented on #1775
Non-ASCII? It seems that the same issue also happens to simple ASCII characters (#1916 ).

I also encounter this problem.

[2020-02-19 03:53] YalandHong commented on #1916
Duplicate of #1775

[2020-02-19 09:30] MrHeer opened #1918 "Unexpected error: e.transition is not a function"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: v0.16.0-rc.3 (1c5b714)
Operating system: Linux x64 4.15.0-88-generic (linux)

[2020-02-19 09:36] MrHeer commented on #1918
When I use the `mermaid`, I found some problems.
1. This error will appear while the mouse move out the render zone.
2. The indent will be cleared after switch `source code mode`.

[2020-02-19 10:14] evi1ox commented on #1856
Copying the code block part of the code will html escape
[code]

[2020-02-19 16:11] Benjamin-Lee commented on #1849
Just emailed you an example but have also attached it here (albeit as a txt file due to GH's limitations):

[soft-breaks.txt](https://github.com/marktext/marktext/files/4225966/soft-breaks.txt)

[2020-02-20 09:32] r4hulCorleone opened #1919 "Always RTL or LTR"
### Description

First tnx for your great editor.
The writing text direction in "Preferences>Editor>" sets direction for all text in the current document. For example Arabic language has RTL direction and English language has LTR direction.
I can not use both Arabic and English language in my current document.
- [x ] Can you reproduce the issue?

### Steps to reproduce

1. [Create a new document]

[2020-02-20 15:24] itviewer opened #1920 "remember sidebar status"
### Describe your feature request
remember sidebar open status

 every time you open a document then manually open the sidebar is too annoying

[2020-02-21 14:43] fxha commented on #1906
@sfjohansson Our latest release candidate(s) contain an option under `Window -> Zoom` or via command palette (`Ctrl+Shift+P`) to adjust the DPI but it's not persistent and I think we don't have any  settings entry for it.

[2020-02-21 14:45] fxha commented on #1920
Duplicate of #519. You can set the prefered option in setting (settings file only via `sideBarVisibility`), please see [here](https://github.com/marktext/marktext/blob/develop/docs/PREFERENCES.md#view).

[2020-02-21 14:45] #1920 closed

[2020-02-21 14:48] fxha commented on #1916
@gotjek  Thank you for reporting the issue. As @YalandHong already noticed, this is a duplicate of #1775. You may want to subscribe there for further updates. Could you please provide a document to reproduce the issue?

[2020-02-21 14:48] #1916 closed

[2020-02-21 14:51] fxha commented on #1904
Thanks for the idea! Unfortunately, we don't support ARM architecture (yet) and it's currently not planned. It would be great if we could support ARM as an (un)official platform too but non of the native dependency are configured for ARM, so it would be a bigger project to do so.

[2020-02-21 14:57] fxha commented on #1854
**Stack Trace:**

Based on v0.16.0-rc-2 (custom build), so rather rc-3.

[code]

[2020-02-21 15:06] fxha commented on #1885
Thanks @adrienbeau!

This happens because we automatically format the markdown document according CommonMark and GFM and it's (currently) not possible to keep the old format/structure.

`lastState` has only two options and the third is just a dummy for later (default value). Unfortunately, I don't have really time to implement a "session" to reopen the last application state (that was planned in v

[2020-02-21 15:06] #1885 closed

[2020-02-21 15:54] fxha commented on #1908
@Jocs I can confirm this issue. I just build v0.16.0-rc-3 from develop (1c5b714) and the font family "list" only contain the selected font family without any logged errors. rc-2 (develop, custom build) from 30 January worked correctly.

[2020-02-21 15:58] fxha commented on #1917
Thank you for reporting the issue. We noticed that this is a duplicate of #549. You may want to subscribe there for further updates.

[2020-02-21 15:58] #1917 closed

[2020-02-21 16:03] fxha commented on #1915
@Jocs Do you mean the native menu? I guess you should report it to Electron but the menu works correctly on Linux.

[2020-02-22 14:32] Jocs commented on #1915
@fxha I first suspected that the API was changed due to the upgrade of Electron. After reading the documentation and Electron's Change log, I did not find the reason. I first determined whether it was an Electron problem.

[2020-02-23 02:52] Jocs commented on #1908
@fxha @NiklasBr Can you see all the installed fonts in the drop down if you clear the selected font family?

You can see the installed font family options.

[2020-02-23 02:59] Jocs commented on #1268
I opened the link above and found it's not the marktext using video?

[2020-02-23 03:05] Jocs commented on #1919
@r4hulCorleone Do you want the `Arabic text ` RTL and `English text` LTR  in the same document?

[2020-02-23 03:12] Jocs commented on #1877
Do you mean TOC inside the document, not add TOC when exporting other documents? The TOC priority in the document will be lower.

[2020-02-23 03:37] zpdcodes opened #1922 "What content of file would be auto changed on open?"
I opened a markdown file and did nothing to change the file manually, but Mark Text tells the file has changed when I try to close the editor. The markdown file is from macos and opened in linux. What could be the possible cause for this behavior? Does Mark Text auto change something of file on open, like encoding?

[2020-02-23 03:43] Jocs commented on #1922
@zpdcodes it maybe due to this reason https://github.com/marktext/marktext/issues/1354

[2020-02-23 03:58] javafun commented on #1268
I don’t know why the link was changed. I’ve updated the link, pls check again

https://vimeo.com/391883646?ref=em-share

[2020-02-23 03:59] Jocs commented on #1849
<img width="1251" alt="截屏2020-02-23上午11 58 02" src="https://user-images.githubusercontent.com/9712830/75103287-c95f2c80-5633-11ea-8f3e-e7dacd6fd655.png">

I open the test file above by both Typora and Mark Text, (left is Typora and right is Mark Text), I can not see the difference? Typora also render soft and hard line break in new line.

[2020-02-23 04:01] zpdcodes commented on #1922
@Jocs Thanks. Mark Text auto formats my file on open, inserting some empty lines. Same issue as #1354

[2020-02-23 04:01] #1922 closed

[2020-02-23 04:07] Jocs commented on #1311
Please open a new issue about your description, it's a new feature, thanks.

[2020-02-23 04:08] zpdcodes commented on #1354
Could there be an option to turn off `trim empty lines` or `format file on open`? Sometimes I like to Mark Text as markdown viewer only and never make any change on the file.

[2020-02-23 04:08] Jocs commented on #1918
How to reproduce this issue? `TypeError: e.transition is not a function`

[2020-02-23 04:12] Jocs commented on #1354
@zpdcodes  At present, it is more difficult, because we first parse markdown into a format that Mark Text can recognize, such as a large `json`, but we don't remember how many blank lines between two blocks. When outputting, we assemble the json into text. A standard markdown file. we will only insert one blank line between blocks.

[2020-02-23 04:14] Jocs commented on #1775
@YalandHong Can you send me a test file ransixi@gmail.com, and remark the issue number. thanks.

[2020-02-23 04:15] MrHeer commented on #1918
This error will appear while the mouse move out the `mermaid` render zone.

[2020-02-23 04:16] Jocs commented on #1845
What do you think is the expected result, can you show me the expected markdown result. thanks.

[2020-02-23 04:20] Jocs commented on #1878
What you said is correct, `<br>` is indeed a tag, not content. If `<br>` does not conflict with soft line break and hard line break, we will hide it later, only display it after the cursor moves into `<br>` . thanks for you explaining.

[2020-02-23 04:22] Jocs commented on #1878
If you hide `<br>`, how is it different from soft line break?

[2020-02-23 04:28] Jocs commented on #1918
@MrHeer 可以用中文描述，我还是无法复现这个问题，怎么插入 mermaid 图标，怎么点击，是否可以截图

[2020-02-23 04:30] Jocs commented on #1268
@javafun Can you show me the markdown file content after you insert the screenshot.

[2020-02-23 05:53] MrHeer commented on #1918
1. 先插入 `mermaid` 图表
[code]
2. 将鼠标移动到图标区域，然后再移出，反复几次
3. 例如：
![Screen record from 2020-02-23 13 46 28](https://user-images.githubusercontent.com/18595761/75104409-a9d00000-5643-11ea-83ad-5987352c36e0.gif)

[2020-02-23 07:55] laurent-simon commented on #1878
The `<br>` rendering equivalent to a hard line break. So I don't understand why you compare it to a soft line break.

It should be rendered:

* Has a hard line break when the text is in edit mode

[2020-02-23 14:33] miao17game opened #1924 "cannot insert image with Aidou"
### Description

Cannot insert image with Aidou.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. ctrl+/
2. search with keywords
3. click image
4. nothing happened...

**Expected behavior:**

insert image with image url into my file in the correct position

**Actual behavior:**

nothing happened.

### Versions

- Mark Text: 1.15.1
- Operating system: Windows 10 Pro 10941.84
- Image

[2020-02-23 14:36] miao17game commented on #1924
Is this the expected behavior? or i should drag the image to desktop and insert it manually? 🤔

[2020-02-23 14:46] acicovic opened #1925 "Format overlay prevents Shift+Up/Down from working and does not accept Esc Key"
### Description

Format overlay prevents Shift+Up/Down from working and does not accept Esc Key.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Select some text to make the format overlay appear
2. Press Shift+Down or Shift+Up
3. Press Esc

**Expected behavior:**

For Shift+Down or Shift+Up, selection should be expanded. For Esc key, format overlay should close

**Actual behavior:

[2020-02-23 14:47] fxha commented on #1908
@Jocs  You're right, the UX is very bad because the list is filtered. We should instead show all font families by default and only filter if the user types, otherwise it might be confusing. But I don't know whether @NiklasBr has the same issue, at least for me, the drop down list is always shown.

[2020-02-23 14:51] acicovic commented on #1873
I'm on Windows and have the same issue. I thought this was a bug.

[2020-02-23 17:58] fbruetting commented on #1845
Of course, I updated the initial post with respecting code examples.

[2020-02-23 19:13] r4hulCorleone commented on #1919
Exactly

[2020-02-23 21:43] NiklasBr commented on #1908
No, beucase it acts as a text input field, not as a dropdown. Clicking on the chevron does nothing. There is no dropdown anywhere when I click on it (as I expect it to be). It seems to *detect* the fonts if I spell them correctly though.

[2020-02-24 00:43] Benjamin-Lee commented on #1849
That's weird. I am on Typora Beta 0.9.9.31.7. Which are you using?

To reproduce:
1. Open Typora
2. Enter source mode by cmd+/
3. Paste in. It should look like this:
<img width="719" alt="image" src="https://user-images.githubusercontent.com/13618205/75123271-f4697080-5673-11ea-8cfb-589149a8546f.png">
4. Exit source mode
5. It should look like this:
<img width="722" alt="image" src="https://user-i

[2020-02-24 14:12] Gurran opened #1926 "Codeblock colors don't adhere to theme colors"
### Description
When exporting a file containing a codeblock the colors shown in the editor is _not_ the same colors that shown up in the exported file.

- [x] Can you reproduce the issue?

### Steps to reproduce
``scss
$var-name: (

  a: $other-var,

  b: $other-var,

  c: $other-var,

  d: false,

  e: $other-var,

  f: true

);
``

![image](https://user-images.githubusercontent.com/42462633/751

[2020-02-24 23:27] javafun commented on #1268
Hi @Jocs
Below is what I copied from the MD file. I replaced my actual username with `{Username}` for privacy concern.
`
test pdf export   

![](C:\Users\{Username}\AppData\Roaming\marktext\images\2020-02-25-10-23-55-image.png)

`

[2020-02-25 08:46] bravekingzhang commented on #1914
图片上传到github也是传不了。

[2020-02-25 08:49] bravekingzhang commented on #1888
![image](https://user-images.githubusercontent.com/4476322/75230532-be9cc700-57ee-11ea-9ea9-8276ac2aed9a.png)

[2020-02-25 08:50] bravekingzhang commented on #1889
@Jocs  like #1914

[2020-02-25 13:21] andersennl opened #1927 "Link to roadmap in Github project readme leads to a 404"
### Description

The link to the roadmap (in this Github repository) https://github.com/marktext/marktext/blame/develop/README.md#L238 leads to nowhere.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open the README.md
2. Click on the link to the roadmap

**Expected behavior:**

To see the roadmap.

**Actual behavior:**

I get a 404 (page not found).

[2020-02-25 18:16] acicovic commented on #1211
Hello,

If "Opened files" cannot be hidden, it would make sense to remember its state (expanded or collapsed) so at least the user doesn't have to click it whenever the program starts. So if we collapse it, it should remain collapsed between program restarts.

Thanks!

[2020-02-25 22:57] fxha opened #1928 "Change native modules to NAPI"
### Description

We need to ensure that all native modules use the newer [NAPI](https://nodejs.org/docs/latest-v13.x/api/n-api.html) (`node-addon-api`) or are Context Aware because the older process model will be deprecated in Electron 9 and removed with version 11.

- [x] [CED - Compact Encoding Detection](https://github.com/sonicdoe/ced)
- [x] [CLD - Compact Language Detector](https://github.com

[2020-02-25 23:03] fxha opened #1929 "Remove `remote` module from renderer process"
### Description

We have to remove all `remote` calls from the renderer process and replace them by IPC messages because the module will be deprecated with Electron 10. For more details, please see [here](https://github.com/electron/electron/issues/21408).

[2020-02-25 23:11] fxha opened #1930 "Cannot use math formulas with "|" inside table cell"
### Description

I don't really know whether this is a bug or the expected behavior. A `|` character inside inline/display math is parsed/interpreted as table separator instead as a "normal" LaTeX character. Note: you need to re-parse the markdown document; switch to source-code editor and back.

**Solution:**

Ignore all `|` characters inside inline and display math formulas and only interpret ta

[2020-02-25 23:13] fxha commented on #1785
Closing as there seems no valid option to aligned a single math formula but not others.

[2020-02-25 23:13] #1785 closed

[2020-02-25 23:16] fxha opened #1931 "Unable to parse math markers with trailing spaces"
### Description

Display math syntax markers with trailing space(s) aren't interpreted as such whereas code block markers can contain trailing spaces.

- [x] Can you reproduce the issue?

### Steps to reproduce

Try to render the following example:

[code]

**Expected behavior:**

The trailing space should be ignored and parsed as a math syntax marker.

**Actual behavior:**

The math syntax marker

[2020-02-25 23:19] fxha opened #1932 "Searcher issues when switching tabs"
### Description

The search selection is still present after switching tabs.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create at least two tabs
2. Search in tab 1 for a word in the document
3. Switch tabs
4. Press on find next

**Expected behavior:**

The searcher should search in the new tab or be reset.

**Actual behavior:**

The old search information such as match count a

[2020-02-25 23:21] fxha opened #1933 "Cannot copy table cell"
### Description

An exception is thown when you select a table with `Ctrl+A` and try to copy it afterwards.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a table
2. Select a cell (with text) and press `Ctrl+A` to select the whole cell/text
3. Press `Ctrl+C`

**Expected behavior:**

The cell context should be copied.

**Actual behavior:**

An exception is thrown:

[code]

#

[2020-02-26 08:42] lilee opened #1934 "muya 中 postcss 变量是在哪里定义的？"
###  muya 中 postcss 变量是在哪里定义的？

想在自己的 React 工程中引入 muya，引入后发现 css 中的变量没有被替换，我也按`webpack.config.js`中写的那样引入了`postcss-loader` 并设置了相关参数。

另外，很希望作者能维护一个稳定的 npm 包

[2020-02-26 12:29] swift502 opened #1935 "Word count visibility with Graphite theme"
### Description

Word count has poor visibility when using the graphite theme and having the sidebar expanded or half-collapsed.

![image](https://user-images.githubusercontent.com/24359130/75344094-222ffe80-589a-11ea-936f-83c4e8407f93.png)

![image](https://user-images.githubusercontent.com/24359130/75344642-548e2b80-589b-11ea-8921-a0278bba30c6.png)

### Possible fixes

1. I'm curious why a light

[2020-02-26 13:39] lrq3000 commented on #1644
That would be awesome!

Here is a video tutorial showing in practice how the markup code interacts with the bibtex citation: https://youtu.be/hpAJMSS8pvs?t=525

And here is [an implementation in Zettlr](https://youtu.be/BJ27r6YGpAs?t=61).

[2020-02-26 15:01] kosssi opened #1936 "download new dictionaries for Hunspell failed"
### Description

It's not possible to download new dictionaries for Hunspell.

- [x] Can you reproduce the issue? ²

### Steps to reproduce

1. Go to Spelling preferences
2. Choose another language of "English (en-US)"
3. Click on add button

**Expected behavior:**

I would like download correctly the spelling file and use it on Mark Text.

**Actual behavior:**

This display an error: `Error while

[2020-02-26 17:49] swift502 commented on #1924
I also got confused with that. Clicking on the gifs seems to do nothing. I'm on Windows 10 also.

[2020-02-26 18:08] #1935 closed

[2020-02-27 06:02] dreamzoy commented on #1914
win10-1903也不行

[2020-02-27 19:55] gromovadarya90 opened #1938 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:05] renata2216 opened #1939 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 07:51] kjiempreecha opened #1944 "Pinning files to the top of the list"
### Describe your feature request

Ability to pin notes in the starting directory so that they go to the top of the list on startup.

### What problem does this feature solve? [optional]

Keeps currently relevant or important files easily viewable at the top of the page so they don't get drowned out in a large directory.

[2020-02-28 19:51] lrq3000 opened #1945 "Copy-pasting a link creates unnecessary code"
### Description

When creating a link on a highlighted text and copy-pasting the link, it will create unnecessary code that must be manually removed.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type `sample-text`
2. Highlight the text and press CTRL+L to create a link
3. Copy-paste any link

**Expected behavior:**

`[sample-text](https://github.com/marktext/marktext/issues)`

*

[2020-02-28 21:36] arngo opened #1946 "Creating a file with the same name as another file"
### Description

Creating a new file with the same name as another file in the current folder erases the contents of the original file without warning.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a folder
2. Create a new file, e.g. file.md, with some content in it
3. Close the file
4. Create a new file with the same name as the file in step 2

**Expected behavior:**

A  wa

[2020-02-29 04:50] 1-2-3 opened #1947 "Find location Issue with high DPI scaling"
### Description

Win10, the display scale of the system is 125%, MarkText version is v0.16.0-rc.3 when the document content is more than one page, the use of the search function, find the next matching text automatic positioning function failed. If the display scale of the system is adjusted to 100%, the automatic locating function of finding the next matching text will return to normal.

- [ x] C

[2020-02-29 14:13] TangXinGithub commented on #1924
I meet also same bug

[2020-03-01 06:19] 1-2-3 opened #1948 "The page jumps erratically as the last line of text is entered"
### Description

When the content is more than one page, the page will jump when the text is typed in the last line. See the picture below for the effect:

https://i.loli.net/2020/03/01/f4mXBpTKxtCGUFr.gif
![](https://i.loli.net/2020/03/01/f4mXBpTKxtCGUFr.gif)

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a document that is more than one page long
2. Type text continuously o

[2020-03-01 07:10] 1-2-3 commented on #1948
It's because I set the compatibility Settings, my mistake, close it.

[2020-03-01 07:10] #1948 closed

[2020-03-01 07:25] 1-2-3 opened #1949 "The page jumps erratically as the last line of text is entered"
### Description

When the content is more than one page, the page will jump when the text is typed in the last line. See the picture below for the effect:

![](https://i.loli.net/2020/03/01/f4mXBpTKxtCGUFr.gif)

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a document that is more than one page long
2. Type text continuously on the last line，the page jumps irregularly
3. That

[2020-03-01 14:16] pelegm commented on #1876
There are numerous bugs in katex compilations of simple equations, and I am wondering whether it is katex's fault of marktext's fault. Here's a quick example:

![Screenshot from 2020-03-01 16-12-37](https://user-images.githubusercontent.com/3422626/75627318-b8845d00-5bd7-11ea-8076-b4e15f575346.png)

There's a missing square root sign there. Going in and out from the equation, solves the issue temp

[2020-03-01 15:46] VegaDeftwing opened #1950 "Pelican Static Site Gen Image Images support"
### Pelican Static Site Generator Image Support

Pelican (docs.getpelican.com) pages are often made in a modified Markdown. In many cases tags like

[code]
are used. Documentation for this can be found here:
https://docs.getpelican.com/en/stable/content.html#mixed-content-in-the-same-directory

It would be great if Marktext could recognize these paths and display the images

Currently switching fr

[2020-03-01 19:23] pelegm opened #1951 "Square-root signs sometimes disappear"
### Description
I've reported this in a comment here:
https://github.com/marktext/marktext/issues/1876#issuecomment-593102182

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open marktext
2. Open a second tab (with <kbd>Ctrl-n</kbd>)
3. In the first tab, type $\sqrt{\log{n}}$.
4. Everything looks normal.
5. Switch to the second tab.
6. Switch back to the first tab.
7. OOPS, the squ

[2020-03-01 19:48] pelegm opened #1952 "Double * for bold does not allow "type-over" like a single *"
### Description

Typing `*` complete to `**` (with the right preference turned on), which is nice. Now, typing a character (say, `x`) and then another `*` brings the state to `*x*`, which is expected. Trying the same with `**` instead of `*` (for bold), fails.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type `**`
2. Type `x`
3. Type `**`

**Expected behavior:**

I would have ex

[2020-03-02 04:54] #1927 closed

[2020-03-02 07:09] pelegm opened #1953 "Switching tabs using alt-#"
### Describe your feature request

It would be nice to switch tabs using alt-<tab #>.

### What problem does this feature solve?
This is the default behaviour in many applications (at least in Ubuntu). Examples include firefox, nautilus, gnome-terminal, etc.

I know (from #1283) that <kbd>Ctrl</kbd>-<kbd>Tab</kbd> should cycle through tabs, but (a) it doesn't seem to work at all in Ubuntu, and (b)

[2020-03-02 07:15] pelegm opened #1954 "Tab scrolling using ctrl-tab doesn't work in Ubuntu"
### Description

Tab scrolling using ctrl-tab doesn't seem to work at all in Ubuntu.

I've noticed this bug when opening the feature request #1953, which should be an extension to the tab cycling feature.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open marktext
2. Open a new tab using <kbd>Ctrl</kbd>-<kbd>n</kbd>
3. Press <kbd>Ctrl</kbd>-<kbd>Tab</kbd>

**Expected behavior:**

[2020-03-02 14:18] prash-kr-meena opened #1955 "No option for spell check on mac OS Catalina"
### I wasn't able to find any option for enabling spell checking on the mark text's mac app.

Is this feature built on mac?  I am studying the documentation and in there it does mention spell check in  mac, but i am unable to find it.

[2020-03-02 17:46] pelegm commented on #1955
I also don't see spell check in my Ubuntu 18.04.4, marktext v0.15.1.

[2020-03-03 06:57] integzz opened #1956 "Pandoc Integration"
### Describe your feature request

Hi, Marktext ! Your app is great, it is the best open source markdown editor.

I think it can be better if it has **Pandoc** integration.

### What problem does this feature solve? [optional]

**Pandoc** is a swiss knife for document format convertion, and it can rise the work efficiency.

### Additional context [optional]

Moreover, if you can add **.bibex** int

[2020-03-03 10:02] michaelbaril opened #1957 "Emojis in heading not displayed properly in table of contents"
### Description

When a heading contains an emoji, the emoji code is displayed instead of the emoji in the table of contents.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create document with an emoji in a heading
2. Show table of contents in sidebar

**Expected behavior:**

The emoji should be displayed.

**Actual behavior:**

The emoji code is displayed.

### Versions

- Mark

[2020-03-04 01:07] 1354686404 commented on #1924
I meet the same bug in MacOS 10.13.5

[2020-03-04 01:38] zpdcodes opened #1960 "[Feature Request] Quick filter by filename with hotkey"
### Describe your feature request

It would be good if we have quick filter function to filter files by filename. It can be a filter box in the files list view and refresh instantly while typing, or like the "go to anything" function in Joplin app. And it's different from current search function.

### What problem does this feature solve? [optional]

The goal of this filter feature is to find file

[2020-03-04 04:38] prash-kr-meena opened #1961 "Unable to Export file containing emojis and formatting."
- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a `.md` file open it in source code mode and put my code in it.
2. You have to open it in source code mode then only it can copy other wise you will not be able to even copy the content of the file
3. After that just go to `files -> export -> HTML/PDF`
4. You will not see any dialogue box  for exporting or saving it as an `.html

[2020-03-04 23:55] j718 opened #1962 "Rendering of notes is significantly slower when I add mermaid diagrams."
### Description

When I add a mermaid diagram, everything that I add afterwards takes a very long time to load. Are the diagrams being rerendered with each change?
- [ X] Can you reproduce the issue?

### Versions

- Mark Text: 0.16.0-rc.3
- Operating system: Windows 10

[2020-03-05 14:36] prash-kr-meena opened #1963 "Code formatting/indentation not maintained while pasting"
### Description
- [ x] Can you reproduce the issue?

### Steps to reproduce

1. Create a `.md` file and then create a code block in it, i am using the `java` language.
2. Now paste [this code](https://www.cs.utexas.edu/~scottm/cs307/javacode/codeSamples/FilterExample.java) in the code block
3. Now you will see that the code is correctly pasted in the code block, but the issue is when you copy the

[2020-03-05 14:37] fish-404 opened #1964 "Wish Add Cypher Syntax Highlight"
Wish add Cypher syntax highlight in code block.
It's used in Neo4j which is a graph database.
The Cypher manual : [The Neo4j Cypher Manual v3.5](https://neo4j.com/docs/cypher-manual/3.5/).

[2020-03-05 15:11] lrq3000 commented on #1945
Note: if right-clicking and clicking on "Paste as Plain-text", then it works fine. I suggest that Mark Text should autodetect if it's inside a link markup, and if true, paste a link as plain-text by default.

[2020-03-05 16:14] xgouchet opened #1965 "Support CriticMarkup"
### Describe your feature request

Add support for the CriticMarkup syntax.

#### Syntax

[code]

### What problem does this feature solve?

CriticMarkup allows providing edit/comments when reviewing a Markdown document.

### Additional context [optional]

The Addition, removal and substitution syntax is even handled by GitHub ;)

[2020-03-07 16:42] sfjohansson commented on #1906
This is great...it's kind of fine not persisting if treated like zoom. In my case...I'm fine not zooming when it's the 1080p screens but need to zoom on 4k. Moving the window over to the other screen I need to zoom out again..so easy access feels important.

The usability would increase even more if we can have the zoom step amount adjustable in preferences along with hotkeys/keycombo+mouse scroll

[2020-03-07 19:29] Rishgod commented on #627
this does not work of you want to add more than one image file!

[2020-03-07 21:55] Greg-McPherran opened #1966 "Don't Modify File Just by Viewing"
### Description

When open existing file just to view, it becomes modified, and because I use AutoSave, it saves the changes. The changes made relate to adding blank line after SetExt heading (e.g. heading 2). When I edit it as text I have no blank line after the SetExt "-----------------" but MarkText adds it. Even if this or other sytnax is not right, I don't want MarkText to change the file aut

[2020-03-09 03:20] maidmeow4 opened #1967 "[No offense]This application is badly translated."
### Question description

It's a really nice markdown editor, but those descriptions in settings window is translated really bad, and very hard to understand.
For instance, see the screenshot here
![image](https://user-images.githubusercontent.com/8447650/76179861-34ddf800-61f7-11ea-8f20-079d70355270.png)

Perhaps the developers are not good at the English language?
My opinion is that we should us

[2020-03-09 09:20] r4hulCorleone opened #1969 "Can't Open Links To Local Files"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Put a pdf file to same directory as the md file exists. For example, I put "A.pdf" in directory, and create a link in my markdown document like:    [link to A file](A.pdf)

**Expected behavior:**
By Ctrl+Click  on link , i expect to open A.pdf file like when I use double click to open files in windows.

**Actual behavi

[2020-03-10 03:06] davidmichaelhuber opened #1971 "Does rendering happen locally only?"
When viewing/editing files with Mark Text will the data in those files ever leave my system? Is anything rendered by an external api of some sort or does everything happen locally?

[2020-03-10 08:19] pihentagy commented on #1853
Sorry for making noise. This bug was invalid, I tampered the code (tried to implement separating recent files and folders).

[2020-03-10 10:13] xingdaos commented on #1268
@Jocs I have update to v0.16.0-rc.3 , but this problem is still exist , this file is the video for the question to appear .
[export-pdf-noImage-video.zip](https://github.com/marktext/marktext/files/4311650/export-pdf-noImage-video.zip)

[2020-03-10 21:43] fxha commented on #1969
Thank you for reporting the issue. We noticed that this is a duplicate of #1688. You may want to subscribe there for further updates.

[2020-03-10 21:43] #1969 closed

[2020-03-10 21:46] fxha commented on #1963
Thank you for reporting the issue. We noticed that this is a duplicate of #942 that is already fixed in our latest release candidate. You can download the latest release candidate from Github releases.

[2020-03-10 21:46] #1963 closed

[2020-03-10 21:49] fxha commented on #1961
Thank you for reporting the issue. We noticed that this is a duplicate of #1738 that is already fixed in our latest release candidate. You can download the latest release candidate from Github releases.

[2020-03-10 21:49] #1961 closed

[2020-03-10 21:50] fxha commented on #1960
Thank you for taking the time to report the issue. We already added a quick open dialog (<kbd>CmdOrCtrl</kbd>+<kbd>P</kbd>) to quickly open a file from the opened root directory or editor in our latest release canidate. You can download the latest release candidate from Github releases. Feel free to reopen the issue, if this is not a duplicate.

![mt_quick_open](https://user-images.githubuserconte

[2020-03-10 21:50] #1960 closed

[2020-03-10 21:51] fxha commented on #1955
Yeah your right, our documentation is based on v0.16.x that is currently in testing. Unfortunately, v0.15.x has no spell checking but you can download the latest release candidate from Github releases.

[2020-03-10 21:51] #1955 closed

[2020-03-10 21:51] fxha commented on #1954
Thank you for reporting the issue. Unfortunately, v0.15.x has no support of these shortcuts and our documentation is based on v0.16.x. You can try out our latest release candidate [here](https://github.com/marktext/marktext/releases/tag/v0.16.0-rc.3).

[2020-03-10 21:51] #1954 closed

[2020-03-10 21:57] fxha commented on #1936
Thank you for taking the time to report this issue! This seems to be a duplicate of [this](https://github.com/axios/axios/issues/552#issuecomment-267038885) issue in the http library which we use to download the dictionaries.

[2020-03-10 22:24] fxha commented on #1944
Thank your for open the issue. We may implement this feature but we first need implement a session manager (#988) to realize this feature.

[2020-03-10 22:36] fxha commented on #1971
Thanks @davidmichaelhuber for your question. No, Mark Text is a desktop application that doesn't require a internet connect and *all data is processed locally* in the application. We do not make any http requests or send any user data to a (external) server. However, we fetch external images that are embed in your markdown document or check automatically for updates in some packages. Feel free to

[2020-03-10 22:36] #1971 closed

[2020-03-10 22:48] fxha commented on #1967
Thanks @maidmeow4 for your feedback. You could try out the latest release candidate from Github releases that include a lot of enhancements and features. There is also an open PR (#1967) to improve overall spelling. If you find other spelling mistakes or possible improvements, feel free to comment or open issues, so we can solve these issues.

[2020-03-11 03:14] zpdcodes commented on #1966
The automatic changes issue is discussed at #1354 . For now MarkText would parse the file before showing it in editor, which cause some automatic changes.

[2020-03-11 03:41] Greg-McPherran commented on #1966
Solution: Offer and "Open for Viewing" menu option, that opens the file as read only. From there the user could switch to "editing mode" if they want.

This allows you to keep parsing and changing your internal buffer the way that you already do - just the buffer won't be treated as a file to be saved unless user switches to "edit mode".

Thank You.

[2020-03-11 07:06] bela127 commented on #375
a simple drawing plugin would be perfect...
Like this:
[](https://github.com/fabiocolacio/Marker/blob/master/help/C/figures/sketcher.png)

[2020-03-11 07:14] bela127 commented on #375
and the possibility to customise the passing process, would be helpful in a plug-in system.
for example registration of a plugin for:
- a special character sequence
- a start end end sequence
the plugin then can process:
- the line after start
- or the hole text between start and end
and outputs:
- a virtual DOM element for display

[2020-03-11 07:25] bela127 commented on #375
the special sequences should allow variable placeholders
the definition of the image size like this:

[code]
is used in some markdown editors.

with the above plugin proposal one could simply return a DOM element with the image of the appropriate size.
basically every possible markdown syntax could be implemented in this manner.

The registration for the plugin
`![](https://miro.medium.com/max/145

[2020-03-11 07:32] bela127 commented on #375
by the way, nice work, your plans of going international are working, marktext reached Germany ;)

[2020-03-11 08:21] zpdcodes commented on #1966
@Greg-McPherran As a suggestion, you might close this issue and follow up to #1354 to get latest update related to automatic changes. The dev team are discussing possible option there. I'm also a user who wants the read-but-not-auto-change behavior.

[2020-03-11 12:54] pelegm commented on #1876
KaTeX, or at least the version used by marktext, does not seem to support `\substack`, which is a shame.

[2020-03-11 19:34] davidmichaelhuber commented on #1971
Alright, thanks a lot!

So just for clarification, as long as "Image" > "Insert absolute or relative path of image" is selected my local images will never ever get uploaded somewhere but are solely copied into the specified local image folder, right?

[2020-03-11 20:12] magnus-w opened #1972 "The document scroll doesn't follow the text input on macOS Catalina"
## Description
When writing a document and the text gets longer than the size of the app window, the document doesn't 'scroll with' the writing but the writing disappears under the lower end of the app window.

Just to compare, this isn't true in v0.15.1 on Elementary OS. There, the document automatically scrolls down to follow the text input when it goes below the lower edge of the document windo

[2020-03-12 03:51] FlashIvano opened #1973 "从代码块复制到剪贴板时需要保持原格式"
### Description

现在从代码块中复制内容时会进行HTTP的URL编码

- [ ] Can you reproduce the issue?

### Steps to reproduce

[code]

复制出来变成：

[code]

**Expected behavior:**

原样

**Actual behavior:**

自动进行URL编码

### Versions

- Mark Text: 0.16.0 rc3
- Operating system: Windows 10

[2020-03-12 06:06] Ryder233 opened #1974 "Add Chinese please!❤"
### Describe your feature request

### What problem does this feature solve? [optional]

### Additional context [optional]

[2020-03-12 07:31] MrHeer commented on #1953
I want to take it.

[2020-03-12 16:47] nshusr opened #1976 "不支持Html的a标签渲染"
<a href="tel:+xxxxxxxxxx">xxxxxxxxx</a>
<a href="mailto:nxxxx@gmail.com" target="_top">nxxxx@gmail.com</a>

[2020-03-13 19:17] r4hulCorleone commented on #1969
tnx.

[2020-03-14 07:41] vio1etus opened #1977 "Manjaro Linux 剪切板 Ctrl+v 上传图片失败"
## Info

System info：
Operating System: Manjaro Linux
KDE Plasma Version: 5.17.5
KDE Frameworks Version: 5.66.0
Qt Version: 5.14.1
Kernel Version: 5.4.23-1-MANJARO
OS Type: 64-bit
Processors: 4 × Intel® Core™ i5-7300HQ CPU @ 2.50GHz
Memory: 15.5 GiB of RAM

Marktext Info:
0.16.0-rc.3  and Mark Text v0.15.1
I tried both of them, all fail

### Description

Picture will be uploaded successfully when

[2020-03-15 02:42] AsmisAlan opened #1979 "Mark text cant open .md files edited in other editors."
When I tried to open old .md files creted in other editors ([document node](https://documentnode.io/) and [vscode](https://code.visualstudio.com/)) the program give me this error:

![image](https://user-images.githubusercontent.com/14351502/76694041-771a9580-664c-11ea-8492-cb0daeb45046.png)

1. Create an empty .md file and edit in other editor.
2. Try to open the file with mark text.

- Mark Text:

[2020-03-15 06:34] blsz opened #1980 "vertical alignment for inline images or inline math"
Inline images align to bottom while inline math aligns to top.

It would be nice to control vertical alignment on at least one of the two:

![Annotation 2020-03-14 232805](https://user-images.githubusercontent.com/1937545/76696752-e3e16000-664b-11ea-87a5-2bd15afb07d8.png)

[2020-03-15 08:06] gruenheit opened #1981 "Unexpected error: Cannot read property 'webContents' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 19.3.0 (darwin)

[2020-03-15 09:44] zpdcodes commented on #1292
Love the emacs keybindings. Marktext uses `ctrl` as primary modifier key on linux platform, so there would be some conflicts with emacs bindings, for example, `ctrl + n/p/f/b` movement keys. Marktext would need to support using `Super` as primary modifier key.

[2020-03-16 06:58] SandBlock4 commented on #1951
I can reproduce this issue as well. Square root simply won't render unless the equation is being clicked on.
![Untitled](https://user-images.githubusercontent.com/30970698/76730534-93831300-67af-11ea-8ae3-f35055a320c5.gif)

### Version
Mark Text: v0.15.1 (Flatpak)
OS: Fedora 31

[2020-03-16 08:17] moriwang opened #1982 "The mac release can not work on 10.15.3"
### Description
The release ends with .zip is not working on Mac. Tried both 0.15.1 and 0.16-rc3. The alert showed "can not open the application Mark text". The binary file in "Mark text.app/Contents/MacOS" is not executable. I googled this error and found the file lost permission, so I tried chmod +x on it, then the application could open but crashed immediately.

But the dmg one works totally fi

[2020-03-16 09:54] Kimi-Arthur opened #1983 "Should use visual width when prettify the tables"
### Description

When prettify the source code of tables, this seems to base the width on the number of characters in the cell, which can be unintuitive.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a table like the following:

| A   |
| --- |
|     |
|     |

2. Input the following values into the same column of row 1 and 2.

   - nɔx
   - aʊ̯x

3. Open Source Code Mode

[2020-03-17 03:12] blleng opened #1984 "在 Manjaro Linux 上通过 AUR 安装失败"
### Description

我尝试在 Manjaro 上通过AUR安装Marktext，但是失败了。

失败出现在 prepate() 中，执行 `electron-rebuild -f` 时发生了错误：

[code]

- [x] Can you reproduce the issue?

### Steps to reproduce

1. `yay -S marktext-git`
2. All packages to CleanBuild
3. None diffs to show
4. Fail

**Expected behavior:**
成功安装

**Actual behavior:**
安装失败

**Link to an example: [optional]**

### Versions

- Mark Text: marktext-git-r1380.6

[2020-03-17 07:36] trevorwang opened #1985 "Unexpected error: Cannot read property 'webContents' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 19.3.0 (darwin)

[2020-03-17 07:44] trevorwang opened #1986 "Do NOT popup a window if there's no change on a file"
### Describe your feature request

Do NOT popup a window if there's no change on a file
### What problem does this feature solve? [optional]

There are no changes on my file but it showed me a popup window when I was trying to close it.

### Additional context [optional]
![Screen Shot 2020-03-17 at 3 41 41 PM](https://user-images.githubusercontent.com/121966/76833287-0222a800-6866-11ea-84a8-9a5719

[2020-03-17 07:45] trevorwang opened #1987 "Unexpected error: Cannot read property 'submenu' of null"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.15.1
Operating system: Darwin x64 19.3.0 (darwin)

[2020-03-17 08:44] keienatinb commented on #184
![image](https://user-images.githubusercontent.com/54785533/76837869-3a2de900-686e-11ea-8c32-3a48d82ef92c.png)
我打开了这个功能，但是我无法将喜欢的动图贴到里面去，单击双击都不信，是我的操作有问题吗

[2020-03-17 17:54] fxha commented on #1971
Yes that's right, as long as you don't select "upload to cloud".

[2020-03-17 17:58] fxha commented on #1906
Dynamic DPI scaling is only supported on Windows (10) but is very bugged by Electron/Chromium.

[2020-03-17 18:02] leethater opened #1988 "Copying/cutting the entire line if nothing selected"
In most text editors, if you press Ctrl+C/Ctrl+X and there's no text selected, the editor will apply the operation on the whole line where the cursor is located.

If this feature is possible and is not in contradiction with what the maintainers want and with current code, I would like to suggest myself for working on it.

[2020-03-17 18:10] fxha commented on #1974
Thank you for reporting the issue. We noticed that this is a duplicate of #138. You may want to subscribe there for further updates.

[2020-03-17 18:10] #1974 closed

[2020-03-17 18:13] fxha commented on #1979
Thank you for reporting the issue. We noticed that this is a duplicate of #1703. If you like, you can download the latest release candidate from Github releases to solve the issue.

[2020-03-17 18:13] #1979 closed

[2020-03-17 18:19] fxha commented on #1972
@magnus-w Thanks for your feedback! We already changed the behavior to automatically follow the cursor while writing. You can try the latest testing version from Github releases (`v0.16.0-rc.3`).

[2020-03-17 18:19] #1972 closed

[2020-03-17 18:22] fxha commented on #1985
Thank you for reporting the issue. I think this is a duplicate of #961. If you want, you can try the latest testing version from Github releases (v0.16.0-rc.3).

[2020-03-17 18:22] #1985 closed

[2020-03-17 18:22] fxha commented on #1981
Thank you for reporting the issue. I think this is a duplicate of #961. If you want, you can try the latest testing version from Github releases (v0.16.0-rc.3).

[2020-03-17 18:22] #1981 closed

[2020-03-17 18:27] fxha commented on #1984
Thank you for taking the time to report this issue. Based on the provided data, we'll go ahead and close this issue as it's not an official packages; only a community maintained package.

[2020-03-17 18:27] #1984 closed

[2020-03-17 18:29] fxha commented on #1986
Thank you for reporting the issue. We noticed that this is a duplicate of #1966. You may want to subscribe there for further updates.

[2020-03-17 18:29] #1986 closed

[2020-03-17 18:32] #1967 closed

[2020-03-17 19:26] magnus-w commented on #1972
👍

[https://res.gethop.com/c/?id=bs8vkvuhyijfcdh5&s=48&m=c&_ts=fc2dn]              Magnus Westerberg - Chat @ Spike<https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=fc2dn>       [fc2dn]

On March 17, 2020 at 18:19 GMT, Felix Häusler <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #1972<https://github.com/marktext/marktext/issues/1972>.

—
You are receiving this

[2020-03-18 00:37] blleng commented on #1984
Ok, thanks for your reply.

[2020-03-18 17:48] Yichen-Dou commented on #549
Please add the feature to save images to the [opend directory]/assets/. For users using private cloud or Git to manage their projects or resources, saving images to a temp folder is such a pain. Thanks

[2020-03-19 10:09] hematogender commented on #1915
Reproduced successfully, nothing happens on right click.

v0.15.1 though (stable)
Win10

[2020-03-19 17:58] Li-An opened #1990 "I cannot find spelling options"
### Description

Hello, I must be blind, I don’t find spelling options in Preferences. The official Wiki talks about Settings but I don’t find how to show this.

### Steps to reproduce

Find Settings window

**Expected behavior:**

Easy to find Settings

**Actual behavior:**

Cannot find Settings

### Versions

- Mark Text: 1.5.1
- Operating system: Win 10 64 bits

[2020-03-20 14:17] znatno opened #1991 "macOS Malware Alert"
### Description

Apple alert that app can be malware

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Move App to /Applications/
2. Open App

**Expected behavior:**

Opens the app

**Actual behavior:**

Showing alert

**Link to an example: [optional]**

### Versions

- Mark Text: 0.15.1
- Operating system: macOS 10.15.3

[2020-03-21 01:02] #1936 closed

[2020-03-21 01:07] #1934 closed

[2020-03-21 01:44] Jocs commented on #1914
和 #1889 重复，先关闭了。

[2020-03-21 01:44] #1914 closed

[2020-03-21 17:08] acicovic commented on #1990
Hi,

As far as I know this will be released in 1.6. It should be in the 1.6 pre-releases.

[2020-03-21 17:32] jadupl2 opened #1992 "Can't run on latest CentOS 7"
### Description
Can't run marktext on CentOS 7 Latest

Can't run it, see example below
jacques@holmes:~/Downloads $ uname -a
Linux holmes.maison.ca 3.10.0-1062.18.1.el7.x86_64 #1 SMP Tue Mar 17 23:49:17 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
jacques@holmes:~/Downloads $ lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:la

[2020-03-21 17:33] Li-An commented on #1990
Thanks. Do you know where I can find the 1.6 RC  ? I cannot find.

[2020-03-21 17:35] acicovic commented on #1990
You can find all releases including pre-releases here:
https://github.com/marktext/marktext/releases

[2020-03-21 17:38] Li-An commented on #1990
Thanks à lot :-)

[2020-03-21 17:38] #1990 closed

[2020-03-22 16:30] IORoot opened #1995 "Increase folder indentation?"
### Question description

Hi. Is there any way to increase the indentation width of the subfolders in the side panel? It's a little narrow for my taste. It looks to be about 6px difference between the parent folder and child, but I'd preferably want it at least the width of the icon, maybe more, which seems about 12 - 15px.
If this isn't possible, perhaps this could be a feature request instead?
T

[2020-03-22 21:47] Drallas commented on #1701
I also would like to have support for Git Commit / Push from the editor?
Some of my libraries are connected to a Github / Gitlab repository and now i need to leave Mark Text to sync upstream. I don't think this is out of scope, it's a normal feature that some user expect!

[2020-03-22 21:49] Drallas opened #1996 "GIT Support"
I think it would be nice to have support for Git Commit / Push from the editor?
Some of my libraries are connected to a Github / Gitlab repository and now i need to leave Mark Text to sync upstream. I know it has been asked before but i think it shoud be reconsidered!

[2020-03-22 21:55] sfjohansson commented on #1996
Maybe a way to do this could be to  have to have generic “marktext hooks”, for events like modifying/saving/add image/closing app. Users could hook up their own system commands.

[2020-03-23 05:13] Jocs commented on #1996
For the time being, we will not consider supporting Git directly in marktext. We should consider that marktext is just a markdown editor. Later, it supports plugin extensions. Git can be introduced as a plugin.

[2020-03-23 05:13] #1996 closed

[2020-03-23 06:40] hwyywh opened #1997 "Why did the exported file figure disappear?"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

I inserted an image into the document and it disappeared when I exported the PDF file

[2020-03-24 06:29] LuckyHookin opened #1998 "An error occurred while copying"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

![1](https://user-images.githubusercontent.com/45350455/77394956-81baf480-6ddb-11ea-9d73-c2dee22ae560.gif)

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text: 0.16.0-rc.3
- Operating system: win10

[2020-03-24 09:13] frxing opened #1999 "Invalid shortcut key for bullet list"
### Description

- [ ] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text:
- Operating system:

[2020-03-24 16:50] fxha commented on #1992
Thank you for reporting the issue. We noticed that this is a duplicate of [#1236](https://github.com/marktext/marktext/issues/1236#issuecomment-533674753).

[2020-03-24 16:50] #1992 closed

[2020-03-24 16:54] fxha commented on #1997
Thank you for reporting the issue. We noticed that this may be a duplicate of #1367. You could download the latest release candidate from Github releases - otherwise replacing all path spaces with `%20` should work too. Please try out, whether you can reproduce this issue on the latest release candidate or with an image without path spaces.

[2020-03-24 16:55] fxha commented on #1999
Thanks for creating this issue. We cannot reproduce this issue without steps to reproduce, please provide some steps or what you mean by "invalid shortcut".

[2020-03-24 16:59] fxha commented on #1998
Thank you for reporting the issue. We noticed that this is a duplicate of #1821. You may want to subscribe there for further updates.

[2020-03-24 16:59] #1998 closed

[2020-03-25 02:57] #1915 closed

[2020-03-25 14:34] fxha opened #2000 "Weird code block/display math overflow behavior"
### Description

Long code block and display math lines are scrolled and are unable to edit because the scrollbar always jumps to the beginning of the line after you stop writing.

### Steps to reproduce

1. Create a code block or display math that the horizontal scrollbar is visible.
2. Scroll to end and write a new word.
3. Wait a bit and write another word.

**Expected behavior:**

The text sho

[2020-03-25 14:39] fxha opened #2001 "Image path autocomplete is bugged"
### Description

If you want select an image path from path auto-completion the existing text is not replaced.

### Steps to reproduce

1. `![]()` -> the image picker overlay is shown.
2. Write `as`, now you get a completion list of `assets/`.
3. Select  `assets/`.
4. The result will be `asassets/` instead `assets/`.

**Expected behavior:**

The old text should be removed, so that we got `assets/`

[2020-03-25 17:43] jjnilton opened #2002 "Allow disable inline math format ($)"
### Describe your feature request

Option to disable inline math format that appears when typing the character `$`.

(or maybe allow to change the character that triggers it)

### What problem does this feature solve? [optional]

When writing texts with currency this becomes a problem, as it tries to show a math formula and expects the character to close.

### Additional context [optional]

I know

[2020-03-26 10:10] Jocs commented on #2002
Yeh, I suppose that you should use `\` to escape the `$`.

[2020-03-26 13:02] jjnilton commented on #2002
Alright, I could see this being a bit annoying for those who doesn't use math at all in the documents but use a lot of currency characters. Maybe because I'm not used to this behavior in other markdown editors I've used before it became noticeable.

[2020-03-27 02:15] MrHeer opened #2003 "yarn install error"
### Question description
When I run `yarn install`, will appear the following error. Is there any way to solve it？
[code]

[2020-03-27 02:20] Jocs commented on #2003
Is it due to bad net connection?

[2020-03-27 03:54] MrHeer commented on #2003
Maybe, my network is accessible, but it seems that there is a problem accessing this resource.

[2020-03-27 05:12] blsz opened #2007 "ordered lists are automatically re-numbered"
How to interrupt a number sequence in an ordered list?

Hitting enter twice to start a new ordered list with a different starting number works as long as you do not open in source code view.   Toggling source code view automatically removes the blank lines, joins the 2 separate ordered lists, and renumbers all the items.

Is there a supported method to create an ordered list with out-of sequence n

[2020-03-27 05:28] bravekingzhang commented on #1924
看了下源码，应该是sm图床api升级导致的，不知道formdata中是否在支持blob了，也不大好调试，等官方修复

[2020-03-27 05:33] bravekingzhang commented on #1924
[code]
现在api已经是V2版本了，https://sm.ms/api/v2/upload，麻烦官方适配一下，另外fetchImgToBase64函数，response拿到的data是一个string，虽然axios中指定responseType是blob。

[code]

[2020-03-27 05:38] bravekingzhang commented on #1888
[code]
这里是err 是
`bad credentials` ，麻烦看下，应该是github的api已经更新了，需要换一下Octokit rest的版本，目前最新的是v17了。看到项目还是用的v16
@Jocs

[2020-03-27 06:36] bravekingzhang commented on #1924
显然不是，以前用过，是点下就插入了，看代码也是有那个回调的，只不过，现在上传图片就挂了。

[2020-03-27 15:46] Jocs commented on #1924
@bravekingzhang 欢迎提交 PR

[2020-03-28 00:05] RyanGreenup opened #2010 "No Option to watch storage for changes"
### Description

A common use case I have is to type up documentation in vim or emacs but use marktext / typora as a previewer.

Unfourtunately, every time a change is made to a file outside of marktext it won't automatically reload from disk, it will however give an option to reload which requires a click, whereas many other applications will watch for changes (Typora, Zettlr, emacs, vim, VsCode,

[2020-03-28 03:10] ChungZH opened #2013 "Cursor jump to somewhere"
### Description

When I type in a code block, the cursor jumps to somewhere.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Insert a code block
2. Type something...
3. At last cursor jump to somewhere

**Expected behavior:**

Normal

**Actual behavior:**

Jump and jump.

**Link to an example: [optional]**

![mt.gif](https://i.loli.net/2020/03/28/lOPyB4IgkA5xuTY.gif)

### Versions

[2020-03-28 03:12] Jocs commented on #2003
Maybe, you need try again. Closed due to it's not an issue of Mark Text.

[2020-03-28 03:12] #2003 closed

[2020-03-28 08:13] mondlicht-und-sterne opened #2014 "Translation"
### Translation Marktext

will there ever be the possibility to translate marktext into other languages?

[2020-03-28 11:08] Li-An opened #2015 "Underline in spelling error is not showing"
### Description

Spelling errors are not underlined

**Expected behavior:**
It should work :-) (it worked on a previous version)
The right click suggestion works as intended.

### Versions

- Mark Text: 0.16.1
- Operating system: Win 10 64 bits

[2020-03-28 13:51] Loyalsoldier opened #2016 "Incorrect sha256 hash for v0.16.1 dmg installer on macOS"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Download v0.16.1 dmg file
2. `shasum -a 256 marktext.dmg`
3. The output sha256 hash is `676fbcb7230e736f6b41b3ee21df864131565dee45b212b658990e7760218962`, different from the one written in release note.

### Versions

- Mark Text: v0.16.1
- Operating system: macOS Catalina 10.15.4

[2020-03-28 15:05] Jocs commented on #2016
Updated, can you help check is it right now?

[2020-03-28 15:16] Loyalsoldier commented on #2016
It is correct now.

But you miss the sha256 hash of files `marktext-amd64.deb` and `marktext-x86_64.rpm`

[2020-03-28 15:16] #2016 closed

[2020-03-28 18:22] wang93wei opened #2017 "Multi-language support"
### Describe your feature request

Hope to support multiple languages

### What problem does this feature solve? [optional]

Can help non-native English speakers get started using it faster.

[2020-03-29 08:52] coffeemug13 opened #2018 "Autocomplete/suggest Links to other pages"
### Describe your feature request
You open the editor in a root folder, with subfolders and different md files. When you enter a link to another page, in another directory it is cumbersome to enter it manually. Better would be like in autocompletion, when you start writing after the first "[" you suggest links to pages which fit the pattern. This way, you can create, e.g. references between projec

[2020-03-29 10:50] chinagui opened #2019 "After I changed the maximum width of the editor area, the contents of the file could not be fully displayed"
### Description

After I changed the maximum width of the editor area, the contents of the file could not be fully displayed. But not for all files. These document was previously written by typora.
- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]Click the preference of Mark Text, then select Edtior item, define the maximum width of the editor area to be 90%.
2. [Second s

[2020-03-29 11:19] DannyBen opened #2020 "HTML entities inside code fence should not be replaced"
### Description

HTML entities (such as `&amp;`) inside code fence are replaced with the character they represent instead of remaining as is.

- [x] Can you reproduce the issue?

### Steps to reproduce

![screencast](https://user-images.githubusercontent.com/2405099/77847756-1f416a00-71c8-11ea-8e3e-e668f13a6faf.gif)

1. Open a new empty file
2. Start a code fence
3. Inside the code fence, type `&a

[2020-03-29 12:06] fxha commented on #2014
Thank you for reporting the issue. We noticed that this is a duplicate of #138. You may want to subscribe there for further updates.

[2020-03-29 12:06] #2014 closed

[2020-03-29 12:06] fxha commented on #2017
Thank you for reporting the issue. We noticed that this is a duplicate of #138. You may want to subscribe there for further updates.

[2020-03-29 12:06] #2017 closed

[2020-03-29 12:09] fxha commented on #2015
Thank you for taking the time to report this issue but unfortunately, we cannot reproduce the issue. Please provide steps or an example that we can reproduce the issue. Maybe you enabled "don't underline spelling mistakes" in settings?

[2020-03-29 12:22] fxha commented on #1544
Mark Text version 0.16.1 has been released and the release process is finished. Please see [here](https://github.com/marktext/marktext/blob/master/.github/CHANGELOG.md) for changes.

[2020-03-29 12:22] #1544 closed

[2020-03-29 13:51] Hoffenbar opened #2021 "0.16.1.2025 doesn't start on Windows 10"
### Description

Program starts with an error message, see screenshot.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Doubleklick mark text.exe

**Expected behavior:**

Program dialogue should appear

**Actual behavior:**

Error message appears, see screenshot.

### Versions

- Mark Text: 0.16.1.2025
- Operating system: Windows 10 1909 (Build 18363.720)
![2020-03-29 15_50_36-Windo

[2020-03-29 13:51] Li-An commented on #2015
OK, I’m French, so I chose **Français** as language. But it does not work with this choice. If I choose another suggested language as English (en-US) or Français (fr-BE), it works correctly. So I don’t have some Français (fr-FR) to choose. I may stay with another Français (fr-xx) but it’s a little frustrating.

<img width="713" alt="2020-03-29_15h45_37" src="https://user-images.githubusercontent.c

[2020-03-30 07:34] Dssdiego commented on #1142
Confirmed on the macOS Catalina v10.15.3 as well... Any italic breaks the export to PDF.
I'm using the **v0.16.1**

[2020-03-30 11:02] NiklasBr commented on #1908
I installed v0.16.1 and the issue persists

[2020-03-30 11:58] meijialun opened #2022 "中国的网络几乎没法下载这个软件"
有没有国内的下载途径？

[2020-03-31 03:19] GmwEnterprise commented on #2022
翻墙

[2020-03-31 03:27] #2022 closed

[2020-03-31 03:31] blsz opened #2023 "<br /> not rendered unless inside <div>"
Markdown does not support sequential line breaks.  The typical workaround is to use `<br />` tags.  Mark Text does not render `<br /> `as a line break unless it is wrapped in another element such as `<div>`.

`<div><br /></div>`

[2020-03-31 06:36] HxKT6DcASYwxX2zMWkVxMQnJE3PVBG opened #2024 "Formatting keyboard shortcuts not working in Source Code Mode? Same w/ Markdown syntax autocompletion"
Hey!

First of all, thank you for all the hard work.

It seems like that formatting keyboard shortcuts (bold, italic, etc) are not working in Source Code Mode. Same with Markdown syntax autocomletion. Any reason why?

Thanks a lot.

[2020-03-31 13:19] faldor20 opened #2025 "Spell checker keyboard shortcut"
### Describe your feature request

A keyboard shortcut or bringing up the spell check menu.
A shortcut for moving the cursor to the next error would be amazing too.

### What problem does this feature solve? [optional]

Allows quick spell checking more quickly and easily

### Additional context [optional]

Caret markdown editor has this and it is extremely handy.

[2020-03-31 14:30] fxha commented on #2015
Unfortunately, I cannot reproduce the issue on Windows 10 (18363.752) but I don't have the French dictionary installed, only German and English.

What do you mean by that? We haven't changed anything on the spellchecker. However, it may an issue with Windows spell checker or dictionaries that we use by default on Windows 10. You might want to try out Hunspell spell checker that is build-in but you

[2020-03-31 14:35] fxha commented on #2021
Thank you for taking the time to report this issue. Unfortunately, we cannot reproduce the exception with the latest release package. What architecture (32-bit or 64-bit) are you using and have you installed an official or third-party package? Have you tried to uninstall and install Mark Text again?

[2020-03-31 15:05] Li-An commented on #2015
I tried a previous beta version and it seems to me that it worked. It’s not a big problem as I said before but it’s kinda strange but it could be relative to my configuration.

[2020-03-31 15:07] Hoffenbar commented on #2021
Hello,I used the 64bit portable.-- Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 31.03.20, 16:35 schrieb "Felix Häusler" <notifications@github.com>:

  Thank you for taking the time to report this issue. Unfortunately, we cannot reproduce the exception with the latest release package. What architecture (32-bit or 64-bit) are you using and have you installed an o

[2020-03-31 20:27] Likivik commented on #375
This:  #549 - Support relative image directory :smile:

[2020-04-02 14:18] alerque opened #2026 "Please split build process into distinct steps"
Packaging Marktext for Arch Linux has proven to be a bit of a pain. One of the Arch Linux packaging guidelines for Electron is that copies of Electron itself should not be bundled in the package, just the source for the app should be included with a launcher that calls the system `electron` and runs the app in it. Not only does this save hundreds of MB of disk space per app installed, it also allo

[2020-04-03 03:11] Rishgod opened #2027 "Unexpected error: Failed to execute 'setStart' on 'Range': The offset 4294967294 is larger than the node's length (1)."
Unexpected error: Failed to execute 'setStart' on 'Range': The offset 4294967294 is larger than the node's length (1).

[2020-04-03 08:27] Natsec opened #2028 "Adding theme choice for sequence diagram"
Hello,

It would be nice if we could pick between simple and hand drawn theme for sequence diagrams.
Maybe via an option in the settings.

Thanks !

[2020-04-03 09:18] Li-An opened #2029 "Copy URL on selected text to get a link"
### Describe your feature request

Hello, it seemed to me that in previous version, copying an  URL on selected text created a proper formatted link. It’s not the case actually.

[2020-04-04 01:56] bravekingzhang commented on #1924
@Jocs 我机器特别渣，run dev起来卡爆了，试着改了下没成功，我机器调试时卡到爆，碎放弃。

[2020-04-04 02:20] bravekingzhang commented on #1924
@Jocs 大佬有空修复下，应该是接口不支持了，github不能上传图片原因差不多。

[2020-04-04 02:41] Jocs commented on #1924
好的👌

发自我的iPhone

[2020-04-04 13:37] drapado opened #2030 "Strange behaviour (characteres) when copying text from MarkText"
### Description
When I try to copy some text from MarkText to other application (terminal, firefox, etc.) I get always the HTML encoding. For instance:
* Text copied from MarkText: `find .. -name '*.flac' > playlist.m3u`
* When I paste in a different app: `find .. -name &#39;*.flac&#39; &gt; playlist.m3u`

This happens if I copy normally with shortcuts or if I use the option copy as Markdown.

- [

[2020-04-05 10:37] moriwang opened #2031 "Any plan for support more image uploader?"
### Describe your feature request

There are many open-source image uploader tools like [uPic](https://github.com/gee1k/uPic), [PicGo-Core](https://github.com/PicGo/PicGo-Core) can allow us to customize the image hosting to Github, Amazon S3, Imgur, custom upload api, etc

Bring these tool into Marktext can improve the writing experience a lot.

[2020-04-05 14:16] jerCarre opened #2032 "vega-lite upgrade"
### Describe your feature request

Upgrade vega-lite to 4.9 version

### What problem does this feature solve? [optional]

This version adds pie/donut diagram support.

[2020-04-05 19:58] a-heryani commented on #1991
Confirming same behaviour on macOS Catalina 10.15.4

<img width="419" alt="image" src="https://user-images.githubusercontent.com/26278881/78508634-a8a9fb00-77cb-11ea-8114-ae7be49b23b1.png">

[2020-04-06 09:24] mbranchnl commented on #2030
FYI: Same issue exists in version 0.16.1 on Windows 10.

[2020-04-06 13:13] pengxianggui commented on #1888
@bravekingzhang 这个问题有新的进展吗？我遇到了同样的问题。一开始我还以为是生成github token时没有配置任何scope导致的。

[2020-04-06 21:21] larabr opened #2033 "Option for always visible markdown"
### Describe your feature request
I'd like to have the markdown symbols always visible, not just when I click on styled words (e.g. I always want to see \*\***bold words**\*\* instead of **bold words** regardless of where the cursor is).
Is there already an option for this, which I have overlooked?
If not, I can also implement this change myself.. could you point me to the relevant code in case?

[2020-04-07 10:42] larabr commented on #2033
Update: I've actually managed to implement this already (it's in my forked repo). Let me know if you'd like to add an option in the preferences to toggle this mode, then I can make a PR.

[2020-04-07 11:03] larabr opened #2034 "Markdown not rendered inside spoiler"
When using spoilers (see [this](https://gist.github.com/jbsulli/03df3cdce94ee97937ebda0ffef28287)) , the hide/show behaviour works, but the text inside is not rendered as markdown (it is shown as is, with no formatting).

Could you make this work as on Github?

[2020-04-07 12:37] larabr commented on #1869
How about rendering headings as being collapsible? It would just be a displayed property, no need to store such a state in the file itself.

[2020-04-08 11:52] JeffreySE commented on #1997
The issue still exists, in a fresh installation, images are not exported in the exported file(PDF & HTML), no spaces in the image file path, see the attached video for more details.

**OS**: Win 10
**MarkText Version**: v0.16.1

![demo](https://user-images.githubusercontent.com/12522179/78781141-5555c980-79d2-11ea-888e-612b206c097f.gif)

[2020-04-08 12:36] N0rbert opened #2035 "Marktext should not renumber existing numbered lists"
### Description

Using MarkText with version control system become difficult because of renumbering lists.
### Steps to reproduce

1. Have simple Markdown document with numbered list inside:

       Some text before list:

       1. First item
       1. Second item
       1. Third item

       Some text after list.

2. Open this document using MarkText
3. Save the document

**Expected behavior:**

[2020-04-08 12:50] berkcodes commented on #1995
This. Currently it's difficult to tell the hierarchy of the folder. Just a bit more indentation would be nice, similar to Typora's.

[2020-04-08 12:53] N0rbert opened #2036 "Marktext should not move footnotes contents to the real end of document"
### Description

Using MarkText with version control system become difficult because of moving footnotes to the real end of  document.

### Steps to reproduce

1. Have Markdown document with footnotes defined

       Text before footnote.

       A footnote [^1]

       [^1]: Here is the footnote.

       Text after footnote.

1. Open the document using MarkText
1. Save the document

**Expected be

[2020-04-10 13:30] fxha commented on #2026
Thanks for all the feedback and for publishing Mark Text to other distros. Repacking Electron is not supported by Electron and Mark Text but should work when you respect semantic versioning. E.g: current Electron version for v0.16.1 is `8.1.1`. That means it's fine to update to `8.1.*`, `8.x.*` requires a rebuild of native dependencies and `>=9.*:*` isn't supported. So, please make sure to include

[2020-04-10 20:05] brainchild0 commented on #1869
I think that the original posting is asking for a way to scroll through the document with body text from only one section (or a few sections) shown at one time, and only headers for the other sections.

Of course this features seems possible, but the TOC feature already shows the header outline without body text, and allows the user to jump to a section. I'm not sure how many users would find this

[2020-04-10 20:20] brainchild0 commented on #1211
I share the personal preference for not showing other open files, but I also prefer only one open file per window. If I open a new file, I prefer that the previous one closes (after confirming to save changes). If I want to edit more than one file at a time, then I prefer to use multiple windows.

It seems to be undesirable for multiple files to be open without showing the user, as @Jocs says, but

[2020-04-10 21:12] brainchild0 opened #2038 "no subdirs shown in sidebar"
# Description

Issue #1239 shows a screen capture in which  the sidebar shows the folders in the open directory as well as a button for creating a new subdirectory. However, when I run the application, I only see the files immediately in the folder, without subdirectories.

# Steps to reproduce

On my system, I can simply open any folder with files and subdirectories, but the sidebar shows only  t

[2020-04-10 21:52] alerque commented on #2026
I think you missed the point. I'm familiar with packaging Electron apps for Arch Linux, I handle packaging for quite a few of them. Electron-builder is not my favorite, but it can be made to work. The problem is you haven't exposed any way to call it directly. The best I can do is call a build script which does a web pack and then calls out to electron-builder on its own ... with a bunch of option

[2020-04-11 04:52] qihuazhong commented on #1995
Exactly what I am experiencing. Thanks for pointing it out.

[2020-04-11 15:49] sabretou opened #2039 "Screen 'flashes' with previous text while creating new lines and scrolling down"
### Description

While creating new lines, either by pressing enter or by overflowing text past the previous line, if the screen scrolls downwards, then sometimes it briefly 'flashes' with the text already written. This lasts for less than a second, but is very distracting nonetheless.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a file with a substantial amount of text (fo