[2018-12-17 02:29] #288 closed, assigned to nobody

[2018-12-17 06:35] Aecu opened #612 "There is no more beautiy than marktext"
It is realy nice job, clean and neat.
i cannot love it no more!

By the way , i think we need a content or jump table to focus on what we want ,when the text becomes bigger and bigger ( of couse it can just because it is realy attractive ).

hope it can be a small semicircle hide on the left side, when Tab pressed or mouse move over, it can be expend to a list,

[2018-12-17 07:22] Aecu opened #613 "Whole select can not be canceled"
### Description

When i press ctrl + a for whole select , then the onLbuttondown does not work

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Insert following text:

[code]

2. Ctrl + A
3. Lbuttondown

**Expected behavior:**
move caret to specific position

**Actual behavior:**
Nothing happened, the whole select state can not be canceled.

- Operating system: Win7

[2018-12-17 08:14] Aecu commented on #612
i hope i can use Ctrl + V to paste a pic in the text, you can save the pic in the same folder with the text and with a default name

[2018-12-17 08:14] Aecu commented on #612
i can create a folder , but i cannot delete one

[2018-12-17 10:36] uroybd opened #614 "Optional Metadata"
Often we use markdown editor to write personal stuff or blog posts. Nowadays blogs are increasingly using markdown in their content writing widgets. Many static-site generator like Jekyll uses yaml metadata from post file to get idea of the content. It would've been an nice addition.

I propose a separate metadata menu to add meta content. It will keep the awesome writing experience intact. Metada

[2018-12-17 10:42] Jocs commented on #614
<img width="1156" alt="2018-12-17 6 41 58" src="https://user-images.githubusercontent.com/9712830/50082267-7a498a80-022b-11e9-9b96-ac1450b31e5e.png">

Do you mean this?menu -> paragraph ->yaml front matter

[2018-12-17 12:00] fxha commented on #613
Thanks @Aecu, I can reproduce the issue but only with a larger document.

[2018-12-17 12:04] fxha commented on #612
He have already a table of contents side bar - `View -> Toggle Side Bar` and click on `H`.

This topic was already discussed in #97 and #433. We will add drag and drop and image pasting when we implemented #433.

What do you mean? Do you talk about the sidebar?

[2018-12-18 13:47] #564 closed

[2018-12-19 10:46] H16Y opened #616 "Improvements for "Open Recent""
### Describe your feature request

Currently, Mark Text only records files that are opened in it. But it does not record files that are created and saved. I have to open the saved file to add it into recent files. It will be better if recent files include saved files as well.

[2018-12-19 10:55] H16Y commented on #613
@fxha actually, if the file content contains titles (lines starting with (several) "#"), and then I press Ctrl+A, the selection cannot be cleared by clicking somewhere. The only way to clear is to use "up", "down", "left", or "right" on keyboard.
I think it is a bug, since if I enter plain text, the selection can always be cleared by clicking.

[2018-12-19 11:09] H16Y commented on #608
Thanks! @fxha
Besides, I want to provide more information below. I hope it is helpful to some extent.
The problem will be produced only when there are different levels of titles, for example, h1 (starting with one "#") and h2 (starting with two "#").
If h1 is the first line, when I press Ctrl+A, the hidden "#" before h1 titles will appear, but there is a time gap.
If I quickly press "Delete" on ke

[2018-12-20 00:36] Aecu commented on #612
Ths for your reply, i mean when i open a folder with command open Folder(ctrl+Shift+o) , i will get a dir list, and i can create folder under a folder, but i did not find command delete it.  and if i rename a folder form other place, the folder list will cotain the folder before rename.  and sometime the software will break down.

[2018-12-20 00:48] Aecu opened #617 "Indent line by at least 4 spaces or 1 tab don't produce a code block in preview mode"
### Description

~~if i am not in the source code mode,  i can use tab to format my text.~~
~~when i switch to source code mode and then close it.~~
~~the new page will Render my simple text as code format. ~~

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Wirte a h4 title or some other title
2. follow a simple text as description, but with a tab at the beginning
~~3. open source

[2018-12-20 00:54] Aecu commented on #617
it always take a lot of time to reopen a new MT when i open another .md file even thought there was an MT opened already.  it was same as that when i want to use MT under Open Folder Mode

[2018-12-20 07:37] H16Y opened #618 "Realtime preview not working after deleting code blocks"
### Description

After deleting code blocks (language identifier not necessary), realtime preview is not working, and the space between lines becomes extremely large.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Use ` ``` ` to start a code block.
2. Randomly select a language (not necessary).
3. Press `Ctrl+A`.
4. Press `Delete`.
5. Try entering random things.

**Expected behavi

[2018-12-20 07:46] H16Y commented on #608
Here is an additional demonstration: @fxha
![3](https://user-images.githubusercontent.com/45055956/50270816-cab02a80-046d-11e9-9299-8bd628d8d18c.gif)
After I deleted all the content at the first time, the first line is in format h1 by default, and I cannot start a new line by pressing `Enter`.
Then, when I pressed "#", the h1 format vanished and the text "test" appeared in the following line.
When

[2018-12-20 08:26] H16Y opened #619 "Undo / Redo through keyboard shortcuts not working properly"
### Description

This happens occasionally, but if you follow the steps below, there is a large probability to trigger the issue.
The undo / redo through menu is working properly. (Yet once the issue is triggered, it cannot be fixed with menu.)

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a title (h1).
2. Start a new line and write something.
3. Create a second title (h2)

[2018-12-20 09:11] Jocs commented on #616
how to record created or saved files?

[2018-12-20 09:37] H16Y commented on #616
@Jocs Thanks for your response!
In my opinion, you may add files to the recent list right after they are successfully saved at a location.

[2018-12-20 13:24] huaimutou opened #620 "怎么修改成中文？"
### Question description

怎么修改成中文？？

[2018-12-20 13:54] Jocs commented on #620
目前只有英文版的

[2018-12-20 14:43] fxha commented on #612
Have you tried `Move To Trash`?

Yes that's true, we don't listen for changes - may be an improvement.

[2018-12-20 14:44] fxha commented on #618
Stack Trace:

[code]

Commit: a2a0363

[2018-12-20 14:46] fxha commented on #617
Thanks @Aecu, it's the expected behavior.

The actual problem is that the preview mode does not correspond to the standard.

[2018-12-20 14:52] fxha commented on #619
Maybe a duplicate of #542? It seems to be an issue with our undo/redo stack and the 200ms text commit rate but we will rewrite it soon.

[2018-12-20 14:59] fxha commented on #608
Thank you for the excellent description.

**Stack Trace:**

[code]

Commit: a2a0363

[2018-12-20 16:24] samarulmeu opened #621 "Type @ to insert"
The `Type @ to insert` hint it is nice in the beginning, but it is, very quickly, becoming extremely annoying. I mean even in **Focus Mode** it is present.
I really like this app and it is starting to grow on me, but I want to use it mainly for writing and not much else. But this `Type...` thing is just very distracting. An option to turn it off on **Preferences** will be nice.
Thanks and keep up

[2018-12-20 20:42] uroybd commented on #614
That may work too. But I was thinking about separate place in the sidebar for metadata which will keep the main editor section clean.

[2018-12-21 00:32] Aecu opened #622 "Ctrl + X"
1). write this:   TestTestTestTest
2). select more than one chars with [ shift + Left ]
3). Ctrl + X

only one char was cutted.

[2018-12-21 02:56] Jocs commented on #614
@uroybd But there is a question, we store the edit content in a markdown file, not in json or other data structure. So where should I put the metadata?

[2018-12-21 02:58] Jocs commented on #622
@Aecu Thanks, This is a bug, we'll fix it later, PR is also welcomed.

[2018-12-21 03:19] uroybd commented on #614
Well, that is not that hard.

If anyone adds metadata, we simply convert them to yaml and append them
into the beginning of the file.

And, on opening file, we can easily detect if metadata exists there. We can
parse and add them in our meta editor.

On Fri, Dec 21, 2018, 8:56 AM Ran Luo <notifications@github.com wrote:

[2018-12-21 05:41] H16Y commented on #619
@fxha Yes, I think so. Sorry that I did not notice that issue.
But in my experiment, I only pressed `Ctrl+Z` for two times, and I could not redo. But if I use Undo / Redo through menu, I do not experience that problem. Are there any differences between the code of menu and the code of keyboard shortcuts?

Besides, can you recommend some methods to enable us without Electron development environment

[2018-12-21 13:46] efreedev commented on #138
I localize MarkText by translate the app.asar, and it works good up to now.
But I hope that the native internationalization support  will come true soon.

[2018-12-21 21:46] anishmittal2020 opened #623 "Installing npm peer dependency"
I am trying to install [marktext](https://github.com/marktext/marktext) globally using npm (after cloning the repository) on Ubuntu 18.4:

    npm install -g

`npm WARN dagre-d3-renderer@0.5.8 requires a peer of d3@^4.13.0 but none is installed. You must install peer dependencies yourself.`

How should I install, the peer dependency for the global package? Please give the command so that it is saf

[2018-12-22 07:09] Aecu opened #624 "light theme's color"
Could i set the title bar's color of light theme?  when everything is white or light,the MarkText awlays hide in the white background which always as the defalut backgroud color of most software such as browser.

[2018-12-22 07:13] Aecu commented on #624
![tt](https://user-images.githubusercontent.com/18171360/50371763-20b2d880-05fc-11e9-86fd-b4ad899f6fe8.png)

[2018-12-22 14:36] Jocs commented on #624
You can change the style file, and build Mark Text for yourself, now we didn't support or provide a config option to set the title bar background color.

[2018-12-22 14:48] Jocs commented on #623
@anishmittal2020 Now we use `yarn` as the package manager, just run

[code]

after you clone this project. and run

[code]

for develop, and run:

[code]

for build.

[2018-12-23 10:52] fxha commented on #619
No, both call the same function. You could start Mark Text with `--debug` and set `MARKTEXT_DEBUG_KEYBOARD` environment variable to `1` to see all received shortcuts in your terminal. E.g on Linux:

[code]

Then you will receive something like this:

[code]

You can use `--debug` since `v0.13.65` and open dev. tools via `View -> Toggle dev. tools` but you will receive strange looking error message

[2018-12-23 11:15] fxha opened #625 "Exception when selecting text in the side bar"
### Description

Selecting text in the side bar leads to a renderer exception.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open side bar and press `Ctrl+A` (select text in the side bar)
2. Set cursor in the preview mode/text area
3. Exception occurs

**Expected behavior:**

No exception.

**Actual behavior:**

Commit: a2a0363

[code]

### Versions

- Mark Text: all
- Operating

[2018-12-24 06:59] dotm opened #627 "Copy pasting image directly from clipboard to markdown file"
### Describe your feature request

Is it possible to directly copy-paste image from clipboard to markdown file using MarkText? Is this already implemented?

Steps:

- Copy image to clipboard (using Ctrl+C, Windows' Snipping Tool/Screenshot, or Mac's Cmd+Shift+4)
- Go to a markdown file in MarkText
- Ctrl+V
- File is automatically uploaded or stored in an asset directory (relative to the markdown f

[2018-12-24 07:01] #619 closed

[2018-12-24 07:10] H16Y opened #628 "Improvement for auto scroll"
### Describe your feature request

Currently, when I type to the last line of the application window, and start a new line, the program does not auto scroll to the end (so I cannot see the line I am going to type). Only after I type something in the new line, I can see the last line.
I think the program can scroll to the new line as soon as I start a new line.

### What problem does this feature s

[2018-12-24 07:30] H16Y opened #629 "Select then delete bug"
### Description

Partial selection + `Ctrl+A` produces exceptions.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Enter one line of text.
2. Press `Enter` to start a new line.
3. Select the entered text.
3. Press `Ctrl+A`.
4. Press `Delete`.

**Expected behavior:**

No exceptions.

**Actual behavior:**

Exceptions that can make realtime preview abnormal.

**Link to an example: [op

[2018-12-24 07:37] H16Y opened #630 "Selection cannot be cancelled by up / down keys"
### Description

Partial selection cannot be cancelled by `up` or `down` keys.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Select some text (must be in the same line).
2. Press `up` or `down` on keyboard.

**Expected behavior:**

Selection is cancelled.

**Actual behavior:**

Nothing happens.

**Link to an example: [optional]**

![7](https://user-images.githubusercontent.com/45

[2018-12-24 07:45] H16Y opened #631 "Keyboard selection bug in bold / italic text"
### Description

Using `Shift+Left` can cause the selection abnormal.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Type some words and make them bold / italic.
2. Put the cursor inside the text.
3. Try using `Shift+Left` to select some text.

**Expected behavior:**

Text is precisely selected.

**Actual behavior:**

When the selection has time internals between each operation, I

[2018-12-25 10:52] #373 closed

[2018-12-25 10:52] #467 closed

[2018-12-25 10:52] #475 closed

[2018-12-25 10:52] #621 closed

[2018-12-26 05:20] Jocs commented on #631
@H16Y How strange, I can not reproduce this issue, and I can select multiple characters.

[2018-12-26 05:31] Jocs commented on #630
@H16Y Thanks for your reporting this bug, we'll fix it in the next release version.

[2018-12-26 05:33] Jocs commented on #629
@H16Y Yeh, it a serious bug, thanks for reporting this issue, we'l fix it soon.

[2018-12-26 06:33] Yihen opened #632 "Unexpected error: Cannot read property 'width' of undefined"
### Description

An unexpected error occurred in the renderer process.

### Stack Trace

[code]

### Version

Mark Text: 0.13.65 (4d0f08e)
Operating system: darwin

[2018-12-26 09:43] Jocs commented on #632
how to reproduce this issue

[2018-12-26 14:49] CAtoDC commented on #585
Didn't mean to close the issue previously. It's still a problem.

[2018-12-27 01:49] push-over opened #633 "怎么改成中文啊"
### Question description

[2018-12-28 08:46] h6a8ke1k opened #634 "Cursor position bug"
### Description

In a numbered list, when the text exceeds the line width and go to a new line, the cursor position is not expected when clicking below the list.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Start a numbered list.
2. Type in random characters until it starts a new line.
3. Click below the list.

**Expected behavior:**

Cursor position in the last line.

**Actual

[2018-12-28 08:54] h6a8ke1k opened #635 "Select & paste bug"
### Description

When select using keyboard, paste will not override the selection. Instead, it leaves something in the original position.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Select using `Ctrl+Left` or `Ctrl+Right`.
2. Paste something.

**Expected behavior:**

The new content override the selection.

**Actual behavior:**

Something in the selection remains.

**Link to

[2018-12-29 04:50] Jocs commented on #585
@CAtoDC Can you explain more detail?

[2018-12-30 21:48] CAtoDC commented on #585
When I create a hyperlink, like this:  [Google] (https://www.google.com)
the hyperlink will look right (i.e., the css will render), but the
hyperlink itself won't work.  It is not clickable.

On Fri, Dec 28, 2018 at 11:51 PM Ran Luo <notifications@github.com> wrote:

[2019-01-02 06:15] Jocs commented on #585
Yes，we'll add `clickable ` feature later.

[2019-01-02 16:11] fxha commented on #633
I think this is a duplicate of #620 and #138.

[2019-01-02 16:11] #633 closed

[2019-01-02 16:13] fxha commented on #620
Multi-language support is being tracked in #138.

[2019-01-02 16:13] #620 closed

[2019-01-02 16:14] fxha commented on #585
This issue is being tracked in #425.

[2019-01-02 16:14] #585 closed

[2019-01-02 16:17] fxha commented on #623
Thanks @anishmittal2020, this is not supported. Mark Text is a desktop application which must be build as described above. Mark Text setup/binary is located under the `build` folder.

[2019-01-02 16:17] #623 closed

[2019-01-02 16:20] fxha commented on #632
@Yihen Can you please use the latest master and/or give us instruction how to reproduce the issue.  I'm closing the issue because we cannot reproduce the error.

[2019-01-02 16:20] #632 closed

[2019-01-02 16:20] fxha commented on #578
@thsheep Can you please use the latest master and/or give us instruction how to reproduce the issue.  I'm closing the issue because we cannot reproduce the error.

[2019-01-02 16:20] #578 closed

[2019-01-02 16:22] fxha commented on #631
@Jocs @H16Y We had a similar issue #240/#513 which we have fixed somehow. It may be because of the change from `<bold>text</bold>` to `<bold>**text**</bold>`.

[2019-01-02 16:34] fxha commented on #612
@Aecu Please feel free to reopen the issue if necessary.

[2019-01-02 16:34] #612 closed

[2019-01-06 13:41] maxloh opened #636 "When inserting a line break to the first item of nested list, the new line is a paragraph"
### Description

When inserting a line break to the first item of nested unordered list, the next line should be a list item.
However, marktext treat the new line as a paragraph instead of a unordered list item.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a nested unorder list
2. Press enter

#### Expected behavior:

Next line is a unordered list item, like this:

- Try

[2019-01-06 14:52] maxloh opened #637 "In source code mode, contents do not change when switching between tabs"
### Description

In source code view, contents do not change when switching between tabs

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create two files, a.md and b.md
2. Type something in both files
3. Toggle source code view in a.md
4. Switch to b.md

**Expected behavior:**

marktext display source code of b.md after switching tabs

**Actual behavior:**

marktext remains display

[2019-01-06 16:31] fxha commented on #637
Duplicate of #606

[2019-01-06 16:31] #637 closed

[2019-01-07 21:45] phaazon commented on #216
Hello. I’m sorry to tell you it’s not fixed. On my keyboard (layout bépo), I cannot correctly bind the `altgr-space` (underscore with bépo). Any idea? :( (it doesn’t work on Linux but works on macOSX).

[2019-01-08 16:41] balupton commented on #614
The SSG DocPad uses https://github.com/bevry/docmatter for the header extraction, perhaps it would be of use

[2019-01-08 17:11] balupton opened #639 "Feature Request: Android/iOS Apps"
### Describe your feature request

Would love to see an iOS App for Mark Text

### What problem does this feature solve? [optional]

Editing markdown files on iOS, for the purpose of editing blog posts while in bed, or on the run.

[2019-01-08 17:17] balupton commented on #639
Perhaps https://github.com/marktext/muya will help here.

[2019-01-08 17:46] balupton opened #640 "CLI executable such that I can open files or directories in Mark Text via the command line"
### Describe your feature request

I would like to be able to do:

[code]

To open the `index.md` file.

### What problem does this feature solve? [optional]

Allows me to easily setup a command to open my blog's markdown files in Mark Text.

[2019-01-08 17:48] balupton commented on #640
For now, one can use the Get Info window on a markdown file, on macos, then change the file association for all to Mark Text, then they can do:

[code]

[2019-01-08 17:49] balupton commented on #640
Okay, the Get Info file association thing isn't necessary, one can do this:

[code]

[2019-01-08 19:16] fxha commented on #216
@phaazon Do you mean you have an issue with `atom` or I don't get you? If you have an issue related to atom or an atom extension please open an issue at [atom](https://github.com/atom/atom). This issue tracks keyboard issues about Mark Text markdown editor. Otherwise can you please give me more details?

BTW `AltGr+Space` is often a operating system shortcut for non-breaking space.

[2019-01-08 22:11] phaazon commented on #216
Dammit, I thought I was on Atom. Sorry for the noise :laughing:

[2019-01-09 02:20] Jocs commented on #639
Yes, we have plans to launch the mobile version of the markdown editor, but it will take some time, at least the desktop version needs to be stable.

[2019-01-09 14:19] hyphone commented on #640
sadly this does not seem to work on Linux via the Flatpak version on Flathub.

`flatpak run com.github.marktext.marktext 'file/to/open.md`'

just opens a new window

[2019-01-09 18:33] fxha commented on #640
@heymind Yes, that is true. I thought directories work too because it is implemented in the editor window but it's not checked while parsing arguments. It will be available in the next release.

[2019-01-10 12:49] ymjonline opened #641 "Manage Tags"
### Tag in MD header

Marktext is the most awesome Markdown editor so far (except that images can't be pasted yet, but that's another feature request)
As a editor of standalone files it is close to perfect.

It still lacks a layer of management to make it a replacement of e.g. Evernote and the likes.

The request is to use the YAML header and *tag* in particular to organize, search, sort notes.

#

[2019-01-10 12:51] ymjonline commented on #639
it would be awesome but first the desktop app needs to be able to manage notes in Notebooks (based on folder structure ?) andTags (based on YAML front matter header)

Then sync (dropbox-like) and view / edit from mobile.

I would not expect the mobile version to be in-line editing but at least a view/edit toggle.

Then and only then will the frustrating quest for a Evernote-like replacement will b

[2019-01-10 13:18] Jocs commented on #641
Maybe you need a notepad or memo software and support markdown input. At the moment, Mark Text is a pure markdown editor, there is no storage function, and no notebook function is added. I am also thinking about adding these functions to Mark Text. Or do write another software called `markNote`, which is used exclusively as a notepad or memo, with local storage and cloud storage (icloud or Google

[2019-01-10 14:35] ymjonline commented on #641
I've been looking *everywhere* for such a note management tool that would wrap around Marktext, to no avail.

The closest I can get is
- Joplin: but poor mobile app and not plain MD.  Metadata is not handled via YAML but through its own format

- Notable: No mobile app, which is a must for note-taking
And still miss the picture pasting feature from MarkText itself

everything points back to Everno

[2019-01-10 18:36] balupton commented on #639
Evernote and Mark Text are different markets.

Evernote is a clipping product, as you use the web you can clip highlights of content, or resources themselves, with their contextual information, for the purchase of a context aware knowledge repository.

Tools like Bear Notes, Mark Text, Simple Note, are not in that space. They seem more just your general repository of written notes, so the market o

[2019-01-10 19:21] Aurathic opened #642 "Saving Crashes Marktext"
### Description

When I attempt to save any file, Marktext closes without giving any sort of error message.

### Steps to reproduce

1. Open Marktext
2. Do anything you want.
3. Press 'Ctrl' and 'S' or 'Ctrl' + 'Shift' + 'S' simultaneously

**Expected behavior:**
A dialog box would open allowing saving of the open document.

**Actual behavior:**
The program silently and immediately crashes.

### V

[2019-01-10 23:17] fxha commented on #642
Thanks @Aurathic, as you can imagine we cannot reproduce the problem. Normally Mark Text show an error dialog and should not exit immediately. Therefore I assume a fatal application/system crash that cannot be handled. Is it possible to save via menu and can you please provide futher imformation like:

- ls the native save dialog displayed (before the crash)?
- Have you permission to save to the s

[2019-01-12 00:49] MiguelNiblock commented on #642
Here's what I tried...
* The crash happens as soon as I click on save from the file menu.
* It crashes before I select the save location.
* Using the app from the Mint Software Center. v 0.13.65
* Open file from menu also crashes in the same way. Running marktext from the command line gives me: `marktext: command not found`. I imagine it's because of installing it through the software center?
* I

[2019-01-12 03:29] bluelovecute opened #643 "Add recently used directories to recently opened files"
### Describe your feature request

now can only record  recent opened files , but not folders

[2019-01-12 08:20] dujuncheng opened #644 "multiple empty line saved but disappear when next time open file"
### Description

- [x] Can you reproduce the issue?
yes

### Steps to reproduce

1. open markText , and write something with multiple empty lines , likes
[code]

2. save this file, and reopen this file
3. you will find that the multiple empty lines disappear, what you get will be like below:
[code]

**Expected behavior:**

I expected the next time I reopen the file with multiple empty lines, the e

[2019-01-12 13:58] fxha commented on #644
Thanks @dujuncheng, according to CommonMark Spec and GitHub Flavored Markdown Spec it's the expected behavior:

But you can always use HTML tags like `<br>` to break a line. We will fix the inconsistent saving bug in a later version of Mark Text because the current backend don't allow us to fix it easily without breaking the editor.

[2019-01-12 13:58] #644 closed

[2019-01-14 08:43] dessalines opened #645 "Remember last opened file / directory / tabs"
### Describe your feature request

On 2nd load up, it should remember the last opened file / dir / tabs, because currently I have to keep manually loading the project I was last working on. Typora currently does this.

[2019-01-14 08:46] dessalines commented on #645
Oops, closing as a dup of #437 #386

[2019-01-14 08:46] #645 closed

[2019-01-14 08:49] dessalines opened #646 "Control-P fast file open dialog"
### Describe your feature request

It'd nice to have a fast open dialog like typora, vscode or sublime, using control-P . This could draw a list of files from recently opened, and the current folder.

Control-P for print isn't too useful nowadays.

[2019-01-14 17:08] fxha commented on #646
Duplicate of #581

[2019-01-14 17:08] #646 closed

[2019-01-14 18:43] dessalines commented on #581
This could draw a list of files from recently opened, and the current folder.

[2019-01-15 07:04] Neo42 opened #647 "Select lines by using shift + ↑/↓"
### Describe your feature request

Select lines by using `shift + ↑/↓`

### What problem does this feature solve?

Failed to select multiple lines only with the keyboard, which is inconvenient and feels weird.

[2019-01-16 08:17] fxha commented on #168
I've worked on an experimental spell checker because I had a lot to write, so it was a good idea to hack a spell API into Mark Text. It should not be merged soon because it's definitely not production ready with a lot of to-do's but it works. The main problem with Electron `>=v3.x` is that Chromium has changed the spell checking functionality and you cannot longer just call `webFrame.setSpellCheck

[2019-01-17 16:47] fxha commented on #642
@Aurathic @MiguelNiblock The problem has been fixed and is available via flatpak. Please update flatpak with the following command:

[code]

After the update of `org.freedesktop.Platform` and `org.freedesktop.Sdk` everything should work as expected.

[2019-01-17 16:47] #642 closed

[2019-01-18 09:57] Umryuan opened #650 "Can add directory features?"
add a directory feature for a very long markdown file to be read easily :smiley:

[2019-01-19 09:31] anishmittal2020 commented on #472
Hi, is Pandoc supported? Please clarify.

[2019-01-20 15:58] fxha commented on #472
@anishmittal2020 Yes, you can import files like Word documents but exporting is not yet supported via GUI. `pandoc` is required and must be set in the environment path. The flatpak package is an exception and doesn't support `pandoc` yet or you have to manually add `pandoc` to the sandbox.

**Full List:**

[code]

OK, we have to update the file extension list soon, for example because OpenOffice/L

[2019-01-21 10:33] keito940 opened #654 "Support Emphasis Mark."
### Describe your feature request
Hi. I Figured out ruby ​​notation at #257.
Japanese Free Novel Site [Hameln](https://syosetu.org/) Arrange Sytle Kenten a.k.a. Asian Emphasis Mark.
[code]

![retgrt4wtre5](https://user-images.githubusercontent.com/15725120/51470234-a91cc880-1db6-11e9-8f8c-23e196368694.PNG)

P.S. It is the dialogue of the latest talk at the time that Japanese Comic "The Promised Ne

[2019-01-21 17:30] kykc opened #655 "marktext hangs when navigating certain markdown file"
### Description

marktext hangs when navigating certain markdown document with PgUp and PgDown keys

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open marktext
2. Switch to Dark Mode (probably not related, but just to be sure)
3. Save [this](https://raw.githubusercontent.com/kykc/marktext-issue/master/test.md) document somewhere on your drive
4. Open saved file in marktext
5. Scr

[2019-01-21 17:35] fxha commented on #472
So you can see HTML instead of markdown, for example in the source code mode? What would be the benefits for doing so? BTW you can always use HTML in markdown documents ([raw HTML](https://github.github.com/gfm/#raw-html) and [HTML blocks](https://github.github.com/gfm/#html-blocks)).

[2019-01-21 17:36] fxha commented on #176
Can you please open another issue for this feature request, thanks!

[2019-01-21 17:38] fxha commented on #654
I'll mark this as feature request but it will related to many changes because this is not supported markdown and the characters `<` and `>` are reserved for HTML tags - like your other issue. I could imagine a feature which must first be enabled and restrict the HTML tag set. Meaning only predefined HTML tags are allowed and other tags are interpreted as Ruby or Kenten characters.

[2019-01-21 18:03] fxha commented on #655
Thanks @kykc, I can reproduce the issue with this minimal example when pressing multiple times `Page Down`:

[code]

It will hang on `Emphasis, aka italics, with *asterisks* or <cursor>_underscores_.`. Maybe a Regular expression DoS.

[2019-01-21 21:04] anishmittal2020 opened #656 "Doesn't update when modified externally"
When the opened markdown file is modified externally (using other text editors) then the file doesn't reload in Marktext.

[2019-01-22 08:21] keito940 commented on #654
I got an Idea.
How about this kind of thing?
[code]
In this case you can achieve both HTML tags and ruby ​​tags.
Markdown Not Use `{` and `}`.

[2019-01-22 12:06] ericszimmermann commented on #375
Maybe a very special case, but I would love to have svg support like:
[code]

[2019-01-22 17:50] fxha commented on #627
This is a really useful feature but the problem is that our backend `muya` is pure Javascript, so we can use it in a normal web browsers, and we don't have access to the local filesystem nor the clipboard data. We would need a "portal"/blocking event to Electron to access the desktop clipboard or implement it as plugin. In fact, I would prefer a plugin because it would be much less work because th

[2019-01-23 08:10] Umryuan commented on #650
Thank U,`Table Of Contents` is good ,and i want know that could `Mark Text` automatically generated `Table Of Contents`?That would save much time for writing `Table Of Contents`
@fxha

[2019-01-23 15:31] Bratal commented on #628
good evening,
we are two students in computer sciences  (with @Ziirofan), and in order to validate our class about open source project we are  going to start working on this issue (and others if we have enough time).

[2019-01-23 19:06] fxha commented on #650
As already said, there are currently no plans to add TOC into the preview mode/markdown. We'll be watching the feedback and maybe add this feature later. TOC generation when exporting is tracked in #80.

[2019-01-23 19:08] fxha commented on #628
Thanks for looking into this @Bratal and @Ziirofan. Please let us know if you have any questions.

[2019-01-24 14:27] linpengcheng opened #658 "Mathematical formula visualization editing similar to Qilin or JMEditor."
Mathematical formula visualization editing similar to Qilin or JMEditor.

https://github.com/qilin-editor/qilin-app

http://www.jmeditor.com/jme/demo.html

[2019-01-24 15:11] Jocs commented on #80
@fxha Yes, it is not implemented, because TOC is not the syntax in the GFM standard, and we also implemented TOC navigation in the sidebar, so I thought it was not necessary to implement it. When exporting, I think we can add an option. Whether to export the TOC. This is a good idea, maybe add it later when optimizing the export feature.

[2019-01-24 15:20] Jocs commented on #168
@fxha Does Electron v4.x works?

[2019-01-24 15:31] Jocs commented on #176
Regarding the input of mathematical formulas, it is possible to implement the association prompts later, similar to the current emoji input, suggesting which formulas are available for selection, but whether it is implemented or not, it is also necessary to see whether there is user demand.

[2019-01-24 15:37] Jocs commented on #656
Yes, we have not implemented this function. If there are more users coming up with the same requirements, we will consider implementing it.

[2019-01-24 15:40] Jocs commented on #627
@dotm It's a useful feature, we'll take it into consideration when we refactor `muya`.

[2019-01-24 15:50] fxha commented on #168
No it's a change in Chromium and it only worked in Electron v1.x and v2.x. - please see my [detailed explanation](https://github.com/orgs/marktext/teams/editor-dev/discussions/1/comments/302). The replay from electron team was:

[2019-01-25 05:57] #592 closed

[2019-01-25 05:57] #593 closed

[2019-01-25 10:22] saivan commented on #176
I'm sorry I haven't gotten to this. Its been on my todo list for a while, but I'm just way too busy to give it enough time

[2019-01-25 22:22] Yournished opened #659 "Making images display smaller"
I want to use Mark Text to take notes. Sometimes I have images that go along with the notes and I want to embed the image into the notes where it's explained. Unfortunately, if the image is very large, sometimes this leads to not very readable text and too much scrolling. I would like to embed an image in such a way that Mark Text displays it scaled down to some size, but the original file is stil

[2019-01-25 23:44] TomFrankly commented on #656
This would be a great feature to have, since people may have the same document open within Mark Text on two computers and syncing via Dropbox/Google Drive. If the app detected a file change due to a sync, updating it within Mark Text would be very helpful and would prevent potential loss of work.

[2019-01-26 12:32] ByMedion opened #660 "Incorrect rendering of pipe in code block within table"
### Description

`|` with backslash and `|` in backquotes not working in tables.

Example:
[code]

Expected:

Flag | Required | Values | Description
---- | ---------- | ------- | ------------
`-o` | yes | `[*.zip\|*.7z]` | Output file path

Got this:

![78](https://user-images.githubusercontent.com/23483788/51787014-9242f100-217d-11e9-9047-2b74b61c6e07.png)

### Versions

- Mark Text: 0.13.65
- OS

[2019-01-26 13:21] ByMedion opened #661 "Fatal error when a directory is removed"
### Description

Fatal error occurred when deleting directory that was created outside MarkText.

![step1](https://user-images.githubusercontent.com/23483788/51787576-e3a2ae80-2184-11e9-8af3-3ada2aa98c76.png)

### Step 1: create subfolder in opened folder in MarkText.
After this step an untitled folder appears in MarkText.

![step2](https://user-images.githubusercontent.com/23483788/51787577-e3a2a

[2019-01-27 15:44] Bratal commented on #628
great ! If you need beta testing please let us know ! we were already using mark text before this class.

[2019-01-27 19:19] N-McA commented on #168
Another approach to spell checking would be to use an external service like https://languagetool.org ; I spent a while thinking about how to integrate it but the issue I'm running into is how to produce a source map that can indicate where in the editor to show the spelling errors.

It's not so hard to go from the existing markdown -> html using `marked` and then extract the text nodes from that t

[2019-01-28 11:08] N-McA commented on #168
For reference the I believe the "detailed explanation" referenced above is meant to link to https://github.com/electron/electron/issues/16412

[2019-01-29 11:11] molnarandris opened #662 "Fix .desktop file for linux"
Thanks for the great work, the editor is awesome!

### Description

- [x] Can you reproduce the issue?

Please change the Exec line in the .desktop file to
[code]
Without this, marktext does not show up in gnome-files "Open with" context menu. I think `%f` or `%u` is the [correct parameter](https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s07.html) anyway, as it can open a sing

[2019-01-29 11:58] jeasonstudio commented on #218
关于图表相关的支持，我提供一些简单的参考：
1. UML/sequence 时序图：https://bramp.github.io/js-sequence-diagrams/
2. FlowChart  流程图：http://flowchart.js.org/
3. Graphviz 高阶作图：https://www.graphviz.org/ 和 http://viz-js.com/

最后，感谢 @Jocs  能开源这么好的 editor，让我在 Typora 之外眼前一亮。

[2019-01-29 14:35] Jocs commented on #218
@jeasonstudio 第一和第二个已经在使用了，应该会在下一个版本推出，第三条中的两个库，我没有用过，需要调研下，如果符合需求，也会考虑的。谢谢你的关注。

[2019-01-29 17:05] fxha commented on #660
Thanks @ByMedion, this is a known bug in our markdown parser `marked.js` which is already fixed upstream.

[2019-01-29 17:25] fxha commented on #168
I think that this is not the core problem when we implement the new data structure as `block`'s of lines as it is currently planned. One block represent a single „markdown token“:

[code]

[code]

This would allow us to cache/integrated misspelled words into data structure.

No, please see below.

TL;DR: We'll add a language API to `muya` and process text/markdown only through predefined API's so

[2019-01-29 17:35] fxha commented on #659
Thanks @Yournished,

Yes, your right. HTML images should be scalable via `width` and `height`.

Relative paths are supported and are relative to the file's directory. If the file is unsaved it should be relative to the application working directory. I guess it's an issue with HTML image tags.

[2019-01-31 19:39] fxha commented on #596
@Yihen Sorry, it's currently not planned.

[2019-01-31 19:46] Daniil77177 opened #664 "MarkText licensing and sharing files"
# Licensing and sharing
Can I use screenshot and exported docs of MarkText for post it on Twitter or any other resource (_without_  logo or any attribution)? And can I use it to create and share my articles (_again without_  attribution, links, information or anything else).

Answer, please on questions upper and this question:

1. Attribution is required?

2. It's absolutely free program?

3. I c

[2019-02-01 02:50] Jocs commented on #664
Yes, you can use it for any reason.

Yes, this is a completely open source and free software.

Yes, you can use it for individuals and businesses, but if you want to use it for business purposes, please contact me in advance.

Why this app is free? What is your benefit?

I have already mentioned in the readme that this software is due to personal hobbies, to do a favorite Markdown editor, and also

[2019-02-01 04:19] Daniil77177 commented on #664
@Jocs So, attribution is strictly required?

[2019-02-01 06:11] Javi2004 opened #665 "Language request"
### Describe your feature request

This software is a good one. But It has onliy got English in it .

Is it all right to add Chinese languge support ?

### What problem does this feature solve? [optional]

International Support

### Additional context [optional]

[2019-02-01 07:10] stefnotch commented on #665
Duplicate of https://github.com/marktext/marktext/issues/138#issuecomment-380867653

[2019-02-01 08:41] heyconnor opened #666 "What is the character and number of left-top?"
### What is the character and number in left-top for?

I notice there is a character and number in left-top, and it seems nothing occured when I changed it. What is it for?

[2019-02-01 14:02] Jocs commented on #664
@Daniil77177 Sorry, what's the exactly meaning of `attribution required`?

[2019-02-01 14:04] Jocs commented on #666
`word count` , `paragraph count` etc.

[2019-02-01 14:04] #665 closed

[2019-02-01 14:16] stefnotch commented on #666
Suggestion: A hover text for the number in the top-left corner.

It took me a while to figure out what the number was for at the beginning as well. So, implementing a hover text would nicely address this issue while not cluttering the interface.

![image](https://user-images.githubusercontent.com/10220080/52128075-42a86d80-2634-11e9-9cee-1f8bf9184bea.png)

[2019-02-01 14:17] stefnotch commented on #666
Also, congratulation on creating the devil's issue ( #666 )

[2019-02-01 14:19] fxha commented on #664
@Daniil77177  You have to distinguish between source code files and your markdown files.

Mark Text as a project/source code files are covered by the MIT license and you have to follow the license restrictions. So, yes you have to credit the copyright holder(s).

Markdown files that you create, edit or export with Mark Text are not converted by the MIT license because Mark Text is only a tool to e

[2019-02-01 14:21] #662 closed

[2019-02-03 17:01] andradei opened #668 "Export to PDF with Dark Theme is unreadable"
### Description

When Dark Theme is being used, `Export > PDF ` results in a PDF with dark background and dark grey text that is unreadable.

When Light Theme is being used, the resulting PDF also has a slightly grey background on the text as well, but is harder to see and the text is readable.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Use Dark theme (or Light theme)
2. Write

[2019-02-04 09:52] youmoxiaozi commented on #668
Hello Developer
I have the same problem.

[2019-02-04 10:02] youmoxiaozi opened #669 "Is there a flow chart function?"
Does the next version have the following functions?
1. flow chart
2. Localized Language

[2019-02-04 14:58] esm7 commented on #656
This is the single critical issue that's preventing me from switching to Mark Text as my daily notes app!
I edit notes from several sources and sync them via GDrive. In my quick attempt to use Mark Text instead of my current app, I unintentionally lost some edits from my phone because Mark Text didn't update :(
Auto-update, either by default or a setting, would be extremely useful.

[2019-02-04 15:43] fxha commented on #218
Translation: Gant, sequence and flowchart diagrams should be released in the next version (`0.14.x`).

@Jocs `vega-lite` doesn't work properly any more. It says `Invalid Sequence Code` with any example.

[2019-02-04 15:49] fxha commented on #669
Diagram support is tracked in #218 and should be supported in the next version.

There is also an experimental diagram support in `v0.13.65`. You can use gant, sequence and flowchart diagrams but not vega-lite. Examples can be found here: https://github.com/marktext/marktext/pull/529#issuecomment-434728528.

No, duplicate of https://github.com/marktext/marktext/issues/138#issuecomment-380867653

[2019-02-04 15:49] #669 closed

[2019-02-04 15:50] fxha commented on #668
Duplicate of #583

[2019-02-04 15:50] #668 closed

[2019-02-04 15:52] #641 closed

[2019-02-04 19:36] fxha opened #670 "Unable to paste text into a table cell"
### Description

Pasting text into a table cell always append text and the cursor position is ignored.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a table
2. Write `foo<cursor> bar` into the first cell
3. Paste `123`
4. Result: `foo bar123`

**Expected behavior:**

`foo123 bar`

**Actual behavior:**

The cursor position is ignored and text is appended.

### Versions

- M

[2019-02-04 19:41] fxha opened #671 "Renderer exception when pasting text with new line(s) into a heading"
### Description

A renderer exception occurs when pasting text with new line(s) into a heading.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. `# foo<cursor>`
2. Paste text with at least one new line like `foo<newline>bar`

**Expected behavior:**

That's a good question. Maybe add the first part (until new line) to the heading and wrap the remaining text in the next line as paragr

[2019-02-04 19:45] fxha opened #672 "Forced line break in a list is displayed wrong"
### Description

A forced line break (two spaces at the end of the line) in a list item is displayed wrong.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Write `- foo bar`
2. Add two spaces and press enter: `- foo bar<space><space><press enter>`
3. Write `foobar`

**Expected behavior:**

I expect a line break like this:

![mt_bug_forced_line_break_ok](https://user-images.githubus

[2019-02-04 19:48] fxha opened #673 "Disable autocompletion in inline math"
### Describe your feature request

Autocompletion for inline math (`$1+2=3$`) should be disabled because `_` is completed to `_<cursor>_`. It should use the autocompletion "lite" like math blocks.

[2019-02-04 19:54] fxha opened #674 "Allow multiple cursors and selections"
### Describe your feature request

It would be really awesome to support multiple cursors and selections. For example to make text bold or to correct a typo.

[2019-02-04 22:20] edi0th opened #675 "Ctrl+Z does Ctrl+W, but Ctrl+W does Ctrl+W also"
Hi !
Im currently using MT v 0.13.65 on Debian 9, and an AZERTY keyboard.
Everytime I press CTRL+Z, it ask me if i'm sure I want to close the document without saving. I'm having stroke attack every time : D

I thought that maybe, the binding were exchange with CTRL+W since i'm on a AZERTY Keyboard, but nope,  CTRL+W also ask me if I want to close the document.

Any ideas why ? : )

[2019-02-05 13:15] fxha commented on #675
Thanks @edi0th, we had multiple problems with non-US keyboards recently and also an [AZERTY layout issue](https://github.com/marktext/marktext/issues/311#issuecomment-439005822) which has been fixed. Could you please tell us more information about your environment like:

- `setxkbmap -print` and `setxkbmap -query`
- `cd into-marktext-directory && ./marktext --dump-keyboard-layout`

I guess it's a

[2019-02-05 14:47] edi0th commented on #675
Thanks for the answer !

Here is the result of setxkbmap :
[code]

Here is the response for setxkbmap -query :
[code]

Here is for localectl :
[code]

And the last one :
[code]

[2019-02-05 16:30] fxha commented on #675
Yes, that looks good. My problem is that I cannot reproduce the issue, not even with `fr,latin9` layout. Are you using a [official binary](https://github.com/marktext/marktext/releases/tag/v0.13.65) or git build? Can you please give `marktext --safe` a try.

[2019-02-07 12:08] alerque commented on #375
What to do with plugins? Integrate with source control! I would love to see a plugin that hooked onto save actions and walked the user through a `commit` action.

For background I manage a publishing company where all our books are saved in Markdown (file per chapter) and held in Git repositories. Press-ready PDF's, ebooks, promotional materials, and other things are generated automatically with a

[2019-02-07 14:26] fxha opened #678 "Relative images are broken after exporting"
### Description

Relative images are broken after exporting or printing.

- [x] Can you reproduce the issue?

This issue is related to #659 but is not the same issue because #659 affects the editor and this issue the print service ([exportHtml.js](https://github.com/marktext/marktext/blob/master/src/muya/lib/utils/exportHtml.js)).

### Steps to reproduce

Save a document and add a relative image:

[2019-02-07 14:33] #624 closed

[2019-02-07 14:33] #664 closed

[2019-02-07 16:32] #591 closed

[2019-02-09 03:13] mrintoul opened #679 "cannot create table while in typewriter mode"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. enable typewriter mode
2. begin typing @ to insert a table
3. press enter or click on the table drop-down
4. the table creator popup does not appear

**Expected behavior:**

The table creator popup to appear

**Actual behavior:**

nothing

**Example (note: I am pressing Enter and clicking on the table option)**

![tabl

[2019-02-10 04:24] tonydiep opened #680 "File->Export->HTML or PDF does nothing"
### Description

Exporting to HTML or PDF does not work under Centos Linux

- [X] Can you reproduce the issue?

### Steps to reproduce

1. Click File->Export->HTML or Click File->Export->HTML

**Expected behavior:**

A dialog comes up or HTML or PDF is generated

**Actual behavior:**

Nothing happens. No dialog. No output.

**Link to an example: [optional]**

### Versions

- Mark Text: v 0.13.65
-

[2019-02-10 11:53] fxha commented on #679
Thanks @mrintoul, the easiest to reproduce this issue is to open a large markdown file.

[2019-02-10 11:54] fxha opened #681 "DOMPurify upstream error"
### Description

DOMPurify v1.0.9 is affected by cure53/DOMPurify#314. We have to wait for the next release.

[2019-02-10 11:58] fxha commented on #680
Maybe a duplicate of #591? Could you please give us more information.

[2019-02-10 13:03] tonydiep commented on #680
* It doesn't seem to be a duplicate of #591 because there are no code blocks in the content

* I think it's encountering an error parsing and failing without showing an error message.
* I tested this hypothesis by exporting a simple 'hello world' markdown document to HTML and PDF and it worked.
* When I tried again to export my document it failed with no output and no error message. My document is

[2019-02-10 13:07] tonydiep opened #683 "Export to PDF while using dark theme generates black PDF"
### Description

If you're using the dark theme and you export to PDF, the PDF is a big rectangle of black.

- [X] Can you reproduce the issue?

### Steps to reproduce

1. Theme -> Dark
2. File -> Export -> PDF

**Expected behavior:**

Black text on white background

**Actual behavior:**

* Black text (presumably) on black background

**Link to an example: [optional]**

### Versions

- Mark Text:

[2019-02-11 21:41] JonnyCodewalker opened #684 "Inserting Codeblock should automatically set cursor into language field"
At the moment you have to use the mouse to click into the language field in order to set the language for a code-block (using arrow buttons does not work).

If the language field would be where the cursor is when inserting the field with @ you could set the language for a code-block without getting the hands of the keyboard.

It would have to be implemented that simply pressing tab then selected t

[2019-02-11 22:43] JonnyCodewalker opened #685 "Enable [TOC] to generate Table of Contents"
Typora supports the shorthand [TOC] to generate a table of contents. That is really awesome for longer texts. Maybe Mark Text should include it as well.

[2019-02-11 22:44] JonnyCodewalker opened #686 "Option to hide Scrollbars"
It would be awesome to have an option to hide the scrollbar, since it doesn't integrate well and users might want to simply hide it.

[2019-02-11 22:50] JonnyCodewalker opened #687 "Ctrl + Q does not close windows (Appimage)"
### Description
When pressing CTRL+Q Noving happens.

- [x] Can you reproduce the issue?
### Steps to reproduce

1. Open Marktext
2. Try to use CTL+Q to quit.

**Expected behavior:**
Application quits.

**Actual behavior:**
Nothing happened.

### Versions

- Mark Text: 0.13.65
- Operating system: Solus 3.9999

[2019-02-12 05:02] alerque opened #688 "Hide heading properties in sidebar"
### Description

Some Markdown dialects (I'm using Pandoc) allow headings to be tagged various ways, often adding an ID tag, sometimes a class, and in my case even some other meta data (timestamps corresponding to the location in a video file).

This information clutters up the sidebar header navigation considerably. Anything in `{}` braces after headers should probably be filtered out of that vie

[2019-02-12 05:39] raghu12133 opened #689 "Is there a way to bulk export?"
Current export feature is bound to export a single document. Are there ways to bulk export `directories` or `multiple documents` ?

[2019-02-13 23:00] raphaelmartin commented on #683
Even theme > Light produces a big white rectangle...

[2019-02-14 13:10] fxha commented on #680
We had a number of issues with exporting documents. Most of the problems should be fixed on master. Is it possible for you to build Mark Text from source? Unfortunately the master branch is currently not stable. Pasting and document printing are upstream issues.

[2019-02-14 13:11] fxha commented on #683
Duplicate of #583

[2019-02-14 13:11] #683 closed

[2019-02-14 13:14] fxha commented on #687
Thanks @JonnyCodewalker, we currently use `Alt+F4` on Linux and Windows to exit the application. If you want to change it, please see [key bindings](https://github.com/marktext/marktext/blob/master/doc/KEYBINDINGS.md) and set `windowCloseWindow` to `Ctrl+Q`.

[2019-02-14 13:14] #687 closed

[2019-02-14 13:16] fxha commented on #685
Thanks @JonnyCodewalker, this was discussed in #80 and we'll support TOC only when exporting as HTML/PDF but not in the editor, at least in the near future.

[2019-02-14 13:16] #685 closed

[2019-02-14 13:23] fxha commented on #684
As I understand, you want another list with all languages when e.g. pressing `Tab` in the quick insert code block pop-up or just that the language field is default selected? With the latter, I agree :+1:

[2019-02-14 13:29] fxha commented on #689
Unfortunately, we do not support multiple exports yet. If there is sufficient interest, we can add this feature to our to-do list.

[2019-02-14 13:38] fxha commented on #688
Thanks @alerque, is there a specification or documentation for this (pandoc) feature?

[2019-02-14 20:18] JonnyCodewalker commented on #684
Just that it is automatically selected. If it is and you don't a language you could simply press enter/tab to get to the codeblock itself, but if it isn't automatically selected and you want to use a language you have to use the mouse or type it out instead of using @ insertion.

[2019-02-14 23:39] fbruetting opened #690 "GTK integration"
### Describe your feature request

Currently Marktext uses GTK dialogs, but the window decoration and menus are totally out of place on GTK desktops like Gnome.

### What problem does this feature solve?

The application does not integrate with all the others on GTK desktops.

[2019-02-15 05:15] linpengcheng opened #691 "markdown slide editor like marp"
markdown slide editor like https://github.com/yhatt/marp

[2019-02-15 06:14] alerque commented on #688
Sure @fxha, see the [header identifiers](https://pandoc.org/MANUAL.html#header-identifiers) section of the manual.

Also note that this is not exclusive to Pandoc, the PHPMarkdowrExtra spec also includes this [as documented here](https://michelf.ca/projects/php-markdown/extra/#spe-attr) and I believe there are other implementations as well.

[2019-02-15 17:38] fxha commented on #690
Yes, that's true and this has been discussed in #39. We're using our own style based on the current theme, except for file dialogs and the hamburger menu. The native title bar is only enabled on macOS because we can modify the title bar.

[2019-02-15 17:41] fxha commented on #691
I think this was an idea but I'm personally against it because Mark Text is a pure markdown editor. What do you think about it, @Jocs?

[2019-02-16 00:03] fbruetting commented on #690
If every sole app developer decides to do a window style on its own,  we will see total chaos. Guess I’ll have to switch to another one then.

[2019-02-16 20:35] fxha commented on #690
I'm sorry to hear that. I mean, I like the idea of Client-Side Decoration for Linux but it's currently not supported by Electron (upstream electron/electron#11907). The only option is to use a custom titlebar or waste vertical space. So it's maybe not the best option, but to follow our philosophy to be a clean, simple and minimalist editor it's fine. Maybe we should add an option to use the native

[2019-02-16 23:13] fbruetting commented on #690
Ah ok, then the problem is due to electron (I first assumed that you don’t care). I **relly** like your program, would be damn cool if this would be fixed then! Having the a regular title bar with an additional menu bar would fix the UX issue, but a real header bar would be more awesome and effective.

You can of course also get a clean canvas with title bars or header bars when you change to full

[2019-02-16 23:48] xianmin opened #692 "Unexpected error: Cannot read property 'nodeType' of null"
### Description

An unexpected error occurred in the renderer process.

1. Write something, then select.
2. If my mouse move to **title bar** , and delete, an error occur.

![deepin-screen-recorder_electron_20190217073921](https://user-images.githubusercontent.com/2177570/52906483-bf1f8b00-3287-11e9-8b81-3c9a4bbf1eb7.gif)

### Stack Trace

[code]

### Version

Mark Text: v0.13.65 (master - a55fc94

[2019-02-16 23:49] xianmin commented on #692
Relate issue: https://github.com/marktext/marktext/issues/578

[2019-02-18 08:21] Jocs commented on #691
In fact, I have thought about this before, by adding some comments to support the presentation, but this demand is not high priority.

[code]

[2019-02-19 07:42] Umryuan opened #693 "line number in the gutter"
### Describe your feature request

add line number at editor's gutter

### What problem does this feature solve? [optional]

easy to find the specific line in the document

### Additional context [optional]

![example](https://discourse-cdn-sjc1.com/business6/uploads/github_atom/original/3X/4/d/4d8e637858d6556f4bebf9217318ccab46d6a7ea.png)

[2019-02-19 07:44] Umryuan commented on #693
just like the picture :smiley:

[2019-02-19 13:30] fbruetting opened #694 "Default to LF"
### Description

All sane operating systems use LF for line endings (all Linux systems, all UNIX systems, MacOS, etc.), and so do about all programming applications (git, IDEs, etc.). Please make this the default, it even gets more and more common to be the default on stupid Windows systems, as far as I know.

[2019-02-19 22:34] fxha commented on #694
We will not change that. Unix(-like) operating systems uses `LF` by default and Windows `CRLF`, but this can be changed in the preferences (`endOfLine`).

[2019-02-19 22:34] #694 closed

[2019-02-19 22:36] fbruetting commented on #694
On my Linux system it was CRLF and was always set back to CRLF when I tried to change that…

[2019-02-19 22:44] fxha commented on #694
That's weird, can you please post your settings (at least `endOfLine` value)? The file should be located under `~/.config/marktext/preference.md` or `~/.var/app/com.github.marktext.marktext/config/marktext/preference.md` for flatpak.

[2019-02-19 23:10] alex-bellon opened #696 "Wrong font and theme when opening file/directory"
### Description

When opening a file or directory, the font and title bar change to the wrong theme/font. But, once you click inside the text editing area, it fixes itself and switches to the correct font and theme.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open MarkText
2. Open a file/directory

**Expected behavior:**

Should keep the same theme and font.

**Actual behavior:

[2019-02-20 02:23] Jocs commented on #693
@Umryuan Do you mean gutter in `code block` or the whole document?

[2019-02-20 02:26] #681 closed

[2019-02-20 09:01] Umryuan commented on #693
What i want is whole document (easy to target to a specific location),and i can use a switch to control it (on/off)
@Jocs

[2019-02-24 12:04] lostpebble commented on #656
Yep, this is huge. I use WebStorm as my main IDE and often make quick edits to the markdown there. Switching back to Mark Text should check the file and update it (or at least show a dialog) - it would be horrible to unknowingly overwrite a bunch of changes made externally.

[2019-02-24 12:15] lostpebble opened #697 "Using extended code identifiers breaks code blocks"
### Description

When using code identifiers (info strings when opening code fences) such as `typescript jsx`, we get some weird behavour where the inital opening fence is ignored - which obviously causes the next regular text to be seen as code now, like so:

![image](https://user-images.githubusercontent.com/1508863/53298999-219afd00-382d-11e9-8df0-ea3c2ee85432.png)

Those extra identifiers are

[2019-02-24 19:42] fxha commented on #697
Thanks @lostpebble, you can use `tsx` to combine both `typescript` and `jsx` and it seems to be a parser issue.

CommonMark/GFM Spec: https://github.github.com/gfm/#example-112

[2019-02-24 21:17] lostpebble commented on #697
Thanks! `tsx` is sorting me out fine now.

[2019-02-25 17:52] candidodmv opened #698 "The app not open on Windows 10"
### Question description

I downloaded marktext-0.13.65.exe and Moeditor-0.2.0-win32-x64.zip but either nothing happens when try to open with double click.

[2019-02-26 19:29] fxha commented on #698
Could you please run `marktext-0.13.65.exe --version` and send us the output? You can also try to run pure Electron: [v3.0.9](https://github.com/electron/electron/releases/tag/v3.0.9) and/or [v4.0.15](https://github.com/electron/electron/releases/tag/v4.0.5).

[2019-02-28 02:17] Jocs commented on #697
@lostpebble Can you show me the test markdown file which will cause this issue?

[2019-02-28 09:26] fxha commented on #697
@Jocs you have to load the following file without `\` or insert it in source code mode and switch back:

[code]

[2019-03-01 07:20] Jocs commented on #697
@lostpebble @fxha I reproduce this issue, but under what circumstances will the code block require two languages?

[2019-03-01 07:59] Jocs commented on #674
The implementation cost of multiple cursors is relatively high, but at present, the demand is not a lot?, you can now use the `replace all` to make multiple places or modify.

[2019-03-01 10:07] lostpebble commented on #697
As mentioned in my first post. It was what my IDE recommended to me (WebStorm) while auto-completing the info strings.

I see now, thanks to @fxha that I can just use the simple `tsx` - BUT, from what I can see on my project on github, using only `tsx` is not actually doing proper code syntax highlighting on the actual JSX elements like that (https://github.com/lostpebble/pullstate - see the secon

[2019-03-01 13:26] shvchk commented on #174
Basic override `custom.css` loaded from the same location as `preference.md` (`~/.config/marktext/` on Linux) would be probably easy to implement and enough for most use cases.

[2019-03-01 14:09] Jocs commented on #174
@shvchk Yes, you can rewrite (override) the css file (or .vue file) in project to custom style, and build Mark Text by yourself.

[2019-03-01 14:15] Jocs commented on #656
@esm7 Thank you for your suggestion, we will consider supporting this feature in the next version.

[2019-03-01 14:23] Jocs commented on #688
@alerque Hi, Can you explain why you need this feature? And what is the html output of this syntax?

[2019-03-01 14:27] fxha opened #703 "Invalidate image cache when modified on disk"
### Description

An image is not correctly reloaded when the image is modified on disk.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create image: `![](a.png)`
2. Change `a.png` on disk

**Expected behavior:**

The modified image is displayed.

**Actual behavior:**

The image is not reloaded because it's fetched from cache.

### Versions

- Mark Text: all
- Operating system: all

[2019-03-01 14:29] fxha opened #704 "Lag spikes when typing in code blocks"
### Description

When typing in code blocks Mark Text becomes laggy.

- [x] Can you reproduce the issue?

### Steps to reproduce

Write random stuff inside a code block.

**Expected behavior:**

No lag.

### Versions

- Mark Text: v0.13.65
- Operating system: all

[2019-03-01 14:32] Jocs commented on #684
@JonnyCodewalker There are about three ways to insert a `code block`.

1. type `@` and select code block.

2. Use `paragraph menu` or shortcut `Option + Command + c`.

3. type \``` and and language name, press `enter` to create a `code block`.

And you want the 1 and 2 ways should autofocus in the language field after you create the code block?

And the cursor should also focus the language field

[2019-03-01 14:34] fxha opened #705 "List items are always copied as loose list"
### Description

List items are always copied as loose list.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a tight list:
[code]
2. Select a, b and c and press `Ctrl+C`
3. Paste text into a text editor

**Expected behavior:**

[code]

**Actual behavior:**

[code]

### Versions

- Mark Text: v0.13.65
- Operating system: all

[2019-03-01 14:34] Jocs commented on #704
Is it because the file is large?

[2019-03-01 14:36] Jocs commented on #703
Do you mean change the name of `a.png` or just replace it to another image with the same name?

[2019-03-01 14:39] fxha opened #706 "Wrong padding when copying a loose list into a tight list"
### Description

When pasting a list from a different type (loose/tight) into another list, the list types are mixed.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create tight list:
[code]
2. Copy following text:
[code]
3. Set cursor behind `b` and paste the loose list into tight list.

**Expected behavior:**

Either a loose or tight list:

[code]

or

[code]

**Actual behavior:

[2019-03-01 14:39] Jocs commented on #686
@JonnyCodewalker If there is no scrollbar, user will think the page can not scroll?

[2019-03-01 14:40] fxha commented on #703
Just modify the existing image. E.g. change the color from red to black.

[2019-03-01 14:41] fxha commented on #704
Yes the document was larger, but typing outside code blocks was fine.

[2019-03-01 14:43] Jocs commented on #703
Is this issue the same with #656 ?

[2019-03-01 14:45] fxha opened #707 "Exception when combining two lists with text in between"
### Description

An exception occurs when combining two lists with text in between and you make the text to a list.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Template:
[code]
2. Write `-<space>` before `foo` to create a list

**Expected behavior:**

The three lists (two lists and the new one) should be combined to a single list.

**Actual behavior:**

Runtime exception.

###

[2019-03-01 14:46] Jocs commented on #704
Yes, code block will update after every `keyup`. Because code block need Syntax highlighting.There is there better solution?

[2019-03-01 14:49] Jocs commented on #707
is it possible to became one loose list and two tight list if you set the prefer list is `loose list`? Because the first and the last lists are tight list.

[2019-03-01 14:49] fxha commented on #703
I don't think so because we add all images to an "image cache", so we don't have to make continuous http requests but local files may be modified. I think the issue is that we add local files (`file://%path%`) to the cache as well.

[2019-03-01 14:51] Jocs commented on #679
@fxha Can you paste a test file here? I can not reproduce this issue.

[2019-03-01 14:56] fxha commented on #707
That's true. If `preferLooseListItem` is set to `true` everything is fine except the lists are not combined until you re-parse the document with markedjs.

[2019-03-01 14:57] fxha commented on #704
That's a good question and it's a difficult to answer. Maybe our new backend will fix the performance issues in general?

[2019-03-01 14:58] Jocs commented on #703
After listening to (after we'll do) the local image modification, you also need to inform the editor to reload the markdown file. At this same time, we also need to clear the image cache to ensure the image is loaded?

[2019-03-01 15:02] fxha opened #708 "A hard line break followed by a list doesn't work in preview mode"
### Description

A list (item) is not recognized as a list when a paragraph ends with a hard line break in preview mode. I don't know if this is allowed in CommonMark and/or GFM because markedjs parses the following code as normal paragraph and list:

[code]

is parsed as

[code]

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Write:
[code]
2. Press `Shift+Enter`
3. Write a list: `

[2019-03-01 15:02] Jocs commented on #704
The new muya will improve, but it will still highlight syntax the line of code after each keyboard event. But it will try to reduce the rendering of other paragraphs, but unfortunately, in the next month, I still have no time to start muya. I will spend time improving the existing Mark Text. 😞

[2019-03-01 15:08] Jocs commented on #707
will markedjs treat it as one loose list?

[2019-03-01 15:08] fxha opened #709 "Upstream: prismjs highlighting issues"
### Description

@Jocs Can you please update our `prism.js` fork because there are multiple issue like:

[code]

[2019-03-01 15:10] Jocs commented on #709
@fxha Did `prism.js` already fix this issue?

[2019-03-01 15:12] Jocs commented on #673
What do you mean `autocompletion "lite"` ?

[2019-03-01 15:13] fxha commented on #707
Yes, it does. As per CommonMark/GFM the following list is a loose list:

[code]

But in this issue it should be a tight list because my default list settings is tight and I want to combine both.

[2019-03-01 15:14] fxha commented on #709
Yes, they have except for `size_t`. Maybe I'll open an issue for that.

[2019-03-01 15:16] fxha commented on #673
The autocompletion for block math (`$$`).

[2019-03-01 15:17] JonnyCodewalker commented on #684
@Jocs yes, 1 should autofocus the langauge field, but make it trivial to exit the languagefield (enter or tab). Not sure what you mean about the cursor. But currently @ is not usable as a shortcut for creating a codeblock if you actually want to use a language since it requires you to lift your hands from the keyboard, grab the mouse and manually klick into the language field. (not usable meaning

[2019-03-01 15:19] JonnyCodewalker commented on #686
Which is why it should be an option, if it is included. And it definitely should not be the default^^.
But for example i really dislike scrollbars and disable them wherever I can.

[2019-03-01 15:19] fxha opened #710 "Automatically wrap code block lines when printing or exporting as PDF"
### Description

If you export or print a document with long code block lines, the lines are not wrapped and the scrollbar is printed too.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Export the following document without `\` and open the PDF:
[code]

**Expected behavior:**

All long lines should be wrapped to the next line.

**Actual behavior:**

![mt_exportwordwrapping](https:

[2019-03-01 15:20] Jocs commented on #684
@JonnyCodewalker I agree with you, I also don't want to move my hands away from keyboard when I am write some documents.

[2019-03-01 15:34] Jocs commented on #686
OK, maybe we will add an option to hide the scroll bar later, but it will be displayed by default, of course, the demand priority will be lower.

[2019-03-01 15:36] Jocs commented on #673
@fxha Sorry I still do not understand this issue exactly. can you explain it more detail?

[2019-03-01 15:55] fxha commented on #673
We disabled autocompletion for `_` and `*` for math blocks in [5ff7f7b](https://github.com/marktext/marktext/commit/5ff7f7b92e6b35ebd17a8a60932ad127715a0d82) and the same should apply to inline math because when writing LaTeX you only want one `_` and `*` character.

[2019-03-01 15:56] fxha commented on #679
I can currently not reproduce this issue any more.

[2019-03-01 16:56] S-R0 opened #711 "Default Folder"
### Select Default Folder

Would be great to be able to set a default folder on app open! Its a bit of a pain at the moment having to manually open my markdown snippets folder every time I boot the app!

[2019-03-01 18:34] candidodmv commented on #698
there's no output when i ran this command  "marktext-0.13.65.exe --version"

[2019-03-02 03:49] Jocs commented on #673
@fxha I got it. thanks

[2019-03-02 03:50] Jocs commented on #679
@mrintoul Can you paste a test file here? we can not reproduce this issue.

[2019-03-02 05:29] mrintoul commented on #679
Sure, although it's happening in any file I open as well as new blank files.

[code]

[2019-03-02 06:20] Jocs commented on #709
@fxha I have updated `prism.js` to the latest commit. but it does not highlight `size_t`. then I found [file](https://github.com/PrismJS/prism/blob/master/components/prism-cpp.js) does not has the keywords `size_t`.

[2019-03-02 10:07] fxha commented on #709
The syntax file looks strange because most of the specified keyword aren't keywords. To match a variable type you have to match something like `[a-zA-Z_][a-zA-Z0-9_]*\s` and have to consider further language features.

[2019-03-02 10:09] fxha commented on #711
Related to #519.

[2019-03-02 10:12] fxha commented on #698
I think thats an issue with your OS or Electron. Maybe Windows block the execution of Mark Text or other compatibility issues. We cannot reproduce the issue, so no action can be taken on our side. If you experience further problems with Electron or Chromium, please open an upstream issue. As mentioned above, you can try to launch pure Electron to be sure: [Windows x64](https://github.com/electron/

[2019-03-02 10:12] #698 closed

[2019-03-02 10:44] #670 closed

[2019-03-02 12:57] #709 closed

[2019-03-02 14:57] #672 closed

[2019-03-03 05:01] Jocs commented on #707
@fxha That's strange, I can not reproduce this issue when I follow you `reproduce steps`. Can you reproduce this bug?

[2019-03-03 05:06] Jocs commented on #706
I think copying a loose list to a tight list, or vice versa, the result should be a loose list.

[2019-03-03 13:31] Jocs commented on #692
@xianmin I can not reproduce this issue on master branch, can you reproduce it now?

[2019-03-03 15:44] xianmin commented on #692
@Jocs Yes. In the test above, my text is:

[code]

I guess it relate with heading or selection or lost my mouse focus. Here is another test:

![deepin-screen-recorder_electron_20190303233203](https://user-images.githubusercontent.com/2177570/53697588-a5488100-3e0d-11e9-80e7-611d7437ef21.gif)

If my mouse move to the `heading` , the `heading` will show **Hashtag (#)** , then I delete, it's run well

[2019-03-03 18:49] fxha commented on #707
Yes, you have to set `preferLooseListItem` to `false`.

[2019-03-03 20:04] #673 closed

[2019-03-03 20:05] #706 closed

[2019-03-03 20:05] #629 closed

[2019-03-04 02:30] Jocs commented on #707
It explains the matter. I can reproduce it now.

[2019-03-04 02:57] #690 closed

[2019-03-04 12:26] #660 closed

[2019-03-04 12:26] #697 closed

[2019-03-04 21:21] #666 closed

[2019-03-04 21:35] fxha commented on #661
I'll take a look at [atom/watcher](https://github.com/atom/watcher) because this is actually an [upstream issue](https://github.com/paulmillr/chokidar/issues/566) on Windows. Other filesystem watcher libraries seem to have even more issues.

[2019-03-05 02:59] hongtaoking opened #724 "add autocompletion for math block"
why not try to add an autocompletion in math block for those symbol and function like vscode extension

![image](https://user-images.githubusercontent.com/45326534/53777879-b8567080-3f35-11e9-9db0-ada87063bd37.png)

[2019-03-05 07:32] alerque commented on #688
@Jocs This isn't that complicated. Why I need the Markdown features is really irrelevant there, they are part of the spec for the data format we're using to save entire year's academic course work with the manuscript, the study guide, and time codes for the corresponding videos all in the same file and match them across languages the course is translated into.

The WHY as far as this project goes

[2019-03-05 09:03] Jocs commented on #724
Can you tell me which vscode plugin you use to autocompletion math?

[2019-03-05 11:01] hongtaoking commented on #724
markdown all in one
thanks hhh
![image](https://user-images.githubusercontent.com/45326534/53801022-10629680-3f79-11e9-8bc7-64025a7bac2d.png)

[2019-03-05 13:11] Jocs commented on #724
@hongtaoking Do you know any other app or lib that has math autocompletion?

[2019-03-05 13:31] Jocs commented on #724
@hongtaoking I found this https://github.com/James-Yu/LaTeX-Workshop

[2019-03-05 13:44] hongtaoking commented on #724
wow, that is really cool.
I think if we can have that feature, it will become much more easy to write math formula hahaha.

[2019-03-05 13:54] Jocs commented on #724
Do you write math formula  a lot? or How often you write math formula?

[2019-03-05 14:37] Jocs commented on #708
Can you show me a screenshot?

[2019-03-05 14:39] Jocs commented on #704
@fxha Can you close this issue? if no more info.

[2019-03-05 14:41] Jocs commented on #693
@Umryuan I think you can use the source code mode? if you want to use gutter.

[2019-03-05 14:44] Jocs commented on #689
If there are more users who need this feature, we will consider adding it. If you need this feature, please 👍 it.

[2019-03-05 14:47] Jocs commented on #680
@tonydiep Can you paste  a test `markdown` file which cause this issue?

[2019-03-05 14:53] Jocs commented on #659
We'll support `width` and `height` property in `img` tag later.

[2019-03-05 14:55] Jocs commented on #659
I test this, and it works well, So can you give me more info about this problem.

[2019-03-05 14:58] Jocs commented on #679
@mrintoul thanks, I reproduced it by the markdown file you provided.

[2019-03-05 15:03] Jocs commented on #639
This issue need help, I you have any idea or want to help develop IOS/Android version, pls comment in this issue.

[2019-03-05 15:07] #484 closed

[2019-03-05 15:10] Jocs commented on #724
#658

[2019-03-05 15:21] Jocs commented on #580
@Trudko Do you know any other app has this feature?

[2019-03-05 15:26] Jocs commented on #491
@samiralajmovic Muya is developed in this repo https://github.com/marktext/muya, I'll close this issue now, If YOU want to help develop, you can go to look into that repo, thanks. any issue or question you can raise in that reop.

[2019-03-05 15:26] #491 closed

[2019-03-05 15:27] #184 closed

[2019-03-05 15:30] Jocs commented on #385
We may not add this feature for the time being, because it is difficult to define a line defined by the user. After all, it can be changed by `return` button, and the editor will automatically wrap when it cannot be displayed.

[2019-03-05 15:30] #385 closed

[2019-03-05 15:33] fxha commented on #708
![mt_hard_line_break_list](https://user-images.githubusercontent.com/22716132/53816712-55300280-3f64-11e9-8166-72b78ea007a9.gif)

[2019-03-05 15:34] #684 closed

[2019-03-05 15:35] fxha commented on #659
I guess markedjs (dompurify when pasted) removes the HTML attributes.

[2019-03-05 15:40] Jocs commented on #708
@fxha I guess that you you want `- bar` will auto to create one list?

[2019-03-05 15:49] fxha commented on #708
Yes, that's right but also markedjs parses this example wrong. It's parsed as paragraph and list but not as paragraph with hard line break and list. If you parse

[code]

markedjs returns

[code]

[2019-03-05 15:51] fxha commented on #675
Closing this issue as no further information has been provided. Please reopen if you can give more information.

[2019-03-05 15:51] #675 closed

[2019-03-05 16:32] Trudko commented on #580
@Jocs atom, sublime, visual code studio

[2019-03-05 19:22] mrintoul commented on #679
Thanks for all your hard work!

[2019-03-06 00:09] taooceros commented on #724
yes, a lot because I am a student
most of the time i used markdown is writing math formulas.

[2019-03-06 07:20] Umryuan commented on #693
I have used the source code mode, and it basically satisfied my needs.
:bug: But i found a bug:
When i turn on  the source code mode, and then if i change the editor tab, nothing will happen, i still see the former file, changing tab feature seems failed.
My os is Ubuntu 16.04, you can verify whether it is a bug or not. :hammer:
And Mark Text version is v 0.13.65.

[2019-03-06 12:18] candidodmv commented on #698
@fxha  I've found the cause of this issue: Windows filter SmartScreen was blocking the execution,cause of this, when i try to run i've got no one response even throught console prompt. Thanks so much for attention, and sorry for any inconvenience.

[2019-03-06 12:35] fxha commented on #693
My os is Ubuntu 16.04, you can verify whether it is a bug or not. hammer
And Mark Text version is v 0.13.65.

Please see #606.

[2019-03-06 14:47] Jocs commented on #693
@Umryuan I'll close this issue if no more info, fill free to reopen it if you have any other question.

[2019-03-06 14:47] #693 closed

[2019-03-06 18:33] #671 closed

[2019-03-06 18:37] fxha commented on #661
Closing this issue because we fixed the UI issue when removing a folder on Windows and the upstream issue seems fixed (tested with latest master).

[2019-03-06 18:37] #661 closed

[2019-03-06 18:59] fxha opened #732 "File Recovery"
### Describe your feature request

Implement a document recovery feature which can:

1. guard documents during saving against IO errors, application crashes and power loss ("bad" write: `open file handle (file is truncated to 0 bytes) --> crash --> new content would be written`)
2. create regular backups from changed files to prevent lost during power loss or shutdown

... controlled via settings.

[2019-03-07 00:15] Jocs commented on #732
I understand that you need a historical version of the file. We regularly help the user keep a historical version of the edited text, for recovery after file loss and rollback to the historical version?

[2019-03-07 00:21] Jocs commented on #732
I have also considered this feature, including some of its ancillary features, we can choose the historical version when rolling back, including the historical version created time, preview, and the diff contrast with the latest version (if there is the latest version), in the storage history In the version, we also need to delete the old historical version regularly to save memory. For example, w

[2019-03-07 00:47] Jocs commented on #636
@maxloh I maybe don't think this a problem. for example:

you have this markdown bellow:

[code]

paragraph `Try insert line break in the end of this line` and list `- nested list` are at the same level, both of them are child of the outer list item. if you press `enter`,it will create another paragraph between `Try insert line break in the end of this line` and list `- nested list`. **If you wan

[2019-03-07 12:53] fxha commented on #732
I thought about a simple session and recovery feature such as in vscode or Firefox. More specifically that we save the session and files (tabs) regularly and make Mark Text single instance. Then we can run a thread (or process via `electron-remote` because node doesn't support threads) to regularly (user-defined - lets say 60s) write changed tabs to the backup location and overwrite the old backup

[2019-03-07 15:34] #696 closed

[2019-03-07 15:53] fxha commented on #574
@CAtoDC @RickyWong33 We added a settings option `openFilesInNewWindow` to open files in a new window (`true`) or tab (`false`). I'm thinking about to add an option for folders as well in v0.15.x but first we need to refactor some code to implement this feature for folders.

[2019-03-07 15:53] #574 closed

[2019-03-07 16:48] maxloh commented on #636
@Jocs The flow you described may not be straightforward for most people, at least for those who familiar with office software.

When you press enter in Microsoft Word, LibreOffice or Google Docs in the situation above, a new list item  is added. To add a new paragraph instead, you could press <kbd>enter</kbd> and then <kbd>delete</kbd>.

Consider that most people have experience dealing with offic

[2019-03-07 18:29] Jocs commented on #636
I hope everyone can talk about the way they like by 👍

[2019-03-07 18:32] #616 closed

[2019-03-07 18:32] #643 closed

[2019-03-08 11:55] #710 closed

[2019-03-08 13:30] #606 closed

[2019-03-08 18:20] fxha opened #738 "Undefined parentNode when removing task list"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Template:
[code]

or

[code]
2. Cursor must be in a task list line
3. Press <kbd>Ctrl</kbd>+<kbd>A</kbd> followed by <kbd>Backspace</kbd>

**Expected behavior:**

Complete text is removed.

**Actual behavior:**

Exception because `parentNode` is undefined.

### Versions

- Mark Text:  v0.13.65
- Operating system: all

[2019-03-08 18:24] PogopunkXIII opened #739 "Incorrect autocompletion when using strong format"
### Description

When typing in either `*` or `_` for strong format the autocomplete exhibits some unexpected behavior.

- [x] Can you reproduce the issue?

### Steps to reproduce

*Note: This occurs with both `*` and `_`*

1. On a blank line type `*`
2. Observe the autocomplete generates a 2nd `*` for emphasized format
3. Without moving the cursor, type another `*`
4. Observe that a third `*` is

[2019-03-08 18:42] mupchrch opened #740 "Can't make a comma-separated list of dollar ($) amounts"
### Description

I can't create a comma-separated list of dollar ($) amounts.

It seems dollar signs are being paired and creating math items of some kind. Additionally, I can't even escape the dollar signs with a backslash (\\).

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Copy and paste (or type out) the following into the editor: `$1, $2, $3, $4`
2. Observe issue.

**Expected

[2019-03-08 18:50] fxha commented on #739
We've noticed the same thing. The problem was that three `*` are defined as thematic break and we have made changes to correct this on master.

[2019-03-08 18:50] #739 closed

[2019-03-08 18:56] mupchrch commented on #739
@fxha is #609 the same issue? If so, you could close that one too while you're at it! 😄

[2019-03-08 18:57] fxha commented on #740
Thanks @mupchrch, this is the expected behavior. Dollars (`$text$`) are used for inline math but

1. Both CommomMark and GFM don't support markdown math, so it should be optional via a settings option
2. Dollars should be escapable with `\$` (**bug**)

[2019-03-08 19:38] mupchrch commented on #609
I think this issue is the same as #739. If so, this one could be closed as well.

[2019-03-09 01:52] Jocs commented on #740
@mupchrch @fxha Yes it's a bug, as @fxha mentioned above, Both `inline math` and `block math` are not standard syntax in `CommomMark` and `GFM`. So we'll add the user setting option to not enable `math` by default, but you can enable them in user setting in the future.

Yes it's a bug, there are still other bugs in math syntax, for example can not nested in list, we'll fixed it latter.

[2019-03-09 02:12] Jocs commented on #708
How to reproduce this, I find that markedjs still reserve two space at the end to `foo`?

[2019-03-09 11:51] fxha commented on #609
I'm unsure because v0.13.65 and master have different results and I don't fully understand the issue. @Jocs Can you confirm this is fixed?

[2019-03-09 11:51] #576 closed

[2019-03-09 11:52] fxha commented on #708
Yes, my bad. The example above missing two spaces behind `foo`.

[2019-03-09 12:03] Jocs commented on #609
@mupchrch Can you explain this issue more exactly.

[code]

I can not fully understand this description of above.

[2019-03-09 13:13] #708 closed

[2019-03-09 15:53] Jocs commented on #568
@fxha i can not reproduce this issue again, can you reproduce it?

[2019-03-09 18:11] #659 closed

[2019-03-09 18:27] fxha commented on #568
The issue seems to be fixed by the primsjs rebase.

[2019-03-09 18:27] #568 closed

[2019-03-09 18:30] #622 closed

[2019-03-09 18:38] fxha commented on #711
@Jocs @S-R0 I think we can close this in favor of #386 and #437?

[2019-03-10 19:22] fxha commented on #655
I really don't know how to debug this issue. I have tried the node debugger, some `printf` debugging and so on but always no response from V8 or not the right code area. The only option would be to use x86 debugging but we are using JS, so that's not an option. The following code areas doesn't seem to be affected:

- **muya:**
  - `eventHandler`
  - `contentState` high level APIs
  - renderer meth

[2019-03-11 09:47] bound2020 commented on #680
I met the same issue when I've added some mathematical formula. The only workaround is to remove the formulas and replace them with images. That's awkward.

[2019-03-11 13:49] mupchrch commented on #635
Additionally, cutting content (cmd + x) only removes the last letter.

[2019-03-11 13:55] Jocs commented on #635
@mupchrch Thanks this bug has been fixed on master, and it will released in the next version.

[2019-03-11 13:55] mupchrch opened #747 "Undo -> Source Code Mode -- text still present."
### Description

Performing an undo and then viewing the source will show that you still have the undone text present in the file.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. In a new document, type `test`.
2. Perform an undo operation (`cmd/ctrl + z`).
3. Go to View > Source Code Mode
4. Notice the source code has the text you've removed via the undo action.

**Expected behavi

[2019-03-11 13:56] Jocs commented on #680
@bound2020 Thank you for your clues. Let me test it locally.

[2019-03-11 14:00] Jocs commented on #680
What mathematical formula do you added? I still can not reproduce this issue, So please paste an `wrong markdown` file in comment?

[2019-03-11 14:02] mupchrch opened #748 "Switch tabs during Source Code Mode does not update content"
### Description

If I am in Source Code Mode and I switch tabs, the content of the tab still shows the source of the previous tab.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Have two tabs open.
2. View > Source Code Mode
3. Switch to other tab
4. Notice the source of the tab is still displaying the source of the previous tab.

**Expected behavior:**

The content of the tab sho

[2019-03-11 14:49] fxha opened #749 "Print callback is not called when cancelling the print dialog"
### Description

When calling `webContents.print` and cancelling the native print dialog the callback is not called directly, only when you open another dialog and/or close the window, which results in undefined behavior and/or an application crash. This upstream issue affects all Electron versions since v3.0.9. If this issue is not fixed till the next release, we have to disable the `File -> Prin

[2019-03-11 14:51] fxha commented on #680
@bound2020 In addition, please add you application version (`marktext --version`) and whether you are using a git build or an official binary.

[2019-03-11 14:53] fxha commented on #748
Duplicate of #606

[2019-03-11 14:53] #748 closed

[2019-03-12 04:53] napstercc opened #751 "Cannot expand save menu on MAC"
### Description

When trying to expand the save menu on mac, it doesn't expand.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Save a document on MAC os
2. Click the small expand icon to browse folders
3. Bug here

**Expected behavior:**

The save menu expands and we can click through folders
**Actual behavior:**

**Link to an example: https://www.dropbox.com/s/nj7p0ufdq7ca2lw/Scr

[2019-03-12 05:35] nitingupta910 opened #752 "No space around copy-pasted links"
### Description

When copying some text from web browser (chrome) which contains a link or a inline code block `like this` and pasting it in marktext, there is no space around the link or the copied inline-code-block. See screenshot below.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. copy some text from google chrome which contains some hyperlink or an inline-code-block
2. paste

[2019-03-12 08:53] wedza commented on #530
I find from a user point of view, that having all subfolder displayed at one is less practical than showing the content of the folder once clicked on it, like Typora or Zettlr does. I don't know if this features includes this.

![image](https://user-images.githubusercontent.com/20335741/54186786-72a52500-44ac-11e9-8650-e97f50bc6b49.png)
_(example of the folder panel in Typora)_

[2019-03-12 11:31] fxha commented on #751
@napstercc Which macOS and Mark Text version do you use?

[2019-03-12 11:36] fxha commented on #530
@wedza This feature should lazy load the folder. Meaning only load the root directory then, when clicking on a sub-directory load the directory content and so on.

There was a bug on Window that all sub-directories are shown when loading a directory. The current behavior is the following:

![mt_sidebar](https://user-images.githubusercontent.com/22716132/54196442-bfdfc180-44c1-11e9-9c4f-50b4d131d91

[2019-03-12 11:37] fxha commented on #752
Thanks @nitingupta910, this issue is only reproducible with a Chromium-based browser.

[2019-03-12 11:48] fxha opened #753 "UNC paths are not supported in the sidebar"
### Description

UNC paths are at least not supported in the sidebar.

Example: `\\localhost\c$\Users\Felix\Documents\projects\md_test`

### Versions

- Mark Text: all
- Operating system: Windows

[2019-03-12 11:53] wedza commented on #530
For me, this is what it looks like when I open a directory with multiple subfolders. I'm using v 0.13.65 (latest I think ?) on Windows 10 1809. I first thought it was voluntary, should I open a new ticket for this ?

![image](https://user-images.githubusercontent.com/20335741/54197848-4f3aa400-44c5-11e9-8ac5-09ccfa303696.png)

[2019-03-12 11:55] fxha opened #754 "Image inside HTML is not loaded"
### Description

An HTML image (`<img ...>`) is not displayed as image when it's inside a HTML block.

- [x] Can you reproduce the issue?

### Steps to reproduce
[code]

### Versions

- Mark Text: all
- Operating system: all

[2019-03-12 11:58] fxha commented on #530
No, you don't need to. This bug is already fixed on master.

[2019-03-12 12:01] wedza commented on #530
@fxha Great, thank you, I will wait for the next build. Sorry for polluting this issue.

[2019-03-12 12:29] h6a8ke1k opened #755 "Issues related to bold or italic text"
### Description

When unbold the text in a part of bolded text, the whole bolded text will become unbolded.
When making a part of bolded text italic, the italic style cannot be removed using keyboard shortcuts or floating toolbox.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Make a word bold.
2. Select one character in the word.
3. Using keyboard shortcuts or floating toolbox to

[2019-03-12 12:49] h6a8ke1k opened #756 "Cursor position issues in bulleted / numbered lists"
### Description

The issues present when using `Up` or `Down` on the keyboard to change the line the cursor at.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a bulleted / numbered list with multiple items.
2. Use `Up` or `Down` to move the cursor among the items.

**Expected behavior:**

The cursor column position will not change.

**Actual behavior:**

The cursor comes to

[2019-03-12 12:54] h6a8ke1k opened #757 "Rendering not correct when inputing chinese characters after bold / italic text"
### Description

Rendering of chinese characters is not correct after bold / italic text. However, the rendering is correct after changing the cursor to a new line. (Maybe the issue is caused by the Microsoft Chinese IME on Win10?)

- [x] Can you reproduce the issue?

### Steps to reproduce

**Expected behavior:**

**Actual behavior:**

**Link to an example: [optional]**

### Versions

- Mark Text

[2019-03-12 15:18] Jocs commented on #754
@fxha strange, if I replace the `p` tag with `div`, and the image is rendered.

[2019-03-12 15:23] Jocs commented on #756
This is the default behavior and interaction of Mark Text, it will not change for the time being, thank you.

[2019-03-12 15:23] #756 closed

[2019-03-12 15:24] Jocs commented on #757
@h6a8ke1k Can you show me one screen shot? or in Chinese?

[2019-03-12 15:33] Jocs commented on #752
@nitingupta910 Can you give me the line of the coped text. I'll use to test this bug.

[2019-03-12 15:46] fxha commented on #754
The image is even rendered when you parse:

[code]

[2019-03-12 15:53] nitingupta910 commented on #752
@Jocs you can copy-paste any line containing a link. I copied a line from here for e.g.: https://flutter.dev/docs/development/ui/layout

[2019-03-12 16:09] Jocs opened #760 "Runtime bug when insert order list by quick insert"
### Description

Insert `order list` by quick insert.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. inpnt `@`
2. type `order`
3. click order list

**Expected behavior:**

Insert an order list.

**Actual behavior:**

Error happened.

**Link to an example: [optional]**

### Versions

- Mark Text: master
- Operating system: macOs

[2019-03-12 16:10] fxha commented on #432
@Jocs I think we should definitely not highlight `[...]` because of the comments above and this "feature" break `[[link](#)]` rendering. It should be displayed as [[link](#)] but is displayed as `[link(#)]`.

[2019-03-12 16:15] Jocs commented on #752
@nitingupta910 fixed almost vanished space.

[2019-03-12 16:17] fxha commented on #432
@Jocs Did you mean [reference link](https://github.github.com/gfm/#reference-link)?

![mt_ref_link](https://user-images.githubusercontent.com/22716132/54216826-adc64900-44ea-11e9-85e6-0f9a4f813979.png)

[2019-03-12 16:22] Jocs commented on #432
@fxha Yes, to highlight the reference link, I need to look at GFM again, and then optimize.

[2019-03-12 16:59] nitingupta910 commented on #752
Thanks. Any plans to create a new release soon?

[2019-03-12 21:22] fxha commented on #640
This feature will be available in the next release.

[2019-03-12 21:22] #640 closed

[2019-03-13 05:04] nitingupta910 commented on #752
I ran the latest master (commit 5d23b08ea98c85de62b0b030eaf02de5af6657ab) to test this fix but found another issue related to it: there are now two spaces before and after the link.

<img width="724" alt="Screen Shot 2019-03-12 at 9 58 54 PM" src="https://user-images.githubusercontent.com/1069854/54254714-1543bf00-4512-11e9-8f4d-a6566de4eb00.png">

**Note**:
 - There are always two spaces _before_

[2019-03-13 05:17] Jocs commented on #752
Thanks, I think you can reopen this issue, I'll take a look this evening.

[2019-03-13 11:10] #753 closed

[2019-03-13 12:15] h6a8ke1k commented on #757
@Jocs For your reference:
![11](https://user-images.githubusercontent.com/46216438/54278212-babb6900-45cc-11e9-9e03-72ff04400217.gif)

[2019-03-13 16:32] IshaTr commented on #339
@fxha @Jocs Instead of going for the CSS part, can't we just standardise the length of the file name string that could support this format `aaaaa...dddd.md`? It's pretty much achievable.

[2019-03-13 18:42] fxha commented on #339
@IshaTr This sounds reasonable but the main problem is that the window is resizeable. I already thought to use some simple CSS to remove the leftmost part or CSS flex to hide the left paths and shrink the filename ([c&p from SO](https://jsfiddle.net/1et0qudf/)). The path parts are just `span` tags with separator.

[code]

I think it's not necessary to use the `aaaaa...dddd.md` format, it's suffici

[2019-03-13 19:01] IshaTr commented on #339
@fxha okay sounds good. so has anyone started with the fix yet?

[2019-03-13 19:12] fxha commented on #339
@IshaTr I don't think so.

[2019-03-13 19:22] fxha commented on #636
Just one observation: I have no particular problem with this behavior but it's a little bit inconsistent because `- foo<enter>` always produces a new list item but not in this  particular case.

[2019-03-14 18:30] balupton commented on #640
any docs?

[2019-03-14 20:22] fxha commented on #640
I think it's a good idea to document the settings although we'll create whole new settings at some time.

@balupton You have to set the settings option `openFilesInNewWindow` to `false` on master or in upcoming v0.14.x.

[2019-03-15 17:55] fxha opened #769 "Emojis don't work properly"
### Description

I discovered various issues and errors when using emojis:

- emojis are a little to big*
- emojis are not colored*
- top margin in emoji pop-up
- many exceptions when selecting an emoji using the emoji pop-up and click behind the emoji (`:hammer: <click>`)

- [x] Can you reproduce the issue?

\*: in preview mode but when exporting everything is fine and emojis are colored.

### St

[2019-03-16 15:45] Jocs commented on #769
I'll resize it later.

Can not reproduce it on macOs, So can you help with this?

I'll fix it.

many exceptions when selecting an emoji using the emoji pop-up and click behind the emoji (:hammer: <click>)

I'll take a look.

[2019-03-17 03:29] silsuer opened #772 "yarn run build:web Failed!"
`yarn run build` successfully!

but

`yarn run build:web` will throw many exceptions:

[code]

I need for help!

[2019-03-17 05:27] Jocs commented on #772
Sorry, it's not support build a web version of Mark Text, so `yarn run build:web` does not work.

[2019-03-17 05:45] Jocs commented on #772
If you want a web version, you can reopen this issue and labeled `feature request`.

[2019-03-17 06:15] silsuer commented on #772
emmm...... I  can't find any reopen button... maybe I'm not the contributor ?  so sad, but I need the feature, help me to reopen and label it . thx. @Jocs

[2019-03-17 09:44] #678 closed

[2019-03-17 09:51] #705 closed

[2019-03-17 11:33] fxha commented on #772
@Jocs @silsuer To be honest, I think that this is almost a `won't fix` because we build Mark Text on top of Electron and Mark Text was designed as a standalone application, unlike `muya`.

1. We've using Electron dependencies in the renderer, which is fine because maybe we could replace these dependencies.
2. Renderer is a bridge between the main process (IO, platform specific stuff etc) and muya

[2019-03-17 12:38] Jocs commented on #772
@silsuer @fxha Indeed, Mark Text now has a significant portion of the code in the main process, such as menus, and the operating file system. In the renderer process, it also uses a considerable number of node APIs, as well as Electron's API, so in terms of its current form, Packaging into a web application is difficult.

In the near future, we also intend to develop a simple note or reminder appl

[2019-03-17 12:47] dingxianye opened #773 "Folder button takes no effect！"
![image](https://user-images.githubusercontent.com/19801767/54490977-9fff3200-48f5-11e9-801c-964cb8705d0d.png)

The black triangle left to folder(_posts) takes no effect when clicking.
I think I dont know how to open a folder correctly

[2019-03-17 12:58] Jocs commented on #773
Do you mean no animation or it didn't open this folder ?

[2019-03-17 12:58] #772 closed

[2019-03-17 13:02] dingxianye commented on #773
No, I clicked, it didn't open. The triangle stayed unchanged no matter I clicked the folder TEXT or triangle ICON.

[2019-03-17 13:12] dingxianye commented on #773
Here is info of my Mac
![image](https://user-images.githubusercontent.com/19801767/54491367-fc178580-48f8-11e9-806c-18510ac13d8d.png)

I install Mark Text using cmd below:
![image](https://user-images.githubusercontent.com/19801767/54491393-400a8a80-48f9-11e9-9756-06ee860be672.png)
...
![image](https://user-images.githubusercontent.com/19801767/54491410-587aa500-48f9-11e9-8b45-9ae8fedba638.png)

[2019-03-17 13:13] Jocs commented on #773
@Do you have files in `_posts` folder?

[2019-03-17 13:14] dingxianye commented on #773
Yes, I have some .md files under it.

[2019-03-17 13:19] Jocs commented on #773
Can you describe the detailed steps of how to open this folder? This way I can reproduce this problem.

[2019-03-17 13:19] fxha commented on #773
@Jocs @dingxianye The sidebar is cashed because of the default `Empty Project` view. I had experienced this in #764 multiple times.

[2019-03-17 13:21] fxha commented on #773
@dingxianye We already fixed multiple sidebar issues on master. Is it possible for you to build Mark Text from source and retry to open the folder?

[2019-03-17 13:23] dingxianye commented on #773
OK, I will try it in few days. Thanks.

[2019-03-18 11:21] FelixZY opened #776 "Allow window transparency"
### Describe your feature request

I thought it would be nice with optional window transparency for Mark Text.

![semi-transparent](https://user-images.githubusercontent.com/2656517/54526706-db424500-4977-11e9-8232-2a8b8368d96c.JPG)

### Additional context

I was looking for a good looking markdown editor and found Mark Text. I like it but wanted a bit of transparency to the window.

I have alread

[2019-03-18 11:49] Jocs commented on #776
I know it that macOs has this feature, but I didn't test it on windows. does windows also has transparent background?

We have the plan add transparent and blur background only on sidebar, But I don't why you need the text(markdown) input area to be transparent?

[2019-03-18 11:56] FelixZY commented on #776
My personal implementation works for both windows and macOS as it uses the `BrowserWindow.opacity` property. It does not add any blur however (which may or may not be desired on macOS).

I just thought it would be a neat feature. I like to have my terminal windows be semi-transparent and think it looks nice. My personal implementation keeps the window opaque as default but allows the user to make

[2019-03-18 12:14] Jocs commented on #776
On macOs, I add `vibrancy： dark` to make the window transparent.

[code]

But I didn't test it on Windows.

[2019-03-18 12:52] FelixZY commented on #776
According to official documentation, `vibrancy` is macOS only (https://electronjs.org/docs/api/browser-window). Maybe a combination?

[2019-03-19 07:21] #760 closed

[2019-03-19 10:44] beorn commented on #425
At least as a stop-gap have a "Open in browser" option if you right-click on the link.  Currently I guess you have to select the URL and paste it into Safari to open it?

[2019-03-19 10:51] Jocs commented on #425
Is it ok to show a tooltip with a `open in browser` button above the link when you hover you mouse on the link.

[2019-03-19 11:20] beorn commented on #425
I think all of these are okay, even Cmd-Click to have it open like Typora does, which is even faster to use.  It's just nice to have at least one way to open links :)

I guess later it might be even nice to try to open links without URI protocol spec inside of Mark Text itself (as you mention), but pass all others to some OS-level URL-link opener so you can make a wiki type knowledge base.  For ex

[2019-03-19 16:28] fxha commented on #425
The default behavior on Linux/Windows is `Ctrl+LeftClick` which would be easy to implement but the main issue is that our current backend doesn't support this. We cannot get mouse events when processing internal data (markdown) but this issue should be solved with our upcoming reimplementation.

[2019-03-19 22:06] dartheian opened #780 "Exporting to PDF with "Dark" theme produces an unreadable document"
### Description

Exporting to PDF with "Dark" theme produces an unreadable document.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]

Change the theme to "dark"

2. [Second step]

Export the file to PDF

**Expected behavior:**

A readable PDF document with black characters on a white background (or the converse).

**Actual behavior:**

An unreadable PDF document with b

[2019-03-20 04:41] beorn commented on #425
Ah, hence the popover suggestion.  Perhaps a popover/tooltip like what Google Docs does would be fine?  It shows whenever the cursor is inside the link text, so no need to capture mouse events.

<img width="635" alt="Screen Shot 2019-03-20 at 12 38 59 " src="https://user-images.githubusercontent.com/8559/54659568-512be500-4b0d-11e9-8067-eaa824ebe0f3.png">

[2019-03-20 08:16] hong-duc opened #781 "Cannot undo in source code mode"
### Description

In source code mode, write something, delete it, then undo it (by shortcut key, or from the menu). Nothing change

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Change to source code mode
2. Write something
3. Delete it
4. Undo it (by shortcut key, or from the menu)

**Expected behavior:**
Deleted text reappeared

**Actual behavior:**
Nothing happen (lost to the v

[2019-03-20 10:45] Jerakin commented on #751
I have the same issue
![Screen Shot 2019-03-20 at 11 44 36](https://user-images.githubusercontent.com/5273682/54678545-a663f880-4b05-11e9-9243-06e0afbc9c71.png)

[2019-03-20 11:06] Jerakin opened #782 "relative image reference in HTML is broken"
### Description
HTML with relative image doesn't render.

I tried this to get it to render.
[code]

Markdown way works fine `![start](./images/start.png)`

Using absolute images works too
[code]

(Don't think it is related to #754)
- [x] Can you reproduce the issue?

### Steps to reproduce
1. Add relative image in HTML

**Expected behavior:**
Render the image

**Actual behavior:**
Shows missing im

[2019-03-20 13:53] Jocs commented on #781
Sorry, we now didn't support undo/redo in source code mode.

[2019-03-20 14:35] TobiasDev opened #783 "Goto, kind of like how caret.io have it"
### Describe your feature request
I would to have a short cut (eg. something like ctrl+p), where I can quickly start typing a note name and it gives me suggestions. This is quite common in code editors, I would love to see this in Mark Text as well! :)

### What problem does this feature solve? [optional]
It would just make it faster for me to go between notes. Which I really love personally.

###

[2019-03-21 01:03] hong-duc commented on #781
Oh I see, thank you.
Can you tell me why it not support, I want to help :smile:

[2019-03-21 01:45] hong-duc opened #784 "Open file that is a symbolic link to another file"
### Describe your feature request
Can handle symbolic link file

### What problem does this feature solve? [optional]
I can use marktext with symbolic file

### Additional context [optional]

[2019-03-21 09:36] Jocs commented on #784
What's symbolic link?

[2019-03-21 09:51] hong-duc commented on #784
It is soft link, I usually call it symbolic link, It only on linux

More info here:
https://www.cyberciti.biz/faq/creating-soft-link-or-symbolic-link/

[2019-03-21 09:59] Jocs commented on #784
What features do you need to help you with soft link? Can you explain more detail.

[2019-03-21 12:24] fxha commented on #780
Duplicate of #583

[2019-03-21 12:24] #780 closed

[2019-03-21 12:35] fxha commented on #783
@TobiasDev Could you please explain your feature request in a little more detail. Is it related to #581?

[2019-03-21 12:45] fxha commented on #784
@Jocs We do not follow links on all operating systems because a symbolic link is neigher a file nor directory. This is easy to fix/solve because the filesystem resolves the link and node has a high level API for this.

[2019-03-21 13:17] TobiasDev commented on #783
Yep, sorry I missed that issue! But that is exactly what I meant. :D

[2019-03-21 20:19] #783 closed

[2019-03-21 20:26] #754 closed

[2019-03-22 01:06] napstercc commented on #751
Here;s my info:
![Screen Shot 2019-03-21 at 9 01 30 PM](https://user-images.githubusercontent.com/2672696/54794217-c0442f00-4c1c-11e9-89ac-92534a35304b.png)

[2019-03-22 11:09] jlnbdt opened #785 "Question about loose list item"
### Question description

Hello,

I've only been using Mark Text for a short time and I'm wondering about one thing. Each time I use lists, I have to uncheck the "Loose list item" option to get "normal" lists (i.e. lists in which the items are not separated by a white line).

Is this behaviour normal? What is its purpose?

Thank you :)

[2019-03-22 13:54] Jocs commented on #785
Order list, bullet list and task list are have two type: loose list and tight list, the difference is that the gap between two loose list item is greater than tight list. You can look into this [GFM](https://github.github.com/gfm/#list).

And Mark Text support both loose and tight list. you can change the `loose/tight` in `paragraph` menu, you can also change the default value in user preference.

[2019-03-22 16:31] Jocs commented on #755
@h6a8ke1k I think this is the correct behavior in Mark Text, So this issue will be closed.

[2019-03-22 16:31] #755 closed

[2019-03-22 16:32] Jocs commented on #751
@napstercc @Jerakin Can you update you macOs to latest version, and test weather still has this issue?

[2019-03-22 16:48] Jocs commented on #404
Add in https://github.com/marktext/marktext/pull/778

[2019-03-22 16:48] #404 closed

[2019-03-22 17:20] Jerakin commented on #751
Sorry, updating isn't an option to me (work computer)

[2019-03-23 03:58] hong-duc commented on #171
Hi I am working on this, but I am little stuck now. And if anyone know something, please tell me :smile:  thank you.

This is all I know for now:
1. The bug happen in `source code mode`
2. Only do something in the editor (click, press enter or some word, ...etc) it will show the complete text
3. Console log show that `codemirror` take all the text, but only render bottom half of it

[2019-03-23 04:14] hong-duc commented on #171
I dig through codemirror issues and found this [#1104](https://github.com/codemirror/CodeMirror/issues/1104)
It seem like set
[code]
will solve the issues, [but there will be another issues](https://github.com/codemirror/CodeMirror/issues/1104#issuecomment-11633633)

[2019-03-23 04:49] Jocs commented on #171
@hong-duc You can submit a PR as you wish, so that we can test and see if it is feasible.

[2019-03-23 05:14] Jocs commented on #769
I can not reproduce these two issues.

[2019-03-23 09:58] keito940 commented on #418
Append issue report.
I using Trend Micro is Detected to malware.

[2019-03-23 10:01] SuperSandro2000 commented on #418
@keito940 Use some reputable AV or trust VirusTotal.com

[2019-03-23 12:06] #785 closed

[2019-03-23 15:31] jlnbdt commented on #785
Thank you very much for this explanation 👍

[2019-03-23 18:55] #782 closed

[2019-03-23 21:01] #636 closed

[2019-03-23 21:06] #679 closed

[2019-03-24 03:52] #630 closed

[2019-03-24 09:53] keito940 opened #794 "MarkText within Auto File Association"
### Describe your feature request

Is there a plan to add a function that automatically performs

file association at the time of installation like Typora used before?

[2019-03-24 10:51] AnCoSONG opened #795 "When running for a long time, it get slower and slower"
### Question description
 Just write a long text and gradually it gets slower when you keep typing.

 Is this my personal experience??
what is the solution?

[2019-03-24 10:56] Jocs commented on #795
@AnCoSONG Can you tell me how long the file is? word count? how many code blocks?

[2019-03-24 10:57] Jocs commented on #794
@keito940 Can you tell me what is `file association`? or can you describe you feature request more detail?

[2019-03-24 11:00] AnCoSONG commented on #795
More than 25 code blocks.
In fact, it has not too many words, only about 600 words in Chinese and English.

[2019-03-24 11:01] keito940 commented on #794
Whenever install the Markdown editor, Editor associate the Markdown file,
but this editor does not associate the Markdown file, so I want it to feature request.

[2019-03-24 11:02] AnCoSONG commented on #795
Only get slower when type in code blocks actually

[2019-03-24 12:15] fxha commented on #794
Markdown files are automatically associated with Mark Text on Windows via setup and in the next release on Linux (Flatpak and installed AppImage). macOS I don't know.

[2019-03-24 12:19] Jocs commented on #794
@keito940 What's your operation system version?

[2019-03-24 12:25] fxha opened #797 "Switching tabs doesn't scroll to cursor"
### Description

When you switch tabs the editor doesn't scroll to the cursor position if the cursor is out of view.

### Steps to reproduce

1. create two tabs
  - first tab with a lot of text (so that you can scroll)
  - second tab doesn't matter
2. set cursor position `>window height` in first tab
3. switch to second tab and switch back to the first

**Expected behavior:**

The editor should sc

[2019-03-24 23:05] #432 closed

[2019-03-25 08:29] keito940 commented on #794
Windows 10.

[2019-03-25 11:10] fxha commented on #794
@keito940 Markdown files should be automatically registered with `marktext-setup-0.13.65.exe`. Can you confirm this or which package are you using?

[2019-03-25 11:53] fxha opened #804 "Vue renderer exception, not markdown is rendered"
### Description

Download [TEST.txt](https://github.com/marktext/marktext/files/3003085/TEST.txt) and open the file (master only).

**Actual behavior:**

Exception and no markdown is rendered.

[code]

### Versions

- Mark Text: master
- Operating system: all

[2019-03-25 14:37] fxha opened #807 "Notification doesn't work any more"
### Description

Mark Text renderer notification doesn't work any more on master (`src/renderer/services/notification/index.js`).

### Versions

- Mark Text: master
- Operating system: all

[2019-03-25 14:54] #804 closed

[2019-03-25 14:55] Jocs commented on #807
@fxha is there the background of notification is missing? this should be fixed in #796

[2019-03-25 15:00] fxha commented on #807
There are no notifications but the notification code is triggered.

[2019-03-25 15:14] #586 closed

[2019-03-25 15:14] #740 closed

[2019-03-25 15:15] Jocs commented on #807
the `color` in notification is `#fff`, and the background is also `#fff` so can not see it?

[2019-03-25 15:29] #807 closed

[2019-03-25 16:11] #425 closed

[2019-03-25 16:13] Jocs commented on #425
@beorn @juliushaertl we finally use `CmdOrCtrl + click` to open a link or local markdown file. and this feature will be released in the next version.

[2019-03-25 16:14] Jocs commented on #359
@stigbosmans @sg-s we finally use CmdOrCtrl + click to open a link or local markdown file. and this feature will be released in the next version.

[2019-03-25 16:14] #359 closed

[2019-03-26 08:41] keito940 commented on #794
@fxha Yes.

[2019-03-26 11:37] fxha commented on #794
@keito940 Can you please reinstall Mark Text via setup. I've tested it earlier on Windows and files like `.md` are associated.

[2019-03-26 11:40] #784 closed

[2019-03-26 11:47] fxha commented on #609
This issue should be fixed by #739.

[2019-03-26 11:47] #609 closed

[2019-03-26 12:36] Jocs opened #813 "Can not remove row or column by context menu"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Cmd + T to create a table.
2. right click in the table.
3.the remove row or remove column is not shown.

**Expected behavior:**

The context menu contains the remove row or column.

**Actual behavior:**

But not contains remove row or column.

**Link to an example: [optional]**

### Versions

- Mark Text: master
- Oper

[2019-03-26 12:40] Jocs opened #814 "Can not insert emoji by click float box"
### Description

I can not  select the emoji by click emoji box.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write \:\man\:.
2. move cursor into `man`.
3. the emoji float box will shown, but I can not select any emoji by click it.

**Expected behavior:**

Select any emoji I want.

**Actual behavior:**

Nothing happened.

**Link to an example: [optional]**

### Versions

- Mark

[2019-03-26 15:54] CedricBonjour opened #815 "Relative Path Images do not appear"
### Description

Relative Path Images do not appear.
It seems the path is broken.

- [x] Can you reproduce the issue?
Constant

### Steps to reproduce

1.  in file add line:
[code]
2. File -> Export -> PDF

**Expected behavior:**
the image appears in both the editor and the exported pdf

**Actual behavior:**
the image appears in neither the editor nor the pdf

**Note**
the equivalent with the abso

[2019-03-26 16:35] fxha commented on #815
Duplicate of #678 and #782.

The absolute path is inserted if the file has not been saved yet.

[2019-03-26 16:35] #815 closed

[2019-03-26 16:38] CedricBonjour commented on #815
Yes indeed, I just realised.

Although the file was saved but only  after the editor was opened.

I had to close and reopen the editor for the relative path to function properly.

This is an issue if you edit pictures as you edit your markdown.

[2019-03-26 16:46] CedricBonjour opened #817 "Images with relative paths are not exported to pdf correctly"
### Description

Relative Path Images do not appear in pdf exports.
It seems the path is broken.

- [x] Can you reproduce the issue?

### Steps to reproduce

1.  in file add line:
[code]
2. File -> Export -> PDF

**Expected behavior:**
the image appears in both the editor and the exported pdf

**Actual behavior:**
the image appears in the editor but not in the pdf
instead, the broken image path ic

[2019-03-26 16:55] #817 closed

[2019-03-26 17:03] fxha opened #819 "Tabs are not scrollable"
### Description

See below.

### Steps to reproduce

Open many tabs so that the new tabs are not displayed because the window width is too small.

**Expected behavior:**

I would expect that the tabs are scrollable or all remaining tabs are collapsed into a menu.

**Actual behavior:**

Tabs are not scrollable. The remaining tabs will not be displayed if the window is too small.

### Versions

- Ma

[2019-03-27 08:31] keito940 commented on #794
@fxha
It seems that file association has already been done. I'm sorry.

What I want to say is that I am unhappy with the fact that the file description for `.md` associated with Mark Text is MD File.

[2019-03-27 11:54] Jocs opened #823 "Loose/tight list error after change by the menu"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write markdown:

[code]
2. change the loose/tight type by menu, it became a loose list in preview mode.

3. turn into source code mode, it still tight list.

**Expected behavior:**

The list became a loose list.

**Actual behavior:**

It still shown as a tight list in source code mode

**Link to an example: [optional]*

[2019-03-27 11:54] #794 closed

[2019-03-27 11:59] #769 closed

[2019-03-27 13:45] Jocs commented on #656
fixed by #796 , so this issue to be closed.

[2019-03-27 13:45] #656 closed

[2019-03-28 11:30] fxha opened #825 "Exporting PDF yet again broken"
### Description

GUI elements are displayed too when exporting a document as PDF/printing (note #749; printing should not be used!).

- [x] Can you reproduce the issue?

### Steps to reproduce

Export a document as PDF.

**Actual behavior:**

GUI is displayed too.

### Versions

- Mark Text: master (I guess after PR #778)
- Operating system: all

[2019-03-28 12:50] fxha commented on #776
@Jocs @FelixZY I like the idea even if it's only supported on macOS and Windows. I would add `windowOpacity` (`float`, default `1`) and `vibrancy` (`string`, default`none` - if needed ). If `vibrancy` is  one of the strings defined in the documentation apply the effect, if not check `windowOpacity` on macOS.

[2019-03-28 13:36] Aviortheking opened #830 "Replace empty tabs"
### Describe your feature request

Hi, Hi would like to see an option to change de way we open new, recents, existing files
actually when I launch Mark Text and want to open a file i do File -> Open File but the editor launch it an a new window.

It would be awesome if we could choose where to open theses files like
* new window
* new tab
and when there is an empty default file just replace the em

[2019-03-28 14:22] Jocs opened #831 "Loose/tight list error when update paragraph to list"
### Description

Loose/tight list wrong behavior.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. step 1, set preferLooseList to true in user preference file.
[code]

2. press `space` key on keyboard.

**Expected behavior:**

it show became one loose list.

**Actual behavior:**

it became three list, two tight list and one middle loose list. when you change to source code mode, the

[2019-03-28 14:26] Jocs commented on #831
Another list problem:

1. Set preferLooseList to false.

[code]

2. press `space` on keyboard.

Expect behavior:

It became one loose list.

Actual behavior:

It became three list, two loose list and one tight list.

[2019-03-28 15:27] FelixZY commented on #776
@fxha How about implementing `semiTransparentWindow` (`boolean` default `false`) where a check is made behind the scenes for macOS. If macOS, inject `vibrancy: dark`, else inject `opacity: 0.95` in the `BrowserWindow` settings.

Perhaps the vibrancy on macOS could be adapted to match the current theme?

I could alter my current solution to accommodate this but will need someone to run tests on mac

[2019-03-28 15:32] Jocs commented on #776
Yes, if the current theme is `dark`, the `vibrancy: dark` is preferred, if the theme is `light`, the value `light` of vibrancy is preferred.

[2019-03-28 15:51] fxha commented on #831
@Jocs I cannot reproduce this with the latest master?

[2019-03-28 15:54] fxha commented on #830
We added a settings option to control whether new files should be opened in a new window or as a tab. The next release will be released soon.

This will be fixed in v0.15.x.

[2019-03-28 15:54] Jocs commented on #831
@fxha because of #707 ? A PR is raised to fix these two issues, #829

[2019-03-28 15:55] Aviorleking commented on #830
cool thanks !

[2019-03-28 18:31] fxha commented on #831
@Jocs Another issue on master. Insert code below in source-code mode and switch back to preview. `-bar` is displayed as list item too. I think somewhere missing a space check.

[code]

[2019-03-29 00:59] Jocs commented on #831
I think this is another issue that belongs to #829, I'll open another PR to fix it.

[2019-03-29 01:01] #707 closed

[2019-03-29 02:50] Jocs commented on #831
@fxha This is also a problem with upstream `markedjs`, because I test it on the master of `markedjs`.

[2019-03-29 14:01] Jocs commented on #813
You need to put the cursor on the cell text if you want to do this.

[2019-03-29 21:20] #825 closed

[2019-03-30 17:02] fxha opened #837 "Release plan of v0.14.0"
- [x] Fixed all [issues](https://github.com/marktext/marktext/projects/7)
- [x] Testing
- [x] Publish GitHub beta release (`v0.14.0-rc.1`)
- [x] Fixing all critical bugs (`pre-release` label only)
- [x] Update release notes and close all remaining issues
- [x] Publish GitHub release (`v0.14.0`)
- [x] Create `develop` branch from `master`, set `develop` as default branch and apply branch protection

[2019-03-31 04:58] #814 closed

[2019-03-31 04:58] #831 closed

[2019-03-31 05:56] Jocs opened #838 "Mark Text logo Call for collection"
### Mark Text logo Call for collection

Mark Text has added a few themes such as `Cadmium Light`, `One Dark` and other four new themes (to be released at 0.14.0), and the new official website also needs the logo. Then Mark Text logo is now open for collection.

The requirements are as follows:

1. Logo requires at least two color schemes for black theme and light color theme. It is better if there

[2019-03-31 11:06] #625 closed

[2019-03-31 11:07] #692 closed

[2019-03-31 11:13] fxha commented on #813
@Jocs Why did you reopen this issue?

[2019-03-31 11:22] Jocs commented on #813
Because the previous bug fix will cause another problem, unable to copy and cut by context menu, because when the context menu is displayed, it only refers to the start of the cursor, so I reopened the issue, in fact, it is now possible to insert rows or columns, just the cursor Must be on the text,  I still don't know why.

[2019-03-31 11:22] fxha opened #839 "Blockquote parser bug"
### Description

Blockquote with a list is parsed/exported wrong. I guess this is an `import/exportMarkdown.js` issue.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. open source code mode:
[code]
2. switch to preview mode and change some text like `foo1`
3. switch back to source code mode

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Link to an example: [optiona

[2019-03-31 11:23] fxha commented on #680
Closing this issue because no further information has been provided. Please feel free to reopen if you can give more information.

[2019-03-31 11:23] #680 closed

[2019-03-31 16:01] fxha opened #841 "Wrong blockquote list item font color"
### Description

List item font color is wrong in a blockquote.

**Expected behavior:**

![mt_blockquote_style](https://user-images.githubusercontent.com/22716132/55291377-4828f680-53de-11e9-9e16-6a0a02489d53.png)

**Actual behavior:**

![mt_blockquote_wrong_style](https://user-images.githubusercontent.com/22716132/55291359-1021b380-53de-11e9-8a5e-c90ac17c0bb4.png)

### Versions

- Mark Text: mast

[2019-04-01 00:40] #841 closed

[2019-04-02 10:06] #839 closed

[2019-04-02 10:22] fxha commented on #408
@gitfineon All issues has been fixed but we still insert a new line to normalize the markdown document. Your document and the document below are equivalent according CommonMark and GFM:

[code]

Perhaps we will fix/disable automatically document formatting later.

[2019-04-02 10:22] #408 closed

[2019-04-02 23:16] fxha opened #847 "Inconsistent text box color in side bar"
### Description

Side bar text boxes have different colors in sub-directories when adding a file or directory.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open folder with a sub-directory
2. Create a new file in root directory via Mark Text
3. Create a new file in the sub-directory via Mark Text

**Actual behavior:**

Both text boxes have different colors and are hard to see.

[2019-04-02 23:17] fxha opened #848 "selectionChange may be null"
### Description

`selectionChange(...)` may be `null` in `getCommonParent(...)` in [paragraphCtrl.js@L20](https://github.com/marktext/marktext/blob/21e6ebc1ff0b8762d436ec23196b7b9a132535dc/src/muya/lib/contentState/paragraphCtrl.js#L20).

### Versions

- Mark Text: master/pre-release
- Operating system: all

[2019-04-03 03:57] Jocs commented on #257
@keito940 You can use a html block to render Ruby Character,  like this bellow.

[code]

![屏幕快照 2019-04-03 上午11 56 23](https://user-images.githubusercontent.com/9712830/55451901-91a85a00-5607-11e9-866c-703268825f29.png)

in the next release version, you can write ruby tag in paragraph as bellow:

[code]

![屏幕快照 2019-04-03 上午11 56 08](https://user-images.githubusercontent.com/9712830/55451909-979e3

[2019-04-03 05:55] Jocs opened #850 "Export HTML task list display bug"
### Description

There is no need to show list style marker in task list.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write task list bellow.

[code]
2. export html
3. open exported html file by Chrome

**Expected behavior:**

no list marker shown.

**Actual behavior:**

![屏幕快照 2019-04-03 下午1 55 36](https://user-images.githubusercontent.com/9712830/55455941-303cb700-5618-11e9-9

[2019-04-03 08:22] keito940 commented on #257
What is My Create Ruby Tag?

[2019-04-03 08:27] Jocs commented on #257
This is a markdown syntax of [GFM](https://github.github.com/gfm/#raw-html), that you can write html in your paragraph, So you also can write `ruby` element in paragraph.

[2019-04-03 08:30] keito940 commented on #257
But is it better to put in my ruby ​​tag?

[2019-04-03 08:39] Jocs commented on #257
But if there is already a syntax that can support ruby character, why do we need another custom syntax?

[2019-04-03 08:43] keito940 commented on #257
The ruby ​​you have already prepared can not understand if you can not read the HTML,
but the ruby ​​syntax I made is easy to understand that the ruby ​​is shaken when I see the plain text MarkDown.

[2019-04-03 08:44] Jocs opened #851 "Can not recognize inline syntax if they are in multiple lines"
### Description

if markdown inline syntax in multiple lines, Mark Text can not recognize it.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write foo **bar
2. press <kbd>Shift</kbd> + <kbd>Enter</kbd>
3. write bar** zar

**Expected behavior:**

foo **bar
bar** zar

**Actual behavior:**

foo \*\*bar
bar\*\* zar

**Link to an example: [optional]**

### Versions

- Mark Text: All ve

[2019-04-03 08:45] keito940 commented on #257
It is difficult.

[2019-04-03 08:47] Jocs commented on #257
What is difficult? write html tag?

[2019-04-03 08:48] Jocs commented on #257
but the ruby ​​syntax I made is easy to understand that the ruby ​​is shaken when I see the plain text MarkDown.

Yes, you are right.

[2019-04-03 16:34] #847 closed

[2019-04-03 16:47] dingxianye commented on #773
Sorry for late response
![image](https://user-images.githubusercontent.com/19801767/55497003-e59c5880-5672-11e9-8cf4-84c1e0bac937.png)
I think I find something interesting.... maybe fixed in newer version ( Im too busy to try it )

[2019-04-03 16:51] dingxianye commented on #773
My '_post' folder is under folder like 'xxx.github.xxx'
Maybe it's the reason why it can't work

[2019-04-03 17:18] #850 closed

[2019-04-03 18:37] fxha commented on #754
@Jocs This issue is still present with:

[code]

[2019-04-03 18:45] fxha opened #854 "Wrong link inline parsing with brackets"
### Description

Muya's inline parser parses links with brackets wrong.

### Steps to reproduce

1. Insert `a [[contributors](https://github.com/marktext/marktext/graphs/contributors)] b`

**Expected behavior:**

a [[contributors](https://github.com/marktext/marktext/graphs/contributors)] b

**Actual behavior:**

`a [[contributors](https://github.com/marktext/marktext/graphs/contributors)] b`

**L

[2019-04-03 19:03] fxha commented on #773
This issue seems to be fixed on master. We'll release a release candidate in a few day, please reopen if the issue still exists.

[2019-04-03 19:03] #773 closed

[2019-04-03 19:12] fxha commented on #851
@Jocs There is another issue:

[code]

should be rendered as:

[code]

Is this related to this issue or should I open another issue for this?

[2019-04-03 19:20] fxha opened #856 "Emoji name mismatch"
### Description

Mark Text emoji's and GitHub's have different names.

**Related links:**

- https://gist.github.com/rxaviers/7360908
- https://gist.github.com/oliveratgithub/0bf11a9aff0d6da7b46f1490f86a71eb

[2019-04-03 21:59] fxha opened #857 "Link reference definitions are hard to read"
### Description

Link reference definitions are hard to read and we should change the font color.

[code]

### Versions

- Mark Text: master/pre-release
- Operating system: all

[2019-04-03 22:06] fxha opened #858 "Critical exception when closing empty tab"
### Description

I don't really know how to reproduce this exception. This exception occurred already a second time. I had opened two file and a empty tab (file, file, empty tab) and switched before in source-code mode and back. Later I closed the empty tab and the following exception concord and all markdown content in Mark Text from the second file disappeared due the exception.

### Stack Trace

[2019-04-03 22:10] fxha opened #859 "Different list style"
### Description

Markdown and raw HTML list (items) have different style.

**Example:**

[code]

[2019-04-03 22:14] fxha opened #860 "Exception when searching for hidden text"
### Description

An exception occurs when searching for hidden text and then click inside the editor.

### Steps to reproduce

1.
[code]
2. Search for `3cd9cb52931e` and press search arrow
3. Set cursor `fo<cursor>o`

![mt_bug_search](https://user-images.githubusercontent.com/22716132/55516723-6016a980-566e-11e9-8b5d-3cd9cb52931e.gif)

### Versions

- Mark Text: master/pre-release
- Operating syst

[2019-04-04 01:16] Jocs commented on #851
Do you mean `soft line break` show be rendered in one line? I already explain this in the #849 .

[2019-04-04 02:56] #257 closed

[2019-04-04 03:38] Jocs commented on #860
Sorry I can not reproduce, is it not because it's hidden?

[2019-04-04 12:36] Montimort opened #865 "# in Code block gets rendered as Heading"
when writing code with # comments in a code block (´´´ #stuff ´´´ ) the #stuff is highlighted as Heading. VSCode and Gitlab don't do that

[2019-04-04 12:49] BenTearzz opened #866 "New page"
### Describe your feature request

Since I really like Mark Text, I think I could use it really well for school. I got really happy when I saw that you exported to .PDF, but it would be nice if you could put a page break. Perhaps this could be done with a regular line break but where it consists of dots or something so that you can tell it apart in the markdown editor.

### What problem does this

[2019-04-04 13:46] Jocs commented on #865
How to reproduce it, can you give more info?

[2019-04-04 14:11] fxha commented on #866
Duplicate of #355.

[2019-04-04 14:11] #866 closed

[2019-04-04 14:16] BenTearzz commented on #866
Oh sorry, thought I had looked through the issues but apparently not :/

[2019-04-04 14:21] fxha commented on #860
I don't know.

Commit 5d748eb

[code]

[2019-04-04 14:27] fxha commented on #851
I think so or add at least a settings option to do so because there is not way to add a soft line break in Mark Text preview mode.

[2019-04-04 15:04] Jocs commented on #851
<kbd>Shift</kbd> + <kbd>Enter</kbd> will create a soft line break, if you type two `space` after the first line, it will turn into a hard line break.

Yes, we can use `css` style to make a soft line break display in two lines.

[2019-04-04 15:16] fxha commented on #851
I think we should "render a soft line break in HTML either as a line break or as a space."

[2019-04-04 15:19] Jocs commented on #851
Do you mean let user to choose `a line break` or `space` when export html or PDF?

[2019-04-04 15:22] #857 closed

[2019-04-04 15:25] fxha commented on #851
Actually, let the user choose the soft line break behavior (line break or space) in Mark Text because all parsers render a soft line break as space except Mark Text - but it makes sense to render it as line break for a better distinction.

[2019-04-04 15:51] Jocs opened #867 "Cursor disappear when use arrow down/up switch between headers"
### Description

The cursor disappeared when press arrow up and down between headers.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write `### foo`, then press <kbd>Enter</kbd>
2. write another header `### bar`. put the cursor at the end of `foo`.
3. press arrow down on the keyboard, the cursor disappeared.

**Expected behavior:**

The cursor at the first place like this `<cursor

[2019-04-04 15:53] Jocs commented on #851
Yes, that's why we render a soft line break in two lines.

[2019-04-04 16:18] 625781186 opened #868 "How to configure webstorm for debug this project can breakpoint in mainThread?"
Thank you very much for your efforts in this project.

I've been studying this project lately, but debugging is a problem.
### Can you demonstrate how to configure breakpoint debugging videos for this project with webstorm?
### Or recommend breakpoint debugging tutorials and settings for other editors.
![image](https://user-images.githubusercontent.com/30521429/55571588-5c4f5980-5738-11e9-8e04-e14

[2019-04-04 19:59] BenTearzz commented on #866
I've looked at the duplicate issue, I'm not quite sure if page breaks exists or not after reading that. @fxha

[2019-04-04 20:16] fxha commented on #866
You can insert HTML/CSS to produce a page break: `<div style="page-break-before: always;"></div>`.

- `page-break-after`
- `page-break-before`

[2019-04-04 22:55] fxha commented on #858
@Jocs I still don't really know how to reproduce this error but I know that `REMOVE_FILE_WITHIN_TABS`has already committed `undefined` to `file-changed` event.

Another stack trace:

[code]

[2019-04-04 22:59] fxha commented on #868
We're using vscode with [this](https://github.com/marktext/marktext/blob/master/.vscode/launch.json) configuration. If you run `npm run dev` (`./.electron-vue/dev-runner.js`) you can use the `remote-debugging-port` on `8315`.

[2019-04-05 00:20] Jocs commented on #858
@fxha I try a few times, but I can also not reproduce this issue.

[2019-04-05 04:48] 625781186 commented on #868
Sorry , I try it , but can't stop in breakpoint when I open single file.

![image](https://user-images.githubusercontent.com/30521429/55603930-ccdd9100-579f-11e9-997c-35ccee875f88.png)
--------------------------------------------------------
I using chrome://insepect

![image](https://user-images.githubusercontent.com/30521429/55603982-1a59fe00-57a0-11e9-997e-f3129829498c.png)
### at 1 insepect no

[2019-04-05 05:36] Jocs opened #870 "List parse error"
### Description

[code]

write markdown above in source code mode, it will be parsed as one bullet list. not a task list and a bullet list.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write markdown above in source code mode.
2. turn to preview mode.
3. only one bullet list show(by front icon)

**Expected behavior:**

Two list one is task list and the other is bullet list.

**A

[2019-04-05 05:40] Jocs commented on #870
GitHub also recognize it as one list,  But I think we need to distinguish task list and bullet list by `front icon`, @fxha what do you think?

[2019-04-05 06:58] Montimort commented on #865
create a md file with this content:
# Simple minimal demo markdown
- [ ] Configure network
	- [ ] `As long there is no line between this line and the next`
[code]

[2019-04-05 06:58] Montimort commented on #865
Github correctly marks it, Marktext not

[2019-04-05 07:33] Jocs commented on #865
@Montimort Can you give me the source code of you markdown file, not the rendered file by GitHub.

You can show me a screenshot or use `\` to prevent Github preview it.

[2019-04-05 07:36] Montimort commented on #865
you can find it in this zip file
[errordemo.zip](https://github.com/marktext/marktext/files/3046816/errordemo.zip)

[2019-04-05 07:39] Jocs commented on #865
What's the version of Mark Text? I test this markdown file by the master branch, and it's look well.

[2019-04-05 07:42] Montimort commented on #865
v 0.13.65 on Win 10

    Am Freitag, 5. April 2019, 09:40:03 MESZ hat Ran Luo <notifications@github.com> Folgendes geschrieben:

What's the version of Mark Text? I test this markdown file by the master branch, and it's look well.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-05 10:09] Jocs commented on #865
@Montimort This issue has been fixed in master branch, and we'll release a new version these days.

[2019-04-05 11:29] Jocs commented on #856
Hi, @fxha , which emojis are dismatched?

[2019-04-05 14:29] fxha commented on #870
According to GFM Spec markedjs is correct and muya not because it doesn't exist a task list, just a task list item which must be inside a bullet list. So this is a bug in muya because a task list don't exist. I think we should simply show the bullet list icon and remove the `ag-task-list` marker.

[2019-04-05 14:31] fxha commented on #856
I don't know, but all emojis in [README.md](https://github.com/marktext/marktext/blob/master/README.md) are not rendered and I expect there are more missing.

[2019-04-05 14:42] fxha commented on #868
You need to install `Debugger for Chrome` in vscode.

Yes, thats right because the `main` scripts don't run in the renderer process but in the main process.

[2019-04-05 16:04] Jocs commented on #856
Oh, I'll take a look when develop 0.15.0.

[2019-04-05 17:11] #860 closed

[2019-04-05 17:11] #867 closed

[2019-04-05 17:12] #854 closed

[2019-04-05 17:52] fxha opened #876 "GFM example 558 render failure"
### Description

Image with title is not rendered correctly because the title is added to the url.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Insert `![alt text](https://raw.githubusercontent.com/marktext/marktext/master/static/logo-small.png "title that is not part of the url")`

**Expected behavior:**

Expect an image.

**Actual behavior:**

[code]

### Versions

- Mark Text

[2019-04-05 17:55] fxha opened #877 "Emoji offset in heading"
### Description

Emojis in headings are not rendered correctly.

**Expected behavior:**

Emoji should be aligned.

**Actual behavior:**

![mt_prefs1](https://user-images.githubusercontent.com/22716132/55646942-b7d32300-57dc-11e9-8ed5-6362fd91b438.png)

![mt_pref2](https://user-images.githubusercontent.com/22716132/55646941-b7d32300-57dc-11e9-8f57-27ec6eabf5af.png)

### Versions

- Mark Text: maste

[2019-04-05 17:55] #859 closed

[2019-04-05 18:03] fxha opened #878 "Existing tab should be opened if you open the same file twice"
### Description

You can open the same file twice which leads to issues.

### Steps to reproduce

1. Open `<dir>/a.md`
2. Open `<dir>/a.md` again via menu or side bar.

**Expected behavior:**

The existing tab should be selected/opened.

**Actual behavior:**

A new tab is opened.

### Versions

- Mark Text: all
- Operating system: all

[2019-04-06 06:22] fxha opened #882 "Cannot destructure property `href` of 'undefined' or 'null' in referenceLink.js"
### Description

`const { href, title } = this.labels.get(key)` in [referenceLink.js](https://github.com/marktext/marktext/blob/e78bc8036c9909ca1d97be87b2b5920ffc5dca12/src/muya/lib/parser/render/renderInlines/referenceLink.js#L27) may be `null`.

[code]

- [ ] Can you reproduce the issue?

### Steps to reproduce

I don't know, the exception occurred during testing but I cannot reproduce it. We ne

[2019-04-06 06:50] #858 closed

[2019-04-06 07:45] #882 closed

[2019-04-06 08:25] #877 closed

[2019-04-06 08:26] Jocs commented on #848
This may be fixed in #875.

[2019-04-06 09:41] dingxianye opened #885 "How to copy rich text from marktext and paste it to just like MS-word or web-input-area?"
I selected full text using cmd+a on my mac
Copy using cmd+c
Then paste using cmd+v to web input area
Only markdown format text there
I hope to copy and paste RICH TEXT

[2019-04-06 09:54] Jocs commented on #885
Now we only have `copy as HTML`, `copy as Markdown` and `copy as plain text`. If demand a new feature, can you explain you feature request more detail.

[2019-04-06 09:55] Jocs commented on #885
What `web input area` do you mean?

[2019-04-06 10:10] dingxianye commented on #885
Just think you are writing a mail in web Gmail
Set font size & color, then copy full content and paste to word, you can see what you typed in Gmail ( text retains changed font size & color, that is what I called RICH TEXT )
`copy as HTML`, `copy as Markdown` and `copy as plain text` can not get the same effect as I told above
I'd like to have a function maybe named `copy as RichText`

I hope it wo

[2019-04-06 10:15] dingxianye commented on #885
Or make it easy
Do marktext have PREVIEW? I didn't find it
If I can preview in web browser or inner browser, I think I can copy it correctly

[2019-04-06 10:30] Jocs commented on #885
I understand what you say now, you want to copy text from Mark Text, and paste it to `ms word` or `page`. we'll take this into consideration, PR is also welcomed.

[2019-04-06 16:58] #865 closed

[2019-04-06 17:03] #635 closed

[2019-04-07 14:26] fxha opened #886 "Changes should be discarded if cursor is invalid"
### Description

All changes should be discarded if the cursor is invalid and therefore no exception is thrown.

- [x] Can you reproduce the issue?

### Steps to reproduce

1.  Write
[code]
2. Now select `a-c` and click on the paragraph icon
3. Selected text gets deselected because front menu cannot handle multiple lines - which is fine
4. Type something like `abc` --> exception because cursor is

[2019-04-07 16:17] fxha commented on #837
We just released version `0.14.0-rc.1` for testing. Please see the release description and known issues.

[2019-04-08 07:52] SimonEast opened #887 "List indenting does not conform to CommonMark spec (breaks on BitBucket)"
### Description

Mark Text adds 2 spaces to indent sub-bullets inside a list, however [the CommonMark spec](https://commonmark.org/help/tutorial/10-nestedLists.html) says it should be 4. I've also noticed that on BitBucket, sub-items with only 2 spaces of indentation are not indented but are shown on the same level.

- [x] Can you reproduce the issue?

### Steps to reproduce

When I create a list

[2019-04-08 08:03] SimonEast commented on #887
Actually... a deeper look into the spec has [this example](https://spec.commonmark.org/0.28/#example-257) that says 2 spaces should be enough. The number of spaces needs to actually match the size of the "list marker". This doesn't quite align to [this tutorial doc](https://commonmark.org/help/tutorial/10-nestedLists.html) I posted earlier.

Hmmm.... Well since 4 spaces is not invalid. I wonder if

[2019-04-08 09:39] keito940 commented on #257
What is My Custom Syntax?

[2019-04-08 09:52] XanatosX opened #888 "Pay attention to the .gitignore file"
### Describe your feature request

I'm using the editor to write documentation for our projects. These documentation files exist inside of a repository together with code an IDE relevant config files/folders.

It would be nice if the editor could ignore those special folders and do not show it in the folder overview if they are excluded in the .gitignore file.

![image](https://user-images.githubu

[2019-04-08 10:30] fxha commented on #888
@XanatosX Which application version and operation system do you use?

[2019-04-08 10:44] fxha commented on #887
@SimonEast I'm quoting from GFM/CommonMark:

Only the original Markdown Spec by John Gruber’s required a  list indentation by either 4 spaces or one tab. You can change the `tabSize` for tab indentation in settings but this settings is currently ignored for markdown indentation. I think this is a bug and `tabSize` setting should control the indentation of the document (e.g. lists). So I labled thi

[2019-04-08 11:20] Jocs commented on #257
@keito940 Sorry that we'll not consider custom syntax of markdown before version 1.0.

[2019-04-08 11:37] XanatosX commented on #888
I'm using Windows 10. The application version is 0.13.65

![image](https://user-images.githubusercontent.com/10531466/55721329-5e007200-5a03-11e9-9a43-59da87303791.png)

![image](https://user-images.githubusercontent.com/10531466/55721284-3c06ef80-5a03-11e9-851f-6d5edd915d20.png)

[2019-04-08 15:48] fxha commented on #888
This issue should be fixed on master and we also ignored dotfiles. If you like, you can try the latest release candidate [here](https://github.com/marktext/marktext/releases/tag/v0.14.0-rc.1).

[2019-04-08 15:48] #888 closed

[2019-04-08 17:19] #868 closed

[2019-04-08 17:50] RobertJndw opened #890 "Syntax Highlighting when reopening files"
### Description

This bug occurs every time I'm reopening a file with syntax highlighting. The syntax highlighting is gone and the codeblock is just white. I read a issue with a similar problem #148 #545
I've tested different programming language but always with the same result (opening file in "normal" view).
Workaround: Toggle on/off source code mode or manually click into every code block

- [x

[2019-04-09 06:27] Jocs opened #892 "wrong color of text"
### Description

After delete  \`\`\` at the beginning to paragraph by backspace, then type other text `foo`, the color will be strange, if you type `1. bar`. error happened.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. type \`\`\` at the first paragraph.
2. delete all \`.
3. type `1. bar`

**Expected behavior:**

Generate an order list.

**Actual behavior:**

Error happened.

*

[2019-04-09 07:14] XanatosX commented on #888
I will give it a try thank you 👍

[2019-04-09 08:34] Jocs opened #893 "Highlight error in inline code"
### Description

Mark Text didn't remove highlight when I delete the markdown symbol like * or `.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write \`foo\`, the `foo` is highlight by Mark Text.
2. put the cursor after the second  \`.
3. press `backspace`.

**Expected behavior:**

foo cancel highlight.

**Actual behavior:**

`foo` is still highlighted.

**Link to an example: [op

[2019-04-09 10:28] RobertJndw opened #895 "No single opening bracket in code mode"
### Description
There is no possibility to write a single opening bracket in code mode. Usually in code editors you get autocompletion when you type a opening bracket but with 'delete'-key before the closing bracket you are able to delete just the closing bracket.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Open a code block
2. Type '('
3. Move cursor between the brackets
4. Hi

[2019-04-09 10:35] Jocs commented on #895
Two ways to solve your problem:

1. open `Preference` and set `"autoPairBracket": false`.

or

2. type `{<cursor>}`, put one space between `{<cursor|space>}`, then press `delete` key.

[2019-04-09 11:39] RobertJndw commented on #895
Thanks for your answer, I think the second one is the more convenient way 😄

[2019-04-09 11:39] #895 closed

[2019-04-09 13:06] Jocs opened #897 "Wrong position of cursor when delete inline math or ruby raw html"
### Description

Wrong cursor position when delete `inline math` or `raw ruby element` use <kbd>Backspace</kbd>

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write foo $a \ne b$
2. put cursor after the second $
3. press backspace to delete the second $.

**Expected behavior:**

foo $a \ne b<cursor>

**Actual behavior:**

foo<cursor> $a \ne b$

**Link to an example: [optional]**

[2019-04-09 13:15] Jocs commented on #795
Yes, we highlight code block after every typing, we'll optimize it later.

[2019-04-09 15:44] coffeemug13 opened #898 "Example to create diagrams"
### Question description
On the websites you show examples of diagrams. Please provide some examples how to create/write them. Maybe also as hint with the "@"

[2019-04-09 16:25] Jocs commented on #898
This feature is still in the test, there will be some problems in the export HTML, it should be launched at 0.15.x (May)

Yeh，it will be show in the `@` menu.(quick insert menu)

[2019-04-09 16:32] Jocs commented on #898
If you want to experience new features, you can remove the comments and package the app yourself.https://github.com/marktext/marktext/blob/749af381f1fd002e760a901af39fa2b890cbb8c8/src/muya/lib/ui/quickInsert/config.js#L43

[2019-04-09 18:12] fxha opened #899 "Diagrams don't render anymore"
### Description

### Steps to reproduce

1. Switch to source code mode and insert `vega-lite`, `flowchart`, `sequence` and `mermaid` code blocks with content
2. Go back to preview mode

**Actual behavior:**

`src/muya/lib/parser/render/renderBlock/renderIcon.js` `case 'pre'` don't match all cases.

[code]

And also:

[code]

### Versions

- Mark Text: master/pre-release
- Operating system: all

[2019-04-09 21:12] #545 closed

[2019-04-09 21:12] #890 closed

[2019-04-09 21:14] fxha commented on #897
@Jocs  I cannot reproduce this issue. If this should be fixed by #896, please close this issue.

[2019-04-09 21:14] #893 closed

[2019-04-09 21:15] #892 closed

[2019-04-10 00:45] #897 closed

[2019-04-10 01:08] Jocs commented on #897
This problem also existed before, but it was impossible to reproduce because it was not fixed #892.

[2019-04-10 03:50] Xeoncross opened #902 "New feature: customizable padding / element spacing"
### Describe your feature request

Allow the user to specify how much padding is between each element in the document. By default the content does not have the right typographic balance. Allow the user to specify larger whitespace gaps.

![Screen Shot 2019-04-09 at 10 42 41 PM](https://user-images.githubusercontent.com/56460/55850252-34d20580-5b19-11e9-8c74-d549983ed386.png)

This feature will imp

[2019-04-10 05:52] Jocs commented on #902
This feature should be implemented in the Add Custom theme, and you can add your favorite themes and modify the CSS styles. Including the spacing between paragraphs.

[2019-04-10 08:08] ffywhxf commented on #375
左边的搜索功能，完全不理解是来用干嘛的，搜什么都搜不出来。

[2019-04-10 08:39] pnizet opened #903 "Image insertion"
### Description

When I insert an image by using the menu , the '\\' of the path is replaced by '%5C'

for example :
`[C:\Users\me\Desktop\0l4m8r10tn421](C:%5CUsers%5Cme%5CDesktop%5C0l4m8r10tn421.jpg)`

instead of
`[C:\Users\me\Desktop\0l4m8r10tn421](C:\Users\me\Desktop\0l4m8r10tn421.jpg)`

- [x] Can you reproduce the issue?

### Steps to reproduce

1. clic on menu
2. edit / insert image

**Expect

[2019-04-10 11:36] Jocs commented on #899
Yeh, I am working on this. wait for the export of the diagram HTML and PDF completed, and it feels like it can be released in this version(0.14.0).

[2019-04-10 11:50] Jocs commented on #375
@ffywhxf 如果有什么问题，请提交 issue？你的评论和本 issue 没有关系。

[2019-04-10 13:56] Xeoncross commented on #902
I disagree based on the existing options already available in the preferences.

![Screen Shot 2019-04-10 at 8 53 45 AM](https://user-images.githubusercontent.com/56460/55884747-3843ac00-5b6e-11e9-8c87-025b0a888d60.png)

I do not want a new theme, I simply want the line-height + padding to keep vertical rhythm. The default looks like `0.5 * 2 = 1em` while the default line-height is `1.6em`.

[2019-04-10 13:58] fxha opened #905 "CommonMark Spec 0.29 and GFM Spec 0.29"
### Description

We need to update the markdown specification to:

- [CommonMark Spec 0.29](https://spec.commonmark.org/0.29/)
- [GitHub Flavored Markdown Spec 0.29](https://github.github.com/gfm/)

**Diff:**

- [CommonMark Spec changes in 0.29](https://spec.commonmark.org/0.29/changes.html)

[2019-04-10 14:05] Jocs commented on #902
Yes, But another problem is not that the spacing of each paragraph is the same, such as the title and title, the spacing between the title and the paragraph should be different, although it is now the same in Mark Text. We are also thinking about this issue, and we will adjust the spacing between paragraphs according to different paragraph types.

If you feel unsatisfied at that time(after we adju

[2019-04-10 14:10] Jocs commented on #905
Do you mean update the README.md?

[2019-04-10 14:13] fxha commented on #905
Update muya if necessary and markedjs but this is done upstream already.

[2019-04-10 14:29] Jocs commented on #905
Yes, the subsequent development of muya should be based on the new standard, but for now, the Spec in the readme and the [comment](https://github.com/marktext/marktext/blob/82d4c74f6292ec4f62501a24e660bb6581b60d0a/src/muya/lib/utils/exportMarkdown.js#L6) in code are modified first.

[2019-04-10 14:41] #848 closed

[2019-04-10 14:41] #886 closed

[2019-04-10 14:45] #898 closed

[2019-04-10 14:51] Jocs commented on #823
@fxha Can you reproduce this again? I can not reproduce it.

[2019-04-10 14:53] Jocs commented on #757
This is already fixed in the master, and will release in 0.14.0, fill free to reopen it if you have any other question.

[2019-04-10 14:53] #757 closed

[2019-04-10 14:59] Jocs commented on #654
@keito940 I think you can try raw html syntax like bellow, this already support in the latest released version:

[code]

and the render result is

<ruby>なぜ鬼は|人間<rt>ぼくたち</rt></ruby>を食べるのか？
<ruby>食べなければならない<rt>......</rt></ruby>のか？

[2019-04-10 15:06] Jocs opened #907 "Indent and unindent list is not work by press `tab`"
### Description

indent and unindent list item by press `tab` is not work.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write list bellow:
[code]
2. press `tab`

**Expected behavior:**

- foo
  - bar

**Actual behavior:**

Nothing happened.

**Link to an example: [optional]**

### Versions

- Mark Text: master
- Operating system: All

[2019-04-10 15:09] fxha commented on #823
Seems to be accidentally fixed :laughing:

[2019-04-10 15:09] #823 closed

[2019-04-10 15:13] fxha commented on #887
We fixed the issue and added an option to adjust list indentation:

For Bitbucket and Daring Fireball Markdown Spec you must set `"listIndentation": "dfm"` (supported by upcoming release or master).

[2019-04-10 15:47] fxha commented on #887
Subsequent paragraphs are still not exported correctly.

[2019-04-10 16:22] Jocs opened #909 "Duplicate html block cause error"
### Description

Duplicate html block cause error

- [ ] Can you reproduce the issue?

### Steps to reproduce

1. \<div><cursor>
2. Press Enter.
3. Click front icon > front menu > click duplicate

**Expected behavior:**

A new Html Block created.

**Actual behavior:**

Runtime error happened.

**Link to an example: [optional]**

### Versions

- Mark Text: pre-release
- Operating system: All

[2019-04-10 21:04] #909 closed

[2019-04-11 02:30] gxyzjs opened #912 "Always need to be saved"
### Description

Open a file, then close it without change, the app asks you to save and notices that the file changed. In v0.13.65, this problem doesn't occur. BTW, `preference.md` of marktext doesn't have this problem.
- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
open a file.
2. [Second step]
close it without change.
3. [and so on...]

**Expected behavior:**
The fi

[2019-04-11 03:45] WelkinYang opened #913 "The format of references is not displayed when the md file was exported as pdf or html"
### Description

The format of references is not displayed when the md file was exported as pdf or html
- [x] Can you reproduce the issue?

### Steps to reproduce

1. [use the [^id]]
2. [export file as pdf or html]
3. [and so on...]

**Expected behavior:**

![image](https://user-images.githubusercontent.com/18493279/55929431-3bfb2f80-5c4f-11e9-9aba-7eafd3b5aae1.png)

**Actual behavior:**

![image]

[2019-04-11 05:17] Jocs commented on #913
What do you mean `format of references`?

[2019-04-11 05:22] WelkinYang commented on #913
Quotation Markers for Papers and Documents which was used by [^x] in Markdown.
For example:
I learn some paper [^1][^2][^3]
# REFERENCES
[^1]: xxx
[^2]: xxx
[^3]: xxx

[2019-04-11 05:28] Jocs commented on #913
@WelkinYang Can you paste you markdown file so I can test it. pls put in a `md` code block.

[2019-04-11 05:33] WelkinYang commented on #913
I post my md file here.
https://paste.ubuntu.com/p/VGQfBP4SWZ/

[2019-04-11 05:47] Jocs commented on #913
thanks.

[2019-04-11 13:58] #903 closed

[2019-04-11 14:36] Jocs commented on #885
This feature will be release in the coming version 0.14.0.

[2019-04-11 14:36] #885 closed

[2019-04-11 15:16] Jocs commented on #634
This issue is already fixed in master branch, and will release in the coming version.

[2019-04-11 15:16] #634 closed

[2019-04-11 19:38] fxha commented on #912
Yes that may be possibly because we format the markdown document. Could you please open the file and save it as separate file and check the differences?

[2019-04-11 21:59] Yournished commented on #659
@fxha Hey, I've been really busy so I couldn't really get back to you but I wanted to say I really appreciate you looking into this issue! Very refreshing to see a developer actually care about issues. I'll definitely try it again when 0.14 is out to see if it's fixed.

FYI, I mostly do this because images in my notes are often too large. Shrinking them would sometimes destroy useful data, generat

[2019-04-11 22:47] gxyzjs commented on #912
@fxha If there is a blank line at the end of the document, it won't do anything, otherwise it will insert a blank line.

[2019-04-12 00:08] #887 closed

[2019-04-12 06:34] Jocs opened #918 "Code block no longer be input"
### Description

Create a code block by input \`\`\`. input a language identification, like bellow.

[code]

select part of language and codes, press backspace, error happened, and cod block no longer be input.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a code block.
2. input some code.
3. select some codes and language identification, press backspace.

**Expected behav

[2019-04-12 08:41] Jocs commented on #628
@Bratal any updates about this issue?

[2019-04-12 09:57] Jocs commented on #603
@mlopezgva We'll support mermaid, flowchart.js and [js-sequence-diagram](https://github.com/bramp/js-sequence-diagrams), vega-lite in the next version. Do you still need `PlantUML ` ?

[2019-04-12 10:03] Jocs commented on #552
@stefnotch Can you still reproduce this issue on the latest version?

[2019-04-12 10:09] Jocs commented on #577
@stefnotch I think this is already fixed?

[2019-04-12 10:12] #577 closed

[2019-04-12 11:05] mlopezgva commented on #603
Vega is very good (a bit over-verbose to me, but that's from my own point of view).

Mermaid can produce tree and (admittedly) fairly good gantt diagrams, but with some glitches that diminishes the user experience. I hope they solve them (if thay still have them!).
flowchat.js is OK. However, I once need to use it and it has some bugs and I ended using PlauntUML SDL to render the diagram. js-seque

[2019-04-12 12:35] Jocs opened #921 "Reference link error: link label disappear"
### Description

Reference link error:  link label disappear

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Input reference link
[code]
2. put cursor after `foo`
3. you can no longer see the [google] when you press arrow left.

**Expected behavior:**

the `[google]` shown when I MOVE cursor.

**Actual behavior:**

the `[google]` disappear.

**Link to an example: [optional]**

###

[2019-04-12 12:54] Jocs opened #922 "Picture, link, help input popup"
### Describe your feature request

I want to input `link`, `image`, but not everyone is familiar with `link` and `image` markdown syntax, So we provide the `format` float box. but some user still don't know the meaning of `[]()` and `![]()`, So I think Mark Text need a more friendly input prompt box.

### What problem does this feature solve? [optional]

As above.

Support bellow syntax.
- [ ] ref

[2019-04-12 13:36] Jocs opened #923 "Support `video` and `audio` in html block"
### Describe your feature request

Support video and audio in html block.
### What problem does this feature solve? [optional]

Display video and audio.

### Additional context [optional]

[2019-04-12 13:40] Jocs opened #924 "Support underline in format menu"
Now we can input underline by raw html like this. `<u>underline</u>`. But it not shown in format float box and format menu. So I hope add it to format menu and format float box.

[2019-04-12 13:48] Jocs opened #925 "Support `iframe` in html block."
### Describe your feature request

Write markdown bellow:

[code]

and display a iframe in Mark Text.

### What problem does this feature solve? [optional]

Insert iframe in Mark Text.

### Additional context [optional]

Now it only show `Empty HTML Block`

[2019-04-12 14:09] Jocs opened #926 "I can not click the `detail` button in a HTML Block"
### Description

imput markdown bellow:

[code]

- [x] Can you reproduce the issue?

### Steps to reproduce

1. write markdown bellow:
[code]
2. it will shown like this:

<div>
<details>
    <summary>A keyword</summary>
    Some descriptions.
</details>
</div>

3. detail button can click.

**Expected behavior:**

 detail button can click.

**Actual behavior**

I click the detail button, but open t

[2019-04-12 14:28] fxha commented on #925
This is due DOMPurify and GFM Spec `6.11 Disallowed Raw HTML`:

I don't know how secure it is to enable `iframe` because you can load JavaScript into Mark Text.

[2019-04-12 14:45] Jocs commented on #925
According to my judgment, there should be no security problems. After all, the iframe is in a separate javascript execution environment and can only communicate with the outside window via `postMessage`. But the standard does not support `iframes`. I think we can add a user preference option, whether it supports iframe elements, style attributes, etc.

[2019-04-12 15:57] #738 closed

[2019-04-12 16:04] #617 closed

[2019-04-12 16:05] fxha opened #928 "Image picker issue"
### Description

Selecting a image with the markdown image picker is hard because `enter` produces a new line.

### Steps to reproduce

Assume following directory structure:

[code]

1. Write `!()[<dir>/a/a]`
2. A preview with `abc` and `abd` is shown, select one entry and then press `<enter>` to select an entry.

**Expected behavior:**

The selected directory is inserted.

**Actual behavior:**

T

[2019-04-12 16:13] fxha commented on #552
Fixed on latest master.

[2019-04-12 16:13] #552 closed

[2019-04-12 16:30] #918 closed

[2019-04-12 16:30] #876 closed

[2019-04-12 16:30] #907 closed

[2019-04-12 16:39] Jocs opened #929 "scroll error when input mermaid diagram"
### Description

There is a very long scroll bar after I input a mermaid diagram.

[code]

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a mermaid above.
2. create a paragraph bellow.
3. put the cursor in the bellow paragraph.

**Expected behavior:**

You should not see the scroll bar.

**Actual behavior:**

Mark Text show a very long scroll bar.

**Link to an example: [opt

[2019-04-12 17:44] #218 closed

[2019-04-12 17:44] #899 closed

[2019-04-12 19:17] stefnotch commented on #577
I can confirm that this is fixed. 👍

[2019-04-12 19:18] stefnotch commented on #552
Fixed. 👍

[2019-04-13 02:41] Jocs opened #934 "Mark Text can no longer input correctly after I delete some text in code block"
### Description

Create a code block, Use mouse select some text and language info, press `backspace`, error happened;

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a code block.

[code]

2. Put cursor after `bar`.
3. mouse down, and move cursor to the title bar to select all the text.
4. Press `backspace`.

**Expected behavior:**

Selected content is deleted.

**Actual be

[2019-04-13 13:50] #837 closed

[2019-04-13 16:53] LyteFM commented on #711
I've found a workaround to set a default folder, [at least when not on a mac](https://github.com/marktext/marktext/blob/f5995a24dce043b97fe5d63e32595ec6735bf471/src/main/app.js#L62): You can simply modify your Marktext-Shortcut and pass the path of your default folder as command line argument. On Ubuntu, this can be done by opening `alacarte` (“Main Menu”) and changing the command to:
[code]

[2019-04-13 18:01] Jocs opened #938 "Remove table block error"
### Description

write a table and a paragraph bellow, select All, press backspace, error happened.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a table. and input some text in every cells.
2. create a paragraph bellow.
3. select the text at the offset 0 in the first cell to the paragraph.
4. press backspace.

**Expected behavior:**

Delete the table and some text in para

[2019-04-13 19:27] fxha commented on #938
I don't know how to reproduce this issue. What did you mean by "select the text at the offset 0 in the first cell to the paragraph"?

The only issue is when deleting the paragraph:

[code]

[2019-04-14 00:34] Jocs commented on #938
Another way to reproduce this issue:

type markdown bellow:

[code]

Select text as above, then press backspace , error happened. All editor gone.

[2019-04-14 01:12] luckman212 opened #939 "[Website] maxOS -> macOS"
Hello,

Not a bugreport with marktext, just the website:
![image](https://user-images.githubusercontent.com/1992842/56087020-b33be980-5e30-11e9-8b12-7eb658cfcfbf.png)

it should be "macOS" 😊

[2019-04-14 01:19] Jocs commented on #939
Ithink this maybe fixed, please remove browser cache and reload browser again.

发自我的 iPhone

[2019-04-14 02:08] luckman212 commented on #939
Yes, after refreshing it's fixed. Thank you!

[2019-04-14 02:57] sahil48 opened #940 "Feature Request: open other types of text files"
### Describe your feature request

I would like to be able to open .taskpaper files and other text based files in marktext, preferably with syntax highlighting, because it is more convenient to have all text files open in one app rather than multiple applications. Currently, marktext only allows markdown and .txt files to be open. It would be great to have an option to permit other text file forma

[2019-04-14 03:35] Jocs commented on #940
Is .taskpaper file is a standard markdown file?

发自我的 iPhone

[2019-04-14 03:46] sahil48 commented on #940
.taskpaper is not a standard markdown file, but a text-based file format (https://guide.taskpaper.com/getting-started/). It's used more for keeping track of different tasks that you need to do. I find it convenient to have it opened alongside other markdown files because it helps guide me in what other files I would be opening.

In this feature request, I was also alluding to the ability to open o

[2019-04-14 09:29] Li-An opened #941 "Two spaces linebreak"
### Description

Traditionally, two spaces at the end of a line gives a linebreak in Markdown. Not in Mark Text. After hitting Enter, I get a new paragraph.

- [ ] Can you reproduce the issue? yes: `[x]`

### Steps to reproduce

Type two spaces + Enter.

**Expected behavior:**

The cursor should go to next line in the same parapraph. Not create a new paragraph.

**Actual behavior:**
It creates a n

[2019-04-14 09:34] Jocs commented on #941
If you want to create a soft line break or hard line break, pls use `Shift` + `Enter`.
a hard line break with 2 space after the first line.

[2019-04-14 12:38] domlysz opened #942 "Copy paste code block does not respect indentation"
### Description

When copy paste a text from a code fence, the pasted text loses the indentation

### Steps to reproduce

1. create a new code fence and write 3 lines with different level of indentation (4 spaces for one tab)

[code]

2. copy the text and paste it in another text editor, the result look like this :

[code]

**Expected behavior:**

Respecting indentation setup

**Actual behavior:**

[2019-04-14 13:18] #939 closed

[2019-04-14 13:52] Li-An commented on #941
OK, thanks.

[2019-04-14 13:52] #941 closed

[2019-04-15 04:07] icodeing opened #944 "Whether gitlab is supported？"
After I edit marktext, I submit it to git, and I can see the result in gitlab. However, when I edited Markdown in gitlab and pulled it up again locally and opened it with Marktext, I found that the layout and layout were all messed up.
Looking forward to the solution

[2019-04-15 06:35] skyblue002 opened #945 "Toggle formatting"
### Describe your feature request

It would really help writing to flow better if the shortcuts were toggle on/off, particularly for formatting that has start and end tags, such as: bold, italic, and strikethrough.

### What problem does this feature solve? [optional]

This solves the lack of a toggle function. It allows text to flow more smoothly when typing. It also helps to imitate other editor

[2019-04-15 09:53] Jocs commented on #944
Hi, can you paste a copy of you markdown file here, so we can test?

[2019-04-15 14:39] #938 closed

[2019-04-15 14:39] #934 closed

[2019-04-15 14:54] #921 closed

[2019-04-15 15:25] #926 closed

[2019-04-15 22:56] orangejuice opened #949 "support for setting up a base folder for locating markdown images"
### Describe your feature request

as yaml front matter is supported also,
this function typically useful in some situation e.g. both locally writing and some static blogs rendering will can have a seamless experience.

### What problem does this feature solve? [optional]

### Additional context [optional]

[2019-04-15 23:03] orangejuice opened #950 "the window close button are not aligned to right side in Windows"
### Description

the window close button are not aligned to right side in Windows 10 OS.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

for example:
![](https://i.loli.net/2019/04/16/5cb50d929d7c9.jpg)

the window close button are exactly closed to the right side of screen.

**Actual behavior:**

![](https://

[2019-04-15 23:12] orangejuice opened #951 "when words over than the sidebar width, the layout will get messy"
### Description

when words over than the sidebar width, the layout will get messy

- [x] Can you reproduce the issue?

### Steps to reproduce

1. [First step]
2. [Second step]
3. [and so on...]

**Expected behavior:**

**Actual behavior:**

![](https://i.loli.net/2019/04/16/5cb50fcc0aa6b.jpg)

**Link to an example: [optional]**

### Versions

- Mark Text: 0.14
- Operating system: windows 10

[2019-04-16 00:25] icodeing commented on #944
### 获取代码信息接口

| 接口详情 |                  |
| ---- | ---------------- |
| 请求地址 | /getcode |
| 请求方式 | GET              |

请求参数：

| 参数名     | 类型  | 是否必须 | 说明  |
| ------- | --- | ---- | --- |
| code | int | 是    |     |

Common：

| 字段         | 类型     | 说明     | 描述  |
|:---------- | ------ | ------ | --- |
| aCode | string | 通用代码   |     |
| aName | string | 通用代码说明 |     |

#### 返回结果：

[code]

I don't

[2019-04-16 00:43] Jocs commented on #944
Please put you markdown file in a fence code block, so I can see the source code?

发自我的 iPhone

[2019-04-16 00:59] icodeing commented on #944
你的什么邮件？把格式都弄没了~

[2019-04-16 02:31] Jocs commented on #944
我的意思你可以把你的 markdown 文件复制到评论区：只需要将它放到一个 markdown code block 里面就好了。

[code]

[2019-04-16 05:55] #838 closed

[2019-04-16 18:06] fxha commented on #950
@orangejuice We using a custom theme but we can change the buttons to look like the Windows buttons.

[2019-04-16 18:07] fxha commented on #949
I think this is a duplicate of #386?

[2019-04-16 18:15] orangejuice commented on #949
sorry my decription. 😄  i mean, to set a base folder which used to find the exact location of images in this markdown file.

as like in typora:
![](https://i.loli.net/2019/04/17/5cb61b8b4874d.jpg)

[2019-04-16 18:20] orangejuice commented on #950
@fxha actually just justify the close icon in custom theme aligned to right side, then it would be fine, right? 😆

[2019-04-16 18:21] fxha commented on #949
Sorry, my bad. Related to #549.

[2019-04-16 18:28] orangejuice commented on #949
emm, actually it's kind of 2 different features, but the feature of #549, copying an pasted image to a pre-customized folder and automaticely insert it would also be great. my proposed feature is aiming for setuping a base url for locating images.

[2019-04-16 18:46] fxha commented on #949
Yes that true. It's just related to the other issue because these issues can be good implemented together and to note this I mentioned the other issue here. `/` or another marker point to the root or relative filesystem where we don't have permissions to read/write. We need to change some logic to implement this feature.

[2019-04-16 19:45] orangejuice commented on #949
thanks! 😄

[2019-04-16 21:12] fxha opened #954 "GitLab Flavored Markdown"
### Describe your feature request

**Missing extensions:**

- [Multiline blockquote](https://docs.gitlab.com/ee/user/markdown.html#multiline-blockquote): `>>>\n%text%\n<<<`
- [Inline diff](https://docs.gitlab.com/ee/user/markdown.html#inline-diff): `{+ additions +}`, `[+ additions +]`, ...
- Special GitLab references - I think we can ignore this
- Video via image: `![Sample Video](img/markdown_vid

[2019-04-17 10:34] TobiasDev opened #955 "Encryption"
### Describe your feature request
I love MarkText (it is missing a mobile app, but I can always use something else for that at the moment), but one thing I'm personally missing is that it could encrypt all my notes. Maybe I'm using MarkText in a "wrong" way, because I'm currently using it as an Evernote alternative, for all my notes. After Evernote I switched to Joplin, which is quite good, but do

[2019-04-17 14:45] HuadingLing opened #956 "The absolute path of an image displays incomplete"
### Description

When using the absolute path way (by using the menu) to insert an image, the absolute path of an image in realtime preview displays incomplete (**missing the last letter** of the expanded-name)

For example, the absolute path of the image is:

[code]

in realtime preview (missing "g"):

![1](https://user-images.githubusercontent.com/41478600/56296259-b43a8700-6160-11e9-8383-9cb75d

[2019-04-17 14:54] fxha commented on #355
@1dancook  I think we can close this issue because you can produce a page break with `<div style="page-break-before: always;"></div>`?

- `page-break-after`
- `page-break-before`

[2019-04-17 15:15] #924 closed

[2019-04-17 15:47] #383 closed

[2019-04-17 15:51] fxha commented on #940
Mark Text is just a markdown editor, we'll not support other file type like java source files. I think that `taskpaper` files are out of scope also because it's a proprietary application and file format. What is your option, @Jocs?

[2019-04-17 15:55] fxha commented on #955
Mark Text is a markdown editor and so this feature is not very high prioritized but I think we can add encryption via a plugin later. You could use gocryptfs or NextCloud extensions if possible. The main focus is still to improve the overall user experience and stability of Mark Text. Personally, I think the file system, cloud provider/sync application should implement encryption and not Mark Text

[2019-04-17 16:01] Jocs commented on #940
At least for now, Mark Text will only support editing of markdown files in the near future. This guarantees the unity of responsibility.

[2019-04-17 16:46] Jocs opened #958 "CommonMark example 475 failed in both preview and export html"
Markdown

[code]

Expect output HTML

[code]

Actual Html

[code]

### Versions

- Mark Text: 0.14.0
- Operating system: All

[2019-04-17 17:39] #940 closed

[2019-04-17 18:40] TobiasDev commented on #955
Yeah, the problem with letting NextCloud do it, is that I can't sync a whole folder to my phone. :( So I would have to sync note per note. Unless it is done by the writing app, but I can understand that is a low prio task! :)

[2019-04-17 21:14] 1dancook commented on #355
Yes I know about this way and it’s what I do. I think it’s okay to close this however it may be good to provide users with this knowledge.

[2019-04-18 06:57] iFredOS opened #959 "GitHub Flavored Markdown Theme/Preview"
### Describe your feature request

I would like a theme or a way to preview a render of how exactly it looks like the GitHub Markdown view.

### Additional context

It would help me to WYSIWYG before pushing, for example, my README on GitHub.

_Thank you very much in advance for considering this new feature. I really love your app! 😄_

[2019-04-18 13:30] fxha commented on #355
Yes, that's right and we still need a end user documentation.

[2019-04-18 13:30] #355 closed

[2019-04-18 13:50] fxha commented on #956
I think there are two issues. The first is that the image `alt` attribute is an absolute path on Windows and the second that  `titleContent` and `srcContent` are wrong in [image.js](https://github.com/marktext/marktext/blob/f4f5ba3e007d2868331bcc16615fde9fa188e26c/src/muya/lib/parser/render/renderInlines/image.js#L22) when the path contains special characters like `-` and `_` on all operating syst

[2019-04-19 07:43] #958 closed

[2019-04-19 13:29] jojuniori opened #961 "Unexpected error: Cannot read property 'webContents' of undefined"
### Description

An unexpected error occurred in the main process.

### Stack Trace

[code]

### Version

Mark Text: v0.14.0
Operating system: darwin

[2019-04-20 02:38] Jocs commented on #631
@fxha @H16Y does this issue only existed on Linux and Windows? Because I can not reproduce this issue on macOS.

[2019-04-20 02:41] Jocs commented on #601
@fxha Does this issue only existed on Windows and Linux? I can not reproduce it.

[2019-04-20 02:51] Jocs commented on #241
@stefnotch Do you mean you can not cancel select `World` by press `shift + ArrowDown`? Can you still reproduce this issue in the latest version 0.14.0?

[2019-04-20 12:56] stefnotch commented on #241
Yes, I can still reproduce it.

For the record, the expected behaviour looks like this:
![2019-04-20_14-53-09](https://user-images.githubusercontent.com/10220080/56457504-099eb000-637c-11e9-82fb-c35f4ab81773.gif)

[2019-04-22 07:10] die4live opened #966 "Headers' level not displayed properly in Side Bar"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1. create a new md file with content:

[code]

2. the levels will be like this:
![image](https://user-images.githubusercontent.com/1461437/56488240-6e8b0f00-6510-11e9-98a7-93c5b87bbc3c.png)

3. but the right way should be (from another editor Typora):
![image](https://user-images.githubusercontent.com/1461437/56488249-75b

[2019-04-22 07:18] die4live commented on #966
And I can't understand why some show `#` and some not.

What's more, the folding/unfold status is not remembered EVEN without close and reopen. Each time you move focus area to text editor, the TOC will be restore into all folded.

One more thing, clicking on the header in side bar have no effect, which is expected to jump to that header in the text edit area with auto scrolling, or what's the poi

[2019-04-22 07:35] Jocs commented on #966
@die4live yes, we need to remove the front `#` if it's a header marker. PRs is also welcomed.

[2019-04-22 10:39] Li-An opened #967 "Tab to send text cursor at the end of a block"
### Describe your feature request

Hello, I’ve tested a lot of Markdown editors and MarkText is one of my favorites. But it lacks a feature I love in Caret (https://caret.io/).
In both, when typing Markdown syntax, there is an auto completion functionality very handy (like `*text*`, first * shows automatically second * and you type your text.
In Caret, text cursor can be send automatically after l

[2019-04-23 04:32] balupton commented on #639
Regarding sync, encryption, and collab. I now work at @textileio which offers free and open-source tooling to accomplishing those three things, it aims to be a decentralised iCloud.

We'd be happy to team up to assist in development of those features when you are ready to add them.

[2019-04-23 15:52] #613 closed

[2019-04-23 15:52] #241 closed

[2019-04-23 15:52] #601 closed

[2019-04-24 14:04] shunconf opened #968 "软件语言选项"
找不到软件语言选项，整个软件都是英文界面，无法改为中文？

[2019-04-25 06:11] Jocs commented on #968
Duplicated with #138

[2019-04-25 06:11] #968 closed

[2019-04-25 14:37] Jocs commented on #967
Can you explain you feature request more detail?

[2019-04-25 14:54] Li-An commented on #967
I will try (my English is not very good).

Suppose you want to type this block `**this is it**`. You type `**` in MarkText and you have `**|**` showing and you begin to type your text. At the end of you text, you need to move the cursor outside the `**`. For this, you have to click outside `**this is it**` to move the text cursor or use the direction arrows.

In Caret, **Tab** puts automatically t

[2019-04-25 14:56] Jocs commented on #967
@Li-An Thanks, I understood now, I think the feature is very useful!

[2019-04-25 15:03] Li-An commented on #967
Great you like it :-) I may suggest other features I like as I tested every Markdown Editor for Windows I think :-)

[2019-04-26 06:18] lengain opened #971 "Autosave"
### Describe your feature request
Autosave is an important feature of edit/write software that prevents users from losing written content for a variety of reasons.
another
When I exit the software, if I change the content of the text, I want to add a reminder whether to save the modified content

[2019-04-26 18:45] mahdix opened #972 "HTML export: Make font embedding optional"
### Describe your feature request

When exporting to HTML, the output size is too big (1.9MB) which can cause issue in some cases.
Please provide a flag where is checked, fonts will be embedded inside output HTML, otherwise, they will be linked or just named in the css without a link to source of the font.

### Additional context [optional]

[2019-04-26 20:16] fxha commented on #971
We already have an auto save feature under `File -> Auto Save`. I think we should improve this feature to support a save delay. "File Recovery" and sessions/workspaces will be implemented also soon (#732).

[2019-04-27 03:31] McGiRG3z opened #974 "文字和公式排版问题"
![image](https://user-images.githubusercontent.com/48904579/56844249-d90cc800-68df-11e9-9cd2-115d6fe0ffcc.png)

![image](https://user-images.githubusercontent.com/48904579/56844253-ec1f9800-68df-11e9-91b1-e4f68f63a6b8.png)

开发者你好，

我是由Typora转用Mark Text的，目前最为困扰的是文字和公式混合排版的问题，如图所示，如果一个公式比较“高”，那么排版就看起来很奇怪了，能不能像Typora那样，文字和公式能够水平居中对齐，看起来会和谐很多。谢谢!

[2019-04-27 03:34] Jocs commented on #974
感谢你的建议，这应该是一个行内数学公式？我们在后续会修改，当然，也希望你提交一个修复的 PR。

[2019-04-27 04:03] McGiRG3z commented on #974
谢谢超快回复！

是行内公式，我使用的分数是\dfrac 。

[2019-04-27 08:00] Jocs commented on #972
@mahdix In fact, I am not sure whether the user accepts a folder, including images, fonts, css, html, etc. when outputting html?

[2019-04-27 08:02] Jocs commented on #974
@McGiRG3z 能把你的数学公式贴到这儿吗？便于调试

[2019-04-27 08:13] mahdix commented on #972
Some people may need to email the output HTML and sending a 1.9MB html file as email for a one line content does not seem very interesting.

What I'm trying to say is that there should be a way to have a smaller output file (either by putting assets separately or linking to them from online websites e.g. for publicly available fonts)

[2019-04-27 08:49] McGiRG3z commented on #974
测试公式一：$\dfrac{a}{1+\dfrac{b}{c}}$

测试公式二：$\frac{a}{1+\frac{b}{c}}$

![image](https://user-images.githubusercontent.com/48904579/56847360-56e6c880-690c-11e9-9a27-77df29740aa6.png)

![image](https://user-images.githubusercontent.com/48904579/56847362-61a15d80-690c-11e9-8d7a-974a66a705b4.png)

[2019-04-27 14:05] fxha commented on #972
The problem here is that katex resources are added by default that should be only included if the markdown document contains math (blocks).

[2019-04-27 14:41] Jocs opened #980 "Shortcut of formats are not disabled"
### Description

After I created a `table`, I still can use `Cmd + 3` to update the cell to a header even if the paragraph is disabled.

- [x] Can you reproduce the issue?

### Steps to reproduce

1. Create a table
2. Put cursor in the cell
3. Press `CmdOrCtrl + 3`

**Expected behavior:**

Should not create header 3 in table cell.

**Actual behavior:**

A header 3 created

**Link to an example: [o

[2019-04-27 14:44] fxha opened #982 "Regression: math block edit and preview box"
### Description

Math blocks (`$$\n ... \n$$`) should be editable without the HTML hover edit protection.

### Steps to reproduce

1. Write `$$<enter> foo <enter>$$<enter>bar`
2. Hover over the math block (the HTML edit protection is shown)
3. Click inside the math block

**Expected behavior:**

No HTML edit protection should be shown and the math preview and edit box is shown when clicking inside

[2019-04-27 14:55] fxha opened #983 "Loose list regression"
### Description

Loose list with different bullet or ordered list delimiter are exported as tight list and/or as mixed list.

### Steps to reproduce

Following list(s) are exported as tight list.

[code]

[code]

**Expected:**

If one list is a loose list and further lists follow without separation all previous and following lists should be loose until a not list type is parsed. If two or more bul

[2019-04-27 15:15] Jocs commented on #983
Sorry I didn't find this in commonmark Spec?

And I test the first example in commonmark dingus:

https://spec.commonmark.org/dingus/?text=-%20foo%0A-%20foo%0A%0A1.%20bar%0A2.%20bar%0A%0A%0A-%20foo%0A-%20foo

[2019-04-27 15:16] #870 closed

[2019-04-27 15:39] fxha commented on #983
It's not specified but according to other examples and after a thorough reading of the list specification the only problem is that the blank lines are not exported.

[2019-04-27 15:58] fxha commented on #956
### Steps to reproduce

This issue can lead to a renderer freeze!

1. Create an image named e.g. `luca-bravo-217276-unsplash.jpg`
2. Write foo and insert an absolute image via menu
3. Set cursor after `76-unspla)<cursor>` and press space (path is inserted wrong)

![mt_img_crassh](https://user-images.githubusercontent.com/22716132/56852006-bf867300-6915-11e9-91a0-72fb7da4d4f8.png)

[2019-04-27 16:03] #974 closed

[2019-04-27 16:06] #967 closed

[2019-04-27 16:06] #334 closed

[2019-04-27 16:14] #980 closed

[2019-04-28 07:16] Jocs commented on #856
Mark Text should use this emoji data https://github.com/github/gemoji/blob/master/db/emoji.json.

And github support emojis is:  https://api.github.com/emojis

[2019-04-28 08:53] Jocs commented on #856
Mark Text support: 1432 emojis (from above emoji.json)
GitHub full list: 1510 emojis(from API above)

And missing emojis are:

:atom: :basecamp: :basecampy: :bowtie: :electron: :feelsgood: :finnadie: :goberserk: :godmode: :hurtrealbad: :neckbeard: :octocat: :rage1: :rage2: :rage3: :rage4: :shipit: :squirrel: :suspect: :trollface:

[2019-04-28 15:41] fxha opened #988 "RFC and development plan for sessions"
Development plan for sessions:

- [ ] Refactor main source code
  - [ ] Refactor file structure
  - [ ] Replace `log`
  - [ ] Refactor `globalSetting` into `appPath` and `appEnv`
  - [ ] Remove `textDirection`/`getDefaultTextDirection()` from `filesystem.js` and tab state (renderer)
- [ ] Use a lightweight argument parser like `arg` or `minimist`
- [ ] Allow to change the application data director

[2019-04-28 15:47] fxha commented on #988
# Session

## Overview

A session contains a persistent state of the window layout, editor configuration and file information:

- window state like position
- layout configuration
- root folder
- opened tabs
  - unsaved changes
  - tab/file configuration like encoding and line ending

At a later stage we can also save the cursor position, file history and side bar states like opened folders in tre

[2019-04-28 15:50] fxha commented on #988
# Session (Technical Design)

## Overview (application data directory)

[code]

**sessions.json:**

When Mark Text is closed gracefully only one session (the last window) is saved but while Mark Text is running all active session IDs are saved.

[code]

## Session structure

[code]

**Session ID:**

- *Temporary session:* `uuidv4()` (36 characters)
- *Persistent session:* `sha1hex(path.normalize(i

[2019-04-28 16:33] #944 closed

[2019-04-28 17:23] #878 closed

[2019-04-28 18:02] #819 closed

[2019-04-28 18:02] #950 closed

[2019-04-29 12:43] iondex opened #993 "Support pasting image (directly) from clipboard."
### Describe your feature request

Support paste image directly from clipboard.

1. Some applications (e.g. screenshot app, or Wechat) can save image in clipboard, pasting directly from clipboard into editor would be very convenient.
2. Copy a image file in Explorer, and then paste it in the editor. This would also be useful.

This feature seems not very hard to implement under Windows. Not sure f

[2019-04-29 13:13] fxha commented on #993
Duplicate of #627

[2019-04-29 13:13] #993 closed

[2019-04-29 13:16] fxha commented on #905
@Jocs Can we close this issue or is it still needed?

[2019-04-29 13:30] Jocs commented on #905
@closed

[2019-04-29 13:30] #905 closed

[2019-04-29 20:51] yodatak opened #994 "Support of full or large width of edit"
### Describe your feature request
I want to be able on large screen to use a larger edit width

### Additional context [optional]
![Capture d’écran de 2019-04-29 22-50-41](https://user-images.githubusercontent.com/704477/56926188-62372100-6ad1-11e9-9216-3a22cdbc8576.png)

[2019-04-29 20:53] yodatak commented on #994
I think this issue could help #750

[2019-04-30 16:27] fxha opened #996 "AppVeyor failing due PR #953"
### Description

AppVeyor build are failing due PR #953.

- [last working build](https://ci.appveyor.com/project/marktext/marktext/builds/24157844)
- [last PR build before failing build](https://ci.appveyor.com/project/marktext/marktext/builds/24156375)
- [first failing build](https://ci.appveyor.com/project/marktext/marktext/builds/24158163)
- ["rebuild"/rebase last working build (ok)](https://ci

[2019-04-30 22:46] chrisseaton commented on #959
Two concrete and significant ways Marktext doesn't work on GitHub Markdown that matter to me are that link markup can't span lines, and line breaks show up as hard line breaks.

[2019-05-01 06:05] Jocs opened #997 "Can not copy raw html"
### Description

- [x] Can you reproduce the issue?

### Steps to reproduce

1.  Create a table

\| foo | bar\<br\>kar |
\| --- | ---------- |
\| zar | war        |

One more paragraph

2. Select All
3. Copy AND Paste.

Other problem: Can not copy raw html.

**Expected behavior:**

Duplicate table and paragraph

**Actual behavior:**

The pasted table became three rows.

**Link to an example: [opti

[2019-05-01 06:23] Jocs commented on #994
We should add a custom editor width in a future release.

[2019-05-01 08:12] cplerch commented on #972
There is nothing wrong with embedding binary resources in a HTML file as long as those blobs are referenced from within the document. Clearly, embedding unused resources, like all this KaTex stuff, even when never used in the document, is inefficient and annoying.

[2019-05-01 15:21] Jocs opened #998 "Mark Text Preference"
## Mark Text Preferences

### General

AutoSave: Boolean `true` of `false`

autoSaveDelay (#971)

Remember last typewriter and focus mode: Boolean #519

titleBarStyle: String `csd`(macOS only), `custom` or `native`

openFilesInNewWindow: Boolean `true` of `false`

aidou: Boolean `true` or `false`

keybindings

File Sort in folder: by created time, modifed time or title. #438

Start up options:

-

[2019-05-01 15:39] Jocs commented on #998
@fxha I advanced Mark Text Preference to v0.15.0 because I found that many of the features of v0.15.0 are currently related to Mark Text Preference.

[2019-05-01 16:24] Jocs commented on #988
Do you mean that if I didn't save the tab/file, I can still close window. the file content saved to session?

How do you know that the file has been changed by other editor ?

[2019-05-01 16:41] Jocs commented on #988
I agree to include tabs.json into session.json.

@fxha Can we save all `setting`, `keybinding` and `session` in [electron-store](https://github.com/sindresorhus/electron-store)? So we do not need the `json` files?

[2019-05-01 19:38] fxha commented on #988
Yes, as long as it's not a temporary session but unsaved changes are bound to the session. If you `File -> Open Folder` the same folder the same persistent sessions is loaded because a persistent session represent a directory on disk.

E.g. you are using session `A` and `file-1` has unsaved changes, then you open another session and open `file-1` too. The changes from session `A` are not restored

[2019-05-01 19:45] fxha commented on #998
I think we should prefix the entries with the category like `file`, `editor` etc.

Please note that this can be overwritten by a session, so we can use the settings as default/fallback values.

What do you mean? `electron-store` saves data as JSON file.

What do you mean?

Please add `autoSaveDelay` (#971) to the list, so that changes are saved after a short delay to improve performance. Do you pl

[2019-05-01 21:23] fxha commented on #996
I cleared AppVeyor's build cache and everything works again.

[2019-05-01 21:23] #996 closed

[2019-05-01 22:24] fxha opened #1001 "Exception when using invalid KaTeX formula"
### Description

An exception occurs when using invalid KaTeX formula.

### Steps to reproduce

1. Insert example below
2. Export document (as PDF)

[code]

**Expected behavior:**

No exception and KaTeX should not try to render this because it's not a math block nor inline math.

**Actual behavior:**

[code]